Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipelines-integration-v2

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$

- add pipeline flow details to contribution
  manifests/kustomize/base/pipeline/pipeline-runner-role.yaml
Due: none

use descriptive variable name
  manifests/kustomize/base/installs/generic/pipeline-install-config.yaml
  manifests/kustomize/base/installs/multi-user/pipelines-profile-controller/deployment.yaml
  manifests/kustomize/base/installs/multi-user/pipelines-profile-controller/sync.py
Due: none

chore: fix import order in 15 files (baseline formatting)
  backend/src/common/client/api_server/v2/experiment_client.go
  backend/src/common/client/api_server/v2/recurring_run_client.go
  backend/src/common/client/api_server/v2/run_client.go
  backend/src/v2/objectstore/object_store_test.go
  backend/test/compiler/compiler_visitor_test.go
  backend/test/compiler/utils/workflow_utils.go
  backend/test/proto_tests/objects.go
  backend/test/proto_tests/util.go
  backend/test/test_utils/file_utils.go
  backend/test/test_utils/pipeline_version_utils.go
  backend/test/v2/api/pipeline_run_api_test.go
  backend/test/v2/api/report_api_test.go
  backend/test/v2/integration/flags.go
  backend/test/v2/integration/pipeline_version_api_test.go
  backend/test/v2/integration/recurring_run_api_test.go
Due: none

feat(backend):implement file streaming to reduce memory usage
  backend/api/v1beta1/run.proto
  backend/src/apiserver/main.go
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/resource/resource_manager_test.go
  backend/src/apiserver/server/run_server.go
  backend/src/apiserver/server/run_server_test.go
  backend/src/apiserver/storage/object_store.go
Due: none

Update sync.py
  manifests/kustomize/base/installs/multi-user/pipelines-profile-controller/sync.py
Due: none

chore: fix import order and redundance in 15 files (baseline formatting) (#12296)
  backend/src/common/client/api_server/v2/experiment_client.go
  backend/src/common/client/api_server/v2/recurring_run_client.go
  backend/src/common/client/api_server/v2/run_client.go
  backend/src/v2/objectstore/object_store_test.go
  backend/test/compiler/compiler_visitor_test.go
  backend/test/compiler/utils/workflow_utils.go
  backend/test/proto_tests/objects.go
  backend/test/proto_tests/util.go
  backend/test/test_utils/file_utils.go
  backend/test/test_utils/pipeline_version_utils.go
  backend/test/v2/api/pipeline_run_api_test.go
  backend/test/v2/api/report_api_test.go
  backend/test/v2/integration/flags.go
  backend/test/v2/integration/pipeline_version_api_test.go
  backend/test/v2/integration/recurring_run_api_test.go
Due: none

feat(backend): Add Semaphore and Mutex fields to Workflow CR
  backend/src/apiserver/template/v2_template.go
  backend/src/v2/compiler/argocompiler/argo.go
  manifests/kustomize/base/pipeline/kustomization.yaml
  manifests/kustomize/base/pipeline/ml-pipeline-apiserver-deployment.yaml
  manifests/kustomize/base/pipeline/ml-pipeline-semaphore-configmap.yaml
Due: none

feat(backend): Add automated ConfigMap management for semaphores/mutexes
  backend/src/apiserver/client/kubernetes_core.go
  backend/src/apiserver/client/kubernetes_core_fake.go
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/resource/semaphore_config_test.go
  backend/src/apiserver/resource/semaphore_manager.go
  backend/src/apiserver/template/v2_template.go
  backend/src/cache/client/kubernetes_core_fake.go
  manifests/kustomize/base/pipeline/kustomization.yaml
  manifests/kustomize/base/pipeline/ml-pipeline-apiserver-deployment.yaml
  manifests/kustomize/base/pipeline/ml-pipeline-semaphore-configmap.yaml
Due: none

fix(sdk): Align the versions on kfp[kubernetes] install (#12283)
  sdk/python/setup.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

chore: Release 2.14.4
  docs/sdk/versions.json
  kubernetes_platform/python/docs/conf.py
  kubernetes_platform/python/kfp/kubernetes/__init__.py
  sdk/RELEASE.md
  sdk/python/kfp/version.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

replacing sdk version in the pipeline file before uploading it
  .github/actions/test-and-report/action.yml
  backend/src/common/client/api_server/util.go
  backend/test/config/flags.go
  backend/test/end2end/e2e_suite_test.go
  backend/test/end2end/pipeline_e2e_test.go
  backend/test/end2end/utils/e2e_utils.go
  backend/test/test_utils/pipeline_utils.go
  backend/test/test_utils/test_utils.go
  backend/test/v2/api/integration_suite_test.go
  backend/test/v2/api/pipeline_run_api_test.go
Due: none

chore: release 2.14.4 (#12299)
  docs/sdk/versions.json
  kubernetes_platform/python/docs/conf.py
  kubernetes_platform/python/kfp/kubernetes/__init__.py
  sdk/RELEASE.md
  sdk/python/kfp/version.py
  sdk/python/setup.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

chore: Replace sdk in pipeline files (#12297)
  .github/actions/test-and-report/action.yml
  backend/src/common/client/api_server/util.go
  backend/test/config/flags.go
  backend/test/end2end/e2e_suite_test.go
  backend/test/end2end/pipeline_e2e_test.go
  backend/test/end2end/utils/e2e_utils.go
  backend/test/test_utils/pipeline_utils.go
  backend/test/test_utils/test_utils.go
  backend/test/v2/api/integration_suite_test.go
  backend/test/v2/api/pipeline_run_api_test.go
Due: none

chore(sdk): drop Python 3.9 support, update setup.py
  .github/workflows/api-server-tests.yml
  .github/workflows/e2e-test.yml
  .github/workflows/upgrade-test.yml
  .github/workflows/validate-generated-files.yml
  kubernetes_platform/python/setup.py
  sdk/python/kfp/cli/diagnose_me_cli.py
  sdk/python/kfp/cli/experiment.py
  sdk/python/kfp/cli/pipeline.py
  sdk/python/kfp/cli/recurring_run.py
  sdk/python/kfp/client/auth_test.py
  sdk/python/kfp/compiler/compiler_utils.py
  sdk/python/kfp/compiler/pipeline_spec_builder.py
  sdk/python/kfp/dsl/base_component.py
  sdk/python/kfp/dsl/pipeline_task.py
  sdk/python/kfp/dsl/pipeline_task_test.py
  sdk/python/kfp/dsl/structures.py
  sdk/python/kfp/dsl/types/type_utils_test.py
  sdk/python/kfp/dsl/v1_modelbase.py
  sdk/python/kfp/dsl/v1_structures.py
  sdk/python/kfp/local/executor_input_utils.py
  sdk/python/kfp/local/executor_output_utils.py
  sdk/python/setup.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

Fix YAPF formatting issues in pipeline_spec_builder.py
  sdk/python/kfp/compiler/pipeline_spec_builder.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

- remove redundant regenerate code
  backend/test/compiler/argo_ginkgo_test.go
  backend/test/compiler/matchers/workflow_matcher.go
Due: none

commit .github workflow
  .github/workflows/api-integration-tests-v2-with-k8s-native-api.yml
  .github/workflows/api-server-tests.yml
  .github/workflows/compiler-tests.yml
  .github/workflows/e2e-test-frontend.yml
  .github/workflows/gcpc-modules-tests.yml
  .github/workflows/integration-tests-v1.yml
  .github/workflows/kfp-kubernetes-execution-tests.yml
  .github/workflows/kfp-kubernetes-library-test.yml
  .github/workflows/kfp-sdk-runtime-tests.yml
  .github/workflows/kfp-sdk-tests.yml
  .github/workflows/sdk-component-yaml.yml
  .github/workflows/sdk-docformatter.yml
  .github/workflows/sdk-isort.yml
  .github/workflows/sdk-upgrade.yml
  .github/workflows/sdk-yapf.yml
  .github/workflows/upgrade-test.yml
  .github/workflows/validate-generated-files.yml
Due: none

Fix ginkgo compiler tests for disabled cache
  AGENTS.md
  backend/test/compiler/utils/workflow_utils.go
Due: none

Revert "feat(api): Add SemaphoreKey and MutexName fields to proto"
  api/v2alpha1/go/pipelinespec/pipeline_spec.pb.go
  api/v2alpha1/pipeline_spec.proto
Due: none

Revert "feat(sdk) Add SemaphoreKey and MutexName fields to DSL"
  sdk/python/kfp/compiler/compiler_test.py
  sdk/python/kfp/compiler/pipeline_spec_builder.py
  sdk/python/kfp/dsl/pipeline_config.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

fix: Remove semaphore/mutex fields from test proto objects
  backend/test/proto_tests/objects.go
Due: none

test: Update backend tests to include runid in workflow metadata
  backend/src/apiserver/server/run_server_test.go
  backend/src/apiserver/template/argo_template.go
Due: none

fix(tests): Fix ginkgo compiler tests for disabled cache (#12304)
  AGENTS.md
  backend/test/compiler/utils/workflow_utils.go
Due: none

Add notebook components and embedded artifact support
  backend/src/apiserver/server/util.go
  backend/src/apiserver/server/util_test.go
  proposals/12238-notebook-component/README.md
  samples/v2/embedded_artifact.py
  samples/v2/notebook_component_mixed.py
  samples/v2/notebook_component_simple.py
  samples/v2/notebooks/README.md
  samples/v2/notebooks/nb_eval_metrics.ipynb
  samples/v2/notebooks/nb_train_simple.ipynb
  samples/v2/notebooks/nb_train_with_params.ipynb
  sdk/python/kfp/dsl/__init__.py
  sdk/python/kfp/dsl/component_decorator.py
  sdk/python/kfp/dsl/component_factory.py
  sdk/python/kfp/dsl/executor.py
  sdk/python/kfp/dsl/notebook_component_decorator.py
  sdk/python/kfp/dsl/notebook_component_decorator_test.py
  sdk/python/kfp/dsl/notebook_helpers.py
  sdk/python/kfp/dsl/templates/__init__.py
  sdk/python/kfp/dsl/templates/notebook_executor.py
  sdk/python/kfp/dsl/types/type_annotations.py
  sdk/python/kfp/local/pipeline_orchestrator_test.py
  sdk/python/kfp/local/subprocess_task_handler.py
  sdk/python/requirements-dev.txt
  sdk/python/setup.py
  test_data/compiled-workflows/embedded_artifact.yaml
  test_data/compiled-workflows/notebook_component_mixed.yaml
  test_data/compiled-workflows/notebook_component_simple.yaml
  test_data/pipeline_files/valid/critical/embedded_artifact.yaml
  test_data/pipeline_files/valid/critical/notebook_component_simple.yaml
  test_data/pipeline_files/valid/notebook_component_mixed.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

feat(backend): Add driver pod labels/annotations configuration support
  backend/src/apiserver/config/driver_config.go
  backend/src/apiserver/config/driver_config_test.go
  backend/src/v2/compiler/argocompiler/argo.go
  backend/src/v2/compiler/argocompiler/container.go
  backend/src/v2/compiler/argocompiler/dag.go
  docs/DRIVER_POD_CONFIGURATION.md
  manifests/kustomize/base/pipeline/kustomization.yaml
  manifests/kustomize/base/pipeline/ml-pipeline-apiserver-deployment.yaml
  manifests/kustomize/overlays/istio-strict-mtls/README.md
  manifests/kustomize/overlays/istio-strict-mtls/authorizationpolicy.yaml
  manifests/kustomize/overlays/istio-strict-mtls/kustomization.yaml
  manifests/kustomize/overlays/istio-strict-mtls/ml-pipeline-apiserver-patch.yaml
  manifests/kustomize/overlays/istio-strict-mtls/peerauthentication.yaml
  test/e2e/test_istio_strict_mtls.py
Due: none

fix: Remove unused json import from dag.go
  .gitignore
  backend/src/v2/compiler/argocompiler/dag.go
Due: none

Update Python version from 3.9 to 3.10 in backend, Dockerfiles, test YAMLs
  backend/metadata_writer/Dockerfile
  backend/metadata_writer/update_requirements.sh
  backend/src/apiserver/config/testdata/sample_pipeline.yaml
  backend/src/apiserver/resource/resource_manager_test.go
  backend/src/apiserver/server/pipeline_upload_server_test.go
  backend/src/apiserver/server/test/pipeline_with_volume.yaml
  backend/src/apiserver/server/test/v2-hello-world.json
  backend/src/apiserver/server/test/xgboost_sample_pipeline.yaml
  backend/src/apiserver/storage/pipeline_store_test.go
  backend/src/apiserver/template/testdata/hello_world.yaml
  backend/src/apiserver/template/testdata/hello_world_schema_2_0_0.yaml
  backend/src/apiserver/template/testdata/pipeline_with_volume.yaml
  backend/src/cache/server/mutation_test.go
  backend/src/crd/kubernetes/v2beta1/pipelineversion_types_test.go
  backend/src/v2/cacheutils/cache_test.go
  backend/src/v2/driver/driver_test.go
  backend/src/v2/test/Dockerfile
  backend/src/v2/test/components/run_sample.yaml
  backend/test/proto_tests/testdata/generated-1791485/.!90490!run_completed_with_spec.pb
  backend/test/proto_tests/testdata/generated-1791485/pipeline_version.json
  backend/test/proto_tests/testdata/generated-1791485/pipeline_version.pb
  backend/test/proto_tests/testdata/generated-1791485/run_completed_with_spec.json
  backend/test/proto_tests/testdata/generated-1791485/run_completed_with_spec.pb
  backend/test/proto_tests/testdata/pipelinespec.yaml
  backend/test/resources/v2-hello-world.yaml
  backend/test/v2/resources/pvc-mount.yaml
  components/kserve/Dockerfile
Due: kubeflow-pipelines-component-yaml-v2

Update Python version from 3.9 to 3.10 in GitHub workflows
  .github/workflows/api-server-tests.yml
  .github/workflows/compiler-tests.yml
  .github/workflows/e2e-test-frontend.yml
  .github/workflows/e2e-test.yml
  .github/workflows/gcpc-modules-tests.yml
  .github/workflows/integration-tests-v1.yml
  .github/workflows/kfp-kubernetes-execution-tests.yml
  .github/workflows/kfp-kubernetes-library-test.yml
  .github/workflows/kfp-sdk-runtime-tests.yml
  .github/workflows/kfp-sdk-tests.yml
  .github/workflows/legacy-v2-api-integration-tests.yml
  .github/workflows/sdk-component-yaml.yml
  .github/workflows/sdk-docformatter.yml
  .github/workflows/sdk-isort.yml
  .github/workflows/sdk-upgrade.yml
  .github/workflows/sdk-yapf.yml
  .github/workflows/upgrade-test.yml
  .github/workflows/validate-generated-files.yml
Due: none

Add configuration to conditionally disable shared pipeline resources
  backend/src/apiserver/common/config.go
  backend/src/apiserver/server/pipeline_server.go
  backend/src/apiserver/server/pipeline_upload_server.go
  backend/src/apiserver/validation/namespace.go
Due: none

Add configuration to conditionally disable shared pipeline resources
  backend/src/apiserver/server/pipeline_server.go
Due: none

Switch the Kind cluster in CI to use root for storage
  .github/actions/create-cluster/action.yml
  .github/actions/create-cluster/kind-config.yaml
  .github/workflows/api-server-tests.yml
  .github/workflows/e2e-test-frontend.yml
  .github/workflows/e2e-test.yml
  .github/workflows/integration-tests-v1.yml
  .github/workflows/kfp-kubernetes-execution-tests.yml
  .github/workflows/kfp-webhooks.yml
  .github/workflows/legacy-v2-api-integration-tests.yml
  .github/workflows/sdk-execution.yml
  .github/workflows/upgrade-test.yml
Due: none

fix: Regenerate proto test fixtures after semaphore/mutex field removal
  backend/test/proto_tests/testdata/generated-1791485/platform_spec.json
  backend/test/proto_tests/testdata/generated-1791485/platform_spec.pb
Due: none

chore: update all workflows to Python 3.10
  .github/workflows/e2e-test-frontend.yml
  .github/workflows/gcpc-modules-tests.yml
  .github/workflows/integration-tests-v1.yml
  .github/workflows/legacy-v2-api-integration-tests.yml
  .github/workflows/sdk-component-yaml.yml
  .github/workflows/sdk-docformatter.yml
  .github/workflows/sdk-isort.yml
  .github/workflows/sdk-upgrade.yml
  .github/workflows/upgrade-test.yml
  .github/workflows/validate-generated-files.yml
Due: none

adding nsingla as a reviewer and an approver
  .github/OWNERS
Due: none
