Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python38, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-v2-go-test, kubeflow-pipelines-manifests

kubeflow-pipelines-sdk-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27-v2:
  decorate: true
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-backend-visualization-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

kubeflow-pipeline-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node:12
      command:
      - /bin/sh
      args:
      - -c
      - cd ./frontend && npm run test:ci:prow

kubeflow-pipeline-backend-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.17.6-bullseye
      command:
      - ./test/presubmit-backend-test.sh

kubeflow-pipeline-e2e-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-with-pipeline-deployment.sh
      args:
      - --workflow_file
      - e2e_test_gke_v2.yaml
      - --test_result_folder
      - e2e_test

kubeflow-pipeline-mkp-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-mkp.sh

kubeflow-pipeline-mkp-snapshot-test:
  decorate: true
  spec:
    containers:
    - image: bash:alpine3.14
      command:
      - bash
      args:
      - ./manifests/gcp_marketplace/test/presubmit.sh

kubeflow-pipeline-upgrade-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/upgrade-tests.sh
      args:
      - --test_result_folder
      - upgrade_test

kubeflow-pipelines-sdk-python37:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

Change variable name from errorTextAdjective to msgRunOrRecurringRun Chnage the inline expression to if else block.
  frontend/src/pages/PipelineDetails.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

concatenate `run` in variable msgRunOrRecurringRun.
  frontend/src/pages/PipelineDetails.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

feat(frontend): Implement aws-js-sdk crendentials to support IRSA for s3 (#8651)
  frontend/server/aws-helper.test.ts
  frontend/server/handlers/artifacts.ts
  frontend/server/minio-helper.ts
  frontend/server/package-lock.json
  frontend/server/package.json
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

fix(frontend): Show pipeline details for an existing recurring run without pipeline / pipeline version. (#8681)
  frontend/src/components/Router.tsx
  frontend/src/components/__snapshots__/Router.test.tsx.snap
  frontend/src/pages/NewRunV2.tsx
  frontend/src/pages/PipelineDetails.test.tsx
  frontend/src/pages/PipelineDetails.tsx
  frontend/src/pages/RecurringRunDetails.test.tsx
  frontend/src/pages/RecurringRunDetails.tsx
  frontend/src/pages/RecurringRunList.tsx
  frontend/src/pages/RecurringRunsManager.tsx
  frontend/src/pages/RunList.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

wip
  samples/core/volume_ops/volume_ops.py
  samples/core/volume_ops/volume_ops.py.yaml
  samples/core/volume_snapshot_ops/volume_snapshot_ops.py
  samples/core/volume_snapshot_ops/volume_snapshot_ops.py.yaml
  samples/core/volume_snapshot_ops/volume_snapshot_ops.yaml
Due: kubeflow-pipelines-samples-v2

perf(components): add parent model to ModelUploadOp YAML definition to enable model versioning when uploading a model
  components/google-cloud/google_cloud_pipeline_components/aiplatform/model/upload_model/component.yaml
  components/google-cloud/google_cloud_pipeline_components/container/v1/model/upload_model/remote_runner.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

wip
  create-pv.yaml
  f.py
  file.yaml
  make-volume.yaml
  patch-2.yaml
  patch.yaml
  pvc-demo.yaml
  pvc-pod-demo.yaml
  samples/core/volume_snapshot_ops/volume_snapshot_ops.py
  samples/core/volume_snapshot_ops/volume_snapshot_ops.yaml
  sdk/python/kfp/dsl/_volume_op.py
  storage-class.yaml
  storage-class2.yaml
  x.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

wip
  f.py
Due: none

Address comment, reorder resource, server, storage
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/server/experiment_server.go
  backend/src/apiserver/server/job_server.go
  backend/src/apiserver/server/pipeline_server.go
  backend/src/apiserver/server/run_server.go
  backend/src/apiserver/server/task_server.go
  backend/src/apiserver/storage/experiment_store.go
  backend/src/apiserver/storage/job_store.go
  backend/src/apiserver/storage/pipeline_store.go
  backend/src/apiserver/storage/run_store.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Fix front end integration test
  backend/src/apiserver/server/run_server.go
  test/frontend-integration-test/helloworld.spec.js
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

perf(components): add version aliases to the model and set the default value
  components/google-cloud/google_cloud_pipeline_components/container/v1/model/upload_model/remote_runner.py
Due: kubeflow-pipelines-components-google-cloud-python38

Fix FE integration test
  test/frontend-integration-test/helloworld.spec.js
Due: kubeflow-pipeline-e2e-test

Fix tabs, add pauses, make more explicit FE test
  test/frontend-integration-test/helloworld.spec.js
Due: kubeflow-pipeline-e2e-test

support optional and default parameters
  backend/src/v2/cmd/driver/main.go
  backend/src/v2/component/launcher_v2.go
  backend/src/v2/driver/driver.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-samples-v2, kubeflow-pipelines-v2-go-test

chore(component): internal changes
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/dataset_preprocessor/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/evaluated_annotation/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

Revert FE test changes
  test/frontend-integration-test/helloworld.spec.js
Due: kubeflow-pipeline-e2e-test

Enable default experiment and disable its deletion
  backend/src/apiserver/client/argo_fake.go
  backend/src/apiserver/client/swf_fake.go
  backend/src/apiserver/model/resource_reference.go
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/resource/resource_manager_test.go
  backend/src/apiserver/server/api_converter.go
  backend/src/apiserver/server/api_converter_test.go
  backend/src/apiserver/server/job_server.go
  backend/src/apiserver/server/run_server.go
  backend/src/apiserver/server/run_server_test.go
  backend/src/apiserver/storage/job_store.go
  backend/src/apiserver/storage/run_store.go
  backend/test/integration/experiment_api_test.go
  backend/test/integration/upgrade_test.go
  backend/test/test_utils.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Replace empty namespace with POD_NAMESPACE
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/resource/resource_manager_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Default experiment is now the oldest
  backend/test/integration/upgrade_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Emplace empty with POD_NAMESPACE for argo only
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/resource/resource_manager_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Fix api integration test
  backend/src/apiserver/resource/resource_manager.go
  backend/test/integration/upgrade_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Revert changes to default experiment's description
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/resource/resource_manager_test.go
  backend/test/integration/upgrade_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Improve FE test flakiness
  test/frontend-integration-test/helloworld.spec.js
Due: kubeflow-pipeline-e2e-test

wip
  add_pvc.py
  add_secret.py
  samples/core/volume_snapshot_ops/volume_snapshot_ops.py
  samples/core/volume_snapshot_ops/volume_snapshot_ops.yaml
  use_volume.py
Due: kubeflow-pipelines-samples-v2

Force refresh in the FE test
  test/frontend-integration-test/helloworld.spec.js
Due: kubeflow-pipeline-e2e-test

Add delay in FE test
  test/frontend-integration-test/helloworld.spec.js
Due: kubeflow-pipeline-e2e-test

Add local debug to FE test
  test/frontend-integration-test/README.md
  test/frontend-integration-test/helloworld.spec.js
  test/frontend-integration-test/run_test.sh
Due: kubeflow-pipeline-e2e-test

perf(components): enable undeploying a specific version of model from an endpoint
  components/google-cloud/google_cloud_pipeline_components/container/v1/endpoint/undeploy_model/remote_runner.py
Due: kubeflow-pipelines-components-google-cloud-python38

Update tests
  backend/test/integration/job_api_test.go
  test/frontend-integration-test/helloworld.spec.js
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Fix typo
  backend/test/integration/job_api_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

feat(component): Update input args in dataset preprocessor and evaluated annotation
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/dataset_preprocessor/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/evaluated_annotation/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

add sample test
  samples/test/config.yaml
  samples/v2/component_with_optional_inputs.py
  samples/v2/component_with_optional_inputs_test.py
Due: kubeflow-pipeline-e2e-test, kubeflow-pipelines-samples-v2

Fix bug in the front-end test
  test/frontend-integration-test/helloworld.spec.js
Due: kubeflow-pipeline-e2e-test

Add local debugging to the FE test
  test/frontend-integration-test/README.md
  test/frontend-integration-test/run_test.sh
Due: kubeflow-pipeline-e2e-test

Save testing artifacts to GCS
  test/deploy-cluster.sh
Due: kubeflow-pipeline-e2e-test

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-e2e-test: any of: ^(frontend/.*)|(backend/.*)|(proxy/.*)|(manifests/kustomize/.*)|(test/.*)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipeline-mkp-snapshot-test: any of: ^(manifests/gcp_marketplace/.*)$
  kubeflow-pipeline-upgrade-test: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python37: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python38: any of: ^(components/google-cloud/.*)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(samples/.*)|(backend/src/v2/.*)$
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-v2-go-test: any of: ^backend/src/v2/.*$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$
