Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-mkp-test, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python37, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-manifests

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipelines-sdk-python36: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python36: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python37: any of: ^(components/google-cloud/.*)|(test/presubmit-components-google-cloud.sh)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(v2/.*)$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$

update from str to Optional[str] type
  sdk/python/kfp/v2/google/client/client.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

update test
  sdk/python/kfp/v2/google/client/schedule_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

Missed to add the kinds argument
  sdk/python/kfp/compiler/compiler.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

chore(v2): backend compiler -- visitor (#6111)
  v2/compiler/testdata/Makefile
  v2/compiler/testdata/component_used_twice.json
  v2/compiler/testdata/component_used_twice.py
  v2/compiler/testdata/hello_world.json
  v2/compiler/testdata/producer_consumer_param.json
  v2/compiler/visitor.go
  v2/compiler/visitor_test.go
Due: kubeflow-pipelines-samples-v2

chore(test): Clean up periodic persistent disk
  go.mod
  go.sum
  test/tools/project-cleaner/main.go
  test/tools/project-cleaner/project_cleaner.sh
  test/tools/project-cleaner/resource_spec.yaml
Due: none

delete disk
  test/tools/project-cleaner/main.go
Due: none

chore(sdk): Argo lint requires '--kinds=workflows' argument for offline linting. (#6135)
  sdk/python/kfp/compiler/compiler.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

chore(v2): basic argo compiler
  v2/Makefile
  v2/cmd/compiler/main.go
  v2/compiler/argo.go
  v2/compiler/argo_test.go
  v2/go.mod
  v2/go.sum
Due: kubeflow-pipelines-samples-v2

update
  v2/compiler/argo.go
  v2/go-licenses.yaml
  v2/third_party/licenses/launcher.csv
Due: kubeflow-pipelines-samples-v2

fix test
  v2/compiler/argo_test.go
Due: kubeflow-pipelines-samples-v2

refactor(v2): extract object store package
  v2/component/launcher.go
  v2/component/launcher_test.go
  v2/objectstore/object_store.go
  v2/objectstore/object_store_test.go
Due: kubeflow-pipelines-samples-v2

change command from -m launcher.py to -m launcher
  components/google-cloud/google_cloud_pipeline_components/experimental/custom_job/custom_job.py
Due: kubeflow-pipelines-components-google-cloud-python37

Fix error building component
  components/gcp/container/Dockerfile
Due: kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37

feat(components/google-cloud): Add component for Custom Job (#6044)
  components/google-cloud/google_cloud_pipeline_components/experimental/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/custom_job/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/custom_job/custom_job.py
  components/google-cloud/google_cloud_pipeline_components/experimental/gcp_launcher/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/gcp_launcher/custom_job.py
Due: kubeflow-pipelines-components-google-cloud-python37

Fix broken binary operator formatting in tfp_anomaly_detection
  components/google-cloud/google_cloud_pipeline_components/experimental/tensorflow_probability/anomaly_detection/tfp_anomaly_detection.py
Due: kubeflow-pipelines-components-google-cloud-python37

address comment
  go.mod
  go.sum
  test/tools/project-cleaner/license_info.csv
  test/tools/project-cleaner/main.go
  test/tools/project-cleaner/resource_spec.yaml
Due: none

feat(components/google-cloud): Add tfp_anomaly_detection component to gcpc (#6128)
  components/google-cloud/google_cloud_pipeline_components/experimental/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/tensorflow_probability/anomaly_detection/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/tensorflow_probability/anomaly_detection/tfp_anomaly_detection.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

refactor(v2): extract object store package (#6140)
  v2/component/launcher.go
  v2/component/launcher_test.go
  v2/objectstore/object_store.go
  v2/objectstore/object_store_test.go
Due: kubeflow-pipelines-samples-v2

chore: Fix error building component (#6141)
  components/gcp/container/Dockerfile
Due: kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37

fixed samples to be emissary compatible
  components/gcp/dataflow/launch_python/component.yaml
  components/gcp/ml_engine/deploy/component.yaml
  components/gcp/ml_engine/train/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml

fixed format
  components/gcp/dataflow/launch_python/component.yaml
  components/gcp/ml_engine/deploy/component.yaml
  components/gcp/ml_engine/train/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml

test: fixed samples to be emissary compatible (#6143)
  components/gcp/dataflow/launch_python/component.yaml
  components/gcp/ml_engine/deploy/component.yaml
  components/gcp/ml_engine/train/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml

pipeline detail v2
  frontend/src/pages/PipelineDetailsV2.tsx
  frontend/src/pages/v2/StaticCanvas.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipelines-samples-v2

chore(v2): basic argo compiler boilerplate (#6139)
  v2/Makefile
  v2/cmd/compiler/main.go
  v2/compiler/argo.go
  v2/compiler/argo_test.go
  v2/go-licenses.yaml
  v2/go.mod
  v2/go.sum
  v2/third_party/licenses/launcher.csv
Due: kubeflow-pipelines-samples-v2

chore(v2): basic driver + compiler
  v2/Makefile
  v2/cacheutils/cache_test.go
  v2/cmd/driver/main.go
  v2/cmd/launcher/main.go
  v2/compiler/argo.go
  v2/compiler/argo_test.go
  v2/container/driver/Dockerfile.dev
  v2/container/launcher/Dockerfile
  v2/container/launcher/Dockerfile.dev
  v2/container/launcher/mount_launcher.sh
  v2/driver/driver.go
  v2/metadata/client.go
  v2/metadata/env.go
  v2/skaffold.yaml
  v2/test/sample_test.py
Due: kubeflow-pipelines-samples-v2

chore(v2): container driver + template
  v2/Makefile
  v2/cmd/driver/main.go
  v2/compiler/argo.go
  v2/compiler/container.go
  v2/component/launcher.go
  v2/driver/driver.go
  v2/empty.yaml
  v2/metadata/client.go
  v2/metadata/model.go
  v2/skaffold.yaml
Due: kubeflow-pipelines-samples-v2

chore(v2): container driver output executor input
  samples/v2/Makefile
  v2/cmd/driver/main.go
  v2/compiler/argo.go
  v2/compiler/container.go
  v2/driver/driver.go
Due: kubeflow-pipelines-samples-v2

test(v2): make e2e-% targets
  v2/Makefile
  v2/container/launcher/Dockerfile
Due: kubeflow-pipelines-samples-v2

chore(v2): support pipeline runtime config in dag driver
  v2/cmd/driver/main.go
  v2/compiler/argo.go
  v2/compiler/argo_test.go
  v2/driver/driver.go
Due: kubeflow-pipelines-samples-v2

test(v2): add make dev target that runs from head e2e
  v2/Makefile
Due: kubeflow-pipelines-samples-v2

clean up & fix
  v2/container/launcher/Dockerfile
  v2/empty.yaml
  v2/skaffold.yaml
Due: kubeflow-pipelines-samples-v2

clean up
  samples/v2/Makefile
Due: kubeflow-pipelines-samples-v2
