Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python38, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-v2-go-test, kubeflow-pipelines-manifests

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-e2e-test: any of: ^(frontend/.*)|(backend/.*)|(proxy/.*)|(manifests/kustomize/.*)|(test/.*)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipeline-mkp-snapshot-test: any of: ^(manifests/gcp_marketplace/.*)$
  kubeflow-pipeline-upgrade-test: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python37: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python38: any of: ^(components/google-cloud/.*)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(samples/.*)|(backend/src/v2/.*)$
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-v2-go-test: any of: ^backend/src/v2/.*$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$

change assert value
  samples/v2/component_with_optional_inputs_test.py
Due: kubeflow-pipelines-samples-v2

Address comments
  test/frontend-integration-test/helloworld.spec.js
Due: kubeflow-pipeline-e2e-test

Address comments
  backend/src/apiserver/client/argo_fake.go
  backend/src/apiserver/model/job.go
  backend/src/apiserver/model/pipeline.go
  backend/src/apiserver/model/pipeline_version.go
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/server/pipeline_server_test.go
  backend/src/apiserver/storage/pipeline_store.go
  backend/src/apiserver/storage/pipeline_store_test.go
  backend/src/apiserver/storage/run_store.go
  backend/src/apiserver/storage/run_store_test.go
  backend/src/apiserver/storage/task_store_test.go
  backend/test/integration/pipeline_version_api_test.go
  backend/test/integration/upgrade_test.go
  test/frontend-integration-test/README.md
  test/frontend-integration-test/helloworld.spec.js
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

wip
  add_secret.py
  f.py
Due: none

fix(test): Add frontend integration test manual run (#8767)
  test/deploy-cluster.sh
  test/frontend-integration-test/README.md
  test/frontend-integration-test/run_test.sh
Due: kubeflow-pipeline-e2e-test

temporarily block fan-in of artifacts
  sdk/python/kfp/components/for_loop.py
  sdk/python/test_data/test_data_config.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

clean up
  sdk/python/kfp/compiler/compiler_test.py
  sdk/python/kfp/compiler/compiler_utils.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

implement parallelfor fan-in
  sdk/python/kfp/compiler/compiler_test.py
  sdk/python/kfp/compiler/compiler_utils.py
  sdk/python/kfp/compiler/pipeline_spec_builder.py
  sdk/python/kfp/components/for_loop.py
  sdk/python/kfp/components/structures.py
  sdk/python/kfp/dsl/__init__.py
  sdk/python/test_data/pipelines/parallelfor_fan_in/collection_at_different_levels.py
  sdk/python/test_data/pipelines/parallelfor_fan_in/collection_at_different_levels.yaml
  sdk/python/test_data/pipelines/parallelfor_fan_in/cross_dag_collection.py
  sdk/python/test_data/pipelines/parallelfor_fan_in/cross_dag_collection.yaml
  sdk/python/test_data/pipelines/parallelfor_fan_in/layered_fan_in.py
  sdk/python/test_data/pipelines/parallelfor_fan_in/layered_fan_in.yaml
  sdk/python/test_data/pipelines/parallelfor_fan_in/nested_with_artifact.py
  sdk/python/test_data/pipelines/parallelfor_fan_in/nested_with_artifact.yaml
  sdk/python/test_data/pipelines/parallelfor_fan_in/nested_with_parameters.py
  sdk/python/test_data/pipelines/parallelfor_fan_in/nested_with_parameters.yaml
  sdk/python/test_data/pipelines/parallelfor_fan_in/parameters_with_conditional_consumer.py
  sdk/python/test_data/pipelines/parallelfor_fan_in/parameters_with_conditional_consumer.yaml
  sdk/python/test_data/pipelines/parallelfor_fan_in/parameters_with_inner_condition.py
  sdk/python/test_data/pipelines/parallelfor_fan_in/parameters_with_inner_condition.yaml
  sdk/python/test_data/pipelines/parallelfor_fan_in/pipeline_consumer.py
  sdk/python/test_data/pipelines/parallelfor_fan_in/pipeline_consumer.yaml
  sdk/python/test_data/pipelines/parallelfor_fan_in/pipeline_producer.py
  sdk/python/test_data/pipelines/parallelfor_fan_in/pipeline_producer.yaml
  sdk/python/test_data/pipelines/parallelfor_fan_in/return_collected_from_nested.py
  sdk/python/test_data/pipelines/parallelfor_fan_in/return_collected_from_nested.yaml
  sdk/python/test_data/pipelines/parallelfor_fan_in/return_collected_parameters.py
  sdk/python/test_data/pipelines/parallelfor_fan_in/return_collected_parameters.yaml
  sdk/python/test_data/pipelines/parallelfor_fan_in/simple_with_artifacts.py
  sdk/python/test_data/pipelines/parallelfor_fan_in/simple_with_artifacts.yaml
  sdk/python/test_data/pipelines/parallelfor_fan_in/simple_with_parameters.py
  sdk/python/test_data/pipelines/parallelfor_fan_in/simple_with_parameters.yaml
  sdk/python/test_data/test_data_config.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

unify and clarify error messages
  sdk/python/kfp/compiler/compiler_test.py
  sdk/python/kfp/compiler/compiler_utils.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

remove comment
  sdk/python/kfp/compiler/compiler_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

update test
  samples/v2/component_with_optional_inputs_test.py
Due: kubeflow-pipelines-samples-v2

Enforce template version verification
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/resource/resource_manager_test.go
  test/frontend-integration-test/helloworld.spec.js
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

remove unnecessary compiler condition
  sdk/python/kfp/compiler/compiler_utils.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

update doc
  components/google-cloud/google_cloud_pipeline_components/experimental/hyperparameter_tuning_job/utils.py
Due: kubeflow-pipelines-components-google-cloud-python38

make test cases more realistic
  sdk/python/kfp/compiler/compiler_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

Fix workflow manifest discrepancy with v1
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/resource/resource_manager_test.go
  backend/src/apiserver/server/api_converter.go
  backend/src/apiserver/server/api_converter_test.go
  backend/src/apiserver/server/job_server_test.go
  backend/src/apiserver/server/run_server_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

fix(sdk): fix upload_pipeline when no pipeline name is provided
  sdk/RELEASE.md
  sdk/python/kfp/client/client.py
  sdk/python/kfp/client/client_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

use better ParallelFor variable name
  sdk/python/kfp/compiler/compiler_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

add and rename test cases
  sdk/python/kfp/compiler/compiler_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

add ParallelFor fan-in test cases
  sdk/python/kfp/compiler/compiler_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

fix(sdk): fix upload_pipeline when no pipeline name is provided (#8695)
  sdk/RELEASE.md
  sdk/python/kfp/client/client.py
  sdk/python/kfp/client/client_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

wip
  p.py
  p.yaml
  samples/core/volume_snapshot_ops/volume_snapshot_ops.py
  samples/core/volume_snapshot_ops/volume_snapshot_ops.yaml
  sdk/python/kfp/dsl/_volume_op.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

Fix FE test
  backend/src/apiserver/server/api_converter.go
  backend/src/apiserver/server/job_server_test.go
  backend/test/integration/job_api_test.go
  backend/test/integration/run_api_test.go
  backend/test/integration/upgrade_test.go
  test/frontend-integration-test/README.md
  test/frontend-integration-test/helloworld.spec.js
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

wip
  samples/core/volume_ops/volume_ops.py
  samples/core/volume_snapshot_ops/volume_snapshot_ops.py
  samples/core/volume_snapshot_ops/volume_snapshot_ops.py.yaml
  samples/core/volume_snapshot_ops/volume_snapshot_ops.yaml
  samples/core/volume_snapshot_ops/volume_snapshot_ops2.py
Due: kubeflow-pipelines-samples-v2

chore(components): Fix the doc format of the hp tuning components
  components/google-cloud/google_cloud_pipeline_components/experimental/hyperparameter_tuning_job/utils.py
  components/google-cloud/tests/experimental/hyperparameter_tuning_job/testdata/get_best_hyperparameters_op_pipeline.json
  components/google-cloud/tests/experimental/hyperparameter_tuning_job/testdata/get_best_trial_op_pipeline.json
  components/google-cloud/tests/experimental/hyperparameter_tuning_job/testdata/get_hyperparameters_op_pipeline.json
  components/google-cloud/tests/experimental/hyperparameter_tuning_job/testdata/get_trials_op_pipeline.json
  components/google-cloud/tests/experimental/hyperparameter_tuning_job/testdata/get_worker_pool_specs_op_pipeline.json
  components/google-cloud/tests/experimental/hyperparameter_tuning_job/testdata/is_metric_beyond_threshold_pipeline.json
Due: kubeflow-pipelines-components-google-cloud-python38

wip
  add_secret.py
  add_secret.yaml
  f.py
Due: none

fix(components): Add missing dependency
  components/google-cloud/google_cloud_pipeline_components/container/Dockerfile
Due: kubeflow-pipelines-components-google-cloud-python38

Revert changes in persistence agent
  backend/src/agent/persistence/client/pipeline_client.go
  backend/src/agent/persistence/client/pipeline_client_fake.go
  backend/src/agent/persistence/worker/metrics_reporter.go
  backend/src/agent/persistence/worker/swf_saver.go
  backend/src/agent/persistence/worker/workflow_saver.go
  backend/src/apiserver/model/pipeline_version.go
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/resource/resource_manager_test.go
  backend/src/apiserver/server/api_converter.go
  backend/src/apiserver/server/api_converter_test.go
  backend/src/apiserver/server/job_server_test.go
  backend/src/apiserver/server/report_server.go
  backend/src/apiserver/server/report_server_test.go
  backend/src/apiserver/server/run_server_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Limit to one resource owner
  backend/src/apiserver/server/api_converter.go
  backend/src/apiserver/server/run_server_test.go
  backend/src/apiserver/storage/run_store.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Change default run state to unknown
  backend/src/apiserver/model/run.go
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/resource/resource_manager_test.go
  backend/src/apiserver/server/run_server_test.go
  backend/test/integration/upgrade_test.go
  test/frontend-integration-test/helloworld.spec.js
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Revert changes to FE integration test
  test/frontend-integration-test/helloworld.spec.js
Due: kubeflow-pipeline-e2e-test

feat(components): Create new component YAML definition for computing error analysis annotations
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/error_analysis_annotation/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38
