Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python38, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-v2-go-test, kubeflow-pipelines-manifests

kubeflow-pipelines-sdk-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27-v2:
  decorate: true
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-backend-visualization-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

kubeflow-pipeline-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node:12
      command:
      - /bin/sh
      args:
      - -c
      - cd ./frontend && npm run test:ci:prow

kubeflow-pipeline-backend-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.17.6-bullseye
      command:
      - ./test/presubmit-backend-test.sh

kubeflow-pipeline-e2e-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-with-pipeline-deployment.sh
      args:
      - --workflow_file
      - e2e_test_gke_v2.yaml
      - --test_result_folder
      - e2e_test

kubeflow-pipeline-mkp-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-mkp.sh

kubeflow-pipeline-mkp-snapshot-test:
  decorate: true
  spec:
    containers:
    - image: bash:alpine3.14
      command:
      - bash
      args:
      - ./manifests/gcp_marketplace/test/presubmit.sh

kubeflow-pipeline-upgrade-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/upgrade-tests.sh
      args:
      - --test_result_folder
      - upgrade_test

kubeflow-pipelines-sdk-python37:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

fix(components): fix VertexPromptValidationOp definition
  components/google-cloud/google_cloud_pipeline_components/experimental/vertex_prompt_validation/__init__.py
Due: kubeflow-pipelines-components-google-cloud-python38

error message
  backend/src/apiserver/template/v2_template.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

fix(components): Update Vertex Pipelines prompt validation component with new input parameters
  components/google-cloud/google_cloud_pipeline_components/experimental/vertex_prompt_validation/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

fix(frontend): Render run parameters in run details tab. (#9217)
  frontend/src/pages/RunDetailsV2.test.tsx
  frontend/src/pages/RunDetailsV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

fix(frontend): Missing pipeline info while cloning recurring run. (#9231)
  frontend/src/pages/NewRunV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

fix(backend): Add upsert for SQLite and MySQL dialects (#9245)
  backend/src/apiserver/storage/db.go
  backend/src/apiserver/storage/db_test.go
  backend/src/apiserver/storage/task_store.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

feat(components): Add slicing_specs input to classification evaluation
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/classification/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

Test if getLogs() is successful.
  frontend/src/components/tabs/RuntimeNodeDetailsV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Handle cached case.
  frontend/src/components/tabs/RuntimeNodeDetailsV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Render logs details in 'Logs' tab
  frontend/src/components/tabs/RuntimeNodeDetailsV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Add logs tab in run details node.
  frontend/src/components/tabs/RuntimeNodeDetailsV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Passing runId into runtime details node to get the logs info.
  frontend/src/components/tabs/RuntimeNodeDetailsV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Change the return value of helper function getLogsDetails() from string to map which contains logsDetails, banner message, and banner additional info. Embed logsInfo into LOGS tab.
  frontend/src/components/tabs/RuntimeNodeDetailsV2.tsx
  frontend/src/pages/RunDetailsV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

feat(components): Import user slices to the model evaluation importer
  components/google-cloud/google_cloud_pipeline_components/container/experimental/evaluation/import_model_evaluation.py
  components/google-cloud/tests/container/experimental/evaluation/test_import_model_evaluation.py
Due: kubeflow-pipelines-components-google-cloud-python38

chore(components): Remove GetVertexModelOp in evaluation package, use GetVertexModelOp in experimental model package
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/get_vertex_model.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

Remove unused useQuery and simplify the logic of page redirection.
  frontend/src/pages/NewRunSwitcher.tsx
  frontend/src/pages/NewRunV2.test.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

feat(backend): add parameter verification before submitting the workflow (#9228)
  backend/src/apiserver/resource/resource_manager_test.go
  backend/src/apiserver/server/job_server_test.go
  backend/src/apiserver/server/pipeline_upload_server_test.go
  backend/src/apiserver/server/run_server_test.go
  backend/src/apiserver/template/template_test.go
  backend/src/apiserver/template/testdata/hello_world.yaml
  backend/src/apiserver/template/v2_template.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Regenerating with spec trimming
  components/aws/sagemaker/Endpoint/component.yaml
  components/aws/sagemaker/Endpoint/src/Endpoint_spec.py
  components/aws/sagemaker/EndpointConfig/component.yaml
  components/aws/sagemaker/EndpointConfig/src/EndpointConfig_spec.py
  components/aws/sagemaker/Model/component.yaml
  components/aws/sagemaker/Model/src/Model_spec.py
  components/aws/sagemaker/TrainingJob/component.yaml
  components/aws/sagemaker/TrainingJob/src/TrainingJob_spec.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml

handle None case
  components/aws/sagemaker/tests/integration_tests/utils/ack_utils.py
Due: none

Unit tests
  components/aws/sagemaker/tests/unit_tests/tests/Endpoint/test_Endpoint_component.py
  components/aws/sagemaker/tests/unit_tests/tests/Endpoint/test_Endpoint_spec.py
  components/aws/sagemaker/tests/unit_tests/tests/EndpointConfig/test_EndpointConfig_component.py
  components/aws/sagemaker/tests/unit_tests/tests/EndpointConfig/test_EndpointConfig_spec.py
  components/aws/sagemaker/tests/unit_tests/tests/Model/test_Model_component.py
  components/aws/sagemaker/tests/unit_tests/tests/Model/test_Model_spec.py
  components/aws/sagemaker/tests/unit_tests/tests/TrainingJob/test_TrainingJob_component.py
  components/aws/sagemaker/tests/unit_tests/tests/TrainingJob/test_TrainingJob_spec.py
  components/aws/sagemaker/tests/unit_tests/tests/commonv2/dummy_component.py
  components/aws/sagemaker/tests/unit_tests/tests/commonv2/dummy_spec.py
  components/aws/sagemaker/tests/unit_tests/tests/commonv2/files/namespace
  components/aws/sagemaker/tests/unit_tests/tests/commonv2/files/test_job_request_outline.yaml.tpl
  components/aws/sagemaker/tests/unit_tests/tests/commonv2/test_abstract_methods.py
  components/aws/sagemaker/tests/unit_tests/tests/commonv2/test_main_reconciliation.py
  components/aws/sagemaker/tests/unit_tests/tests/commonv2/test_sagemaker_component_upgrade_v2.py
  components/aws/sagemaker/tests/unit_tests/tests/commonv2/test_sagemaker_component_v2.py
  components/aws/sagemaker/tests/unit_tests/tests/commonv2/test_sagemaker_spec_v2.py
  components/aws/sagemaker/tests/unit_tests/tests/commonv2/test_spec_input_parsers_v2.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml

feat(components): Allow batch predict component to add missing bq:// schemes
  components/google-cloud/google_cloud_pipeline_components/container/v1/batch_prediction_job/remote_runner.py
  components/google-cloud/tests/container/v1/batch_prediction_job/test_batch_prediction_job_remote_runner.py
Due: kubeflow-pipelines-components-google-cloud-python38

feat(components): Support model garden models in GetVertexModelOp
  components/google-cloud/google_cloud_pipeline_components/container/experimental/model/get_model/get_model.py
  components/google-cloud/tests/container/experimental/model/get_model/test_get_model.py
Due: kubeflow-pipelines-components-google-cloud-python38

changed unit test names
  components/aws/sagemaker/tests/unit_tests/tests/Endpoint/test_Endpoint_component.py
  components/aws/sagemaker/tests/unit_tests/tests/Endpoint/test_Endpoint_spec.py
  components/aws/sagemaker/tests/unit_tests/tests/EndpointConfig/test_EndpointConfig_component.py
  components/aws/sagemaker/tests/unit_tests/tests/EndpointConfig/test_EndpointConfig_spec.py
  components/aws/sagemaker/tests/unit_tests/tests/Model/test_Model_component.py
  components/aws/sagemaker/tests/unit_tests/tests/Model/test_Model_spec.py
Due: none

Use global variable
  frontend/src/components/tabs/RuntimeNodeDetailsV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Change to absolute path
  frontend/src/pages/NewRunV2.test.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Change to absolute path.
  frontend/src/pages/NewRunV2.test.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

chore(components): Switch evaluation components to python functions from YAMLs
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/data_sampler/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/data_sampler/component.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/data_sampler/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/feature_attribution/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/feature_attribution/component.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/feature_attribution/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/forecasting/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/forecasting/component.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/forecasting/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/regression/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/regression/component.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/regression/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/target_field_data_remover/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/target_field_data_remover/component.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/target_field_data_remover/component.yaml
  components/google-cloud/google_cloud_pipeline_components/types/artifact_types.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-e2e-test: any of: ^(frontend/.*)|(backend/.*)|(proxy/.*)|(manifests/kustomize/.*)|(test/.*)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipeline-mkp-snapshot-test: any of: ^(manifests/gcp_marketplace/.*)$
  kubeflow-pipeline-upgrade-test: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python37: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python38: any of: ^(components/google-cloud/.*)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(samples/.*)|(backend/src/v2/.*)$
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-v2-go-test: any of: ^backend/src/v2/.*$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$
