Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-mkp-test, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python37, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-manifests

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipelines-sdk-python36: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python36: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python37: any of: ^(components/google-cloud/.*)|(test/presubmit-components-google-cloud.sh)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(v2/.*)$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$

enabled cache e2e test
  samples/test/cache_v2_test.py
  samples/test/util.py
Due: none

fixed typo
  samples/test/util.py
Due: none

fixed typo
  samples/test/config.yaml
Due: none

added enable caching info
  v2/component/launcher.go
Due: kubeflow-pipelines-samples-v2

feat(components): Kubernetes - Create PersistentVolumeClaim (#5222)
  components/kubernetes/Create_PersistentVolumeClaim/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml

added debug logging
  samples/test/cache_v2_test.py
  v2/component/launcher.go
Due: kubeflow-pipelines-samples-v2

fixed launcher bug
  samples/test/cache_v2_test.py
  v2/cacheutils/cache.go
Due: kubeflow-pipelines-samples-v2

removed debug logging
  v2/component/launcher.go
Due: kubeflow-pipelines-samples-v2

test(v2): added v2 compatible cache e2e test (#6004)
  samples/test/cache_v2_test.py
  samples/test/config.yaml
  samples/test/lightweight_python_functions_v2_pipeline_test.py
  samples/test/metrics_visualization_v2_test.py
  samples/test/two_step.py
  samples/test/util.py
  v2/cacheutils/cache.go
  v2/component/launcher.go
Due: kubeflow-pipelines-samples-v2

Saving image as bytes
  samples/contrib/pytorch-samples/cifar10/cifar10_handler.py
Due: none

rename
  samples/test/config.yaml
  samples/test/legacy_data_passing.py
  samples/test/legacy_data_passing_test.py
Due: none

chore(frontend): fix s3 artifact structure for Argo 3.1+. Fix #5930 (#6039)
  frontend/src/components/MinioArtifactPreview.test.tsx
  frontend/src/components/MinioArtifactPreview.tsx
  frontend/src/lib/WorkflowParser.test.ts
  frontend/src/lib/WorkflowParser.ts
  frontend/src/pages/Compare.test.tsx
  frontend/third_party/argo-ui/argo_template.ts
Due: kubeflow-pipeline-frontend-test

SDK - Components - Added support for annotations to create_graph_component_from_pipeline_func (#5991)
  sdk/python/kfp/components/_python_to_graph_component.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

feat(components): Added HuggingFace dataset components (#5707)
  components/datasets/HuggingFace/Load_dataset/component.py
  components/datasets/HuggingFace/Load_dataset/component.yaml
  components/datasets/HuggingFace/Split_dataset/component.py
  components/datasets/HuggingFace/Split_dataset/component.yaml
  components/datasets/HuggingFace/_samples/sample.pipeline.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml

feat(components): KFP - Run component (#5338)
  components/kfp/Run_component/_samples/sample_pipeline.py
  components/kfp/Run_component/component.py
  components/kfp/Run_component/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml

enable_caching in v2 client defaults to compile time settings.
  sdk/python/kfp/_client.py
  sdk/python/kfp/v2/google/client/client.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

chore: bump release.cloudbuild.yaml timeout to 2000s
  .release.cloudbuild.yaml
Due: none

update format
  components/google-cloud/google_cloud_pipeline_components/experimental/gcp_launcher/custom_job.py
Due: kubeflow-pipelines-components-google-cloud-python37

chore(components/google-cloud): Retrestructure the gcp component folder (#5919)
  components/google-cloud/container/gcp/Dockerfile
  components/google-cloud/google_cloud_pipeline_components/experimental/AutoML/Tables/Create_dataset/from_CSV/component.py
  components/google-cloud/google_cloud_pipeline_components/experimental/AutoML/Tables/Create_dataset/from_CSV/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/Optimizer/Add_measurement_for_trial/component.py
  components/google-cloud/google_cloud_pipeline_components/experimental/Optimizer/Add_measurement_for_trial/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/Optimizer/Create_study/component.py
  components/google-cloud/google_cloud_pipeline_components/experimental/Optimizer/Create_study/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/Optimizer/Suggest_parameter_sets_based_on_measurements/component.py
  components/google-cloud/google_cloud_pipeline_components/experimental/Optimizer/Suggest_parameter_sets_based_on_measurements/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/Optimizer/Suggest_trials/component.py
  components/google-cloud/google_cloud_pipeline_components/experimental/Optimizer/Suggest_trials/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/Optimizer/_samples/multi_stage_optimization_atomic_pipeline.py
  components/google-cloud/google_cloud_pipeline_components/experimental/Optimizer/_samples/multi_stage_optimization_pipeline.py
  components/google-cloud/google_cloud_pipeline_components/experimental/gcp_launcher/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/gcp_launcher/custom_job.py
  components/google-cloud/google_cloud_pipeline_components/experimental/gcp_launcher/launcher.py
  components/google-cloud/google_cloud_pipeline_components/experimental/storage/download/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/storage/download_blob/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/storage/download_dir/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/storage/list/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/storage/upload_to_explicit_uri/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/storage/upload_to_unique_uri/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

Fix: Updated script for adam optimizer
  samples/contrib/pytorch-samples/Pipeline-Cifar10-hpo.ipynb
  samples/contrib/pytorch-samples/README.md
  samples/contrib/pytorch-samples/cifar10/cifar10_pytorch.py
  samples/contrib/pytorch-samples/cifar10/cifar10_train.py
Due: none

Fix: remove token from notebook
  samples/contrib/pytorch-samples/Pipeline-Cifar10-hpo.ipynb
Due: none

Fix: component yaml for trainer
  samples/contrib/pytorch-samples/Pipeline-Cifar10-hpo.ipynb
  samples/contrib/pytorch-samples/cifar10/yaml/train/component.yaml
Due: none

table example
  samples/core/visualization/table.csv
Due: none

feat(frontend): Clickable link consistent css styling. Fix #5315 (#6023)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Css.tsx
  frontend/src/components/CustomTable.tsx
  frontend/src/components/CustomTableRow.tsx
  frontend/src/components/__snapshots__/CustomTable.test.tsx.snap
  frontend/src/components/__snapshots__/ExperimentList.test.tsx.snap
  frontend/src/components/__snapshots__/UploadPipelineDialog.test.tsx.snap
  frontend/src/pages/ArtifactList.tsx
  frontend/src/pages/ExecutionDetails.tsx
  frontend/src/pages/__snapshots__/NewPipelineVersion.test.tsx.snap
  frontend/src/pages/__snapshots__/NewRun.test.tsx.snap
  frontend/src/pages/__snapshots__/PipelineVersionList.test.tsx.snap
  frontend/src/pages/__snapshots__/RecurringRunsManager.test.tsx.snap
  frontend/src/pages/__snapshots__/RunList.test.tsx.snap
  frontend/src/pages/__snapshots__/Status.test.tsx.snap
Due: kubeflow-pipeline-frontend-test

undo changes to dsl_utils.py
  sdk/python/kfp/dsl/dsl_utils.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

Added to_table component
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/query/to_table/README.md
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/query/to_table/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

Add support for executor input
  sdk/python/kfp/dsl/dsl_utils.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2
