Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2

kubeflow-pipelines-sdk-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27-v2:
  decorate: true
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-backend-visualization-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

Update BUG_FRONTEND.md
  .github/ISSUE_TEMPLATE/BUG_FRONTEND.md
Due: none

Update BUG_SDK.md
  .github/ISSUE_TEMPLATE/BUG_SDK.md
Due: none

fix(sdk/tests) fix parallelfor_item_argument_resolving compiler test, Fixes #5270 (#5271)
  sdk/python/tests/compiler/testdata/parallelfor_item_argument_resolving.py
  sdk/python/tests/compiler/testdata/parallelfor_item_argument_resolving.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

fix(backend): add brackets if metadata service host is ipv6. Fixes (#5161) (#5246)
  backend/metadata_writer/src/metadata_helpers.py
Due: none

Update check_notebook_results.py
  test/sample-test/check_notebook_results.py
Due: none

Update run_sample_test.py
  test/sample-test/run_sample_test.py
Due: none

Update run_resnet_cmle_test.py
  test/sample-test/run_resnet_cmle_test.py
Due: none

test(samples): fix sample-test argo logs command. Fixes #5283 (#5284)
  test/install-argo-cli.sh
  test/sample-test/check_notebook_results.py
  test/sample-test/run_resnet_cmle_test.py
  test/sample-test/run_sample_test.py
Due: none

fix bug when reading old data
  sdk/python/kfp/components/_key_value_store.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

fix bug
  sdk/python/kfp/components/_key_value_store.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

refactor(deployment): GCP marketplace detailed deployer KSA's permissions (#4147)
  manifests/gcp_marketplace/schema.yaml
Due: none

[Backend] Move ParameterFormatter to common/util
  backend/src/common/util/parameter_formatter.go
  backend/src/common/util/parameter_formatter_test.go
  backend/src/crd/controller/scheduledworkflow/util/scheduled_workflow.go
Due: none

[Backend] Make resource mngr use params formatter for simple Runs
  backend/src/apiserver/resource/resource_manager.go
  backend/src/common/util/parameter_formatter.go
  backend/src/common/util/parameter_formatter_test.go
  backend/src/common/util/workflow.go
  backend/src/crd/controller/scheduledworkflow/util/scheduled_workflow.go
Due: none

[Backend] Validate param pointer is not null
  backend/src/common/util/workflow.go
Due: none

Move -1 placeholder to constant
  backend/src/common/util/parameter_formatter.go
Due: none

fixup! [Backend] Make resource mngr use params formatter for simple Runs
  backend/src/common/util/workflow.go
Due: none

feat(sdk): Adds Metrics & ClassificationMetrics ontology types (#5259)
  sdk/python/kfp/dsl/artifact.py
  sdk/python/kfp/dsl/artifact_utils.py
  sdk/python/kfp/dsl/metrics_utils.py
  sdk/python/kfp/dsl/ontology_artifacts.py
  sdk/python/kfp/dsl/type_schemas/classification_metrics.yaml
  sdk/python/kfp/dsl/type_schemas/confidence_metrics.yaml
  sdk/python/kfp/dsl/type_schemas/confusion_matrix.yaml
  sdk/python/kfp/dsl/type_schemas/metrics.yaml
  sdk/python/kfp/dsl/type_schemas/sliced_classification_metrics.yaml
  sdk/python/tests/dsl/artifact_test.py
  sdk/python/tests/dsl/metric_utils_test.py
  sdk/python/tests/dsl/test_data/expected_bulk_loaded_classification_metrics.json
  sdk/python/tests/dsl/test_data/expected_bulk_loaded_confusion_matrix.json
  sdk/python/tests/dsl/test_data/expected_classification_metrics.json
  sdk/python/tests/dsl/test_data/expected_confusion_matrix.json
  sdk/python/tests/dsl/test_data/expected_metrics.json
  sdk/python/tests/dsl/test_data/expected_sliced_classification_metrics.json
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

feat(sdk): Enable setting OwnerReference on ResourceOps. Fixes #1779
  sdk/python/kfp/dsl/_resource_op.py
  sdk/python/tests/compiler/compiler_tests.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

feat(backend): Support pipeline parameters macros in one-off runs (#5086)
  backend/src/apiserver/resource/resource_manager.go
  backend/src/common/util/parameter_formatter.go
  backend/src/common/util/parameter_formatter_test.go
  backend/src/common/util/workflow.go
  backend/src/crd/controller/scheduledworkflow/util/scheduled_workflow.go
Due: none

fix(deployment): Set default resource requests and limits for pipeline pods. Fixes #5214
  manifests/kustomize/base/installs/multi-user/pipelines-profile-controller/sync.py
Due: none

feat(sdk): Enable setting OwnerReference on ResourceOps. Fixes #1779 (#4831)
  sdk/python/kfp/dsl/_resource_op.py
  sdk/python/tests/compiler/compiler_tests.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

Update BUG_BACKEND.md
  .github/ISSUE_TEMPLATE/BUG_BACKEND.md
Due: none

Update BUG_REPORT.md
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
Due: none

Update FEATURE_REQUEST.md
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
Due: none

Update deployment.yaml
  manifests/kustomize/base/installs/multi-user/pipelines-profile-controller/deployment.yaml
Due: none

Update sync.py
  manifests/kustomize/base/installs/multi-user/pipelines-profile-controller/sync.py
Due: none

Update service.yaml
  manifests/kustomize/base/installs/multi-user/pipelines-profile-controller/service.yaml
Due: none

feat(components): PyTorch - Train fully-connected network pipeline (#5208)
  components/PyTorch/_samples/Train_fully-connected_network.pipeline.py
Due: none

feat(components): Added Kubernetes CRUD operations (#5239)
  components/kubernetes/Apply_object/component.yaml
  components/kubernetes/Create_object/component.yaml
  components/kubernetes/Delete_object/component.yaml
  components/kubernetes/Get_object/component.yaml
Due: kubeflow-pipelines-component-yaml-v2

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
