Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2

kubeflow-pipelines-sdk-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27-v2:
  decorate: true
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-backend-visualization-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

remove license and install binary
  backend/Dockerfile.buildapi
  backend/api/generator.sh
  backend/api/go_client/auth.pb.go
  backend/api/go_client/auth.pb.gw.go
  backend/api/go_client/error.pb.go
  backend/api/go_client/experiment.pb.go
  backend/api/go_client/experiment.pb.gw.go
  backend/api/go_client/filter.pb.go
  backend/api/go_client/healthz.pb.go
  backend/api/go_client/healthz.pb.gw.go
  backend/api/go_client/job.pb.go
  backend/api/go_client/job.pb.gw.go
  backend/api/go_client/parameter.pb.go
  backend/api/go_client/pipeline.pb.go
  backend/api/go_client/pipeline.pb.gw.go
  backend/api/go_client/pipeline_spec.pb.go
  backend/api/go_client/report.pb.go
  backend/api/go_client/report.pb.gw.go
  backend/api/go_client/resource_reference.pb.go
  backend/api/go_client/run.pb.go
  backend/api/go_client/run.pb.gw.go
  backend/api/go_client/visualization.pb.go
  backend/api/go_client/visualization.pb.gw.go
  backend/api/go_http_client/experiment_model/api_experiment_storage_state.go
  backend/api/go_http_client/run_model/api_run_storage_state.go
Due: none

update and check differences
  backend/Dockerfile.buildapi
  backend/api/go_client/auth.pb.gw.go
  backend/api/go_client/experiment.pb.gw.go
  backend/api/go_client/job.pb.gw.go
  backend/api/go_client/pipeline.pb.gw.go
  backend/api/go_client/run.pb.gw.go
Due: none

completed rebase
  backend/api/generate_api.sh
  backend/api/go_client/auth.pb.go
  backend/api/go_client/auth.pb.gw.go
  backend/api/go_client/experiment.pb.gw.go
  backend/api/go_client/healthz.pb.go
  backend/api/go_client/job.pb.gw.go
  backend/api/go_client/pipeline.pb.gw.go
  backend/api/go_client/run.pb.gw.go
  backend/api/go_http_client/experiment_model/experiment_storage_state.go
  backend/api/go_http_client/run_model/run_storage_state.go
  backend/api/swagger/auth.swagger.json
  backend/api/swagger/kfp_api_single_file.swagger.json
  go.mod
  go.sum
Due: none

go mod tidy
  go.mod
  go.sum
Due: none

Address comments, move away from Ref
  frontend/src/pages/ExperimentDetails.test.tsx
  frontend/src/pages/ExperimentDetails.tsx
  frontend/src/pages/RunListsRouter.test.tsx
  frontend/src/pages/RunListsRouter.tsx
  frontend/src/pages/__snapshots__/ExperimentDetails.test.tsx.snap
Due: none

Code become prettier
  frontend/src/pages/ExperimentDetails.tsx
  frontend/src/pages/RunListsRouter.tsx
Due: none

remove code commited by misstake
  backend/src/crd/cronjob/README.md
  backend/src/crd/cronjob/cronjob.yaml
  backend/src/crd/cronjob/dockerfile
  backend/src/crd/cronjob/main.py
  backend/src/crd/cronjob/requirements.txt
Due: none

added by misstake
  samples/tutorials/Data passing in python components/Data passing in python components - Files.py.yaml
Due: kubeflow-pipelines-component-yaml-v2

wip
  backend/Dockerfile.buildapi
  backend/api/go_client/auth.pb.go
  backend/api/go_client/error.pb.go
  backend/api/go_client/experiment.pb.go
  backend/api/go_client/filter.pb.go
  backend/api/go_client/healthz.pb.go
  backend/api/go_client/healthz.pb.gw.go
  backend/api/go_client/job.pb.go
  backend/api/go_client/pipeline.pb.go
  backend/api/go_client/report.pb.go
  backend/api/go_client/run.pb.go
  backend/api/go_client/visualization.pb.go
  backend/api/go_http_client/experiment_model/protobuf_any.go
  backend/api/go_http_client/healthz_model/protobuf_any.go
  backend/api/go_http_client/job_model/protobuf_any.go
  backend/api/go_http_client/pipeline_model/protobuf_any.go
  backend/api/go_http_client/run_model/protobuf_any.go
  backend/api/go_http_client/visualization_model/protobuf_any.go
  backend/api/swagger/auth.swagger.json
  backend/api/swagger/experiment.swagger.json
  backend/api/swagger/healthz.swagger.json
  backend/api/swagger/job.swagger.json
  backend/api/swagger/pipeline.swagger.json
  backend/api/swagger/run.swagger.json
  backend/api/swagger/visualization.swagger.json
Due: none

fix(sdk): generate valid pipeline from non-ascii definition. Fixes #5119
  sdk/python/kfp/compiler/compiler.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

refactor pipeline root passing
  sdk/python/kfp/compiler/compiler.py
  sdk/python/kfp/components/_components.py
  sdk/python/kfp/components_tests/test_components.py
  sdk/python/kfp/dsl/__init__.py
  sdk/python/tests/compiler/testdata/uri_artifacts.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

fix test
  sdk/python/kfp/compiler/compiler.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

updated after feedback
  backend/Dockerfile.buildapi
  backend/api/generate_api.sh
  backend/api/generator.sh
Due: none

Add default is_expected_conditions to launcher
  components/kubeflow/common/launch_crd.py
Due: none

futher updates after feedback
  backend/Dockerfile.buildapi
  backend/README.md
  backend/api/swagger/kfp_api_single_file.swagger.json
  go.mod
  go.sum
Due: none

Add pytorch_launcher
  components/kubeflow/pytorch-launcher/Dockerfile
  components/kubeflow/pytorch-launcher/build_image.sh
  components/kubeflow/pytorch-launcher/component.yaml
  components/kubeflow/pytorch-launcher/requirements.txt
  components/kubeflow/pytorch-launcher/src/__init__.py
  components/kubeflow/pytorch-launcher/src/launch_pytorchjob.py
Due: kubeflow-pipelines-component-yaml-v2

Reformat pytorchjob code, remove debug code
  components/kubeflow/pytorch-launcher/src/launch_pytorchjob.py
Due: none

fix: Typos in build/Dockerfile
  components/kubeflow/pytorch-launcher/Dockerfile
  components/kubeflow/pytorch-launcher/build_image.sh
Due: none

final updates from feedback
  backend/api/generate_api.sh
Due: none

go mod tidy to clean up
  go.mod
  go.sum
Due: none

Add references for Tekton backend (#4821)
  README.md
Due: none

fixed test after backend
  backend/src/v2/compiler/compiler.go
  backend/src/v2/compiler/templates/dag.go
  backend/src/v2/compiler/templates/driver.go
  backend/src/v2/compiler/templates/executor.go
Due: none

feat(sdk): Always add pipeline root as a pipeline parameter (#5122)
  sdk/python/kfp/compiler/compiler.py
  sdk/python/kfp/components/_components.py
  sdk/python/kfp/components_tests/test_components.py
  sdk/python/kfp/dsl/__init__.py
  sdk/python/tests/compiler/testdata/uri_artifacts.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

switch to Makefile
  backend/api/.gitignore
  backend/api/Dockerfile
  backend/api/Makefile
  backend/api/generate_api.sh
  backend/api/hack/generator.sh
Due: none

update
  backend/api/Dockerfile
  backend/api/Makefile
  backend/api/README.md
  backend/api/hack/generator.sh
Due: none

fix non-root execution
  backend/api/Dockerfile
  backend/api/Makefile
Due: none

feat(frontend): Show Archive tab for runs in Experiment Detail page (#5040)
  frontend/src/pages/AllRunsAndArchive.test.tsx
  frontend/src/pages/ExperimentDetails.test.tsx
  frontend/src/pages/ExperimentDetails.tsx
  frontend/src/pages/RunListsRouter.test.tsx
  frontend/src/pages/RunListsRouter.tsx
  frontend/src/pages/__snapshots__/AllRunsAndArchive.test.tsx.snap
  frontend/src/pages/__snapshots__/ExperimentDetails.test.tsx.snap
Due: none

support condition in sdk.v2
  sdk/python/kfp/v2/compiler/compiler.py
  sdk/python/kfp/v2/compiler/compiler_test.py
  sdk/python/kfp/v2/compiler_cli_tests/compiler_cli_tests.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_condition.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_condition.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_nested_conditions.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_nested_conditions.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_ontology.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_resource_spec.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_various_io_types.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/simple_pipeline_without_importer.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/two_step_pipeline_with_importer.json
  sdk/python/kfp/v2/dsl/__init__.py
  sdk/python/kfp/v2/dsl/_ops_group.py
  sdk/python/kfp/v2/dsl/_pipeline.py
  sdk/python/kfp/v2/dsl/component_spec.py
  sdk/python/kfp/v2/dsl/component_spec_test.py
  sdk/python/kfp/v2/dsl/type_utils.py
  sdk/python/kfp/v2/dsl/type_utils_test.py
  sdk/python/setup.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

Update release.sh
  hack/release.sh
Due: none

chore: restore the clone step in release.sh (#5128)
  hack/release.sh
Due: none

fix(backend): Replaced the XGBoost sample. Fixes #5089 (#5100)
  backend/Dockerfile
  backend/src/apiserver/config/sample_config.json
  frontend/src/config/sample_config_from_backend.json
  frontend/src/pages/GettingStarted.test.tsx
  frontend/src/pages/GettingStarted.tsx
  frontend/src/pages/__snapshots__/GettingStarted.test.tsx.snap
  samples/core/train_until_good/train_until_good.py
Due: none

clean up, fix release script
  RELEASE.md
  WORKSPACE
  backend/Dockerfile.bazel
  backend/README.md
  backend/api/BUILD.bazel
  backend/api/Dockerfile
  backend/api/Makefile
  backend/api/hack/generator.sh
  backend/build_api_server.sh
  developer_guide.md
  hack/check-release-needed-tools.sh
  hack/release-imp.sh
Due: none

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
