Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*

Update kustomization.yaml
  manifests/kustomize/env/platform-agnostic/mysql/kustomization.yaml
Due: none

Create mysql-serviceaccount.yaml
  manifests/kustomize/env/platform-agnostic/mysql/mysql-serviceaccount.yaml
Due: none

chore(sdk): formatting code under kfp/dsl (#5226)
  sdk/python/kfp/dsl/_component.py
  sdk/python/kfp/dsl/_component_bridge.py
  sdk/python/kfp/dsl/_container_op.py
  sdk/python/kfp/dsl/_for_loop.py
  sdk/python/kfp/dsl/_metadata.py
  sdk/python/kfp/dsl/_ops_group.py
  sdk/python/kfp/dsl/_pipeline.py
  sdk/python/kfp/dsl/_pipeline_param.py
  sdk/python/kfp/dsl/_pipeline_volume.py
  sdk/python/kfp/dsl/_resource_op.py
  sdk/python/kfp/dsl/_volume_op.py
  sdk/python/kfp/dsl/_volume_snapshot_op.py
  sdk/python/kfp/dsl/data_passing_methods.py
  sdk/python/kfp/dsl/types.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

fix(sdk/client): reserve the host protocal (http or https) so that http host can work. Fixes #4277 (#4285)
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

chore(release): KFP 0.5.2 release
  sdk/python/kfp/__init__.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

updated go dependencies
  go.mod
  go.sum
Due: none

Update image in component.yaml
  components/kubeflow/kfserving/component.yaml
Due: kubeflow-pipelines-component-yaml-v2

Link v1beta1 api docs
  components/kubeflow/kfserving/README.md
Due: none

Merge v2 dsl back to v1 dsl
  sdk/python/kfp/dsl/__init__.py
  sdk/python/kfp/dsl/_component_bridge.py
  sdk/python/kfp/dsl/_container_op.py
  sdk/python/kfp/dsl/_container_op_test.py
  sdk/python/kfp/dsl/_pipeline.py
  sdk/python/kfp/dsl/component_spec.py
  sdk/python/kfp/dsl/component_spec_test.py
  sdk/python/kfp/dsl/dsl_utils.py
  sdk/python/kfp/dsl/dsl_utils_test.py
  sdk/python/kfp/dsl/importer_node.py
  sdk/python/kfp/dsl/importer_node_test.py
  sdk/python/kfp/dsl/serialization_utils_test.py
  sdk/python/kfp/dsl/type_utils.py
  sdk/python/kfp/dsl/type_utils_test.py
  sdk/python/kfp/v2/compiler/compiler.py
  sdk/python/kfp/v2/compiler/compiler_test.py
  sdk/python/kfp/v2/dsl/__init__.py
  sdk/python/kfp/v2/dsl/_component.py
  sdk/python/kfp/v2/dsl/_ops_group.py
  sdk/python/kfp/v2/dsl/_pipeline.py
  sdk/python/kfp/v2/dsl/component_bridge.py
  sdk/python/kfp/v2/dsl/container_op.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

feat(backend): Add qps & burst options in clientset. Fix #5095
  backend/src/agent/persistence/main.go
  backend/src/apiserver/client/argo.go
  backend/src/apiserver/client/kubernetes_core.go
  backend/src/apiserver/client/swf.go
  backend/src/apiserver/client_manager.go
  backend/src/apiserver/main.go
  backend/src/cache/client/kubernetes_core.go
  backend/src/cache/client_manager.go
  backend/src/cache/main.go
  backend/src/crd/controller/scheduledworkflow/main.go
  backend/src/crd/controller/viewer/main.go
Due: none

feat(sdk): Support backoffs in retry strategy
  sdk/python/kfp/compiler/_op_to_template.py
  sdk/python/kfp/dsl/_container_op.py
  sdk/python/tests/compiler/compiler_tests.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

Add Optional type hint
  sdk/python/kfp/dsl/_container_op.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

feat(backend): upgrade argo library to 2.12.6. Part of #4553 (#5041)
  backend/src/apiserver/resource/model_converter.go
  backend/src/apiserver/resource/resource_manager_test.go
  backend/src/apiserver/resource/resource_manager_util.go
  backend/src/apiserver/server/api_converter.go
  backend/src/apiserver/server/run_server_test.go
  backend/src/common/util/formatter.go
  backend/src/common/util/formatter_test.go
  backend/src/common/util/pointer.go
  backend/src/common/util/scheduled_workflow.go
  backend/src/common/util/scheduled_workflow_test.go
  backend/src/common/util/template_util_test.go
  backend/src/common/util/workflow.go
  backend/src/common/util/workflow_test.go
  backend/src/crd/controller/scheduledworkflow/util/scheduled_workflow_test.go
  backend/src/v2/compiler/compiler.go
  backend/src/v2/compiler/templates/dag.go
  backend/src/v2/compiler/templates/driver.go
  backend/src/v2/compiler/templates/executor.go
  go.mod
  go.sum
Due: none

fix tests
  sdk/python/kfp/dsl/_component_bridge.py
  sdk/python/kfp/dsl/_container_op.py
  sdk/python/kfp/dsl/_container_op_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

Components - Updated the index of components
  components/README.md
Due: none

fix tests and always attach container_spec to container_op
  sdk/python/kfp/dsl/_component_bridge.py
  sdk/python/kfp/dsl/_container_op.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

Components - Added Great Expectations component for dataset validation
  components/great-expectations/validate/CSV/component.py
  components/great-expectations/validate/CSV/component.yaml
  components/great-expectations/validate/_samples/expectation_suite.json
  components/great-expectations/validate/_samples/sample_pipleine.py
Due: kubeflow-pipelines-component-yaml-v2

feat(sdk): Support backoffs in retry strategy (#5060)
  sdk/python/kfp/compiler/_op_to_template.py
  sdk/python/kfp/dsl/_container_op.py
  sdk/python/tests/compiler/compiler_tests.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

Apply linter
  components/great-expectations/validate/CSV/component.py
Due: none

address review comments
  sdk/python/kfp/dsl/_component_bridge.py
  sdk/python/kfp/dsl/_container_op.py
  sdk/python/kfp/dsl/_container_op_test.py
  sdk/python/kfp/v2/compiler/compiler.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

fix a bad indentation
  sdk/python/kfp/dsl/_container_op.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

Artifact class update to support protobuf Struct
  sdk/python/kfp/containers_tests/entrypoint_test.py
  sdk/python/kfp/containers_tests/entrypoint_utils_test.py
  sdk/python/kfp/containers_tests/testdata/executor_output.json
  sdk/python/kfp/dsl/artifact.py
  sdk/python/kfp/dsl/ontology_artifacts.py
  sdk/python/kfp/dsl/ontology_type_schemas/dataset.yaml
  sdk/python/kfp/dsl/ontology_type_schemas/model.yaml
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_if_placeholder.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_ontology.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_resource_spec.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_various_io_types.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/simple_pipeline_without_importer.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/two_step_pipeline_with_importer.json
  sdk/python/kfp/v2/dsl/component_spec_test.py
  sdk/python/kfp/v2/dsl/type_utils_test.py
  sdk/python/kfp/v2/google/aiplatform_test.py
  sdk/python/kfp/v2/google/testdata/expected_custom_job_pipeline.json
  sdk/python/setup.py
  sdk/python/tests/dsl/artifact_test.py
  sdk/python/tests/dsl/ontology_artifacts_test.py
  sdk/python/tests/dsl/test_data/expected_complete_artifact.json
  sdk/python/tests/dsl/test_data/expected_dataset_artifact.json
  sdk/python/tests/dsl/test_data/expected_model_artifact.json
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

Artifact class update to support protobuf Struct (#5197)
  sdk/python/kfp/containers_tests/entrypoint_test.py
  sdk/python/kfp/containers_tests/entrypoint_utils_test.py
  sdk/python/kfp/containers_tests/testdata/executor_output.json
  sdk/python/kfp/dsl/artifact.py
  sdk/python/kfp/dsl/ontology_artifacts.py
  sdk/python/kfp/dsl/ontology_type_schemas/dataset.yaml
  sdk/python/kfp/dsl/ontology_type_schemas/model.yaml
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_if_placeholder.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_ontology.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_resource_spec.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_various_io_types.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/simple_pipeline_without_importer.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/two_step_pipeline_with_importer.json
  sdk/python/kfp/v2/dsl/component_spec_test.py
  sdk/python/kfp/v2/dsl/type_utils_test.py
  sdk/python/kfp/v2/google/aiplatform_test.py
  sdk/python/kfp/v2/google/testdata/expected_custom_job_pipeline.json
  sdk/python/setup.py
  sdk/python/tests/dsl/artifact_test.py
  sdk/python/tests/dsl/ontology_artifacts_test.py
  sdk/python/tests/dsl/test_data/expected_complete_artifact.json
  sdk/python/tests/dsl/test_data/expected_dataset_artifact.json
  sdk/python/tests/dsl/test_data/expected_model_artifact.json
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

Note v1alpha2 component yaml as alt in README
  components/kubeflow/kfserving/README.md
Due: none

deployment: adjust default resource requests
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/argo.yaml
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/minio.yaml
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/mysql.yaml
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/pipeline.yaml
Due: none

deployment: adjust default resource requests (#5237)
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/argo.yaml
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/minio.yaml
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/mysql.yaml
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/pipeline.yaml
Due: none

Components - Added Kubernetes CRUD operations
  components/kubernetes/Apply_object/component.yaml
  components/kubernetes/Create_object/component.yaml
  components/kubernetes/Delete_object/component.yaml
  components/kubernetes/Get_object/component.yaml
Due: kubeflow-pipelines-component-yaml-v2

Fix import name
  frontend/src/components/Router.tsx
Due: none

Add TODO above commented test
  frontend/src/pages/AllRecurringRunsList.test.tsx
Due: none

Update mpi-job-horovod.py
  samples/contrib/kubeflow-katib/mpi-job-horovod.py
Due: none

feat(frontend): Add a new page to monitor existing Jobs (recurring runs) (#5131)
  frontend/src/components/Router.tsx
  frontend/src/components/SideNav.test.tsx
  frontend/src/components/SideNav.tsx
  frontend/src/components/__snapshots__/Router.test.tsx.snap
  frontend/src/components/__snapshots__/SideNav.test.tsx.snap
  frontend/src/pages/AllRecurringRunsList.test.tsx
  frontend/src/pages/AllRecurringRunsList.tsx
  frontend/src/pages/RecurringRunList.test.tsx
  frontend/src/pages/RecurringRunList.tsx
  frontend/src/pages/RecurringRunsManager.tsx
  frontend/src/pages/RunList.tsx
Due: none

include static files in setuptools
  sdk/python/MANIFEST.in
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

removed echo for debugging
  test/deploy-pipeline-lite.sh
Due: none

fix(sdk): include ontology_type_schemas/*.yaml in setuptools (#5241)
  sdk/python/MANIFEST.in
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2
