Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-sdk-yapf-formatting, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python38, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-v2-go-test, kubeflow-pipelines-manifests

kubeflow-pipelines-sdk-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27-v2:
  decorate: true
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-backend-visualization-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

kubeflow-pipeline-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node:12
      command:
      - /bin/sh
      args:
      - -c
      - cd ./frontend && npm run test:ci:prow

kubeflow-pipeline-backend-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.17.6-bullseye
      command:
      - ./test/presubmit-backend-test.sh

kubeflow-pipeline-e2e-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-with-pipeline-deployment.sh
      args:
      - --workflow_file
      - e2e_test_gke_v2.yaml
      - --test_result_folder
      - e2e_test

kubeflow-pipeline-mkp-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-mkp.sh

kubeflow-pipeline-mkp-snapshot-test:
  decorate: true
  spec:
    containers:
    - image: bash:alpine3.14
      command:
      - bash
      args:
      - ./manifests/gcp_marketplace/test/presubmit.sh

kubeflow-pipeline-upgrade-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/upgrade-tests.sh
      args:
      - --test_result_folder
      - upgrade_test

kubeflow-pipelines-sdk-yapf-formatting:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-formatting-sdk.sh

Update release notes
  sdk/RELEASE.md
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-yapf-formatting, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37

correct pipeline name for primitive component IR
  sdk/python/kfp/compiler/compiler.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-yapf-formatting, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

chore(release): bumped version to 2.0.0-alpha.2
  CHANGELOG.md
  VERSION
  backend/api/python_http_client/README.md
  backend/api/python_http_client/kfp_server_api/__init__.py
  backend/api/python_http_client/kfp_server_api/api_client.py
  backend/api/python_http_client/kfp_server_api/configuration.py
  backend/api/python_http_client/setup.py
  backend/api/swagger/kfp_api_single_file.swagger.json
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/application.yaml
  manifests/gcp_marketplace/schema.yaml
  manifests/kustomize/base/cache-deployer/kustomization.yaml
  manifests/kustomize/base/cache/kustomization.yaml
  manifests/kustomize/base/installs/generic/pipeline-install-config.yaml
  manifests/kustomize/base/metadata/base/kustomization.yaml
  manifests/kustomize/base/pipeline/kustomization.yaml
  manifests/kustomize/base/pipeline/metadata-writer/kustomization.yaml
  manifests/kustomize/env/gcp/inverse-proxy/kustomization.yaml
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-manifests

feat(conformance): adapt remaining tests to KF env (#7670)
  backend/src/common/client/api_server/visualization_client.go
  backend/test/integration/job_api_test.go
  backend/test/integration/run_api_test.go
  backend/test/integration/upgrade_test.go
  backend/test/integration/visualization_api_test.go
  backend/test/test_utils.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Internal change.
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/feature_transform_engine.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/feature_transform_engine_transform_configuration.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

simplify component compilation logic
  sdk/python/kfp/compiler/compiler.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-yapf-formatting, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

extract compiler methods
  sdk/python/kfp/compiler/compiler.py
  sdk/python/kfp/compiler/compiler_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-yapf-formatting, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

move compiler helpers to helpers file to avoid circular imports
  sdk/python/kfp/compiler/compiler.py
  sdk/python/kfp/compiler/helpers.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-yapf-formatting, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

remove underscore prefix from functions in hidden module
  sdk/python/kfp/compiler/compiler.py
  sdk/python/kfp/compiler/helpers.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-yapf-formatting, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

move helpers tests to helper_test module
  sdk/python/kfp/compiler/compiler_test.py
  sdk/python/kfp/compiler/helpers_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-yapf-formatting, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

put to_pipeline_spec on ComponentSpec
  sdk/python/kfp/compiler/compiler.py
  sdk/python/kfp/compiler/helpers.py
  sdk/python/kfp/components/structures.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-yapf-formatting, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

Minor changes to the feature transform engine and transform configuration component specs to support their integration.
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/feature_transform_engine.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/feature_transform_engine_transform_configuration.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

fix inputs reference
  sdk/python/kfp/components/structures.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-yapf-formatting, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

reorganize release notes
  sdk/RELEASE.md
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-yapf-formatting, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37

finalize alpha.3 notes
  sdk/RELEASE.md
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-yapf-formatting, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37

bump version to alpha.3
  sdk/python/kfp/__init__.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-yapf-formatting, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

add one more release note
  sdk/RELEASE.md
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-yapf-formatting, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37

chore(sdk): 2.0.0-alpha.3 release (#7675)
  sdk/RELEASE.md
  sdk/python/kfp/__init__.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-yapf-formatting, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

feat(google-cloud): Add GCPResources to ImportModelEvaluation component.
  components/google-cloud/google_cloud_pipeline_components/aiplatform/model/evaluation/import_model_evaluation/component.yaml
  components/google-cloud/google_cloud_pipeline_components/container/experimental/evaluation/import_model_evaluation.py
  components/google-cloud/tests/container/experimental/evaluation/test_import_model_evaluation.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

move placeholder formatting logic to structures
  sdk/python/kfp/components/structures.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-yapf-formatting, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

add placeholder formatting logic tests
  sdk/python/kfp/components/structures_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-yapf-formatting, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

update placeholder references throughout codebase
  sdk/python/kfp/compiler/pipeline_spec_builder.py
  sdk/python/kfp/components/component_factory.py
  sdk/python/kfp/components/importer_node.py
  sdk/python/kfp/components/pipeline_task.py
  sdk/python/kfp/components/placeholders.py
  sdk/python/kfp/components/placeholders_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-yapf-formatting, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

clean up component factory
  sdk/python/kfp/components/component_factory.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-yapf-formatting, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

feat(backend): Add ExecutionSpec Interface (#7531)
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/resource/resource_manager_test.go
  backend/src/apiserver/resource/resource_manager_util.go
  backend/src/apiserver/template/argo_template.go
  backend/src/apiserver/template/template.go
  backend/src/apiserver/template/v2_template.go
  backend/src/common/util/execution_spec.go
  backend/src/common/util/execution_spec_test.go
  backend/src/common/util/execution_status.go
  backend/src/common/util/scheduled_workflow.go
  backend/src/common/util/workflow.go
  backend/src/common/util/workflow_test.go
  backend/third_party_licenses/cache_server.csv
  backend/third_party_licenses/persistence_agent.csv
  backend/third_party_licenses/swf.csv
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

add E2E test cases for classification type feature attribution pipeline.
  components/google-cloud/tests/experimental/evaluation/testdata/evaluation_classification_feature_attribution_pipeline.json
Due: kubeflow-pipelines-components-google-cloud-python38

Add init file to container/experimental directory to recognize as a python module.
  components/google-cloud/google_cloud_pipeline_components/container/experimental/__init__.py
Due: kubeflow-pipelines-components-google-cloud-python38

bug(google-cloud): Fix ImportModelEvaluation component.
  components/google-cloud/google_cloud_pipeline_components/container/experimental/evaluation/import_model_evaluation.py
  components/google-cloud/tests/container/experimental/evaluation/test_import_model_evaluation.py
Due: kubeflow-pipelines-components-google-cloud-python38

feat(sdk): Implement Registry client (#7597)
  sdk/RELEASE.md
  sdk/python/kfp/registry/__init__.py
  sdk/python/kfp/registry/registry_client.py
  sdk/python/kfp/registry/registry_client_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-yapf-formatting, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-e2e-test: any of: ^(frontend/.*)|(backend/.*)|(proxy/.*)|(manifests/kustomize/.*)|(test/.*)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipeline-mkp-snapshot-test: any of: ^(manifests/gcp_marketplace/.*)$
  kubeflow-pipeline-upgrade-test: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipelines-sdk-yapf-formatting: any of: ^(sdk/.*)|(test/presubmit-formatting-sdk.sh)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python37: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python38: any of: ^(components/google-cloud/.*)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(samples/.*)|(backend/src/v2/.*)$
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-v2-go-test: any of: ^backend/src/v2/.*$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$
