Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python38, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-v2-go-test, kubeflow-pipelines-manifests

kubeflow-pipelines-sdk-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27-v2:
  decorate: true
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-backend-visualization-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

kubeflow-pipeline-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node:12
      command:
      - /bin/sh
      args:
      - -c
      - cd ./frontend && npm run test:ci:prow

kubeflow-pipeline-backend-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.17.6-bullseye
      command:
      - ./test/presubmit-backend-test.sh

kubeflow-pipeline-e2e-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-with-pipeline-deployment.sh
      args:
      - --workflow_file
      - e2e_test_gke_v2.yaml
      - --test_result_folder
      - e2e_test

kubeflow-pipeline-mkp-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-mkp.sh

kubeflow-pipeline-mkp-snapshot-test:
  decorate: true
  spec:
    containers:
    - image: bash:alpine3.14
      command:
      - bash
      args:
      - ./manifests/gcp_marketplace/test/presubmit.sh

kubeflow-pipeline-upgrade-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/upgrade-tests.sh
      args:
      - --test_result_folder
      - upgrade_test

kubeflow-pipelines-sdk-python37:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

chore(frontend): Regenerate TS client for backend changes on createPipelineVersion (#9058)
  frontend/src/apisv2beta1/filter/api.ts
  frontend/src/apisv2beta1/pipeline/api.ts
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

update argo compiler
  backend/src/apiserver/template/v2_template.go
  backend/src/v2/cmd/compiler/main.go
  backend/src/v2/compiler/argocompiler/argo.go
  backend/src/v2/compiler/argocompiler/argo_test.go
  backend/src/v2/compiler/argocompiler/container.go
  backend/src/v2/compiler/argocompiler/spec_patch.go
  backend/src/v2/compiler/argocompiler/testdata/create_mount_delete_dynamic_pvc.yaml
  backend/src/v2/compiler/testdata/create_mount_delete_dynamic_pvc.json
  backend/src/v2/compiler/testdata/create_mount_delete_dynamic_pvc_platform.json
  backend/src/v2/compiler/visitor.go
  backend/src/v2/compiler/visitor_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-samples-v2, kubeflow-pipelines-v2-go-test

fix(sdk): resolve kubernetes libary CVE
  sdk/RELEASE.md
  sdk/python/requirements.in
  sdk/python/requirements.txt
  sdk/python/setup.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

fix(sdk): resolve kubernetes libary CVE (#9060)
  sdk/RELEASE.md
  sdk/python/requirements.in
  sdk/python/requirements.txt
  sdk/python/setup.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

add component spec
  backend/src/v2/compiler/argocompiler/argo.go
  backend/src/v2/compiler/argocompiler/container.go
  backend/src/v2/compiler/argocompiler/dag.go
  backend/src/v2/compiler/argocompiler/testdata/create_mount_delete_dynamic_pvc.yaml
  backend/src/v2/compiler/argocompiler/testdata/hello_world.yaml
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-samples-v2, kubeflow-pipelines-v2-go-test

feat: add TASK_FINAL_STATUS tp ParameterTypeEnum
  api/v2alpha1/pipeline_spec.proto
Due: none

Add notes to clarify complicated logic in pipeline details. Change FE integration test back to see if it will fail.
  frontend/src/pages/PipelineDetails.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Change FE integratio test back to see if it will fail.
  test/frontend-integration-test/helloworld.spec.js
Due: kubeflow-pipeline-e2e-test

Change variable to see if the FE integration test will fail.
  test/frontend-integration-test/helloworld.spec.js
Due: kubeflow-pipeline-e2e-test

Change the outputParameterValue in FE integration as default value.
  test/frontend-integration-test/helloworld.spec.js
Due: kubeflow-pipeline-e2e-test

add defalt value
  backend/src/apiserver/template/template_test.go
  backend/src/v2/compiler/argocompiler/argo.go
  backend/src/v2/compiler/argocompiler/container.go
  backend/src/v2/compiler/argocompiler/testdata/create_mount_delete_dynamic_pvc.yaml
  backend/src/v2/compiler/argocompiler/testdata/hello_world.yaml
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-samples-v2, kubeflow-pipelines-v2-go-test

Update pipeline_spec.proto
  api/v2alpha1/pipeline_spec.proto
Due: none

feat: add TASK_FINAL_STATUS to PipelineSpec ParameterTypeEnum (#9061)
  api/v2alpha1/pipeline_spec.proto
Due: none

fix UploadPipeline/UploadPipelineVersion v2 API returns v1 object.
  backend/src/apiserver/main.go
  backend/src/apiserver/server/pipeline_upload_server.go
  backend/src/apiserver/server/pipeline_upload_server_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

feat: Add cpu_request and memory_request in pipeline_spec. (#9063)
  api/v2alpha1/pipeline_spec.proto
Due: none

update release notes
  sdk/RELEASE.md
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37

bump version
  sdk/python/kfp/__init__.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

add 1.8.20 docs
  docs/conf.py
Due: none

add driver flag
  backend/src/v2/cmd/driver/main.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-samples-v2, kubeflow-pipelines-v2-go-test

fix(backend): fix UploadPipeline/UploadPipelineVersion v2 API returns v1 object. (#9064)
  backend/src/apiserver/main.go
  backend/src/apiserver/server/pipeline_upload_server.go
  backend/src/apiserver/server/pipeline_upload_server_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Change outputParameter as inputParameter to avoid misleading.
  test/frontend-integration-test/helloworld.spec.js
Due: kubeflow-pipeline-e2e-test

Revert the tiny change in rundetails.
  frontend/src/pages/RunDetails.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Try to print out the parameter value before and after it's changed to input value.
  test/frontend-integration-test/helloworld.spec.js
Due: kubeflow-pipeline-e2e-test

Remove console.log()
  test/frontend-integration-test/helloworld.spec.js
Due: kubeflow-pipeline-e2e-test

Create a helper to check the paramValue.
  test/frontend-integration-test/helloworld.spec.js
Due: kubeflow-pipeline-e2e-test

feat(components): Add machine type for Feature Extractor component. Deprecate Dataflow-related inputs
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/feature_extractor/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

Use browser.driver to find target element.
  test/frontend-integration-test/helloworld.spec.js
Due: kubeflow-pipeline-e2e-test

support reading long file from url
  backend/src/apiserver/server/pipeline_server_test.go
  backend/src/apiserver/server/test/xgboost_sample_pipeline.yaml
  backend/src/apiserver/server/util.go
  backend/src/apiserver/server/util_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

feat(backend): updates compiler to include kubernetes-specific specs in argo workflow (#9059)
  backend/src/apiserver/template/template_test.go
  backend/src/apiserver/template/v2_template.go
  backend/src/v2/cmd/compiler/main.go
  backend/src/v2/cmd/driver/main.go
  backend/src/v2/compiler/argocompiler/argo.go
  backend/src/v2/compiler/argocompiler/argo_test.go
  backend/src/v2/compiler/argocompiler/container.go
  backend/src/v2/compiler/argocompiler/dag.go
  backend/src/v2/compiler/argocompiler/spec_patch.go
  backend/src/v2/compiler/argocompiler/testdata/create_mount_delete_dynamic_pvc.yaml
  backend/src/v2/compiler/argocompiler/testdata/hello_world.yaml
  backend/src/v2/compiler/testdata/create_mount_delete_dynamic_pvc.json
  backend/src/v2/compiler/testdata/create_mount_delete_dynamic_pvc_platform.json
  backend/src/v2/compiler/visitor.go
  backend/src/v2/compiler/visitor_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-samples-v2, kubeflow-pipelines-v2-go-test

dummy test!
  frontend/src/pages/NewRunV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Change to find_element_by_id
  test/frontend-integration-test/helloworld.spec.js
Due: kubeflow-pipeline-e2e-test

Change file by file to check where cause the e2e test failed.
  frontend/src/lib/Apis.ts
  frontend/src/lib/TriggerUtils.test.ts
  frontend/src/lib/TriggerUtils.ts
  frontend/src/pages/ExperimentDetails.test.tsx
  frontend/src/pages/RecurringRunsManager.test.tsx
  frontend/src/pages/RecurringRunsManager.tsx
  frontend/src/pages/__snapshots__/RecurringRunsManager.test.tsx.snap
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

add recurring run list changes.
  frontend/src/pages/RecurringRunList.test.tsx
  frontend/src/pages/RecurringRunList.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Change file by file to check where cause the e2e test failed.
  frontend/src/components/Trigger.tsx
  frontend/src/lib/Buttons.ts
  frontend/src/lib/Utils.test.ts
  frontend/src/lib/Utils.tsx
  frontend/src/pages/ExperimentDetails.test.tsx
  frontend/src/pages/ExperimentDetails.tsx
  frontend/src/pages/RecurringRunDetails.test.tsx
  frontend/src/pages/RecurringRunDetailsRouter.tsx
  frontend/src/pages/RecurringRunDetailsV2.test.tsx
  frontend/src/pages/RecurringRunDetailsV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

add router changes
  frontend/src/components/Router.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-e2e-test: any of: ^(frontend/.*)|(backend/.*)|(proxy/.*)|(manifests/kustomize/.*)|(test/.*)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipeline-mkp-snapshot-test: any of: ^(manifests/gcp_marketplace/.*)$
  kubeflow-pipeline-upgrade-test: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python37: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python38: any of: ^(components/google-cloud/.*)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(samples/.*)|(backend/src/v2/.*)$
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-v2-go-test: any of: ^backend/src/v2/.*$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$
