Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-mkp-test, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python37, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-manifests

kubeflow-pipelines-sdk-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27-v2:
  decorate: true
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-backend-visualization-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

kubeflow-pipeline-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node:12
      command:
      - /bin/sh
      args:
      - -c
      - cd ./frontend && npm run test:ci:prow

kubeflow-pipeline-backend-test:
  decorate: true
  spec:
    containers:
    - image: l.gcr.io/google/bazel:0.24.0
      command:
      - ./test/presubmit-backend-test.sh

kubeflow-pipeline-mkp-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-mkp.sh

kubeflow-pipelines-sdk-python36:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

add unit tests for remote_runner
  components/google-cloud/tests/aiplatform/test_remote_runner.py
  components/google-cloud/tests/aiplatform/test_utils.py
  components/google-cloud/tests/presubmit.sh
Due: kubeflow-pipelines-components-google-cloud-python37

Update package name in component code
  components/google-cloud/google_cloud_pipeline_components/aiplatform/utils.py
Due: kubeflow-pipelines-components-google-cloud-python37

add tests for prepare_param
  components/google-cloud/tests/aiplatform/test_remote_runner.py
Due: kubeflow-pipelines-components-google-cloud-python37

[google-cloud-components] - change name to google-cloud-pipeline-components (#5514)
  components/google-cloud/OWNERS
  components/google-cloud/README.md
  components/google-cloud/container/aiplatform/Dockerfile
  components/google-cloud/dependencies.py
  components/google-cloud/google_cloud_pipeline_components/__init__.py
  components/google-cloud/google_cloud_pipeline_components/aiplatform/__init__.py
  components/google-cloud/google_cloud_pipeline_components/aiplatform/remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/aiplatform/utils.py
  components/google-cloud/google_cloud_pipeline_components/version.py
  components/google-cloud/setup.py
  components/google-cloud/tests/__init__.py
  components/google-cloud/tests/aiplatform/__init__.py
  components/google-cloud/tests/presubmit.sh
Due: kubeflow-pipelines-components-google-cloud-python37

Update components/google-cloud/tests/aiplatform/test_remote_runner.py
  components/google-cloud/tests/aiplatform/test_remote_runner.py
Due: kubeflow-pipelines-components-google-cloud-python37

fix subvar
  sdk/python/kfp/dsl/component_spec.py
  sdk/python/kfp/v2/compiler/compiler.py
  sdk/python/kfp/v2/compiler_cli_tests/compiler_cli_tests.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_loops_and_conditions.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_loops_and_conditions.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_nested_loops.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_nested_loops.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

add test structure
  components/google-cloud/tests/aiplatform/test_utils.py
Due: kubeflow-pipelines-components-google-cloud-python37

updated based on review feedback.
  components/google-cloud/tests/aiplatform/test_remote_runner.py
Due: kubeflow-pipelines-components-google-cloud-python37

improve condition operand type handling
  sdk/python/kfp/dsl/component_spec.py
  sdk/python/kfp/v2/compiler/compiler.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_loops_and_conditions.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_loops_and_conditions.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

feat: customizable tensorboard image and env vars
  frontend/server/app.test.ts
  frontend/server/handlers/tensorboard.ts
  frontend/server/integration-tests/artifact-get.test.ts
  frontend/server/integration-tests/tensorboard.test.ts
  frontend/server/integration-tests/test-helper.ts
  frontend/server/k8s-helper.ts
  frontend/src/components/viewers/Tensorboard.test.tsx
  frontend/src/components/viewers/Tensorboard.tsx
  frontend/src/components/viewers/__snapshots__/Tensorboard.test.tsx.snap
  frontend/src/lib/Apis.test.ts
  frontend/src/lib/Apis.ts
  frontend/src/lib/OutputArtifactLoader.ts
Due: kubeflow-pipeline-frontend-test

feat: sample pipeline using tensorboard visualization with minio
  components/tensorflow/tensorboard/prepare_tensorboard/component.yaml
  samples/core/visualization/tensorboard_gcs.py
  samples/core/visualization/tensorboard_gcs_test.py
  samples/core/visualization/tensorboard_minio.py
  samples/core/visualization/tensorboard_minio_test.py
  samples/test/config.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml

fix(viewer): using tensorboard image without tag do not crash viewer crd controller
  backend/src/crd/controller/viewer/reconciler/reconciler.go
  backend/src/crd/controller/viewer/reconciler/reconciler_test.go
Due: kubeflow-pipeline-backend-test

change podtemplatespec format to be JSON in mlpipeline-ui-metadata
  components/tensorflow/tensorboard/prepare_tensorboard/component.yaml
  frontend/src/components/viewers/Tensorboard.tsx
  frontend/src/lib/Apis.test.ts
  frontend/src/lib/Apis.ts
  frontend/src/lib/OutputArtifactLoader.ts
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipeline-frontend-test, kubeflow-pipelines-component-yaml

fix default value
  components/tensorflow/tensorboard/prepare_tensorboard/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml

update test config
  samples/core/visualization/tensorboard_minio_test.py
  samples/test/config.yaml
Due: none

increase test timeout
  v2/test/sample_test.py
Due: kubeflow-pipelines-samples-v2

add unit tests for utils
  components/google-cloud/tests/aiplatform/test_utils.py
Due: kubeflow-pipelines-components-google-cloud-python37

order import statements
  components/google-cloud/google_cloud_pipeline_components/aiplatform/utils.py
  components/google-cloud/tests/aiplatform/test_utils.py
Due: kubeflow-pipelines-components-google-cloud-python37

Update pull_request_template.md
  .github/pull_request_template.md
Due: none

DOCS url 404 (#5455)
  components/deprecated/tfx/ExampleValidator/component.py
  components/deprecated/tfx/ExampleValidator/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml

fix test
  frontend/src/components/viewers/Tensorboard.test.tsx
  frontend/src/components/viewers/Tensorboard.tsx
  samples/core/visualization/tensorboard_gcs_test.py
  samples/test/config.yaml
Due: kubeflow-pipeline-frontend-test

fix args
  samples/core/visualization/tensorboard_gcs.py
Due: none

fix
  samples/test/config.yaml
Due: none

Default untyped pipeline arguments to string typed.
  sdk/python/kfp/dsl/_component_bridge.py
  sdk/python/kfp/v2/compiler/compiler.py
  sdk/python/kfp/v2/compiler/compiler_test.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_various_io_types.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_various_io_types.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

Remove warning on missing pipeline root at compile time
  sdk/python/kfp/v2/compiler/compiler.py
  sdk/python/kfp/v2/compiler/compiler_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

fix test
  sdk/python/kfp/dsl/_component_bridge.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

test(components/google-cloud): Unit test for remote_runner module (#5520)
  components/google-cloud/tests/aiplatform/test_remote_runner.py
  components/google-cloud/tests/aiplatform/test_utils.py
  components/google-cloud/tests/presubmit.sh
Due: kubeflow-pipelines-components-google-cloud-python37

chore: update python-aiplatform dependency to pypi
  components/google-cloud/container/aiplatform/Dockerfile
  components/google-cloud/dependencies.py
Due: kubeflow-pipelines-components-google-cloud-python37

rework the code a bit
  backend/src/apiserver/resource/resource_manager.go
  backend/src/common/util/template_util.go
Due: kubeflow-pipeline-backend-test

Update expected format for readability
  components/google-cloud/tests/aiplatform/test_utils.py
Due: kubeflow-pipelines-components-google-cloud-python37

chore(components/google-cloud): update python-aiplatform dependency to pypi (#5528)
  components/google-cloud/container/aiplatform/Dockerfile
  components/google-cloud/dependencies.py
Due: kubeflow-pipelines-components-google-cloud-python37

test(components/google-cloud): Add Unit tests for utils method (#5523)
  components/google-cloud/google_cloud_pipeline_components/aiplatform/utils.py
  components/google-cloud/tests/aiplatform/test_utils.py
Due: kubeflow-pipelines-components-google-cloud-python37

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipelines-sdk-python36: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python36: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python37: any of: ^(components/google-cloud/.*)|(test/presubmit-components-google-cloud.sh)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(v2/.*)$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$
