Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python38, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-v2-go-test, kubeflow-pipelines-manifests

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-e2e-test: any of: ^(frontend/.*)|(backend/.*)|(proxy/.*)|(manifests/kustomize/.*)|(test/.*)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipeline-mkp-snapshot-test: any of: ^(manifests/gcp_marketplace/.*)$
  kubeflow-pipeline-upgrade-test: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python37: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python38: any of: ^(components/google-cloud/.*)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(samples/.*)|(backend/src/v2/.*)$
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-v2-go-test: any of: ^backend/src/v2/.*$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$

feat(frontend): Create sections and run list for KFPv2 Run Comparison page (#7882)
  frontend/src/components/CollapseButtonSingle.test.tsx
  frontend/src/components/CollapseButtonSingle.tsx
  frontend/src/pages/Compare.test.tsx
  frontend/src/pages/Compare.tsx
  frontend/src/pages/CompareV1.test.tsx
  frontend/src/pages/CompareV1.tsx
  frontend/src/pages/CompareV2.test.tsx
  frontend/src/pages/CompareV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

docstrings
  sdk/python/kfp/deprecated/containers/_component_builder.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

missed a docstring
  sdk/python/kfp/containers/_component_builder.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

Reduce number of MLMD requests and reorganize page loading.
  frontend/src/pages/CompareV2.test.tsx
  frontend/src/pages/CompareV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

clean up pipeline samples
  sdk/python/kfp/compiler/test_data/pipelines/component_with_optional_inputs.py
  sdk/python/kfp/compiler/test_data/pipelines/component_with_optional_inputs.yaml
  sdk/python/kfp/compiler/test_data/pipelines/component_with_pip_index_urls.py
  sdk/python/kfp/compiler/test_data/pipelines/component_with_pip_index_urls.yaml
  sdk/python/kfp/compiler/test_data/pipelines/lightweight_python_functions_pipeline.py
  sdk/python/kfp/compiler/test_data/pipelines/lightweight_python_functions_pipeline.yaml
  sdk/python/kfp/compiler/test_data/pipelines/lightweight_python_functions_with_outputs.py
  sdk/python/kfp/compiler/test_data/pipelines/lightweight_python_functions_with_outputs.yaml
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_with_after.yaml
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_with_concat_placeholder.yaml
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_with_condition.yaml
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_with_env.yaml
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_with_exit_handler.yaml
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_with_gcpc_types.yaml
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_with_if_placeholder.yaml
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_with_importer.py
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_with_importer.yaml
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_with_loops.yaml
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_with_loops_and_conditions.yaml
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_with_metrics_outputs.yaml
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_with_nested_conditions.yaml
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_with_nested_conditions_yaml.yaml
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_with_nested_loops.py
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_with_nested_loops.yaml
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_with_ontology.yaml
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_with_params_containing_format.py
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_with_params_containing_format.yaml
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_with_placeholders.yaml
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_with_resource_spec.yaml
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_with_reused_component.yaml
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_with_task_final_status.yaml
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_with_task_final_status_yaml.yaml
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_with_various_io_types.yaml
  sdk/python/kfp/compiler/test_data/pipelines/two_step_pipeline.yaml
  sdk/python/kfp/compiler/test_data/pipelines/xgboost_sample_pipeline.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

Update import formatting and test styling to improve diff comparison.
  frontend/src/pages/CompareV2.test.tsx
  frontend/src/pages/CompareV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

add component compilation test cases
  sdk/python/kfp/compiler/test_data/components/add_numbers.py
  sdk/python/kfp/compiler/test_data/components/add_numbers.yaml
  sdk/python/kfp/compiler/test_data/components/component_with_pip_install.py
  sdk/python/kfp/compiler/test_data/components/component_with_pip_install.yaml
  sdk/python/kfp/compiler/test_data/components/concat_message.py
  sdk/python/kfp/compiler/test_data/components/concat_message.yaml
  sdk/python/kfp/compiler/test_data/components/dict_input.py
  sdk/python/kfp/compiler/test_data/components/dict_input.yaml
  sdk/python/kfp/compiler/test_data/components/identity.py
  sdk/python/kfp/compiler/test_data/components/identity.yaml
  sdk/python/kfp/compiler/test_data/components/identity_op.yaml
  sdk/python/kfp/compiler/test_data/components/nested_return.py
  sdk/python/kfp/compiler/test_data/components/nested_return.yaml
  sdk/python/kfp/compiler/test_data/components/output_artifact.py
  sdk/python/kfp/compiler/test_data/components/output_artifact.yaml
  sdk/python/kfp/compiler/test_data/components/output_metrics.py
  sdk/python/kfp/compiler/test_data/components/output_metrics.yaml
  sdk/python/kfp/compiler/test_data/components/preprocess.py
  sdk/python/kfp/compiler/test_data/components/preprocess.yaml
  sdk/python/kfp/compiler/test_data/components/unsupported/artifact_consumer.py
  sdk/python/kfp/compiler/test_data/components/unsupported/output_named_tuple.py
  sdk/python/kfp/compiler/test_data/components/unsupported/task_status.py
  sdk/python/kfp/compiler/test_data/components/unsupported/train.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

update compiler test_data README
  sdk/python/kfp/compiler/test_data/README.md
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

test component deserialization is lossless
  sdk/python/kfp/components/structures_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

add compiler tests
  sdk/python/kfp/compiler/compiler_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

use decorator syntactic sugar in tests
  sdk/python/kfp/components/component_decorator_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

Minor simplifications.
  frontend/src/pages/CompareV2.test.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Update tests to show error banners.
  frontend/src/pages/CompareV2.test.tsx
  frontend/src/pages/CompareV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Add runtime config model
  backend/src/apiserver/model/pipeline_spec.go
  backend/src/apiserver/model/runtime_config.go
  backend/src/apiserver/storage/run_store.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Update and centralize banner display process.
  frontend/src/pages/CompareV2.test.tsx
  frontend/src/pages/CompareV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

feat(google-cloud): Add new components 'evaluation_data_sampler' and 'evaluation_data_splitter'.
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/evaluation_data_sampler.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/evaluation_data_splitter.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

Update getArtifactTypes test.
  frontend/src/pages/CompareV2.test.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

feat(sdk): enable component compilation via component decorator (#7554)
  sdk/RELEASE.md
  sdk/python/kfp/components/component_decorator.py
  sdk/python/kfp/components/component_decorator_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

Improve tests by mocking errors accurately.
  frontend/src/pages/CompareV2.test.tsx
  frontend/src/pages/CompareV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Fix minor warnings.
  frontend/src/pages/CompareV2.test.tsx
  frontend/src/pages/CompareV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Resolve warnings and update test.
  frontend/src/pages/CompareV2.test.tsx
  frontend/src/pages/CompareV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

change bucket in pipeline input
  samples/contrib/aws-samples/mnist-kmeans-sagemaker/mnist-classification-pipeline.py
Due: kubeflow-pipelines-samples-v2

add presubmit checks, contributing guidelines, and pre-commit file
  .pre-commit-config.yaml
  sdk/CONTRIBUTING.md
  sdk/python/requirements-dev.txt
  test/presubmit-docformatter-sdk.sh
  test/presubmit-isort-sdk.sh
  test/presubmit-yapf-sdk.sh
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipeline-e2e-test, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

delete old unused formatting script
  test/presubmit-formatting-sdk.sh
Due: kubeflow-pipeline-e2e-test

Make Tables ensemble also output explanation_metadata artifact.
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/default_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/ensemble.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/feature_selection_skip_evaluation_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/feature_selection_tuning_skip_evaluation_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/skip_architecture_search_pipeline.json
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

implement config file support
  sdk/python/kfp/registry/context/__init__.py
  sdk/python/kfp/registry/context/kfp_pkg_dev.json
  sdk/python/kfp/registry/registry_client.py
  sdk/python/kfp/registry/registry_client_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

more changes
  backend/src/apiserver/resource/model_converter.go
  backend/src/apiserver/storage/run_store.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

update tests
  sdk/python/kfp/registry/registry_client_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

Decouple transform config planner from metadata
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/default_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/feature_selection_skip_evaluation_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/feature_selection_tuning_skip_evaluation_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/tabnet_hyperparameter_tuning_job_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/tabnet_trainer_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/transform_configuration_planner.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/utils.py
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/wide_and_deep_hyperparameter_tuning_job_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/wide_and_deep_trainer_pipeline.json
  components/google-cloud/tests/experimental/automl/tabular/unit/utils_test.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

implement override caching options for client
  sdk/python/kfp/client/client.py
  sdk/python/kfp/client/client_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

update PR in response to comments
  sdk/python/kfp/registry/registry_client.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2
