Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-mkp-test, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python37, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-manifests

kubeflow-pipelines-sdk-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27-v2:
  decorate: true
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-backend-visualization-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

kubeflow-pipeline-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node:12
      command:
      - /bin/sh
      args:
      - -c
      - cd ./frontend && npm run test:ci:prow

kubeflow-pipeline-backend-test:
  decorate: true
  spec:
    containers:
    - image: l.gcr.io/google/bazel:0.24.0
      command:
      - ./test/presubmit-backend-test.sh

kubeflow-pipeline-mkp-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-mkp.sh

kubeflow-pipelines-sdk-python36:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

chore(v2): static memory & cpu resource limits (#7045)
  samples/core/resource_spec/resource_spec_test.py
  samples/core/resource_spec/resource_spec_v2.py
  v2/Makefile
  v2/compiler/argo.go
  v2/compiler/container.go
  v2/compiler/dag.go
  v2/compiler/testdata/hello_world.yaml
  v2/compiler/testdata/importer.yaml
Due: kubeflow-pipelines-samples-v2

chore(v2/samples): condition v2 sample
  samples/core/condition/condition_v2.py
  v2/Makefile
Due: kubeflow-pipelines-samples-v2

driver changes for condition control flow
  v2/cmd/driver/main.go
  v2/driver/driver.go
  v2/metadata/client.go
Due: kubeflow-pipelines-samples-v2

chore(v2): condition expression
  v2/expression/expression.go
  v2/expression/expression_test.go
Due: kubeflow-pipelines-samples-v2

chore(v2): v2 condition sample and expression (#7059)
  samples/core/condition/condition_v2.py
  v2/Makefile
  v2/cmd/driver/main.go
  v2/driver/driver.go
  v2/expression/expression.go
  v2/expression/expression_test.go
  v2/metadata/client.go
Due: kubeflow-pipelines-samples-v2

feat(google-cloud): Update Evaluation Component to let the dataflow service account be an optional input
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

feat(chore): add labels and error to the gcp_resources.proto
  components/google-cloud/google_cloud_pipeline_components/proto/gcp_resources.proto
  components/google-cloud/google_cloud_pipeline_components/proto/gcp_resources_pb2.py
Due: kubeflow-pipelines-components-google-cloud-python37

chore(google-cloud): Fix evaluation metrics gcs path name
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

feat(components): Add util components for getting best trial/hyperparameters; delete HP Tuning Job lightweight python version to avoid potential confusion
  components/google-cloud/google_cloud_pipeline_components/experimental/hyperparameter_tuning_job/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/hyperparameter_tuning_job/component.py
  components/google-cloud/google_cloud_pipeline_components/experimental/hyperparameter_tuning_job/hp_tuning_job_sample.ipynb
  components/google-cloud/google_cloud_pipeline_components/experimental/hyperparameter_tuning_job/utils.py
  components/google-cloud/tests/experimental/hyperparameter_tuning_job/integration/test_component_compile.py
  components/google-cloud/tests/experimental/hyperparameter_tuning_job/testdata/hyperparameter_tuning_job_pipeline.json
  components/google-cloud/tests/experimental/hyperparameter_tuning_job/unit/test_hyperparameter_tuning_job.py
Due: kubeflow-pipelines-components-google-cloud-python37

fix(components/google-cloud): Fix Help string for dataflow python_module_path
  components/google-cloud/google_cloud_pipeline_components/container/experimental/dataflow/dataflow_launcher.py
  components/google-cloud/google_cloud_pipeline_components/container/experimental/dataflow/dataflow_python_job_remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/experimental/dataflow/python_job/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

test: Update presubmit for GCP marketplace test
  manifests/gcp_marketplace/test/presubmit.sh
Due: kubeflow-pipeline-mkp-test

feat(component): add BQ export model component
  components/google-cloud/google_cloud_pipeline_components/container/experimental/gcp_launcher/bigquery_job_remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/container/experimental/gcp_launcher/launcher.py
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/export_model/component.yaml
  components/google-cloud/tests/container/experimental/gcp_launcher/test_bigquery_job_remote_runner.py
  components/google-cloud/tests/container/experimental/gcp_launcher/test_launcher.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

parse-str-none
  components/aws/sagemaker/common/spec_input_parsers.py
Due: none

feat(components/google-cloud): Accept UnmanagedContainerModel artifact in Batch Prediction component
  components/google-cloud/google_cloud_pipeline_components/aiplatform/batch_predict_job/component.yaml
  components/google-cloud/google_cloud_pipeline_components/container/experimental/gcp_launcher/batch_prediction_job_remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/container/experimental/gcp_launcher/utils/json_util.py
  components/google-cloud/google_cloud_pipeline_components/types/artifact_types.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

chore(components): Fix typo
  components/google-cloud/google_cloud_pipeline_components/experimental/custom_job/component.yaml
  components/google-cloud/tests/experimental/custom_job/testdata/custom_training_job_pipeline.json
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

feat(google-cloud): Add 'generate_feature_attribution' and executor_output to Evaluation component inputs.
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

Fixed a typo in predict model yaml file
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/predict_model/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

feat(component): update init file for new BQ components
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/__init__.py
Due: kubeflow-pipelines-components-google-cloud-python37

Fixed a bug in remote runner that checking string is None is not enough. The default input is empty string which may fail some of the assumptions. Therefore, adding is None and len(str) checks.
  components/google-cloud/google_cloud_pipeline_components/container/experimental/gcp_launcher/bigquery_job_remote_runner.py
Due: kubeflow-pipelines-components-google-cloud-python37

chore(google-cloud): Fix Evaluation components inputs for feature attribution.
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

test: Update presubmit for GCP marketplace test (#7062)
  manifests/gcp_marketplace/test/presubmit.sh
Due: kubeflow-pipeline-mkp-test

Update README.md
  samples/README.md
Due: none

overwrite directly context_setting
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

revert non-related changes
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipelines-sdk-python36: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python36: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python37: any of: ^(components/google-cloud/.*)|(test/presubmit-components-google-cloud.sh)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(v2/.*)$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$
