Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python38, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-v2-go-test, kubeflow-pipelines-manifests

kubeflow-pipelines-sdk-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27-v2:
  decorate: true
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-backend-visualization-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

kubeflow-pipeline-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node:12
      command:
      - /bin/sh
      args:
      - -c
      - cd ./frontend && npm run test:ci:prow

kubeflow-pipeline-backend-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.17.6-bullseye
      command:
      - ./test/presubmit-backend-test.sh

kubeflow-pipeline-e2e-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-with-pipeline-deployment.sh
      args:
      - --workflow_file
      - e2e_test_gke_v2.yaml
      - --test_result_folder
      - e2e_test

kubeflow-pipeline-mkp-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-mkp.sh

kubeflow-pipeline-mkp-snapshot-test:
  decorate: true
  spec:
    containers:
    - image: bash:alpine3.14
      command:
      - bash
      args:
      - ./manifests/gcp_marketplace/test/presubmit.sh

kubeflow-pipeline-upgrade-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/upgrade-tests.sh
      args:
      - --test_result_folder
      - upgrade_test

kubeflow-pipelines-sdk-python37:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

add typing extensions dependency for all python versions
  sdk/python/requirements.in
  sdk/python/requirements.txt
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

use mock google namespace artifact for tests
  sdk/python/kfp/components/types/custom_artifact_types_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

remove print statement
  sdk/python/kfp/components/structures.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

update google artifact golden snapshot
  sdk/python/test_data/pipelines/pipeline_with_google_artifact_type.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

Render elements in the sub-layers.
  frontend/src/lib/v2/StaticFlow.ts
  frontend/src/pages/RunDetailsV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Enable the side panel for sub-DAG type node.
  frontend/src/components/tabs/RuntimeNodeDetailsV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

add argument validation
  sdk/python/kfp/client/client.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

add argument validation and tests
  sdk/python/kfp/client/client.py
  sdk/python/kfp/client/client_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

Add 'open workflow' button in sub-DAG side panel.
  frontend/src/components/tabs/RuntimeNodeDetailsV2.tsx
  frontend/src/pages/RunDetailsV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

resolve some review feedback
  sdk/python/kfp/components/component_factory.py
  sdk/python/kfp/components/executor.py
  sdk/python/kfp/components/executor_test.py
  sdk/python/kfp/components/types/custom_artifact_types.py
  sdk/python/kfp/components/types/type_annotations.py
  sdk/python/kfp/components/types/type_annotations_test.py
  sdk/python/kfp/components/types/type_utils.py
  sdk/python/requirements.in
  sdk/python/requirements.txt
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

added v2 dockerfiles
  components/aws/sagemaker/v2.Dockerfile
  components/aws/sagemaker/v2.Dockerfile.dockerignore
  components/aws/sagemaker/v2requirements.txt
Due: none

remove handling for OutputPath and InputPath custom artifact types; update function names and tests
  sdk/python/kfp/components/executor.py
  sdk/python/kfp/components/types/custom_artifact_types.py
  sdk/python/kfp/components/types/custom_artifact_types_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

took out redudant installations
  components/aws/sagemaker/TrainingJob/component.yaml
  components/aws/sagemaker/commonv2/common_inputs.py
  components/aws/sagemaker/commonv2/sagemaker_component.py
  components/aws/sagemaker/commonv2/spec_input_parsers.py
  components/aws/sagemaker/v2requirements.txt
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml

fixed image
  components/aws/sagemaker/TrainingJob/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml

clarify named tuple tests
  sdk/python/kfp/components/types/custom_artifact_types_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

fixed dockerignore
  components/aws/sagemaker/v2.Dockerfile.dockerignore
Due: none

updated docker description
  components/aws/sagemaker/v2.Dockerfile
Due: none

update executor tests
  sdk/python/kfp/components/executor_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

updated file name
  components/aws/sagemaker/requirements_v2.txt
  components/aws/sagemaker/v2.Dockerfile
Due: none

updated python and kubernetes
  components/aws/sagemaker/tests/integration_tests/component_tests/test_v2_train_component.py
  components/aws/sagemaker/tests/integration_tests/environment.yml
  components/aws/sagemaker/tests/integration_tests/utils/ack_utils.py
Due: none

reverting dependency versions
  components/aws/sagemaker/tests/integration_tests/environment.yml
Due: none

add artifact return and named tuple support; refactor; clean tests
  sdk/python/kfp/components/types/custom_artifact_types.py
  sdk/python/kfp/components/types/custom_artifact_types_test.py
  sdk/python/kfp/components/types/type_utils.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

return string representation of placeholder in pipeline_task
  sdk/python/kfp/components/pipeline_task.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

return string representation of placeholder in pipeline_task
  sdk/python/test_data/pipelines/xgboost_sample_pipeline.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

updated license
  components/aws/sagemaker/THIRD-PARTY-LICENSES.txt
Due: none

fix(sdk): keeping placeholder strings in command and args even if default value is set (#8259)
  sdk/python/kfp/components/pipeline_task.py
  sdk/python/test_data/pipelines/xgboost_sample_pipeline.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

Added icon for sub-DAG execution. Implementation for displaying task details and node information for sub-DAG execution. Implementation for getting MLMD info and update state for sub-DAG execution.
  frontend/src/components/graph/Constants.ts
  frontend/src/components/graph/SubDagNode.tsx
  frontend/src/components/tabs/RuntimeNodeDetailsV2.tsx
  frontend/src/icons/StopCircle.tsx
  frontend/src/lib/v2/DynamicFlow.ts
  frontend/src/pages/RunDetailsV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Revert "updated python and kubernetes"
  components/aws/sagemaker/tests/integration_tests/component_tests/test_v2_train_component.py
  components/aws/sagemaker/tests/integration_tests/utils/ack_utils.py
Due: none

fix(backend): fix backward compatibility
  backend/src/common/util/execution_spec.go
  backend/src/common/util/workflow.go
  backend/src/crd/controller/scheduledworkflow/util/scheduled_workflow.go
  backend/src/crd/pkg/apis/scheduledworkflow/v1beta1/types.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

implement review feedback; clean up artifact names
  sdk/python/kfp/components/executor_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

move test method
  sdk/python/kfp/components/executor_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

Make kfp package installable with poetry
  sdk/python/setup.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

fix(components): Fix input parameter in tensorboard experiment creator component
  components/google-cloud/google_cloud_pipeline_components/experimental/tensorboard/tensorboard_experiment_creator.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

Update scripts to use public ecr instead of docker
  components/aws/sagemaker/codebuild/deploy.buildspec.yml
  components/aws/sagemaker/codebuild/scripts/deploy.sh
Due: none

other codebuild specs
  components/aws/sagemaker/codebuild/integration-test.buildspec.yml
  components/aws/sagemaker/codebuild/scripts/deploy.sh
  components/aws/sagemaker/codebuild/unit-test.buildspec.yml
Due: none

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-e2e-test: any of: ^(frontend/.*)|(backend/.*)|(proxy/.*)|(manifests/kustomize/.*)|(test/.*)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipeline-mkp-snapshot-test: any of: ^(manifests/gcp_marketplace/.*)$
  kubeflow-pipeline-upgrade-test: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python37: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python38: any of: ^(components/google-cloud/.*)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(samples/.*)|(backend/src/v2/.*)$
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-v2-go-test: any of: ^backend/src/v2/.*$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$
