Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python38, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-v2-go-test, kubeflow-pipelines-manifests

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-e2e-test: any of: ^(frontend/.*)|(backend/.*)|(proxy/.*)|(manifests/kustomize/.*)|(test/.*)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipeline-mkp-snapshot-test: any of: ^(manifests/gcp_marketplace/.*)$
  kubeflow-pipeline-upgrade-test: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python37: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python38: any of: ^(components/google-cloud/.*)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(samples/.*)|(backend/src/v2/.*)$
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-v2-go-test: any of: ^backend/src/v2/.*$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$

run black on non-formatted files
  components/aws/sagemaker/TrainingJob/samples/mnist-kmeans-training/mnist-kmeans-training-pipeline.py
  components/aws/sagemaker/tests/integration_tests/utils/minio_utils.py
Due: kubeflow-pipelines-samples-v2

login to general ecr
  components/aws/sagemaker/codebuild/integration-test.buildspec.yml
  components/aws/sagemaker/codebuild/unit-test.buildspec.yml
Due: none

change default image for generate_components
  components/aws/sagemaker/common/generate_components.py
Due: none

added linting
  components/aws/sagemaker/tests/integration_tests/component_tests/test_v2_train_component.py
  components/aws/sagemaker/tests/integration_tests/scripts/run_integration_tests
Due: none

use public ecr amazon linux
  components/aws/sagemaker/Dockerfile
  components/aws/sagemaker/tests/unit_tests/Dockerfile
Due: none

use :2 tag
  components/aws/sagemaker/Dockerfile
  components/aws/sagemaker/tests/unit_tests/Dockerfile
Due: none

apply yapf formatting
  sdk/python/setup.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

update dependencies
  components/google-cloud/dependencies.py
Due: kubeflow-pipelines-components-google-cloud-python38

fix(sdk): make sdk installable with poetry (#8263)
  sdk/python/setup.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

add arg for kfp v1 or v2 build version
  components/aws/sagemaker/codebuild/deploy.buildspec.yml
  components/aws/sagemaker/codebuild/scripts/deploy.sh
Due: none

change whitespace and add docker login back for integration tests
  components/aws/sagemaker/codebuild/integration-test.buildspec.yml
  components/aws/sagemaker/codebuild/scripts/deploy.sh
Due: none

enable buildkit
  components/aws/sagemaker/codebuild/deploy.buildspec.yml
Due: none

add support for dynamic importer metadata
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_importer.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_importer.py
  sdk/python/kfp/v2/components/importer_node.py
  sdk/python/kfp/v2/components/importer_node_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

test(components): Added integration test for Sagemaker TrainingJob component v2. (#8247)
  components/aws/sagemaker/tests/integration_tests/Dockerfile
  components/aws/sagemaker/tests/integration_tests/component_tests/test_v2_train_component.py
  components/aws/sagemaker/tests/integration_tests/conftest.py
  components/aws/sagemaker/tests/integration_tests/resources/config/ack-training-job/config.yaml
  components/aws/sagemaker/tests/integration_tests/resources/definition/trainingv2_pipeline.py
  components/aws/sagemaker/tests/integration_tests/scripts/ack-rbac.yaml
  components/aws/sagemaker/tests/integration_tests/scripts/generate_trust_policy
  components/aws/sagemaker/tests/integration_tests/scripts/run_integration_tests
  components/aws/sagemaker/tests/integration_tests/utils/ack_utils.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml

removed unused dependencies
  components/aws/sagemaker/THIRD-PARTY-LICENSES.v2.txt
  components/aws/sagemaker/commonv2/sagemaker_component.py
  components/aws/sagemaker/v2.Dockerfile
Due: none

feat(sdk): add runtime logic for custom artifact types (support for custom artifact types pt. 3) (#8233)
  sdk/python/kfp/components/component_factory.py
  sdk/python/kfp/components/component_factory_test.py
  sdk/python/kfp/components/executor.py
  sdk/python/kfp/components/executor_test.py
  sdk/python/kfp/components/structures.py
  sdk/python/kfp/components/types/artifact_types.py
  sdk/python/kfp/components/types/artifact_types_test.py
  sdk/python/kfp/components/types/custom_artifact_types.py
  sdk/python/kfp/components/types/custom_artifact_types_test.py
  sdk/python/kfp/components/types/type_annotations.py
  sdk/python/kfp/components/types/type_annotations_test.py
  sdk/python/kfp/components/types/type_utils.py
  sdk/python/requirements.txt
  sdk/python/test_data/pipelines/pipeline_with_google_artifact_type.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

use v2 license file if in v2 build-mode
  components/aws/sagemaker/codebuild/scripts/deploy.sh
Due: none

fix(components):update feature_selection component with dataflow configs
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/forecasting/bqml_arima_predict_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/forecasting/bqml_arima_train_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/forecasting/utils.py
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/automl_tabular_feature_selection_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/automl_tabular_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/configs/wide_and_deep_params.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/cv_trainer.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/deprecated/default_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/ensemble.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/feature_selection.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/feature_selection_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/feature_transform_engine.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/finalizer.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/generate_analyze_and_transform_data.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/infra_validator.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/skip_architecture_search_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/split_materialized_data.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/stage_1_tuner.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/stats_and_example_gen.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/tabnet_hyperparameter_tuning_job.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/tabnet_hyperparameter_tuning_job_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/tabnet_trainer.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/tabnet_trainer_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/transform.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/transform_configuration_planner.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/utils.py
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/wide_and_deep_hyperparameter_tuning_job.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/wide_and_deep_hyperparameter_tuning_job_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/wide_and_deep_trainer.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/wide_and_deep_trainer_pipeline.json
  components/google-cloud/tests/experimental/automl/tabular/unit/utils_test.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

make build_version mandatory
  components/aws/sagemaker/codebuild/scripts/deploy.sh
Due: none

chore(components): Update scripts to use public ecr instead of docker (#8264)
  components/aws/sagemaker/Dockerfile
  components/aws/sagemaker/TrainingJob/samples/mnist-kmeans-training/mnist-kmeans-training-pipeline.py
  components/aws/sagemaker/codebuild/deploy.buildspec.yml
  components/aws/sagemaker/codebuild/scripts/deploy.sh
  components/aws/sagemaker/codebuild/unit-test.buildspec.yml
  components/aws/sagemaker/common/generate_components.py
  components/aws/sagemaker/tests/integration_tests/utils/minio_utils.py
  components/aws/sagemaker/tests/unit_tests/Dockerfile
Due: kubeflow-pipelines-samples-v2

Update pipeline-install-config.yaml
  manifests/kustomize/base/installs/generic/pipeline-install-config.yaml
Due: kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-manifests

Update cache-deployment.yaml
  manifests/kustomize/base/cache/cache-deployment.yaml
Due: kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-manifests

Update execution_cache_store_test.go
  backend/src/cache/storage/execution_cache_store_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Update execution_cache_store.go
  backend/src/cache/storage/execution_cache_store.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Update watcher.go
  backend/src/cache/server/watcher.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Update mutation.go
  backend/src/cache/server/mutation.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

fix identation
  manifests/kustomize/base/cache/cache-deployment.yaml
Due: kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-manifests

fix non-deterministic dict comprehension processing
  sdk/python/kfp/v2/components/importer_node.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

hide private methods in ConcatPlaceholders and IfPresentPlaceholder by renaming
  sdk/python/kfp/compiler/pipeline_spec_builder.py
  sdk/python/kfp/components/component_factory.py
  sdk/python/kfp/components/importer_node.py
  sdk/python/kfp/components/pipeline_task.py
  sdk/python/kfp/components/placeholders.py
  sdk/python/kfp/components/placeholders_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

rename transform and validate methods
  sdk/python/kfp/components/base_model.py
  sdk/python/kfp/components/base_model_test.py
  sdk/python/kfp/components/component_factory.py
  sdk/python/kfp/components/placeholders.py
  sdk/python/kfp/components/structures.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

removed redundant code
  components/aws/sagemaker/TrainingJob/src/TrainingJob_component.py
  components/aws/sagemaker/commonv2/sagemaker_component.py
  components/aws/sagemaker/commonv2/sagemaker_component_spec.py
Due: none

fix(backend): fix backward compatibility in scheduledworkflow (#8261)
  backend/src/common/util/execution_spec.go
  backend/src/common/util/workflow.go
  backend/src/crd/controller/scheduledworkflow/util/scheduled_workflow.go
  backend/src/crd/pkg/apis/scheduledworkflow/v1beta1/types.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

fix v1 output deserialization
  sdk/python/kfp/components/structures.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

Added comment (function for changing the state of node).
  frontend/src/pages/RunDetailsV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test
