Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-mkp-test, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python37, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-manifests

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipelines-sdk-python36: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python36: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python37: any of: ^(components/google-cloud/.*)|(test/presubmit-components-google-cloud.sh)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(v2/.*)$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$

feat(components): cleanup the deprecated fields in v1 model upload component. To migrate the component, use an importer node to create a unmanaged model artifact
  components/google-cloud/google_cloud_pipeline_components/v1/model/upload_model/component.yaml
  components/google-cloud/tests/v1/batch_predict_job/integration/test_components_compile.py
  components/google-cloud/tests/v1/batch_predict_job/testdata/batch_prediction_pipeline.json
  components/google-cloud/tests/v1/endpoint/integration/test_components_compile.py
  components/google-cloud/tests/v1/endpoint/testdata/model_deploy_pipeline.json
  components/google-cloud/tests/v1/model/integration/test_components_compile.py
  components/google-cloud/tests/v1/model/testdata/model_pipeline.json
  components/google-cloud/tests/v1/model/testdata/model_upload_pipeline.json
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

Fix parameters and align documentation with existing components.
  components/google-cloud/docs/source/google_cloud_pipeline_components.experimental.dataproc.rst
  components/google-cloud/docs/source/google_cloud_pipeline_components.experimental.rst
  components/google-cloud/google_cloud_pipeline_components/experimental/dataproc/create_pyspark_batch/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/dataproc/create_spark_batch/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/dataproc/create_spark_r_batch/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/dataproc/create_spark_sql_batch/component.yaml
  components/google-cloud/tests/container/v1/gcp_launcher/test_dataproc_batch_remote_runner.py
  components/google-cloud/tests/experimental/dataproc/integration/test_dataproc_batch_compile.py
  components/google-cloud/tests/experimental/dataproc/testdata/dataproc_create_pyspark_batch_component_pipeline.json
  components/google-cloud/tests/experimental/dataproc/testdata/dataproc_create_spark_batch_component_pipeline.json
  components/google-cloud/tests/experimental/dataproc/testdata/dataproc_create_spark_r_batch_component_pipeline.json
  components/google-cloud/tests/experimental/dataproc/testdata/dataproc_create_spark_sql_batch_component_pipeline.json
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

text
  components/google-cloud/tests/experimental/evaluation/integration/test_evaluation_components_compile.py
  components/google-cloud/tests/experimental/evaluation/testdata/evaluation_pipeline.json
Due: kubeflow-pipelines-components-google-cloud-python37

fix(backend): Read env var for default service account in multi-user mode
  backend/src/apiserver/common/config.go
  backend/src/apiserver/template/template.go
Due: kubeflow-pipeline-backend-test

fix test
  backend/src/apiserver/common/config.go
  backend/src/apiserver/server/run_server_test.go
Due: kubeflow-pipeline-backend-test

update config.json
  backend/src/apiserver/config/config.json
Due: kubeflow-pipeline-backend-test

feat(component): remove training_filter_split, validation_filter_split, test_filter_split as they are not working
  components/google-cloud/google_cloud_pipeline_components/aiplatform/automl_training_job/automl_image_training_job/component.yaml
  components/google-cloud/google_cloud_pipeline_components/aiplatform/automl_training_job/automl_text_training_job/component.yaml
  components/google-cloud/google_cloud_pipeline_components/aiplatform/automl_training_job/automl_video_training_job/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

[small] Replace deprecated tfx kubeflow example
  samples/core/tfx-oss/TFX Example.ipynb
Due: none

fix tests
  samples/test/utils/kfp/samples/test/utils.py
  sdk/python/kfp/deprecated/__init__.py
  sdk/python/kfp/deprecated/compiler/main.py
  sdk/python/kfp/deprecated/dsl/_component.py
  sdk/python/kfp/deprecated/notebook/_magic.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

inteegration tests
  samples/test/utils/kfp/samples/test/utils.py
Due: none

remove tfx tests for dependency with kfp v1
  test/sample_test.yaml
Due: none

fix e2e
  samples/core/train_until_good/train_until_good.py
Due: none

fix integration tests
  samples/core/parameterized_tfx_oss/parameterized_tfx_oss.py
  samples/core/parameterized_tfx_oss/parameterized_tfx_oss_test.py
  samples/test/config-integration.yaml
Due: none

fix(backend): Read env var for default service account in multi-user mode. Fix #7336 (#7337)
  backend/src/apiserver/common/config.go
  backend/src/apiserver/config/config.json
  backend/src/apiserver/server/run_server_test.go
  backend/src/apiserver/template/template.go
Due: kubeflow-pipeline-backend-test

fix sampe
  samples/core/secret/secret.py
Due: none

chore(release): bumped version to 1.8.1-rc.0
  CHANGELOG.md
  VERSION
  backend/api/python_http_client/README.md
  backend/api/python_http_client/kfp_server_api/__init__.py
  backend/api/python_http_client/kfp_server_api/api_client.py
  backend/api/python_http_client/kfp_server_api/configuration.py
  backend/api/python_http_client/setup.py
  backend/api/swagger/kfp_api_single_file.swagger.json
  components/README.md
  components/gcp/container/component_sdk/python/setup.py
  components/kubeflow/deployer/component.yaml
  components/kubeflow/dnntrainer/component.yaml
  components/local/confusion_matrix/component.yaml
  components/local/roc/component.yaml
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/application.yaml
  manifests/gcp_marketplace/schema.yaml
  manifests/kustomize/base/cache-deployer/kustomization.yaml
  manifests/kustomize/base/cache/kustomization.yaml
  manifests/kustomize/base/installs/generic/pipeline-install-config.yaml
  manifests/kustomize/base/metadata/base/kustomization.yaml
  manifests/kustomize/base/pipeline/kustomization.yaml
  manifests/kustomize/base/pipeline/metadata-writer/kustomization.yaml
  manifests/kustomize/env/gcp/inverse-proxy/kustomization.yaml
  samples/core/kubeflow_tf_serving/kubeflow_tf_serving.ipynb
  samples/core/xgboost_training_cm/xgboost_training_cm.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipeline-backend-test, kubeflow-pipeline-mkp-test, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-manifests

Renamed FPC components that do not match naming conventions
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/wide_and_deep_trainer.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/forecasting/prepare_data_for_train/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/forecasting/preprocess/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/forecasting/validate/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/notebooks/executor/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/tensorflow_probability/anomaly_detection/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/tensorflow_probability/anomaly_detection/postprocess.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/tensorflow_probability/anomaly_detection/preprocess.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

deletes old FPC tracking file
  components/google-cloud/first_party_components_names_with_images.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

feat(component):add enable web access to create_custom_training_job_op_from_component
  components/google-cloud/google_cloud_pipeline_components/experimental/custom_job/utils.py
  components/google-cloud/google_cloud_pipeline_components/v1/custom_job/utils.py
  components/google-cloud/tests/experimental/custom_job/unit/test_custom_job_utils.py
  components/google-cloud/tests/v1/custom_job/unit/test_custom_job_utils.py
Due: kubeflow-pipelines-components-google-cloud-python37

fix(samples): Replace deprecated tfx kubeflow example (#7342)
  samples/core/tfx-oss/TFX Example.ipynb
Due: none

feat(component): Log job launcher's pods
  components/kubeflow/common/launch_crd.py
  components/kubeflow/launcher/src/launch_tfjob.py
  components/kubeflow/pytorch-launcher/src/launch_pytorchjob.py
Due: none

chore(release): bumped version to 1.8.1
  CHANGELOG.md
  VERSION
  backend/api/python_http_client/README.md
  backend/api/python_http_client/kfp_server_api/__init__.py
  backend/api/python_http_client/kfp_server_api/api_client.py
  backend/api/python_http_client/kfp_server_api/configuration.py
  backend/api/python_http_client/setup.py
  backend/api/swagger/kfp_api_single_file.swagger.json
  components/README.md
  components/gcp/container/component_sdk/python/setup.py
  components/kubeflow/deployer/component.yaml
  components/kubeflow/dnntrainer/component.yaml
  components/local/confusion_matrix/component.yaml
  components/local/roc/component.yaml
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/application.yaml
  manifests/gcp_marketplace/schema.yaml
  manifests/kustomize/base/cache-deployer/kustomization.yaml
  manifests/kustomize/base/cache/kustomization.yaml
  manifests/kustomize/base/installs/generic/pipeline-install-config.yaml
  manifests/kustomize/base/metadata/base/kustomization.yaml
  manifests/kustomize/base/pipeline/kustomization.yaml
  manifests/kustomize/base/pipeline/metadata-writer/kustomization.yaml
  manifests/kustomize/env/gcp/inverse-proxy/kustomization.yaml
  samples/core/kubeflow_tf_serving/kubeflow_tf_serving.ipynb
  samples/core/xgboost_training_cm/xgboost_training_cm.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipeline-backend-test, kubeflow-pipeline-mkp-test, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-manifests

to address https://github.com/kubeflow/pipelines/issues/4197 note that relevant CRDs, roles and rolebindings are still needed to close the circle on this.
  frontend/src/lib/Apis.ts
  frontend/src/pages/PipelineDetails.test.tsx
  frontend/src/pages/PipelineDetails.tsx
  frontend/src/pages/PipelineList.test.tsx
  frontend/src/pages/PipelineList.tsx
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipeline-frontend-test, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

format code with prettifier
  frontend/src/lib/Apis.ts
  frontend/src/pages/PipelineList.test.tsx
  frontend/src/pages/PipelineList.tsx
Due: kubeflow-pipeline-frontend-test

chore(release): bump version to 1.8.1 on master branch
  CHANGELOG.md
  VERSION
  backend/api/python_http_client/README.md
  backend/api/python_http_client/kfp_server_api/__init__.py
  backend/api/python_http_client/kfp_server_api/api_client.py
  backend/api/python_http_client/kfp_server_api/configuration.py
  backend/api/python_http_client/setup.py
  backend/api/swagger/kfp_api_single_file.swagger.json
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/application.yaml
  manifests/gcp_marketplace/schema.yaml
  manifests/kustomize/base/cache-deployer/kustomization.yaml
  manifests/kustomize/base/cache/kustomization.yaml
  manifests/kustomize/base/installs/generic/pipeline-install-config.yaml
  manifests/kustomize/base/metadata/base/kustomization.yaml
  manifests/kustomize/base/pipeline/kustomization.yaml
  manifests/kustomize/base/pipeline/metadata-writer/kustomization.yaml
  manifests/kustomize/env/gcp/inverse-proxy/kustomization.yaml
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-mkp-test, kubeflow-pipelines-manifests

update marketplace manifest snapshot
  manifests/gcp_marketplace/test/snapshot-base.yaml
  manifests/gcp_marketplace/test/snapshot-emissary.yaml
  manifests/gcp_marketplace/test/snapshot-managed-storage-with-db-prefix.yaml
  manifests/gcp_marketplace/test/snapshot-managed-storage.yaml
Due: kubeflow-pipeline-mkp-test

Update kubeflow-e2e-mnist notebook to use KServe
  samples/contrib/kubeflow-e2e-mnist/kubeflow-e2e-mnist.ipynb
Due: none

Add outputs
  samples/contrib/kubeflow-e2e-mnist/kubeflow-e2e-mnist.ipynb
Due: none
