Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-mkp-test, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python37, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-manifests

kubeflow-pipelines-sdk-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27-v2:
  decorate: true
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-backend-visualization-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

kubeflow-pipeline-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node:12
      command:
      - /bin/sh
      args:
      - -c
      - cd ./frontend && npm run test:ci:prow

kubeflow-pipeline-backend-test:
  decorate: true
  spec:
    containers:
    - image: l.gcr.io/google/bazel:0.24.0
      command:
      - ./test/presubmit-backend-test.sh

kubeflow-pipeline-mkp-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-mkp.sh

kubeflow-pipelines-sdk-python36:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

Fix raises and update sphinx docs
  .readthedocs.yml
  components/google-cloud/docs/.readthedocs.yml
  components/google-cloud/docs/source/google_cloud_pipeline_components.aiplatform.rst
  components/google-cloud/google_cloud_pipeline_components/aiplatform/__init__.py
  components/google-cloud/google_cloud_pipeline_components/aiplatform/utils.py
  components/google-cloud/tests/aiplatform/test_componets_compile.py
  components/google-cloud/tests/aiplatform/test_utils.py
Due: kubeflow-pipelines-components-google-cloud-python37

Components - Goolge - AI Platform - Improved component generation
  components/google-cloud/google_cloud_pipeline_components/aiplatform/utils.py
Due: kubeflow-pipelines-components-google-cloud-python37

Remove __init__ files from test folder.
  components/google-cloud/tests/__init__.py
  components/google-cloud/tests/aiplatform/__init__.py
Due: kubeflow-pipelines-components-google-cloud-python37

address comments
  frontend/server/integration-tests/tensorboard.test.ts
  frontend/src/components/viewers/Tensorboard.test.tsx
  frontend/src/components/viewers/Tensorboard.tsx
  samples/core/visualization/tensorboard_gcs.py
  samples/core/visualization/tensorboard_minio.py
  samples/test/util.py
Due: kubeflow-pipeline-frontend-test

improve component logging
  samples/core/visualization/tensorboard_minio.py
Due: none

Introduce TokenCredentials abstract class
  sdk/python/kfp/__init__.py
  sdk/python/kfp/_credentials.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

Configure credentials when initializing KFP client
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

chore(components/google-cloud): Fix API documentation generator and API docs. (#5622)
  components/google-cloud/docs/.readthedocs.yml
  components/google-cloud/docs/dependencies.rst
  components/google-cloud/docs/google_cloud_pipeline_components.aiplatform.rst
  components/google-cloud/docs/setup.rst
  components/google-cloud/docs/source/conf.py
  components/google-cloud/docs/source/google_cloud_pipeline_components.aiplatform.rst
  components/google-cloud/docs/source/google_cloud_pipeline_components.rst
  components/google-cloud/docs/source/index.rst
  components/google-cloud/docs/source/modules.rst
  components/google-cloud/google_cloud_pipeline_components/aiplatform/__init__.py
  components/google-cloud/google_cloud_pipeline_components/aiplatform/utils.py
  components/google-cloud/tests/__init__.py
  components/google-cloud/tests/aiplatform/__init__.py
  components/google-cloud/tests/aiplatform/test_componets_compile.py
  components/google-cloud/tests/aiplatform/test_utils.py
Due: kubeflow-pipelines-components-google-cloud-python37

refactored code
  samples/test/metrics_visualization_v2.py
  samples/test/metrics_visualization_v2_test.py
  v2/component/launcher.go
Due: kubeflow-pipelines-samples-v2

chore(v2): metrics_visualization_v2 sample + fixed output artifact path creation (#5575)
  samples/test/config.yaml
  samples/test/metrics_visualization_v2.py
  samples/test/metrics_visualization_v2_test.py
  v2/component/launcher.go
Due: kubeflow-pipelines-samples-v2

Add supprot for uri prefix
  components/google-cloud/google_cloud_pipeline_components/aiplatform/remote_runner.py
  components/google-cloud/tests/aiplatform/test_componets_compile.py
  components/google-cloud/tests/aiplatform/test_remote_runner.py
Due: kubeflow-pipelines-components-google-cloud-python37

spell corrections
  components/google-cloud/google_cloud_pipeline_components/aiplatform/remote_runner.py
  components/google-cloud/tests/aiplatform/test_remote_runner.py
Due: kubeflow-pipelines-components-google-cloud-python37

add mlmd execution name
  v2/metadata/client.go
Due: kubeflow-pipelines-samples-v2

fix typo
  sdk/python/kfp/v2/google/experimental/custom_job.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

simple vs. advanced setting (user specified raw workerpoolspecs)
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_custom_job_spec.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_custom_job_spec.py
  sdk/python/kfp/v2/google/experimental/custom_job.py
  sdk/python/kfp/v2/google/experimental/custom_job_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

custom job
  sdk/python/kfp/dsl/_container_op.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_custom_job_spec.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_custom_job_spec.py
  sdk/python/kfp/v2/google/aiplatform.py
  sdk/python/kfp/v2/google/aiplatform_e2e_test.py
  sdk/python/kfp/v2/google/aiplatform_test.py
  sdk/python/kfp/v2/google/experimental/__init__.py
  sdk/python/kfp/v2/google/experimental/custom_job.py
  sdk/python/kfp/v2/google/experimental/custom_job_test.py
  sdk/python/kfp/v2/google/testdata/expected_custom_job_pipeline.json
  sdk/python/setup.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

Update presubmit-tests-tfx.sh
  test/presubmit-tests-tfx.sh
Due: kubeflow-pipelines-tfx-python36

Fix handling of /gcs/ resouces
  components/google-cloud/google_cloud_pipeline_components/aiplatform/remote_runner.py
  components/google-cloud/tests/aiplatform/test_remote_runner.py
Due: kubeflow-pipelines-components-google-cloud-python37

Fix handling of gs:// in init
  components/google-cloud/google_cloud_pipeline_components/aiplatform/remote_runner.py
Due: kubeflow-pipelines-components-google-cloud-python37

Removed debug print
  components/google-cloud/google_cloud_pipeline_components/aiplatform/utils.py
Due: kubeflow-pipelines-components-google-cloud-python37

added client side mlmd retry
  v2/go.mod
  v2/go.sum
  v2/metadata/client.go
Due: kubeflow-pipelines-samples-v2

Components - PyTorch - Added the Create PyTorch Model Archive component
  components/PyTorch/Create_PyTorch_Model_Archive/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml

Added component to the sample pipeline
  components/PyTorch/_samples/Train_fully-connected_network.pipeline.py
Due: none

test: Update test cases in presubmit-tests-tfx.sh (#5628)
  test/presubmit-tests-tfx.sh
Due: kubeflow-pipelines-tfx-python36

Add pipeline_root as an argument to public run methods.
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

feat: customizable tensorboard image and env + sample pipeline with minio. Fixes #5471, fixes #4714, fixes #5449, fixes #699, fixes #4290 (#5515)
  components/tensorflow/tensorboard/prepare_tensorboard/component.yaml
  frontend/server/app.test.ts
  frontend/server/handlers/tensorboard.ts
  frontend/server/integration-tests/artifact-get.test.ts
  frontend/server/integration-tests/tensorboard.test.ts
  frontend/server/integration-tests/test-helper.ts
  frontend/server/k8s-helper.ts
  frontend/src/components/viewers/Tensorboard.test.tsx
  frontend/src/components/viewers/Tensorboard.tsx
  frontend/src/components/viewers/__snapshots__/Tensorboard.test.tsx.snap
  frontend/src/lib/Apis.test.ts
  frontend/src/lib/Apis.ts
  frontend/src/lib/OutputArtifactLoader.ts
  samples/core/visualization/tensorboard_gcs.py
  samples/core/visualization/tensorboard_minio.py
  samples/core/visualization/tensorboard_minio_test.py
  samples/test/config.yaml
  samples/test/util.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipeline-frontend-test, kubeflow-pipelines-component-yaml

feat(frontend): ResourceInfo supports MLMD struct value (#5618)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ResourceInfo.test.tsx
  frontend/src/components/ResourceInfo.tsx
  frontend/src/lib/Buttons.ts
Due: kubeflow-pipeline-frontend-test

chore(v2): execution name should read from task_name custom property
  frontend/src/lib/MlmdUtils.ts
  frontend/src/pages/RunDetails.tsx
Due: kubeflow-pipeline-frontend-test

chore(v2/frontend): execution name should read from task_name custom property (#5633)
  frontend/src/lib/MlmdUtils.ts
  frontend/src/pages/RunDetails.tsx
Due: kubeflow-pipeline-frontend-test

Add InputUri and OutputUri classes
  sdk/python/kfp/components/_python_op.py
  sdk/python/kfp/components/executor.py
  sdk/python/kfp/components/executor_test.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/lightweight_python_functions_v2_pipeline.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/lightweight_python_functions_v2_pipeline.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/lightweight_python_functions_v2_with_outputs.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_importer.json
  sdk/python/kfp/v2/dsl/__init__.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

remove gcs fuse prefix
  components/google-cloud/google_cloud_pipeline_components/aiplatform/remote_runner.py
  components/google-cloud/tests/aiplatform/test_remote_runner.py
Due: kubeflow-pipelines-components-google-cloud-python37

change output artifact path to uri
  components/google-cloud/google_cloud_pipeline_components/aiplatform/utils.py
Due: kubeflow-pipelines-components-google-cloud-python37

print method call for debugging.
  components/google-cloud/google_cloud_pipeline_components/aiplatform/remote_runner.py
Due: kubeflow-pipelines-components-google-cloud-python37

fix error in print args
  components/google-cloud/google_cloud_pipeline_components/aiplatform/remote_runner.py
Due: kubeflow-pipelines-components-google-cloud-python37

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipelines-sdk-python36: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python36: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python37: any of: ^(components/google-cloud/.*)|(test/presubmit-components-google-cloud.sh)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(v2/.*)$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$
