Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python38, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-v2-go-test, kubeflow-pipelines-manifests

kubeflow-pipelines-sdk-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27-v2:
  decorate: true
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-backend-visualization-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

kubeflow-pipeline-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node:12
      command:
      - /bin/sh
      args:
      - -c
      - cd ./frontend && npm run test:ci:prow

kubeflow-pipeline-backend-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.17.6-bullseye
      command:
      - ./test/presubmit-backend-test.sh

kubeflow-pipeline-e2e-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-with-pipeline-deployment.sh
      args:
      - --workflow_file
      - e2e_test_gke_v2.yaml
      - --test_result_folder
      - e2e_test

kubeflow-pipeline-mkp-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-mkp.sh

kubeflow-pipeline-mkp-snapshot-test:
  decorate: true
  spec:
    containers:
    - image: bash:alpine3.14
      command:
      - bash
      args:
      - ./manifests/gcp_marketplace/test/presubmit.sh

kubeflow-pipeline-upgrade-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/upgrade-tests.sh
      args:
      - --test_result_folder
      - upgrade_test

kubeflow-pipelines-sdk-python37:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

change directory reference in commands
  sdk/python/kfp/compiler/test_data/pipelines/two_step_pipeline_containerized_new.py
  sdk/python/kfp/compiler/test_data/pipelines/two_step_pipeline_containerized_new.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

fix v2 sample tests for cuj3
  samples/test/config.yaml
  samples/v2/two_step_pipeline_containerized.py
  sdk/python/kfp/compiler/test_data/pipelines/two_step_pipeline_containerized.py
  sdk/python/kfp/compiler/test_data/pipelines/two_step_pipeline_containerized.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipeline-e2e-test, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

separate sh -c
  samples/v2/two_step_pipeline_containerized.py
  sdk/python/kfp/compiler/test_data/pipelines/two_step_pipeline_containerized.py
  sdk/python/kfp/compiler/test_data/pipelines/two_step_pipeline_containerized.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

remove display name
  samples/v2/two_step_pipeline_containerized.py
  sdk/python/kfp/compiler/test_data/pipelines/two_step_pipeline_containerized.py
  sdk/python/kfp/compiler/test_data/pipelines/two_step_pipeline_containerized.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

fix nit
  samples/v2/two_step_pipeline_containerized.py
  sdk/python/kfp/compiler/test_data/pipelines/two_step_pipeline_containerized.py
  sdk/python/kfp/compiler/test_data/pipelines/two_step_pipeline_containerized.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

changes with regards to PR comments
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_with_importer_and_custom_artifact_type.yaml
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_with_importer_and_gcpc_types.py
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_with_importer_and_gcpc_types.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

format pipeline_with_importer_and_gcpc_types.py
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_with_importer_and_gcpc_types.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

remove unused imports
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_with_importer_and_gcpc_types.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

fix(frontend): Added pipeline_manifest to pipeline_spec in ApiRun to enable cloning SDK-created run. (#8134)
  frontend/src/pages/NewRunV2.test.tsx
  frontend/src/pages/NewRunV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Fixed field in test components.
  frontend/src/pages/NewRunSwitcher.tsx
  frontend/src/pages/NewRunV2.test.tsx
  frontend/src/pages/NewRunV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Implement Graph Component
  sdk/python/kfp/compiler/_read_write_test_config.py
  sdk/python/kfp/compiler/compiler.py
  sdk/python/kfp/compiler/compiler_test.py
  sdk/python/kfp/compiler/compiler_utils.py
  sdk/python/kfp/compiler/pipeline_spec_builder.py
  sdk/python/kfp/compiler/pipeline_spec_builder_test.py
  sdk/python/kfp/compiler/read_write_test.py
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_in_pipeline.py
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_in_pipeline.yaml
  sdk/python/kfp/components/component_factory.py
  sdk/python/kfp/components/graph_component.py
  sdk/python/kfp/components/pipeline_context.py
  sdk/python/kfp/components/pipeline_context_test.py
  sdk/python/kfp/components/pipeline_task.py
  sdk/python/kfp/components/structures.py
  sdk/python/kfp/components/utils.py
  sdk/python/kfp/components/utils_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

isort imports
  sdk/python/kfp/compiler/compiler.py
  sdk/python/kfp/components/graph_component.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

wip
  out.yaml
  sdk/python/kfp/compiler/_read_write_test_config.py
  sdk/python/kfp/compiler/compiler_test.py
  sdk/python/kfp/compiler/pipeline_spec_builder.py
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_with_importer.yaml
  sdk/python/kfp/compiler/test_data/v1_component_yaml/trainer_component.yaml
  sdk/python/kfp/components/component_factory.py
  sdk/python/kfp/components/importer_node.py
  sdk/python/kfp/components/pipeline_channel.py
  sdk/python/kfp/components/pipeline_task.py
  sdk/python/kfp/components/structures.py
  sdk/python/kfp/components/types/type_utils.py
  sdk/python/kfp/components/types/type_utils_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

release note
  sdk/RELEASE.md
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37

feat(components): Internal Change
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/classification.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

feat(backend): Implement RuntimeConfig in backend for jobs(RecurringRun) (#8152)
  backend/src/apiserver/resource/model_converter.go
  backend/src/apiserver/resource/resource_manager_test.go
  backend/src/apiserver/server/api_converter.go
  backend/src/apiserver/server/api_converter_test.go
  backend/src/apiserver/server/job_server_test.go
  backend/src/apiserver/server/run_server_test.go
  backend/src/apiserver/storage/job_store.go
  backend/src/apiserver/storage/job_store_test.go
  backend/src/apiserver/storage/run_store.go
  backend/test/integration/run_api_test.go
  backend/test/integration/upgrade_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

add back v1 deserialization test cases
  sdk/python/kfp/compiler/_read_write_test_config.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

Pre-fill experiment name for NewRunV2.
  frontend/src/pages/NewRun.tsx
  frontend/src/pages/NewRunSwitcher.tsx
  frontend/src/pages/NewRunV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

update deserialization logic
  sdk/python/kfp/components/structures.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

update type-checking logic test
  sdk/python/kfp/compiler/compiler_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

fix docstring
  sdk/python/kfp/components/structures.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

fix is_root on dsl.Condition
  sdk/python/kfp/components/tasks_group.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

fix dsl control flow docstrings
  sdk/python/kfp/components/tasks_group.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

change name of test component
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_with_importer_and_gcpc_types.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

add pipeline_with_importer_and_gcpc_types to config
  sdk/python/kfp/compiler/_read_write_test_config.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

update yaml file
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_with_importer_and_gcpc_types.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

Bump KFP Python SDK to support Py v3.10
  sdk/python/setup.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

AIP-6501: Bump Kubernetes SDK requirements
  sdk/python/requirements.in
  sdk/python/requirements.txt
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

AIP-6501: Also bump actual requirements in setup.py
  sdk/python/setup.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

Reset requirements.* changes to isolate out Python v3.10 changes
  sdk/python/requirements.in
  sdk/python/requirements.txt
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

move changes to the minio distribution
  manifests/kustomize/base/installs/multi-user/pipelines-profile-controller/deployment.yaml
  manifests/kustomize/base/installs/multi-user/pipelines-profile-controller/sync.py
  manifests/kustomize/env/minio/OWNERS
  manifests/kustomize/env/minio/README.md
  manifests/kustomize/env/minio/argo-workflow-controller/workflow-controller-configmap-patch.yaml
  manifests/kustomize/env/minio/kubeflow-pipelines-profile-controller/Dockerfile
  manifests/kustomize/env/minio/kubeflow-pipelines-profile-controller/kubeflow-pipelines-profile-controller-patch.yaml
  manifests/kustomize/env/minio/kubeflow-pipelines-profile-controller/sync.py
  manifests/kustomize/env/minio/kustomization.yaml
  manifests/kustomize/env/minio/metacontroller/composite-controller-patch.yaml
Due: kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-manifests

rename distribution
  manifests/kustomize/env/multi-user-minio/OWNERS
  manifests/kustomize/env/multi-user-minio/README.md
  manifests/kustomize/env/multi-user-minio/argo-workflow-controller/workflow-controller-configmap-patch.yaml
  manifests/kustomize/env/multi-user-minio/kubeflow-pipelines-profile-controller/Dockerfile
  manifests/kustomize/env/multi-user-minio/kubeflow-pipelines-profile-controller/kubeflow-pipelines-profile-controller-patch.yaml
  manifests/kustomize/env/multi-user-minio/kubeflow-pipelines-profile-controller/sync.py
  manifests/kustomize/env/multi-user-minio/kustomization.yaml
  manifests/kustomize/env/multi-user-minio/metacontroller/composite-controller-patch.yaml
Due: kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-manifests

rename distribution
  manifests/kustomize/env/multi-user-minio/minio/OWNERS
  manifests/kustomize/env/multi-user-minio/minio/README.md
  manifests/kustomize/env/multi-user-minio/minio/argo-workflow-controller/workflow-controller-configmap-patch.yaml
  manifests/kustomize/env/multi-user-minio/minio/kubeflow-pipelines-profile-controller/Dockerfile
  manifests/kustomize/env/multi-user-minio/minio/kubeflow-pipelines-profile-controller/kubeflow-pipelines-profile-controller-patch.yaml
  manifests/kustomize/env/multi-user-minio/minio/kubeflow-pipelines-profile-controller/sync.py
  manifests/kustomize/env/multi-user-minio/minio/kustomization.yaml
  manifests/kustomize/env/multi-user-minio/minio/metacontroller/composite-controller-patch.yaml
Due: kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-manifests

fix kustomize build
  manifests/kustomize/env/multi-user-minio/README.md
  manifests/kustomize/env/multi-user-minio/argo-workflow-controller/workflow-controller-configmap-patch.yaml
  manifests/kustomize/env/multi-user-minio/kustomization.yaml
Due: kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-manifests

remove unecessary changes
  manifests/kustomize/base/installs/multi-user/pipelines-profile-controller/composite-controller.yaml
  manifests/kustomize/base/installs/multi-user/pipelines-profile-controller/sync.py
  manifests/kustomize/third-party/argo/base/workflow-controller-configmap-patch.yaml
Due: kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-manifests

remove wrong files
  manifests/kustomize/env/multi-user-minio/minio/OWNERS
  manifests/kustomize/env/multi-user-minio/minio/README.md
  manifests/kustomize/env/multi-user-minio/minio/argo-workflow-controller/workflow-controller-configmap-patch.yaml
  manifests/kustomize/env/multi-user-minio/minio/kubeflow-pipelines-profile-controller/Dockerfile
  manifests/kustomize/env/multi-user-minio/minio/kubeflow-pipelines-profile-controller/kubeflow-pipelines-profile-controller-patch.yaml
  manifests/kustomize/env/multi-user-minio/minio/kubeflow-pipelines-profile-controller/sync.py
  manifests/kustomize/env/multi-user-minio/minio/kustomization.yaml
  manifests/kustomize/env/multi-user-minio/minio/metacontroller/composite-controller-patch.yaml
Due: kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-manifests

feat(components): Create ResolveVertexModel component
  components/google-cloud/google_cloud_pipeline_components/container/experimental/model/__init__.py
  components/google-cloud/google_cloud_pipeline_components/container/experimental/model/resolve_vertex_model.py
  components/google-cloud/google_cloud_pipeline_components/experimental/model/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/model/resolve_vertex_model.yaml
  components/google-cloud/tests/container/experimental/model/test_resolve_vertex_model.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

add MINIO_SSL, MINIO_HOST, MINIO_PORT to env
  manifests/kustomize/base/installs/multi-user/pipelines-profile-controller/deployment.yaml
  manifests/kustomize/base/installs/multi-user/pipelines-profile-controller/sync.py
Due: kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-manifests

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-e2e-test: any of: ^(frontend/.*)|(backend/.*)|(proxy/.*)|(manifests/kustomize/.*)|(test/.*)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipeline-mkp-snapshot-test: any of: ^(manifests/gcp_marketplace/.*)$
  kubeflow-pipeline-upgrade-test: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python37: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python38: any of: ^(components/google-cloud/.*)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(samples/.*)|(backend/src/v2/.*)$
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-v2-go-test: any of: ^backend/src/v2/.*$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$
