Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-mkp-test, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python37, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-manifests

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipelines-sdk-python36: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python36: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python37: any of: ^(components/google-cloud/.*)|(test/presubmit-components-google-cloud.sh)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(v2/.*)$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$

remove withspaces
  backend/src/apiserver/config/config.json
  manifests/gcp_marketplace/test/snapshot-base.yaml
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-mkp-test

fix lint issue
  components/google-cloud/google_cloud_components/aiplatform/utils.py
Due: kubeflow-pipelines-components-google-cloud-python37

Add supported OP names and description to readme.
  components/google-cloud/README.md
Due: kubeflow-pipelines-components-google-cloud-python37

test(frontend): Resolve locale issue in tests from machine other than US. Fix #5457 (#5479)
  frontend/package.json
Due: kubeflow-pipeline-frontend-test

Update components/google-cloud/README.md
  components/google-cloud/README.md
Due: kubeflow-pipelines-components-google-cloud-python37

Remove reference to TabularDatasetImportDataOP
  components/google-cloud/README.md
  components/google-cloud/google_cloud_components/aiplatform/__init__.py
Due: kubeflow-pipelines-components-google-cloud-python37

Update components/google-cloud/google_cloud_components/aiplatform/utils.py
  components/google-cloud/google_cloud_components/aiplatform/utils.py
Due: kubeflow-pipelines-components-google-cloud-python37

minor spell correction in comment
  components/google-cloud/google_cloud_components/aiplatform/utils.py
Due: kubeflow-pipelines-components-google-cloud-python37

components: (google-cloud-sdk) Add supported OP names and description to readme. (#5487)
  components/google-cloud/README.md
  components/google-cloud/google_cloud_components/aiplatform/__init__.py
Due: kubeflow-pipelines-components-google-cloud-python37

fix: pass in class directly
  components/google-cloud/google_cloud_components/aiplatform/__init__.py
  components/google-cloud/google_cloud_components/aiplatform/utils.py
Due: kubeflow-pipelines-components-google-cloud-python37

fix tests
  samples/test/placeholder_concat.py
  v2/component/runtime_info_test.go
Due: kubeflow-pipelines-samples-v2

components: (google-cloud-sdk) Updated the docstring to match the op method signature. (#5481)
  components/google-cloud/google_cloud_components/aiplatform/utils.py
Due: kubeflow-pipelines-components-google-cloud-python37

Fix artifact FileNotFoundError
  components/google-cloud/google_cloud_components/aiplatform/remote_runner.py
Due: kubeflow-pipelines-components-google-cloud-python37

chore: resolve merge issue
  components/google-cloud/google_cloud_components/aiplatform/utils.py
Due: kubeflow-pipelines-components-google-cloud-python37

components: (google-cloud-sdk) Fix artifact FileNotFoundError (#5489)
  components/google-cloud/google_cloud_components/aiplatform/remote_runner.py
Due: kubeflow-pipelines-components-google-cloud-python37

fix: ignore None arguments
  components/google-cloud/google_cloud_components/aiplatform/utils.py
Due: kubeflow-pipelines-components-google-cloud-python37

fix: pass in class directly (#5488)
  components/google-cloud/google_cloud_components/aiplatform/__init__.py
  components/google-cloud/google_cloud_components/aiplatform/utils.py
Due: kubeflow-pipelines-components-google-cloud-python37

fix: cast to types
  components/google-cloud/google_cloud_components/aiplatform/remote_runner.py
Due: kubeflow-pipelines-components-google-cloud-python37

[google-cloud-component-sdk] fix: Ignore none (#5490)
  components/google-cloud/google_cloud_components/aiplatform/utils.py
Due: kubeflow-pipelines-components-google-cloud-python37

Update XGBoost predict components output type
  components/XGBoost/Predict/component.py
  components/XGBoost/Predict/component.yaml
  components/XGBoost/Predict/from_ApacheParquet/component.py
  components/XGBoost/Predict/from_ApacheParquet/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml

remove pipeline_root from compiler interface
  sdk/python/kfp/compiler/compiler.py
  sdk/python/kfp/dsl/_pipeline.py
  sdk/python/kfp/v2/compiler/compiler.py
  sdk/python/kfp/v2/compiler/compiler_test.py
  sdk/python/kfp/v2/compiler/main.py
  sdk/python/kfp/v2/compiler_cli_tests/compiler_cli_tests.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/lightweight_python_functions_v2_pipeline.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/lightweight_python_functions_v2_with_outputs.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_after.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_concat_placeholder.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_condition.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_custom_job_spec.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_if_placeholder.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_nested_conditions.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_nested_conditions_yaml.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_ontology.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_params_containing_format.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_resource_spec.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_reused_component.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_various_io_types.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/simple_pipeline_without_importer.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/two_step_pipeline_with_importer.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/xgboost_sample_pipeline.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

feat(v2): Support v2 components in KFP v2-compatible mode. (#5458)
  samples/test/config.yaml
  samples/test/lightweight_python_functions_v2_pipeline_test.py
  samples/test/lightweight_python_functions_v2_with_outputs_test.py
  samples/test/placeholder_concat.py
  samples/test/placeholder_concat_test.py
  sdk/python/kfp/compiler/_op_to_template.py
  sdk/python/kfp/compiler/testdata/v2_compatible_two_step_pipeline.yaml
  sdk/python/kfp/compiler/testdata/v2_compatible_two_step_pipeline_with_custom_launcher.yaml
  sdk/python/kfp/compiler/v2_compat.py
  sdk/python/kfp/dsl/_container_op.py
  v2/component/launcher.go
  v2/component/runtime_info.go
  v2/component/runtime_info_test.go
  v2/metadata/client.go
  v2/third_party/pipeline_spec/pipeline_spec.pb.go
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

fix tests
  sdk/python/kfp/compiler/testdata/v2_compatible_two_step_pipeline.yaml
  sdk/python/kfp/compiler/testdata/v2_compatible_two_step_pipeline_with_custom_launcher.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

chore(sdk.v2): Deprecate dsl.ontology_artifacts, and migrate to using dsl.io_types (#5472)
  sdk/python/kfp/compiler/testdata/v2_compatible_two_step_pipeline.yaml
  sdk/python/kfp/compiler/testdata/v2_compatible_two_step_pipeline_with_custom_launcher.yaml
  sdk/python/kfp/containers_tests/entrypoint_test.py
  sdk/python/kfp/containers_tests/entrypoint_utils_test.py
  sdk/python/kfp/dsl/component_spec.py
  sdk/python/kfp/dsl/component_spec_test.py
  sdk/python/kfp/dsl/importer_node.py
  sdk/python/kfp/dsl/importer_node_test.py
  sdk/python/kfp/dsl/io_types.py
  sdk/python/kfp/dsl/ontology_artifacts.py
  sdk/python/kfp/dsl/type_schemas/confidence_metrics.yaml
  sdk/python/kfp/dsl/type_schemas/confusion_matrix.yaml
  sdk/python/kfp/dsl/type_schemas/dataset.yaml
  sdk/python/kfp/dsl/type_schemas/model.yaml
  sdk/python/kfp/dsl/type_schemas/sliced_classification_metrics.yaml
  sdk/python/kfp/dsl/type_utils.py
  sdk/python/kfp/dsl/type_utils_test.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/lightweight_python_functions_v2_pipeline.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/lightweight_python_functions_v2_with_outputs.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_ontology.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_resource_spec.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_various_io_types.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/simple_pipeline_without_importer.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/two_step_pipeline_with_importer.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/xgboost_sample_pipeline.json
  sdk/python/kfp/v2/google/aiplatform.py
  sdk/python/kfp/v2/google/aiplatform_test.py
  sdk/python/kfp/v2/google/testdata/expected_custom_job_pipeline.json
  sdk/python/tests/dsl/artifact_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2
