Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python38, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-v2-go-test, kubeflow-pipelines-manifests

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-e2e-test: any of: ^(frontend/.*)|(backend/.*)|(proxy/.*)|(manifests/kustomize/.*)|(test/.*)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipeline-mkp-snapshot-test: any of: ^(manifests/gcp_marketplace/.*)$
  kubeflow-pipeline-upgrade-test: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python37: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python38: any of: ^(components/google-cloud/.*)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(samples/.*)|(backend/src/v2/.*)$
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-v2-go-test: any of: ^backend/src/v2/.*$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$

test: Upgrade kfp version in sagemaker component test (#8331)
  components/aws/sagemaker/tests/integration_tests/Dockerfile
  components/aws/sagemaker/tests/integration_tests/environment.yml
  components/aws/sagemaker/tests/integration_tests/scripts/run_integration_tests
Due: none

fix(components): make inputs.model_artifact_url optional in sagemaker model component
  components/aws/sagemaker/model/src/sagemaker_model_component.py
Due: none

use autodoc default options
  docs/conf.py
  docs/source/client.rst
  docs/source/compiler.rst
  docs/source/components.rst
  docs/source/dsl.rst
  docs/source/kfp.rst
  docs/source/registry.rst
Due: none

sort symbol order by typical usage patterns
  sdk/python/kfp/components/__init__.py
  sdk/python/kfp/dsl/__init__.py
  sdk/python/kfp/registry/__init__.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

include summary of submodule symbols
  docs/conf.py
  docs/requirements.txt
Due: none

expose Input[] and Output[] type generics
  docs/source/dsl.rst
  sdk/python/kfp/components/types/type_annotations.py
  sdk/python/kfp/dsl/__init__.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

include tables of contents on API reference docs pages
  docs/index.rst
Due: none

expand global TOC for discoverability
  docs/conf.py
Due: none

fix missing reference / circular import problem
  sdk/python/kfp/components/executor_test.py
  sdk/python/kfp/components/types/custom_artifact_types_test.py
  sdk/python/kfp/components/types/type_annotations.py
  sdk/python/kfp/components/types/type_annotations_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

chore: run black
  components/aws/sagemaker/model/src/sagemaker_model_component.py
Due: none

update kserve component owners
  components/kserve/OWNERS
  components/kubeflow/kfserving/OWNERS
Due: none

chore: update kserve component owners (#8342)
  components/kserve/OWNERS
  components/kubeflow/kfserving/OWNERS
Due: none

increase timeout
  components/aws/sagemaker/tests/integration_tests/scripts/run_integration_tests
Due: none

Increase minio timeout
  components/aws/sagemaker/tests/integration_tests/scripts/run_integration_tests
Due: none

Update run_integration_tests
  components/aws/sagemaker/tests/integration_tests/scripts/run_integration_tests
Due: none

Fixed Stop bug
  components/aws/sagemaker/batch_transform/component.yaml
  components/aws/sagemaker/batch_transform/src/sagemaker_transform_component.py
  components/aws/sagemaker/create_simulation_app/component.yaml
  components/aws/sagemaker/delete_simulation_app/component.yaml
  components/aws/sagemaker/deploy/component.yaml
  components/aws/sagemaker/ground_truth/component.yaml
  components/aws/sagemaker/ground_truth/src/sagemaker_ground_truth_component.py
  components/aws/sagemaker/hyperparameter_tuning/component.yaml
  components/aws/sagemaker/hyperparameter_tuning/src/sagemaker_tuning_component.py
  components/aws/sagemaker/model/component.yaml
  components/aws/sagemaker/process/component.yaml
  components/aws/sagemaker/process/src/sagemaker_process_component.py
  components/aws/sagemaker/rlestimator/component.yaml
  components/aws/sagemaker/simulation_job/component.yaml
  components/aws/sagemaker/simulation_job/src/robomaker_simulation_job_component.py
  components/aws/sagemaker/simulation_job_batch/component.yaml
  components/aws/sagemaker/train/component.yaml
  components/aws/sagemaker/train/src/sagemaker_training_component.py
  components/aws/sagemaker/workteam/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml

chore(docs): Update model README.md
  components/aws/sagemaker/model/README.md
Due: none

correct sleep
  components/aws/sagemaker/tests/integration_tests/scripts/run_integration_tests
Due: none

remove unnecessary wait
  components/aws/sagemaker/tests/integration_tests/scripts/run_integration_tests
Due: none

AIP-6692 WFSDK: Disable Retry button
  .gitlab-ci.yml
  frontend/src/apis/run/api.ts
  frontend/src/lib/Buttons.ts
  frontend/src/pages/RunDetails.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

docker build arg fix
  .gitlab-ci.yml
Due: none

remove comment
  frontend/src/lib/v2/DynamicFlow.ts
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

add v2 api proto files
  backend/api/v1beta1/auth.proto
  backend/api/v1beta1/error.proto
  backend/api/v1beta1/experiment.proto
  backend/api/v1beta1/filter.proto
  backend/api/v1beta1/healthz.proto
  backend/api/v1beta1/job.proto
  backend/api/v1beta1/parameter.proto
  backend/api/v1beta1/pipeline.proto
  backend/api/v1beta1/pipeline_spec.proto
  backend/api/v1beta1/report.proto
  backend/api/v1beta1/resource_reference.proto
  backend/api/v1beta1/run.proto
  backend/api/v1beta1/task.proto
  backend/api/v1beta1/visualization.proto
  backend/api/v2beta1/auth.proto
  backend/api/v2beta1/error.proto
  backend/api/v2beta1/experiment.proto
  backend/api/v2beta1/filter.proto
  backend/api/v2beta1/healthz.proto
  backend/api/v2beta1/pipeline.proto
  backend/api/v2beta1/recurringrun.proto
  backend/api/v2beta1/report.proto
  backend/api/v2beta1/run.proto
  backend/api/v2beta1/visualization.proto
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

test: Make ephemeral sagemaker component tests more stable (#8346)
  components/aws/sagemaker/tests/integration_tests/scripts/run_integration_tests
Due: none

feat(frontend): Complete Sub-DAG implementation in KFPv2. (#8326)
  frontend/src/components/graph/Constants.ts
  frontend/src/components/graph/ExecutionNode.tsx
  frontend/src/components/graph/SubDagNode.tsx
  frontend/src/components/tabs/RuntimeNodeDetailsV2.tsx
  frontend/src/lib/v2/DynamicFlow.test.ts
  frontend/src/lib/v2/DynamicFlow.ts
  frontend/src/lib/v2/StaticFlow.ts
  frontend/src/pages/RunDetailsV2.tsx
  frontend/src/pages/v2/DagCanvas.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

docs(components): Update public doc for evaluate model per customer feedback
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/evaluate_model/component.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/bigquery/evaluate_model/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

updated image and liscense
  components/aws/sagemaker/Changelog.md
  components/aws/sagemaker/THIRD-PARTY-LICENSES.txt
  components/aws/sagemaker/batch_transform/component.yaml
  components/aws/sagemaker/create_simulation_app/component.yaml
  components/aws/sagemaker/delete_simulation_app/component.yaml
  components/aws/sagemaker/deploy/component.yaml
  components/aws/sagemaker/ground_truth/component.yaml
  components/aws/sagemaker/hyperparameter_tuning/component.yaml
  components/aws/sagemaker/model/component.yaml
  components/aws/sagemaker/process/component.yaml
  components/aws/sagemaker/requirements.txt
  components/aws/sagemaker/rlestimator/component.yaml
  components/aws/sagemaker/simulation_job/component.yaml
  components/aws/sagemaker/simulation_job_batch/component.yaml
  components/aws/sagemaker/train/component.yaml
  components/aws/sagemaker/workteam/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml

fix: make field as option in aws batch_transform component
  components/aws/sagemaker/batch_transform/README.md
  components/aws/sagemaker/batch_transform/src/sagemaker_transform_component.py
Due: none

chore: pop ModelDataUrl if not exist
  components/aws/sagemaker/model/src/sagemaker_model_component.py
Due: none

update changelog
  components/aws/sagemaker/Changelog.md
Due: none

chore: pop DataProcessing if no value supplied
  components/aws/sagemaker/batch_transform/src/sagemaker_transform_component.py
Due: none

Upgrade mysql to 8.0-debian
  .cloudbuild.yaml
  .release.cloudbuild.yaml
  manifests/kustomize/third-party/mysql/base/mysql-deployment.yaml
  test/tag_for_hosted.sh
Due: kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-manifests

test(components): Update test
  components/aws/sagemaker/tests/unit_tests/tests/batch_transform/test_transform_component.py
  components/aws/sagemaker/tests/unit_tests/tests/model/test_model_component.py
Due: none

fix(frontend): Surface output artifact of a SubDAG by reading subtask
  frontend/src/components/graph/Constants.ts
  frontend/src/lib/v2/DynamicFlow.ts
  frontend/src/lib/v2/StaticFlow.ts
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

format
  frontend/src/lib/v2/DynamicFlow.ts
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test
