Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipelines-integration-v2

kubeflow-pipelines-sdk-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27-v2:
  decorate: true
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-backend-visualization-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

kubeflow-pipelines-integration-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./backend/src/v2/test/integration-test.sh

fix: Update RELEASE.md
  sdk/RELEASE.md
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

feat(sdk): add PipelineConfig to DSL to re-implement pipeline-level config (#11112)
  sdk/python/kfp/compiler/pipeline_spec_builder.py
  sdk/python/kfp/dsl/__init__.py
  sdk/python/kfp/dsl/component_factory.py
  sdk/python/kfp/dsl/graph_component.py
  sdk/python/kfp/dsl/pipeline_config.py
  sdk/python/kfp/dsl/pipeline_context.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

chore: fix release note (#11337)
  components/google-cloud/RELEASE.md
  sdk/RELEASE.md
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

fix(components): Fix create_custom_training_job_from_component default location
  components/google-cloud/RELEASE.md
  components/google-cloud/google_cloud_pipeline_components/v1/custom_job/component.py
Due: none

chore(components): Update docker base image to marketplace.gcr.io/google/ubuntu2404, which will install newer Python
  components/google-cloud/Dockerfile
  components/google-cloud/RELEASE.md
Due: none

Clarify comment
  sdk/python/kfp/compiler/pipeline_spec_builder.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

chore(backend) typo in max concurrency error text
  backend/src/apiserver/server/api_converter.go
  backend/src/apiserver/server/job_server_test.go
Due: none

chore(backend): typo in max concurrency error text (#11342)
  backend/src/apiserver/server/api_converter.go
  backend/src/apiserver/server/job_server_test.go
Due: none

feat(backend): implement subdag output resolution (#11196)
  backend/src/v2/component/launcher_v2.go
  backend/src/v2/driver/driver.go
  backend/src/v2/metadata/client.go
  backend/src/v2/metadata/client_fake.go
  backend/src/v2/metadata/client_test.go
  backend/src/v2/objectstore/object_store.go
  samples/v2/sample_test.py
  samples/v2/subdagio/__init__.py
  samples/v2/subdagio/artifact.py
  samples/v2/subdagio/artifact_cache.py
  samples/v2/subdagio/mixed_parameters.py
  samples/v2/subdagio/multiple_artifacts_namedtuple.py
  samples/v2/subdagio/multiple_parameters_namedtuple.py
  samples/v2/subdagio/parameter.py
  samples/v2/subdagio/parameter_cache.py
  samples/v2/subdagio/parameter_oneof.py
  sdk/python/kfp/compiler/pipeline_spec_builder.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

upstream our authorization changes for oauth2-proxy
  manifests/kustomize/base/installs/multi-user/istio-authorization-config.yaml
Due: none

Added cached layer for Go dependencies to Dockerfiles
  backend/Dockerfile
  backend/Dockerfile.cacheserver
  backend/Dockerfile.conformance
  backend/Dockerfile.driver
  backend/Dockerfile.launcher
  backend/Dockerfile.persistenceagent
  backend/Dockerfile.scheduledworkflow
  backend/Dockerfile.viewercontroller
Due: none

chore: upstream our authorization changes for oauth2-proxy (#11347)
  manifests/kustomize/base/installs/multi-user/istio-authorization-config.yaml
Due: none

UPSTREAM: <carry>: Use DSPA custom ca cert on MLMD and Persistence Agent clients
  backend/src/agent/persistence/client/pipeline_client.go
  backend/src/agent/persistence/main.go
  backend/src/apiserver/client_manager/client_manager.go
  backend/src/apiserver/common/config.go
  backend/src/common/util/service.go
  backend/src/v2/cmd/driver/main.go
  backend/src/v2/cmd/launcher-v2/main.go
  backend/src/v2/compiler/argocompiler/common.go
  backend/src/v2/compiler/argocompiler/container.go
  backend/src/v2/compiler/argocompiler/dag.go
  backend/src/v2/compiler/argocompiler/importer.go
  backend/src/v2/compiler/argocompiler/testdata/create_mount_delete_dynamic_pvc.yaml
  backend/src/v2/compiler/argocompiler/testdata/create_pod_metadata.yaml
  backend/src/v2/compiler/argocompiler/testdata/hello_world.yaml
  backend/src/v2/compiler/argocompiler/testdata/importer.yaml
  backend/src/v2/component/importer_launcher.go
  backend/src/v2/component/launcher_v2.go
  backend/src/v2/driver/driver.go
  backend/src/v2/driver/driver_test.go
  backend/src/v2/metadata/client.go
  backend/src/v2/metadata/client_test.go
Due: none

feat[frontend]: implement configmap parsing
  frontend/server/configs.ts
  frontend/server/handlers/pod-logs.ts
  frontend/server/k8s-helper.ts
  frontend/server/workflow-helper.test.ts
  frontend/server/workflow-helper.ts
Due: none

test: Fix ci-passed label update on PR synchronization
  .github/workflows/add-ci-passed-label.yml
Due: none

test: Fix ci-passed label update on PR synchronization (#11358)
  .github/workflows/add-ci-passed-label.yml
Due: none

chore: Added cached layer for Go dependencies to Dockerfiles (#11348)
  backend/Dockerfile
  backend/Dockerfile.cacheserver
  backend/Dockerfile.conformance
  backend/Dockerfile.driver
  backend/Dockerfile.launcher
  backend/Dockerfile.persistenceagent
  backend/Dockerfile.scheduledworkflow
  backend/Dockerfile.viewercontroller
Due: none

:wrench: Replace commonLabels with labels and selectors
  manifests/kustomize/base/cache-deployer/cache-deployer-deployment.yaml
  manifests/kustomize/base/cache-deployer/cache-deployer-role.yaml
  manifests/kustomize/base/cache-deployer/cache-deployer-rolebinding.yaml
  manifests/kustomize/base/cache-deployer/kustomization.yaml
  manifests/kustomize/base/cache/kustomization.yaml
  manifests/kustomize/base/installs/generic/postgres/pipeline-install-config.yaml
  manifests/kustomize/base/installs/generic/postgres/postgres-secret-extended.yaml
  manifests/kustomize/base/installs/multi-user/cache/kustomization.yaml
  manifests/kustomize/base/installs/multi-user/kustomization.yaml
  manifests/kustomize/base/installs/multi-user/pipelines-profile-controller/kustomization.yaml
  manifests/kustomize/base/installs/multi-user/pipelines-ui/kustomization.yaml
  manifests/kustomize/base/postgresql/cache/cache-deployment-patch.yaml
  manifests/kustomize/base/postgresql/pipeline/ml-pipeline-apiserver-deployment-patch.yaml
  manifests/kustomize/env/aws/kustomization.yaml
  manifests/kustomize/env/azure/kustomization.yaml
  manifests/kustomize/env/cert-manager/base/kustomization.yaml
  manifests/kustomize/env/dev/kustomization.yaml
  manifests/kustomize/env/dev/postgresql/kustomization.yaml
  manifests/kustomize/env/gcp/kustomization.yaml
  manifests/kustomize/env/plain-multi-user/kustomization.yaml
  manifests/kustomize/env/platform-agnostic-multi-user-legacy/kustomization.yaml
  manifests/kustomize/env/platform-agnostic-multi-user/kustomization.yaml
  manifests/kustomize/env/platform-agnostic-postgresql/kustomization.yaml
  manifests/kustomize/env/platform-agnostic-tekton-multi-user/kustomization.yaml
  manifests/kustomize/env/platform-agnostic-tekton/kustomization.yaml
  manifests/kustomize/sample/kustomization.yaml
  manifests/kustomize/third-party/argo/upstream/manifests/quick-start/sso/dex/kustomization.yaml
  manifests/kustomize/third-party/metacontroller/base/kustomization.yaml
Due: none

Update generated cache proto file to comply with the main IR proto files
  api/v2alpha1/go/cachekey/cache_key.pb.go
Due: none

chore: Update the generated cache proto file (#11359)
  api/v2alpha1/go/cachekey/cache_key.pb.go
Due: none

Catch exceptions in case of client side timeouts of k8s_watch.stream, adjust timeouts according to the recommendations of the Kubernetes client authors.
  backend/metadata_writer/requirements.txt
  backend/metadata_writer/src/metadata_writer.py
Due: none

feat(sdk)!: stop auto-populating metrics as dag output
  sdk/python/kfp/compiler/pipeline_spec_builder.py
  sdk/python/test_data/components/output_metrics.yaml
  sdk/python/test_data/pipelines/lightweight_python_functions_with_outputs.yaml
  sdk/python/test_data/pipelines/pipeline_with_metrics_outputs.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2

add release note
  sdk/RELEASE.md
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

Remove catch-all except so that unexpected errors are not hidden from users.
  backend/metadata_writer/src/metadata_writer.py
Due: none

fix(backend): stop heartbeat status updates in ScheduledWorkflow controller. Fixes #8757
  backend/src/crd/controller/scheduledworkflow/util/scheduled_workflow.go
Due: none

feat(sdk)!: stop auto-populating metrics as dag output (#11362)
  sdk/RELEASE.md
  sdk/python/kfp/compiler/pipeline_spec_builder.py
  sdk/python/test_data/components/output_metrics.yaml
  sdk/python/test_data/pipelines/lightweight_python_functions_with_outputs.yaml
  sdk/python/test_data/pipelines/pipeline_with_metrics_outputs.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2

chore(sdk): release KFP SDK 2.10.0
  docs/versions.json
  sdk/RELEASE.md
  sdk/python/kfp/__init__.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

fix: version check regex in test
  sdk/python/kfp/cli/cli_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
