Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python38, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-v2-go-test, kubeflow-pipelines-manifests

kubeflow-pipelines-sdk-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27-v2:
  decorate: true
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-backend-visualization-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

kubeflow-pipeline-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node:12
      command:
      - /bin/sh
      args:
      - -c
      - cd ./frontend && npm run test:ci:prow

kubeflow-pipeline-backend-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.17.6-bullseye
      command:
      - ./test/presubmit-backend-test.sh

kubeflow-pipeline-e2e-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-with-pipeline-deployment.sh
      args:
      - --workflow_file
      - e2e_test_gke_v2.yaml
      - --test_result_folder
      - e2e_test

kubeflow-pipeline-mkp-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-mkp.sh

kubeflow-pipeline-mkp-snapshot-test:
  decorate: true
  spec:
    containers:
    - image: bash:alpine3.14
      command:
      - bash
      args:
      - ./manifests/gcp_marketplace/test/presubmit.sh

kubeflow-pipeline-upgrade-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/upgrade-tests.sh
      args:
      - --test_result_folder
      - upgrade_test

kubeflow-pipelines-sdk-python37:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

change go mod
  go.mod
  go.sum
Due: none

feat(frontend): Update compare page and banner states based on run versions and count (#7844)
  frontend/src/pages/Compare.test.tsx
  frontend/src/pages/Compare.tsx
  frontend/src/pages/CompareV1.test.tsx
  frontend/src/pages/CompareV1.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

fix(deps): update dependency npm to v8 [security]
  samples/contrib/pytorch-samples/package.json
Due: kubeflow-pipelines-samples-v2

Remove unnecessary v2 feature flag in testing, add exports.
  frontend/src/pages/CompareV2.test.tsx
  frontend/src/pages/CompareV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Add isLoading to dependency list for Compare.tsx.
  frontend/src/pages/Compare.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Replace Object.create with object destructuring.
  frontend/src/pages/CompareV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

chore(release): bump version to 1.8.2 on master branch
  CHANGELOG.md
  VERSION
  backend/api/go_client/auth.pb.gw.go
  backend/api/go_client/experiment.pb.gw.go
  backend/api/go_client/healthz.pb.gw.go
  backend/api/go_client/job.pb.gw.go
  backend/api/go_client/pipeline.pb.gw.go
  backend/api/go_client/report.pb.gw.go
  backend/api/go_client/run.pb.gw.go
  backend/api/go_client/task.pb.gw.go
  backend/api/go_client/visualization.pb.gw.go
  backend/api/go_http_client/job_model/pipeline_spec_runtime_config.go
  backend/api/go_http_client/job_model/protobuf_list_value.go
  backend/api/go_http_client/job_model/protobuf_struct.go
  backend/api/go_http_client/job_model/protobuf_value.go
  backend/api/go_http_client/run_model/pipeline_spec_runtime_config.go
  backend/api/go_http_client/run_model/protobuf_list_value.go
  backend/api/go_http_client/run_model/protobuf_struct.go
  backend/api/go_http_client/run_model/protobuf_value.go
  backend/api/python_http_client/README.md
  backend/api/python_http_client/kfp_server_api/__init__.py
  backend/api/python_http_client/kfp_server_api/api_client.py
  backend/api/python_http_client/kfp_server_api/configuration.py
  backend/api/python_http_client/setup.py
  backend/api/swagger/job.swagger.json
  backend/api/swagger/kfp_api_single_file.swagger.json
  backend/api/swagger/run.swagger.json
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/application.yaml
  manifests/gcp_marketplace/schema.yaml
  manifests/kustomize/base/cache-deployer/kustomization.yaml
  manifests/kustomize/base/cache/kustomization.yaml
  manifests/kustomize/base/installs/generic/pipeline-install-config.yaml
  manifests/kustomize/base/metadata/base/kustomization.yaml
  manifests/kustomize/base/pipeline/kustomization.yaml
  manifests/kustomize/base/pipeline/metadata-writer/kustomization.yaml
  manifests/kustomize/env/gcp/inverse-proxy/kustomization.yaml
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-manifests

update gcp marketplace snapshot
  manifests/gcp_marketplace/test/snapshot-base.yaml
  manifests/gcp_marketplace/test/snapshot-emissary.yaml
  manifests/gcp_marketplace/test/snapshot-managed-storage-with-db-prefix.yaml
  manifests/gcp_marketplace/test/snapshot-managed-storage.yaml
Due: kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test

Fix AutoML Tables pipeline and builtin pipelines on VPC-SC environment.
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/default_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/tabnet_hyperparameter_tuning_job_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/tabnet_trainer_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/wide_and_deep_hyperparameter_tuning_job_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/wide_and_deep_trainer_pipeline.json
Due: kubeflow-pipelines-components-google-cloud-python38

huy
  frontend/src/i18n/vi-VN.js
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

RecurringRunsManager
  frontend/src/i18n/en-US.js
  frontend/src/i18n/vi-VN.js
  frontend/src/pages/RecurringRunsManager.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

RecurringRunsManager-e
  frontend/src/i18n/en-US.js
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

hung-conflict
  frontend/src/i18n/en-US.js
  frontend/src/i18n/vi-VN.js
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

fix(deps): update dependency protobufjs to v6.11.3 [security]
  frontend/package-lock.json
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Add tabs and tests for the Metrics section.
  frontend/src/pages/CompareV2.test.tsx
  frontend/src/pages/CompareV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Remove waitFor functions and test unchecking of checkboxes.
  frontend/src/pages/CompareV2.test.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

use aws legal approved s3 buckets
  samples/contrib/aws-samples/mnist-kmeans-sagemaker/README.md
  samples/contrib/aws-samples/simple_train_pipeline/README.md
Due: kubeflow-pipelines-samples-v2

Update use of constants across Compare pages.
  frontend/src/pages/Compare.tsx
  frontend/src/pages/CompareV1.test.tsx
  frontend/src/pages/CompareV1.tsx
  frontend/src/pages/CompareV2.test.tsx
  frontend/src/pages/CompareV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Create a new CollapseButton that uses a single section.
  frontend/src/components/CollapseButtonSingle.test.tsx
  frontend/src/components/CollapseButtonSingle.tsx
  frontend/src/pages/CompareV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Update test data for evaluation classification feature attribution pipeline.
  components/google-cloud/tests/experimental/evaluation/testdata/evaluation_classification_feature_attribution_pipeline.json
Due: kubeflow-pipelines-components-google-cloud-python38

feat(conformance): adapt run api tests to KF env (#7658)
  backend/test/integration/run_api_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

feat(conformance): adapt remaining tests to KF env (#7670)
  backend/test/integration/run_api_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Revert "feat(conformance): adapt remaining tests to KF env (#7670)"
  backend/test/integration/run_api_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Revert "feat(conformance): adapt run api tests to KF env (#7658)"
  backend/test/integration/run_api_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Revert "Update test data for evaluation classification feature attribution pipeline."
  components/google-cloud/tests/experimental/evaluation/testdata/evaluation_classification_feature_attribution_pipeline.json
Due: kubeflow-pipelines-components-google-cloud-python38

block usage of json IR in backend. change test
  backend/src/apiserver/template/template.go
  backend/src/apiserver/template/template_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

update tests
  backend/src/apiserver/resource/resource_manager_test.go
  backend/src/apiserver/server/pipeline_upload_server_test.go
  backend/src/apiserver/template/template.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

use single quotes for consistency
  sdk/python/kfp/components/placeholders.py
  sdk/python/kfp/components/placeholders_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

Update method to retrieve and group the run artifacts.
  frontend/src/components/viewers/MetricsVisualizations.tsx
  frontend/src/pages/CompareV2.tsx
  frontend/src/pages/RunDetailsV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Create better filtering mechanism for metrics types.
  frontend/src/pages/CompareV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Display the metrics artifacts in a readable, indented list format.
  frontend/src/pages/CompareV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Remove unused variables and irrelevant TODOs.
  frontend/src/pages/CompareV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Remove console.log statements.
  frontend/src/pages/CompareV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Minor comment and formatting updates.
  frontend/src/pages/CompareV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

update tests
  backend/src/apiserver/server/test/v2-hello-world.json
  backend/src/apiserver/server/test/v2-hello-world.yaml
  backend/src/apiserver/server/util_test.go
  backend/test/integration/pipeline_api_test.go
  backend/test/integration/pipeline_version_api_test.go
  backend/test/resources/v2-hello-world.json
  backend/test/resources/v2-hello-world.yaml
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Remove the filter and display functions, which will be used in a separate PR.
  frontend/src/pages/CompareV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

update tests
  backend/src/apiserver/server/test/v2-hello-world.json
  backend/src/apiserver/server/test/v2-hello-world.yaml
  backend/src/apiserver/server/util_test.go
  backend/test/integration/pipeline_version_api_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-e2e-test: any of: ^(frontend/.*)|(backend/.*)|(proxy/.*)|(manifests/kustomize/.*)|(test/.*)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipeline-mkp-snapshot-test: any of: ^(manifests/gcp_marketplace/.*)$
  kubeflow-pipeline-upgrade-test: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python37: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python38: any of: ^(components/google-cloud/.*)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(samples/.*)|(backend/src/v2/.*)$
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-v2-go-test: any of: ^backend/src/v2/.*$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$
