Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python38, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-v2-go-test, kubeflow-pipelines-manifests

kubeflow-pipelines-sdk-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27-v2:
  decorate: true
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-backend-visualization-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

kubeflow-pipeline-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node:12
      command:
      - /bin/sh
      args:
      - -c
      - cd ./frontend && npm run test:ci:prow

kubeflow-pipeline-backend-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.17.6-bullseye
      command:
      - ./test/presubmit-backend-test.sh

kubeflow-pipeline-e2e-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-with-pipeline-deployment.sh
      args:
      - --workflow_file
      - e2e_test_gke_v2.yaml
      - --test_result_folder
      - e2e_test

kubeflow-pipeline-mkp-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-mkp.sh

kubeflow-pipeline-mkp-snapshot-test:
  decorate: true
  spec:
    containers:
    - image: bash:alpine3.14
      command:
      - bash
      args:
      - ./manifests/gcp_marketplace/test/presubmit.sh

kubeflow-pipeline-upgrade-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/upgrade-tests.sh
      args:
      - --test_result_folder
      - upgrade_test

kubeflow-pipelines-sdk-python37:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

fix
  components/google-cloud/dependencies.py
Due: kubeflow-pipelines-components-google-cloud-python38

chore(component): update error_analysis component documentations
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/dataset_preprocessor/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/evaluated_annotation/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

fix sample test
  samples/v2/component_with_optional_inputs_test.py
Due: kubeflow-pipelines-samples-v2

feat(component): Create YAML definition for Feature Extractor Error Analysis component
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/feature_extractor/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

fix return collected bug
  sdk/python/kfp/compiler/compiler_utils.py
  sdk/python/kfp/compiler/pipeline_spec_builder.py
  sdk/python/test_data/pipelines/parallelfor_fan_in/return_collected_parameters.py
  sdk/python/test_data/pipelines/parallelfor_fan_in/return_collected_parameters.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

clean up compilation tests
  sdk/python/test_data/pipelines/parallelfor_fan_in/collection_at_different_levels.py
  sdk/python/test_data/pipelines/parallelfor_fan_in/collection_at_different_levels.yaml
  sdk/python/test_data/pipelines/parallelfor_fan_in/conditional_producer_and_consumers.py
  sdk/python/test_data/pipelines/parallelfor_fan_in/conditional_producer_and_consumers.yaml
  sdk/python/test_data/pipelines/parallelfor_fan_in/cross_dag_collection.py
  sdk/python/test_data/pipelines/parallelfor_fan_in/fan_in_complex.py
  sdk/python/test_data/pipelines/parallelfor_fan_in/fan_in_complex.yaml
  sdk/python/test_data/pipelines/parallelfor_fan_in/nested_with_artifact.yaml
  sdk/python/test_data/pipelines/parallelfor_fan_in/nested_with_artifacts.py
  sdk/python/test_data/pipelines/parallelfor_fan_in/nested_with_parameters.py
  sdk/python/test_data/pipelines/parallelfor_fan_in/nested_with_parameters.yaml
  sdk/python/test_data/pipelines/parallelfor_fan_in/parameters_with_conditional_consumer.yaml
  sdk/python/test_data/pipelines/parallelfor_fan_in/parameters_with_inner_condition.py
  sdk/python/test_data/pipelines/parallelfor_fan_in/pipeline_consumer.py
  sdk/python/test_data/pipelines/parallelfor_fan_in/pipeline_consumer.yaml
  sdk/python/test_data/pipelines/parallelfor_fan_in/pipeline_producer.py
  sdk/python/test_data/pipelines/parallelfor_fan_in/pipeline_producer.yaml
  sdk/python/test_data/pipelines/parallelfor_fan_in/pipeline_producer_consumer.py
  sdk/python/test_data/pipelines/parallelfor_fan_in/pipeline_producer_consumer.yaml
  sdk/python/test_data/pipelines/parallelfor_fan_in/return_collected_from_nested.py
  sdk/python/test_data/pipelines/parallelfor_fan_in/return_collected_from_nested.yaml
  sdk/python/test_data/pipelines/parallelfor_fan_in/return_collected_parameters.py
  sdk/python/test_data/pipelines/parallelfor_fan_in/return_collected_parameters.yaml
  sdk/python/test_data/pipelines/parallelfor_fan_in/simple_with_artifacts.py
  sdk/python/test_data/pipelines/parallelfor_fan_in/simple_with_artifacts.yaml
  sdk/python/test_data/pipelines/parallelfor_fan_in/simple_with_parameters.py
  sdk/python/test_data/pipelines/parallelfor_fan_in/simple_with_parameters.yaml
  sdk/python/test_data/test_data_config.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

update docstrings; update error message
  sdk/python/kfp/compiler/compiler_test.py
  sdk/python/kfp/compiler/compiler_utils.py
  sdk/python/kfp/compiler/pipeline_spec_builder.py
  sdk/python/kfp/components/for_loop.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

Make states consistent
  backend/src/apiserver/model/job.go
  backend/src/apiserver/model/run.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Remove links from error messages
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/server/pipeline_server.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Address comments
  backend/src/apiserver/server/pipeline_server_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

chore(components): Update error analysis annotation component YAML definition
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/error_analysis_annotation/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

Disable the choose button in pipeline version field if pipeline is empty. Change unit test for pipeline version Update the snapshots.
  frontend/src/pages/NewRun.test.tsx
  frontend/src/pages/NewRun.tsx
  frontend/src/pages/__snapshots__/NewRun.test.tsx.snap
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Update pipeline name when users choose different file.
  frontend/src/pages/NewPipelineVersion.test.tsx
  frontend/src/pages/NewPipelineVersion.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

For uploading pipeline, the description is not required. Change the field to optional.
  frontend/src/pages/NewPipelineVersion.tsx
  frontend/src/pages/__snapshots__/NewPipelineVersion.test.tsx.snap
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

fix(frontend): preserve run parameters on pipeline version change for cloned runs. Fixes #4944 (#8597)
  frontend/src/lib/Utils.test.ts
  frontend/src/lib/Utils.tsx
  frontend/src/pages/NewRun.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Address comments
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/server/api_converter.go
  backend/src/apiserver/server/api_util.go
  backend/src/apiserver/server/api_util_test.go
  backend/src/apiserver/server/experiment_server_test.go
  backend/src/apiserver/server/fakes_test.go
  backend/src/apiserver/server/job_server_test.go
  backend/src/apiserver/server/pipeline_server_test.go
  backend/src/apiserver/server/report_server_test.go
  backend/src/apiserver/server/run_server_test.go
  backend/src/apiserver/storage/experiment_store.go
  backend/src/common/util/error.go
  backend/test/integration/upgrade_test.go
  backend/test/test_utils.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

fix(frontend): Disable choosing pipeline version if pipeline is empty. (#8787)
  frontend/src/pages/NewRun.test.tsx
  frontend/src/pages/NewRun.tsx
  frontend/src/pages/__snapshots__/NewRun.test.tsx.snap
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

feat(components): A batch prediction model monitoring pipeline component
  components/google-cloud/google_cloud_pipeline_components/experimental/batch_predict_job/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/batch_predict_job/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

Change the order for teardown
  backend/test/integration/upgrade_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

test fix
  backend/src/v2/driver/driver.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-samples-v2, kubeflow-pipelines-v2-go-test

add run proto
  backend/api/v2beta1/run.proto
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

generate clients
  backend/api/v2beta1/go_client/run.pb.go
  backend/api/v2beta1/go_client/run.pb.gw.go
  backend/api/v2beta1/go_http_client/run_client/run_service/retry_run_parameters.go
  backend/api/v2beta1/go_http_client/run_client/run_service/retry_run_responses.go
  backend/api/v2beta1/go_http_client/run_client/run_service/run_service_client.go
  backend/api/v2beta1/python_http_client/README.md
  backend/api/v2beta1/python_http_client/docs/RunServiceApi.md
  backend/api/v2beta1/python_http_client/kfp_server_api/api/run_service_api.py
  backend/api/v2beta1/python_http_client/test/test_run_service_api.py
  backend/api/v2beta1/swagger/kfp_api_single_file.swagger.json
  backend/api/v2beta1/swagger/run.swagger.json
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

add retry run
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/server/run_server.go
  backend/src/apiserver/server/run_server_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Add protoMap to connect proto type name and usual type name.
  frontend/src/components/NewRunParametersV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

remove fan-in artifacts read/write tests
  sdk/python/test_data/pipelines/parallelfor_fan_in/nested_with_artifacts.py
  sdk/python/test_data/pipelines/parallelfor_fan_in/simple_with_artifacts.py
  sdk/python/test_data/test_data_config.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

implement review feedback
  sdk/python/kfp/compiler/compiler_utils.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

change use of additional_input_name_for_pipeline_channel
  sdk/python/kfp/compiler/compiler_utils.py
  sdk/python/kfp/compiler/pipeline_spec_builder.py
  sdk/python/kfp/compiler/pipeline_spec_builder_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

fix(frontend): Change the pipeline description field as optional. (#8793)
  frontend/src/pages/NewPipelineVersion.tsx
  frontend/src/pages/__snapshots__/NewPipelineVersion.test.tsx.snap
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-e2e-test: any of: ^(frontend/.*)|(backend/.*)|(proxy/.*)|(manifests/kustomize/.*)|(test/.*)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipeline-mkp-snapshot-test: any of: ^(manifests/gcp_marketplace/.*)$
  kubeflow-pipeline-upgrade-test: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python37: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python38: any of: ^(components/google-cloud/.*)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(samples/.*)|(backend/src/v2/.*)$
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-v2-go-test: any of: ^backend/src/v2/.*$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$
