Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-mkp-test, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python37, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-manifests

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipelines-sdk-python36: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python36: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python37: any of: ^(components/google-cloud/.*)|(test/presubmit-components-google-cloud.sh)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(v2/.*)$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$

fix argo workflow ttlStrategy
  sdk/python/kfp/compiler/compiler.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

Update _container_op.py
  sdk/python/kfp/dsl/_container_op.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

chore(components/google-cloud): Replace executor input with json escaped placeholder.
  components/google-cloud/google_cloud_pipeline_components/experimental/custom_job/custom_job.py
  components/google-cloud/tests/experimental/custom_job/unit/test_custom_job.py
Due: kubeflow-pipelines-components-google-cloud-python37

Implement v2 experimental compiler.
  sdk/python/kfp/v2/compiler/compiler_utils.py
  sdk/python/kfp/v2/compiler/experimental/__init__.py
  sdk/python/kfp/v2/compiler/experimental/compiler.py
  sdk/python/kfp/v2/compiler/experimental/compiler_test.py
  sdk/python/kfp/v2/compiler/experimental/pipeline_spec_builder.py
  sdk/python/kfp/v2/compiler/experimental/pipeline_spec_builder_test.py
  sdk/python/kfp/v2/compiler/main.py
  sdk/python/kfp/v2/compiler_cli_tests/compiler_cli_tests.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/experimental_pipeline_with_exit_handler.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/experimental_pipeline_with_exit_handler.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/experimental_pipeline_with_loops.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/experimental_pipeline_with_loops.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/experimental_pipeline_with_nested_conditions_yaml.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/experimental_pipeline_with_nested_conditions_yaml.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/experimental_two_step_pipeline.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/experimental_two_step_pipeline.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/experimental_v2_component.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/experimental_v2_component.py
  sdk/python/kfp/v2/components/experimental/base_component.py
  sdk/python/kfp/v2/components/experimental/component_factory.py
  sdk/python/kfp/v2/components/experimental/for_loop.py
  sdk/python/kfp/v2/components/experimental/for_loop_test.py
  sdk/python/kfp/v2/components/experimental/pipeline.py
  sdk/python/kfp/v2/components/experimental/pipeline_channel.py
  sdk/python/kfp/v2/components/experimental/pipeline_task.py
  sdk/python/kfp/v2/components/experimental/pipeline_task_test.py
  sdk/python/kfp/v2/components/experimental/structures.py
  sdk/python/kfp/v2/components/experimental/tasks_group.py
  sdk/python/kfp/v2/components/experimental/yaml_component.py
  sdk/python/kfp/v2/components/types/experimental/__init__.py
  sdk/python/kfp/v2/components/types/experimental/type_utils.py
  sdk/python/kfp/v2/components/utils.py
  sdk/python/kfp/v2/components/utils_test.py
  sdk/python/kfp/v2/dsl/experimental/__init__.py
  sdk/python/requirements.in
  sdk/python/requirements.txt
  sdk/python/setup.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

Use google.protobuf.Value in v2 for passing parameters.
  api/v2alpha1/cache_key.proto
  api/v2alpha1/go/cachekey/cache_key.pb.go
  api/v2alpha1/python/kfp/pipeline_spec/__init__.py
  sdk/python/kfp/compiler/v2_compat.py
  sdk/python/kfp/dsl/_component_bridge.py
  sdk/python/kfp/dsl/component_spec.py
  sdk/python/kfp/v2/compiler/compiler.py
  sdk/python/kfp/v2/compiler/compiler_utils.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_loops.py
  sdk/python/kfp/v2/components/component_factory.py
  sdk/python/kfp/v2/components/executor.py
  sdk/python/kfp/v2/components/executor_main.py
  sdk/python/kfp/v2/components/types/type_utils.py
  sdk/python/setup.py
  v2/cacheutils/cache.go
  v2/component/launcher.go
  v2/component/launcher_v2.go
  v2/component/runtime_info.go
  v2/component/runtime_info_test.go
  v2/metadata/client.go
  v2/metadata/converter.go
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

Update to support kfp 1.7.0
  components/aws/sagemaker/dev_requirements.txt
  components/aws/sagemaker/tests/integration_tests/.env.example
  components/aws/sagemaker/tests/integration_tests/environment.yml
  components/aws/sagemaker/tests/integration_tests/scripts/run_integration_tests
  components/aws/sagemaker/tests/integration_tests/utils/minio_utils.py
Due: none

add release note
  sdk/RELEASE.md
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36

fix(backend): Fix typo in log message
  backend/src/apiserver/client/swf.go
Due: kubeflow-pipeline-backend-test

Support protobuf.Value in Condition operand
  sdk/python/kfp/v2/compiler/experimental/pipeline_spec_builder.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/experimental_pipeline_with_nested_conditions_yaml.json
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

feat(sdk.v2): Implement v2 experimental compiler. (#6803)
  sdk/RELEASE.md
  sdk/python/kfp/v2/compiler/compiler_utils.py
  sdk/python/kfp/v2/compiler/experimental/__init__.py
  sdk/python/kfp/v2/compiler/experimental/compiler.py
  sdk/python/kfp/v2/compiler/experimental/compiler_test.py
  sdk/python/kfp/v2/compiler/experimental/pipeline_spec_builder.py
  sdk/python/kfp/v2/compiler/experimental/pipeline_spec_builder_test.py
  sdk/python/kfp/v2/compiler/main.py
  sdk/python/kfp/v2/compiler_cli_tests/compiler_cli_tests.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/experimental_pipeline_with_exit_handler.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/experimental_pipeline_with_exit_handler.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/experimental_pipeline_with_loops.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/experimental_pipeline_with_loops.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/experimental_pipeline_with_nested_conditions_yaml.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/experimental_pipeline_with_nested_conditions_yaml.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/experimental_two_step_pipeline.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/experimental_two_step_pipeline.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/experimental_v2_component.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/experimental_v2_component.py
  sdk/python/kfp/v2/components/experimental/base_component.py
  sdk/python/kfp/v2/components/experimental/component_factory.py
  sdk/python/kfp/v2/components/experimental/for_loop.py
  sdk/python/kfp/v2/components/experimental/for_loop_test.py
  sdk/python/kfp/v2/components/experimental/pipeline.py
  sdk/python/kfp/v2/components/experimental/pipeline_channel.py
  sdk/python/kfp/v2/components/experimental/pipeline_task.py
  sdk/python/kfp/v2/components/experimental/pipeline_task_test.py
  sdk/python/kfp/v2/components/experimental/structures.py
  sdk/python/kfp/v2/components/experimental/tasks_group.py
  sdk/python/kfp/v2/components/experimental/yaml_component.py
  sdk/python/kfp/v2/components/types/experimental/__init__.py
  sdk/python/kfp/v2/components/types/experimental/type_utils.py
  sdk/python/kfp/v2/components/utils.py
  sdk/python/kfp/v2/components/utils_test.py
  sdk/python/kfp/v2/dsl/experimental/__init__.py
  sdk/python/requirements.in
  sdk/python/requirements.txt
  sdk/python/setup.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

retest samples.
  sdk/python/kfp/compiler/v2_compat.py
  sdk/python/kfp/dsl/_component_bridge.py
  sdk/python/kfp/v2/components/executor.py
  v2/component/launcher.go
  v2/go.mod
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

refactor template and fixed broken UT
  backend/api/go_client/pipeline_spec.pb.go
  backend/api/go_http_client/job_model/api_pipeline_spec.go
  backend/api/go_http_client/job_model/pipeline_spec_runtime_config.go
  backend/api/go_http_client/run_model/api_pipeline_spec.go
  backend/api/go_http_client/run_model/pipeline_spec_runtime_config.go
  backend/api/pipeline_spec.proto
  backend/api/swagger/job.swagger.json
  backend/api/swagger/kfp_api_single_file.swagger.json
  backend/api/swagger/run.swagger.json
  backend/src/apiserver/common/config.go
  backend/src/apiserver/common/util.go
  backend/src/apiserver/resource/model_converter.go
  backend/src/apiserver/resource/model_converter_test.go
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/resource/resource_manager_test.go
  backend/src/apiserver/resource/resource_manager_util.go
  backend/src/apiserver/resource/resource_manager_util_test.go
  backend/src/apiserver/server/api_converter.go
  backend/src/apiserver/template/argo_template.go
  backend/src/apiserver/template/template.go
  backend/src/apiserver/template/template_test.go
  backend/src/apiserver/template/v2_template.go
  backend/src/common/util/template_util.go
  go.mod
  go.sum
Due: kubeflow-pipeline-backend-test

Add filters to python client.
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

chore(components/google-cloud):Internal clean up.
  components/google-cloud/google_cloud_pipeline_components/container/experimental/dataflow/dataflow_python_job_remote_runner.py
Due: kubeflow-pipelines-components-google-cloud-python37

Fix tests.
  sdk/python/kfp/compiler/testdata/v2_compatible_two_step_pipeline.yaml
  sdk/python/kfp/compiler/testdata/v2_compatible_two_step_pipeline_with_custom_launcher.yaml
  sdk/python/kfp/dsl/_component_bridge.py
  sdk/python/kfp/dsl/component_spec_test.py
  sdk/python/kfp/dsl/type_utils.py
  sdk/python/kfp/v2/compiler/compiler.py
  sdk/python/kfp/v2/compiler/compiler_utils.py
  sdk/python/kfp/v2/compiler/compiler_utils_test.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/experimental_v2_component.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/lightweight_python_functions_v2_pipeline.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/lightweight_python_functions_v2_with_outputs.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_after.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_concat_placeholder.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_condition.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_custom_job_spec.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_env.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_exit_handler.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_gcpc_types.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_if_placeholder.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_importer.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_loops.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_loops_and_conditions.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_metrics_outputs.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_nested_conditions.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_nested_conditions_yaml.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_nested_loops.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_ontology.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_params_containing_format.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_resource_spec.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_reused_component.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_various_io_types.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/two_step_pipeline.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/v2_component_with_optional_inputs.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/xgboost_sample_pipeline.json
  sdk/python/kfp/v2/components/executor.py
  sdk/python/kfp/v2/components/executor_test.py
  sdk/python/kfp/v2/components/types/type_utils.py
  sdk/python/kfp/v2/components/types/type_utils_test.py
  v2/go.mod
  v2/metadata/client.go
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

Update release, more cleanup.
  sdk/RELEASE.md
  v2/metadata/client.go
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

test(backend/integration): pipeline API integration tests for v2 spec (#6798)
  backend/src/apiserver/server/test/v2-hello-world.json
  backend/src/apiserver/server/util.go
  backend/src/apiserver/server/util_test.go
  backend/src/common/client/api_server/pipeline_client.go
  backend/src/common/client/api_server/pipeline_client_fake.go
  backend/src/common/util/template_util.go
  backend/test/integration/pipeline_api_test.go
  backend/test/integration/pipeline_version_api_test.go
  backend/test/integration/upgrade_test.go
  backend/test/resources/v2-hello-world.json
Due: kubeflow-pipeline-backend-test

Use github.com/kubeflow/pipelines/api from same repo.
  v2/go.mod
Due: kubeflow-pipelines-samples-v2

Run go mod tidy
  api/go.mod
  api/go.sum
Due: none

updated go license
  backend/third_party_licenses/apiserver.csv
  backend/third_party_licenses/cache_server.csv
  backend/third_party_licenses/persistence_agent.csv
  backend/third_party_licenses/swf.csv
  backend/third_party_licenses/viewer.csv
  go-licenses.yaml
Due: kubeflow-pipeline-backend-test

feat: upgrade argo to v3.1.14
  .cloudbuild.yaml
  .release.cloudbuild.yaml
  backend/Dockerfile
  backend/third_party_licenses/apiserver.csv
  backend/third_party_licenses/cache_server.csv
  backend/third_party_licenses/persistence_agent.csv
  backend/third_party_licenses/swf.csv
  go.mod
  go.sum
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/argo.yaml
  manifests/gcp_marketplace/test/snapshot-base.yaml
  manifests/gcp_marketplace/test/snapshot-emissary.yaml
  manifests/gcp_marketplace/test/snapshot-managed-storage-with-db-prefix.yaml
  manifests/gcp_marketplace/test/snapshot-managed-storage.yaml
  manifests/kustomize/env/platform-agnostic-multi-user-emissary/workflow-controller-configmap-patch.yaml
  manifests/kustomize/env/platform-agnostic-multi-user-pns/workflow-controller-configmap-patch.yaml
  manifests/kustomize/env/platform-agnostic-pns/workflow-controller-configmap-patch.yaml
  manifests/kustomize/third-party/argo/base/workflow-controller-configmap-patch.yaml
  manifests/kustomize/third-party/argo/base/workflow-controller-deployment-patch.yaml
  manifests/kustomize/third-party/argo/upstream/manifests/Kptfile
  test/install-argo-cli.sh
  test/tag_for_hosted.sh
  third_party/argo/Dockerfile.argoexec
  third_party/argo/Dockerfile.workflow-controller
  third_party/argo/README.md
  third_party/argo/VERSION
  third_party/argo/licenses-argoexec.csv
  third_party/argo/licenses-workflow-controller.csv
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-mkp-test, kubeflow-pipelines-manifests

go mod tidy
  go.sum
Due: none

chore: go mod tidy
  v2/go.mod
  v2/go.sum
Due: kubeflow-pipelines-samples-v2

fix v2 compile error and clean up unused code
  v2/driver/driver.go
  v2/metadata/client.go
Due: kubeflow-pipelines-samples-v2

test: presubmit
  v2/README.md
Due: kubeflow-pipelines-samples-v2

pr comments.
  api/v2alpha1/python/kfp/pipeline_spec/__init__.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_loops.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

Fix missing experimental type module in setup.py.
  sdk/python/setup.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

AIP-5103: Revert forked changes to support api_namespace, instead utilize new get_user_namespace functionality instead (#10)
  .gitlab-ci.yml
  sdk/python/kfp/cli/cli.py
  sdk/python/kfp/cli/experiment.py
  sdk/python/kfp/cli/run.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

Fix missing experimental type module in setup.py. (#6816)
  sdk/python/setup.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

fix missing experimental modules
  sdk/python/kfp/v2/compiler_cli_tests/test_data/experimental_pipeline_with_exit_handler.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/experimental_pipeline_with_loops.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/experimental_pipeline_with_nested_conditions_yaml.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/experimental_two_step_pipeline.py
  sdk/python/kfp/v2/components/__init__.py
  sdk/python/kfp/v2/components/experimental/__init__.py
  sdk/python/setup.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

fix typo
  sdk/python/setup.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

fix test
  sdk/python/kfp/v2/compiler/experimental/compiler_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

use variable for s3 bucket name
  components/aws/sagemaker/tests/integration_tests/utils/minio_utils.py
Due: none

fix license versions
  test/install-argo-cli.sh
  third_party/argo/Dockerfile.argoexec
  third_party/argo/Dockerfile.workflow-controller
  third_party/argo/go-licenses.yaml
  third_party/argo/imp-1-update-notices.sh
  third_party/argo/licenses-argoexec.csv
  third_party/argo/licenses-workflow-controller.csv
Due: none

fix(sdk.v2): Fix missing experimental modules in setup.py (#6817)
  sdk/python/kfp/v2/compiler/experimental/compiler_test.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/experimental_pipeline_with_exit_handler.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/experimental_pipeline_with_loops.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/experimental_pipeline_with_nested_conditions_yaml.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/experimental_two_step_pipeline.py
  sdk/python/kfp/v2/components/__init__.py
  sdk/python/kfp/v2/components/experimental/__init__.py
  sdk/python/setup.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2
