Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python38, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-v2-go-test, kubeflow-pipelines-manifests

kubeflow-pipelines-sdk-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27-v2:
  decorate: true
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-backend-visualization-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

kubeflow-pipeline-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node:12
      command:
      - /bin/sh
      args:
      - -c
      - cd ./frontend && npm run test:ci:prow

kubeflow-pipeline-backend-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.17.6-bullseye
      command:
      - ./test/presubmit-backend-test.sh

kubeflow-pipeline-e2e-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-with-pipeline-deployment.sh
      args:
      - --workflow_file
      - e2e_test_gke_v2.yaml
      - --test_result_folder
      - e2e_test

kubeflow-pipeline-mkp-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-mkp.sh

kubeflow-pipeline-mkp-snapshot-test:
  decorate: true
  spec:
    containers:
    - image: bash:alpine3.14
      command:
      - bash
      args:
      - ./manifests/gcp_marketplace/test/presubmit.sh

kubeflow-pipeline-upgrade-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/upgrade-tests.sh
      args:
      - --test_result_folder
      - upgrade_test

kubeflow-pipelines-sdk-python37:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

Remove comment andd fix ordering bug.
  frontend/src/components/viewers/MetricsVisualizations.tsx
  frontend/src/components/viewers/ROCCurve.tsx
  frontend/src/pages/CompareV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

add sample test with temporary gcpc workaround
  samples/test/config.yaml
  samples/v2/pipeline_with_gcpc_types.py
Due: kubeflow-pipeline-e2e-test, kubeflow-pipelines-samples-v2

Disable animation and update artifact count.
  frontend/src/components/viewers/MetricsVisualizations.tsx
  frontend/src/components/viewers/ROCCurve.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

chore: Update issue template.
  .github/ISSUE_TEMPLATE/BUG_BACKEND.md
  .github/ISSUE_TEMPLATE/BUG_FRONTEND.md
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/BUG_SDK.md
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
Due: none

Update line color for the ROC Curve.
  frontend/src/components/viewers/ROCCurve.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

add some comments
  backend/src/apiserver/storage/experiment_store_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

chore: Update issue template. (#8072)
  .github/ISSUE_TEMPLATE/BUG_BACKEND.md
  .github/ISSUE_TEMPLATE/BUG_FRONTEND.md
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/BUG_SDK.md
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
Due: none

Added preCheck at the pipeline / pipeline version name space.
  frontend/src/pages/NewRunV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Hold the precheck because the naming restriction from the BE is unclear.
  frontend/src/pages/NewRunV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Update artifact name label.
  frontend/src/components/viewers/MetricsVisualizations.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Remove old TODO.
  frontend/src/components/viewers/MetricsVisualizations.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Update snapshot test.
  frontend/src/components/viewers/__snapshots__/ROCCurve.test.tsx.snap
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Add ROC Curve and CompareV2 tests.
  frontend/src/components/viewers/ROCCurve.test.tsx
  frontend/src/pages/CompareV2.test.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Add CompareUtils test to confirm valid linked artifacts are selected.
  frontend/src/lib/v2/CompareUtils.test.ts
  frontend/src/pages/CompareV2.test.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

fix(components): Fix typo
  components/google-cloud/google_cloud_pipeline_components/container/v1/gcp_launcher/launcher.py
Due: kubeflow-pipelines-components-google-cloud-python38

feat(components): Separate feature attribution from evaluation component to its own component
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/feature_attribution.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

Fixed incorrect artifact type name.
  frontend/src/components/tabs/RuntimeNodeDetailsV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Add fundamental setup for the MetricsVisualizations testing.
  frontend/src/components/viewers/MetricsVisualizations.test.tsx
  frontend/src/components/viewers/MetricsVisualizations.tsx
  frontend/src/lib/v2/CompareUtils.test.ts
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Add comment reference for updated color palette.
  frontend/src/components/viewers/ROCCurve.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Change !== -1 to >= 0.
  frontend/src/components/viewers/ROCCurve.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Add comments to clarify the forceLegend parameter.
  frontend/src/components/viewers/MetricsVisualizations.tsx
  frontend/src/components/viewers/ROCCurve.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Added 'Pipeline Spec' tab in runDetails page.
  frontend/src/pages/RunDetailsV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Update the number of selected artifacts tests.
  frontend/src/components/viewers/MetricsVisualizations.test.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Retrive template string from BE and display in the run details page.
  frontend/src/pages/RunDetailsV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Added unit test for switching to 'Pipeline Spec' tab.
  frontend/src/pages/RunDetailsV2.test.tsx
  frontend/src/pages/RunDetailsV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Add the test for the error of confidenceMetrics data format.
  frontend/src/components/viewers/MetricsVisualizations.test.tsx
  frontend/src/components/viewers/MetricsVisualizations.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

resolve comments and merge logic for constructing container component
  samples/v2/two_step_pipeline_containerized.py
  samples/v2/two_step_pipeline_containerized_test.py
  sdk/python/kfp/compiler/compiler_test.py
  sdk/python/kfp/compiler/test_data/components/container_io.py
  sdk/python/kfp/compiler/test_data/components/container_io.yaml
  sdk/python/kfp/compiler/test_data/components/container_with_artifact_output.py
  sdk/python/kfp/compiler/test_data/components/container_with_artifact_output.yaml
  sdk/python/kfp/compiler/test_data/pipelines/two_step_pipeline_containerized.yaml
  sdk/python/kfp/components/__init__.py
  sdk/python/kfp/components/component_factory.py
  sdk/python/kfp/components/component_factory_test.py
  sdk/python/kfp/components/container_component_decorator.py
  sdk/python/kfp/components/structures.py
  sdk/python/kfp/dsl/__init__.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

feat(sdk): Allow artifact inputs in pipeline definition. (#8044)
  sdk/RELEASE.md
  sdk/python/kfp/compiler/compiler.py
  sdk/python/kfp/compiler/compiler_test.py
  sdk/python/kfp/compiler/pipeline_spec_builder.py
  sdk/python/kfp/compiler/test_data/components/unsupported/artifact_consumer.py
  sdk/python/kfp/compiler/test_data/components/unsupported/output_named_tuple.py
  sdk/python/kfp/compiler/test_data/components/unsupported/train.py
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_with_various_io_types.py
  sdk/python/kfp/compiler/test_data/pipelines/pipeline_with_various_io_types.yaml
  sdk/python/kfp/components/pipeline_channel.py
  sdk/python/kfp/components/structures.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

fix(components): include fix AMI issues for criteo dataset
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/automl_tabular_feature_selection_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/automl_tabular_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/builtin_algorithm_hyperparameter_tuning_job.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/cv_trainer.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/ensemble.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/feature_selection.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/feature_selection_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/feature_transform_engine.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/finalizer.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/generate_analyze_and_transform_data.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/infra_validator.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/skip_architecture_search_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/split_materialized_data.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/stage_1_tuner.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/stats_and_example_gen.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/tabnet_hyperparameter_tuning_job_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/tabnet_trainer.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/tabnet_trainer_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/transform.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/transform_configuration_planner.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/utils.py
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/wide_and_deep_hyperparameter_tuning_job_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/wide_and_deep_trainer.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/wide_and_deep_trainer_pipeline.json
  components/google-cloud/tests/experimental/automl/tabular/unit/utils_test.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

lots of changes to tests
  backend/src/apiserver/resource/model_converter.go
  backend/src/apiserver/resource/model_converter_test.go
  backend/src/apiserver/resource/resource_manager_test.go
  backend/src/apiserver/server/api_converter.go
  backend/src/apiserver/server/api_converter_test.go
  backend/src/apiserver/server/job_server_test.go
  backend/src/apiserver/server/run_server.go
  backend/src/apiserver/server/run_server_test.go
  backend/src/apiserver/storage/job_store.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Changes: 1. Remove unnecessary useQuery 2. Wrap the editor as a new component PipelineSpecTabContent 3. Use new component is existing code.
  frontend/src/components/PipelineSpecTabContent.tsx
  frontend/src/pages/PipelineDetailsV1.tsx
  frontend/src/pages/PipelineDetailsV2.tsx
  frontend/src/pages/RunDetailsV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

make error messages clearer
  backend/src/apiserver/resource/model_converter.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Fix the color stack setting logic.
  frontend/src/components/viewers/MetricsVisualizations.test.tsx
  frontend/src/components/viewers/MetricsVisualizations.tsx
  frontend/src/components/viewers/ROCCurveHelper.tsx
  frontend/src/pages/CompareV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

return rutimeconfig for v2 api request for runs
  backend/src/apiserver/resource/model_converter.go
  backend/src/apiserver/resource/model_converter_test.go
  backend/src/apiserver/server/api_converter.go
  backend/src/apiserver/server/api_converter_test.go
  backend/src/apiserver/server/run_server_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Add clarifying comment and TODO.
  frontend/src/components/viewers/MetricsVisualizations.tsx
  frontend/src/pages/CompareV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-e2e-test: any of: ^(frontend/.*)|(backend/.*)|(proxy/.*)|(manifests/kustomize/.*)|(test/.*)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipeline-mkp-snapshot-test: any of: ^(manifests/gcp_marketplace/.*)$
  kubeflow-pipeline-upgrade-test: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python37: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python38: any of: ^(components/google-cloud/.*)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(samples/.*)|(backend/src/v2/.*)$
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-v2-go-test: any of: ^backend/src/v2/.*$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$
