Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python38, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-v2-go-test, kubeflow-pipelines-manifests

kubeflow-pipelines-sdk-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27-v2:
  decorate: true
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-backend-visualization-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

kubeflow-pipeline-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node:12
      command:
      - /bin/sh
      args:
      - -c
      - cd ./frontend && npm run test:ci:prow

kubeflow-pipeline-backend-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.17.6-bullseye
      command:
      - ./test/presubmit-backend-test.sh

kubeflow-pipeline-e2e-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-with-pipeline-deployment.sh
      args:
      - --workflow_file
      - e2e_test_gke_v2.yaml
      - --test_result_folder
      - e2e_test

kubeflow-pipeline-mkp-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-mkp.sh

kubeflow-pipeline-mkp-snapshot-test:
  decorate: true
  spec:
    containers:
    - image: bash:alpine3.14
      command:
      - bash
      args:
      - ./manifests/gcp_marketplace/test/presubmit.sh

kubeflow-pipeline-upgrade-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/upgrade-tests.sh
      args:
      - --test_result_folder
      - upgrade_test

kubeflow-pipelines-sdk-python37:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

updated sample with new directory
  samples/contrib/aws-samples/mnist-kmeans-sagemaker/README.md
  samples/contrib/aws-samples/mnist-kmeans-sagemaker/mnist-classification-pipeline.py
Due: kubeflow-pipelines-samples-v2

chore(components): restore aiplatform container code in v1 namespace
  components/google-cloud/google_cloud_pipeline_components/container/Dockerfile
  components/google-cloud/google_cloud_pipeline_components/container/v1/aiplatform/__init__.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/aiplatform/remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/aiplatform/utils.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/training_job/automl_forecasting_training_job/component.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/training_job/automl_image_training_job/component.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/training_job/automl_tabular_training_job/component.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/training_job/automl_text_training_job/component.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/training_job/automl_video_training_job/component.py
  components/google-cloud/google_cloud_pipeline_components/v1/dataset/create_image_dataset/component.py
  components/google-cloud/google_cloud_pipeline_components/v1/dataset/create_tabular_dataset/component.py
  components/google-cloud/google_cloud_pipeline_components/v1/dataset/create_text_dataset/component.py
  components/google-cloud/google_cloud_pipeline_components/v1/dataset/create_time_series_dataset/component.py
  components/google-cloud/google_cloud_pipeline_components/v1/dataset/create_video_dataset/component.py
  components/google-cloud/google_cloud_pipeline_components/v1/dataset/export_image_dataset/component.py
  components/google-cloud/google_cloud_pipeline_components/v1/dataset/export_tabular_dataset/component.py
  components/google-cloud/google_cloud_pipeline_components/v1/dataset/export_text_dataset/component.py
  components/google-cloud/google_cloud_pipeline_components/v1/dataset/export_time_series_dataset/component.py
  components/google-cloud/google_cloud_pipeline_components/v1/dataset/export_video_dataset/component.py
  components/google-cloud/google_cloud_pipeline_components/v1/dataset/import_image_dataset/component.py
  components/google-cloud/google_cloud_pipeline_components/v1/dataset/import_text_dataset/component.py
  components/google-cloud/google_cloud_pipeline_components/v1/dataset/import_video_dataset/component.py
  components/google-cloud/tests/v1/testdata/automl_forecasting_pipeline.json
  components/google-cloud/tests/v1/testdata/automl_image_pipeline.json
  components/google-cloud/tests/v1/testdata/automl_tabular_pipeline.json
  components/google-cloud/tests/v1/testdata/automl_text_pipeline.json
  components/google-cloud/tests/v1/testdata/automl_video_pipeline.json
Due: kubeflow-pipelines-components-google-cloud-python38

publish execution for create/delete pvc
  backend/src/v2/compiler/argocompiler/argo.go
  backend/src/v2/config/env.go
  backend/src/v2/driver/driver.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-samples-v2, kubeflow-pipelines-v2-go-test

feat(component): internal
  components/google-cloud/google_cloud_pipeline_components/v1/custom_job/component_info.textproto
  components/google-cloud/google_cloud_pipeline_components/v1/custom_job/component_reference_doc.md
  components/google-cloud/google_cloud_pipeline_components/v1/custom_job/component_release_note.md
Due: kubeflow-pipelines-components-google-cloud-python38

update driver launcher image
  backend/src/apiserver/template/template_test.go
  backend/src/v2/compiler/argocompiler/argo.go
  backend/src/v2/compiler/argocompiler/testdata/create_mount_delete_dynamic_pvc.yaml
  backend/src/v2/compiler/argocompiler/testdata/hello_world.yaml
  backend/src/v2/compiler/argocompiler/testdata/importer.yaml
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-samples-v2, kubeflow-pipelines-v2-go-test

fix(components): Move Feature Extractor and Error Analysis Annotation components from experimental folder to google folder in GCPC
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/error_analysis_annotation/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/error_analysis_annotation/component.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/feature_extractor/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/feature_extractor/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

Fix logic in WorkflowUtils to avoid unexpected errors. Add comment to explain why 2 'sh' are found. Add pre-wrap style for arg as well.
  frontend/src/components/tabs/StaticNodeDetailsV2.test.tsx
  frontend/src/components/tabs/StaticNodeDetailsV2.tsx
  frontend/src/lib/v2/WorkflowUtils.ts
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Rename ts_pipelinespec to pipelineSpec.
  frontend/src/lib/v2/WorkflowUtils.ts
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Updating sample to use output rather than after
  samples/contrib/aws-samples/mnist-kmeans-sagemaker/README.md
  samples/contrib/aws-samples/mnist-kmeans-sagemaker/mnist-classification-pipeline.py
Due: kubeflow-pipelines-samples-v2

Add a state "graphIsLoading" to render a temporary page while pipeline/graph is loading. Avoiding direct to v1 first and then re-direct back to v2.
  frontend/src/pages/PipelineDetails.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

chore(backend): Remove unused getRunMetrics (#9391)
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/server/run_server.go
  backend/src/apiserver/storage/run_store.go
  backend/src/apiserver/storage/run_store_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

chore(backend): Remove deprecated experiment id from run server's endpoints (#9392)
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/server/run_server.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Extract get_output_ack_resource_metadata to a function Extract "Scheduled" to constant FINAL_STATUS
  components/aws/sagemaker/tests/integration_tests/component_tests/test_v2_monitoring_job_definition_component.py
  components/aws/sagemaker/tests/integration_tests/component_tests/test_v2_monitoring_schedule_component.py
  components/aws/sagemaker/tests/integration_tests/utils/kfp_client_utils.py
Due: none

fix(backend): Add pipeline spec name validation and relax display name validation (#9374)
  backend/src/apiserver/common/utils.go
  backend/src/apiserver/common/utils_test.go
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/resource/resource_manager_test.go
  backend/src/apiserver/server/pipeline_server.go
  backend/src/apiserver/server/pipeline_server_test.go
  backend/src/apiserver/server/pipeline_upload_server_test.go
  backend/test/integration/pipeline_api_test.go
  backend/test/integration/pipeline_version_api_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

fix(frontend): Rename button in pipeline/run details side panel (#9383)
  frontend/src/components/tabs/RuntimeNodeDetailsV2.tsx
  frontend/src/components/tabs/StaticNodeDetailsV2.test.tsx
  frontend/src/components/tabs/StaticNodeDetailsV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Update Dockerfile
  backend/src/cache/deployer/Dockerfile
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Separate v1 and v2 filter encoded helper function to support v1 filter is new run v1.
  frontend/src/components/CustomTable.tsx
  frontend/src/pages/ResourceSelector.tsx
  frontend/src/pages/__snapshots__/ResourceSelector.test.tsx.snap
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

fix(frontend): No values in "Finished at" & "Duration" when run is finished (#9379)
  frontend/src/pages/RunDetailsV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

fix(frontend): Remove redundant "(optional)" text in the optional input fields. (#9380)
  frontend/src/pages/NewExperiment.tsx
  frontend/src/pages/NewPipelineVersion.tsx
  frontend/src/pages/NewRun.tsx
  frontend/src/pages/NewRunV2.tsx
  frontend/src/pages/__snapshots__/NewExperiment.test.tsx.snap
  frontend/src/pages/__snapshots__/NewPipelineVersion.test.tsx.snap
  frontend/src/pages/__snapshots__/NewRun.test.tsx.snap
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

fix(frontend): Change the empty message of archived experiment list. (#9381)
  frontend/src/components/ExperimentList.tsx
  frontend/src/components/__snapshots__/ExperimentList.test.tsx.snap
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

fix(frontend): Make the hover text for "Archive" button more informative (#9382)
  frontend/src/lib/Buttons.ts
  frontend/src/pages/__snapshots__/AllRunsList.test.tsx.snap
  frontend/src/pages/__snapshots__/ExperimentDetails.test.tsx.snap
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

fix(backend): Fix authorization logic and remove redundant DB calls (#9373)
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/server/experiment_server.go
  backend/src/apiserver/server/experiment_server_test.go
  backend/src/apiserver/server/job_server.go
  backend/src/apiserver/server/job_server_test.go
  backend/src/apiserver/server/pipeline_server.go
  backend/src/apiserver/server/run_server.go
  backend/src/apiserver/server/run_server_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

add curl license text to third_party/license.txt
  third_party/license.txt
Due: none

change the location where we store third_party license.txt
  backend/src/cache/deployer/Dockerfile
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

checkout license.txt from upstream master
  third_party/license.txt
Due: none

add https://github.com/curl/curl/blob/master/COPYING to third_party/license.txt
  third_party/license.txt
Due: none

Extract to function: verify_monitoring_schedule_component_outputs
  components/aws/sagemaker/tests/integration_tests/component_tests/test_v2_monitoring_schedule_component.py
Due: none

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-e2e-test: any of: ^(frontend/.*)|(backend/.*)|(proxy/.*)|(manifests/kustomize/.*)|(test/.*)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipeline-mkp-snapshot-test: any of: ^(manifests/gcp_marketplace/.*)$
  kubeflow-pipeline-upgrade-test: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python37: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python38: any of: ^(components/google-cloud/.*)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(samples/.*)|(backend/src/v2/.*)$
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-v2-go-test: any of: ^backend/src/v2/.*$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$
