Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-sdk-yapf-formatting, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python38, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-v2-go-test, kubeflow-pipelines-manifests

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-e2e-test: any of: ^(frontend/.*)|(backend/.*)|(proxy/.*)|(manifests/kustomize/.*)|(test/.*)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipeline-mkp-snapshot-test: any of: ^(manifests/gcp_marketplace/.*)$
  kubeflow-pipeline-upgrade-test: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipelines-sdk-yapf-formatting: any of: ^(sdk/.*)|(test/presubmit-formatting-sdk.sh)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python37: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python38: any of: ^(components/google-cloud/.*)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(samples/.*)|(backend/src/v2/.*)$
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-v2-go-test: any of: ^backend/src/v2/.*$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$

Update VERSION
  VERSION
Due: none

improve checks on inputs for component compilation
  sdk/python/kfp/compiler/compiler.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-yapf-formatting, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

narrow type annotations
  sdk/python/kfp/components/yaml_component.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-yapf-formatting, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

enable component compilation via cli
  sdk/python/kfp/cli/dsl_compile.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-yapf-formatting, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

wip
  sdk/python/kfp/cli/cli_test.py
  sdk/python/kfp/compiler_cli_tests/test_data/lightweight_python_functions_v2_with_outputs-add_numbers.yaml
  sdk/python/kfp/compiler_cli_tests/test_data/lightweight_python_functions_v2_with_outputs-concat_message.yaml
  sdk/python/kfp/compiler_cli_tests/test_data/lightweight_python_functions_v2_with_outputs-output_artifact.yaml
  sdk/python/kfp/compiler_cli_tests/test_data/pipeline_with_condition-flip_coin_op.yaml
  sdk/python/kfp/compiler_cli_tests/test_data/pipeline_with_condition-print_op.yaml
  sdk/python/kfp/compiler_cli_tests/test_data/pipeline_with_env-print_env_op.yaml
  sdk/python/kfp/compiler_cli_tests/test_data/pipeline_with_exit_handler-fail_op.yaml
  sdk/python/kfp/compiler_cli_tests/test_data/pipeline_with_exit_handler-print_op.yaml
  sdk/python/kfp/compiler_cli_tests/test_data/pipeline_with_importer-pass_through_op.yaml
  sdk/python/kfp/compiler_cli_tests/test_data/pipeline_with_loops-args_generator_op.yaml
  sdk/python/kfp/compiler_cli_tests/test_data/pipeline_with_loops-print_struct.yaml
  sdk/python/kfp/compiler_cli_tests/test_data/pipeline_with_loops-print_text.yaml
  sdk/python/kfp/compiler_cli_tests/test_data/pipeline_with_loops_and_conditions-args_generator_op.yaml
  sdk/python/kfp/compiler_cli_tests/test_data/pipeline_with_loops_and_conditions-flip_coin_op.yaml
  sdk/python/kfp/compiler_cli_tests/test_data/pipeline_with_loops_and_conditions-print_struct.yaml
  sdk/python/kfp/compiler_cli_tests/test_data/pipeline_with_loops_and_conditions-print_text.yaml
  sdk/python/kfp/compiler_cli_tests/test_data/pipeline_with_nested_conditions-flip_coin_op.yaml
  sdk/python/kfp/compiler_cli_tests/test_data/pipeline_with_nested_conditions-print_op.yaml
  sdk/python/kfp/compiler_cli_tests/test_data/pipeline_with_nested_loops-print_op.yaml
  sdk/python/kfp/compiler_cli_tests/test_data/pipeline_with_params_containing_format-print_op.yaml
  sdk/python/kfp/compiler_cli_tests/test_data/pipeline_with_params_containing_format-print_op2.yaml
  sdk/python/kfp/compiler_cli_tests/test_data/pipeline_with_placeholders-print_op.yaml
  sdk/python/kfp/compiler_cli_tests/test_data/pipeline_with_task_final_status-fail_op.yaml
  sdk/python/kfp/compiler_cli_tests/test_data/pipeline_with_task_final_status-print_op.yaml
  sdk/python/kfp/compiler_cli_tests/test_data/v2_component_with_optional_inputs-component_op.yaml
  sdk/python/kfp/compiler_cli_tests/test_data/v2_component_with_pip_index_urls-component_op.yaml
  sdk/python/kfp/compiler_cli_tests/update_golden_snapshots.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-yapf-formatting, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

Modifyb PR: remove loop fix and some changes
  backend/src/v2/Makefile
  backend/src/v2/compiler/argocompiler/dag.go
  backend/src/v2/driver/driver.go
  samples/core/loop_static/loop_static_v2.py
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-samples-v2, kubeflow-pipelines-v2-go-test

update dsl compile command
  backend/src/v2/Makefile
  backend/src/v2/compiler/argocompiler/dag.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-samples-v2, kubeflow-pipelines-v2-go-test

feat(conformance): adapt pipeline API tests to KF environment
  backend/test/integration/pipeline_api_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Internal change.
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/feature_transform_engine_transform_configuration.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

Provide option to specify TLS filenames for cache server
  backend/src/cache/main.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

revert VERSION
  VERSION
Due: none

remove structed executiontemplate parse json dynamically with tests
  backend/src/cache/server/model.go
  backend/src/cache/server/mutation.go
  backend/src/cache/server/mutation_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

remove not used fields in upstream
  backend/src/apiserver/storage/object_store.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

add manifests envs
  backend/src/cache/main.go
  manifests/kustomize/base/cache/cache-deployment.yaml
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-manifests

rename files
  sdk/python/kfp/registry/__init__.py
  sdk/python/kfp/registry/registry_client.py
  sdk/python/kfp/registry/registry_client_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-yapf-formatting, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

format files
  sdk/python/kfp/registry/__init__.py
  sdk/python/kfp/registry/registry_client.py
  sdk/python/kfp/registry/registry_client_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-yapf-formatting, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

update return types and format double quotes
  sdk/python/kfp/registry/registry_client.py
  sdk/python/kfp/registry/registry_client_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-yapf-formatting, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

change test file for debug purpose
  samples/core/loop_static/loop_static_test.py
Due: kubeflow-pipelines-samples-v2

feat(conformance): adapt pipeline API tests to KF environment (#7647)
  backend/test/integration/pipeline_api_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

change test for debug purpose
  samples/core/loop_static/loop_static_test.py
Due: kubeflow-pipelines-samples-v2

add comments and format files
  sdk/python/kfp/registry/registry_client.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-yapf-formatting, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

add todos
  sdk/python/kfp/registry/registry_client.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-yapf-formatting, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

update credentials and change open to use context
  sdk/python/kfp/registry/registry_client.py
  sdk/python/kfp/registry/registry_client_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-yapf-formatting, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

format using yapf
  sdk/python/kfp/registry/registry_client.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-yapf-formatting, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

move request into context
  sdk/python/kfp/registry/registry_client.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-yapf-formatting, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

feat(conformance): adapt pipeline version API tests to run in KF
  backend/test/integration/pipeline_version_api_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

update sample test for static loop
  samples/core/loop_static/loop_static_test.py
Due: kubeflow-pipelines-samples-v2

generate feature selection tuning pipeline and test utils.
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/feature_selection_tuning_skip_evaluation_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/utils.py
Due: kubeflow-pipelines-components-google-cloud-python38

update test file, remove code for debug
  samples/core/loop_static/loop_static_test.py
Due: kubeflow-pipelines-samples-v2

Update Makefile
  backend/src/v2/Makefile
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-samples-v2, kubeflow-pipelines-v2-go-test

feat(conformance): adapt pipeline version API tests to run in KF (#7653)
  backend/test/integration/pipeline_version_api_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

feat(conformance): adapt run api tests to KF env
  backend/test/integration/experiment_api_test.go
  backend/test/integration/run_api_test.go
  backend/test/test_utils.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

feat(sdk): use custom basemodel and remove pydantic (#7639)
  sdk/python/kfp/compiler/compiler_test.py
  sdk/python/kfp/components/base_component.py
  sdk/python/kfp/components/base_component_test.py
  sdk/python/kfp/components/base_model.py
  sdk/python/kfp/components/base_model_test.py
  sdk/python/kfp/components/pipeline_task.py
  sdk/python/kfp/components/structures.py
  sdk/python/kfp/components/structures_test.py
  sdk/python/requirements.in
  sdk/python/requirements.txt
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-yapf-formatting, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

clean up relevant files
  sdk/python/kfp/compiler/compiler.py
  sdk/python/kfp/components/types/type_utils.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-yapf-formatting, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2
