Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-mkp-test, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python37, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-manifests

kubeflow-pipelines-sdk-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27-v2:
  decorate: true
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-backend-visualization-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

kubeflow-pipeline-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node:12
      command:
      - /bin/sh
      args:
      - -c
      - cd ./frontend && npm run test:ci:prow

kubeflow-pipeline-backend-test:
  decorate: true
  spec:
    containers:
    - image: l.gcr.io/google/bazel:0.24.0
      command:
      - ./test/presubmit-backend-test.sh

kubeflow-pipeline-mkp-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-mkp.sh

kubeflow-pipelines-sdk-python36:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

disable positional arguments
  sdk/python/kfp/v2/compiler_cli_tests/test_data/experimental_v2_component.py
  sdk/python/kfp/v2/components/experimental/base_component.py
  sdk/python/kfp/v2/components/experimental/base_component_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

chore(frontend): Create script to build pipeline_spec with protobuf.js. Fix #6205 (#6206)
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/pipelinespec_pbjs.js
  frontend/src/generated/pipeline_spec/pbjs_ml_pipelines.d.ts
  frontend/src/generated/pipeline_spec/pbjs_ml_pipelines.js
Due: kubeflow-pipeline-frontend-test

Add PipelineTaskFinalStatus
  api/v2alpha1/pipeline_spec.proto
Due: none

Update pipeline_spec.proto
  api/v2alpha1/pipeline_spec.proto
Due: none

fork https://github.com/googleapis/googleapis/blob/master/google/rpc/status.proto
  api/v2alpha1/google/rpc/status.proto
Due: none

feat(sdk): update pipeline_spec.proto to add artifact schema version field (#6220)
  api/v2alpha1/pipeline_spec.proto
Due: none

Try using signed urls.
  v2/test/Makefile
  v2/test/requirements.txt
  v2/test/sample_test.py
Due: kubeflow-pipelines-samples-v2

fix
  v2/test/presubmit.sh
Due: kubeflow-pipelines-samples-v2

fix presubmit
  v2/test/presubmit.sh
Due: kubeflow-pipelines-samples-v2

try /bin/bash for Makefile shell
  v2/test/Makefile
Due: kubeflow-pipelines-samples-v2

undo signed url change.
  v2/test/Makefile
  v2/test/sample_test.py
Due: kubeflow-pipelines-samples-v2

clean up unitests
  components/google-cloud/tests/aiplatform/test_componets_compile.py
  components/google-cloud/tests/experimental/remote/gcp_launcher/test_custom_job_remote_runner.py
  components/google-cloud/tests/presubmit.sh
Due: kubeflow-pipelines-components-google-cloud-python37

feat(api): Add PipelineTaskFinalStatus to pipeline_spec.proto (#6221)
  api/v2alpha1/google/rpc/status.proto
  api/v2alpha1/pipeline_spec.proto
Due: none

update api/makefile
  api/Makefile
  api/README.md
  api/v2alpha1/google/rpc/status.proto
Due: none

Add temporary work around for key not found during compile
  components/google-cloud/google_cloud_pipeline_components/experimental/custom_job/custom_job.py
  components/google-cloud/google_cloud_pipeline_components/experimental/remote/gcp_launcher/launcher.py
  components/google-cloud/tests/experimental/custom_job/test_custom_job.py
  components/google-cloud/tests/experimental/remote/gcp_launcher/test_launcher.py
Due: kubeflow-pipelines-components-google-cloud-python37

test: use snapshot mode = redo for kaniko
  v2/test/components/kaniko.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-samples-v2

add back "make clean all"
  api/Makefile
  api/README.md
Due: none

fix(test): Remove upgrade command in project_cleaner
  test/tools/project-cleaner/project_cleaner.sh
Due: none

Use shell
  test/tools/project-cleaner/project_cleaner.sh
Due: none

remove
  test/tools/project-cleaner/project_cleaner.sh
Due: none

test: Remove upgrade command in project_cleaner (#6227)
  test/tools/project-cleaner/project_cleaner.sh
Due: none

try 1.6.0-debug + big memory
  v2/test/components/kaniko.yaml
  v2/test/sample_test.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-samples-v2

feat: upgrade to argo v3.1.5-patch
  .cloudbuild.yaml
  .release.cloudbuild.yaml
  backend/third_party_licenses/apiserver.csv
  backend/third_party_licenses/cache_server.csv
  backend/third_party_licenses/persistence_agent.csv
  backend/third_party_licenses/swf.csv
  go.mod
  go.sum
  manifests/kustomize/third-party/argo/base/workflow-controller-deployment-patch.yaml
  test/install-argo-cli.sh
  test/tag_for_hosted.sh
  third_party/argo/Dockerfile.argoexec
  third_party/argo/Dockerfile.workflow-controller
  third_party/argo/VERSION
  third_party/argo/licenses-argoexec.csv
  third_party/argo/licenses-workflow-controller.csv
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-mkp-test, kubeflow-pipelines-manifests

update go.mod
  go.mod
  go.sum
Due: none

fix license
  backend/third_party_licenses/cache_server.csv
  backend/third_party_licenses/persistence_agent.csv
  backend/third_party_licenses/swf.csv
Due: kubeflow-pipeline-backend-test

update license
  backend/third_party_licenses/apiserver.csv
  backend/third_party_licenses/cache_server.csv
  backend/third_party_licenses/persistence_agent.csv
  backend/third_party_licenses/swf.csv
Due: kubeflow-pipeline-backend-test

fix(backend): argo workflow not found in KFP DB should be GCed
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/resource/resource_manager_test.go
  backend/src/apiserver/storage/run_store.go
  backend/src/apiserver/storage/run_store_test.go
  backend/src/common/util/error.go
Due: kubeflow-pipeline-backend-test

address feedback
  backend/src/apiserver/resource/resource_manager.go
Due: kubeflow-pipeline-backend-test

Update backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/resource/resource_manager.go
Due: kubeflow-pipeline-backend-test

tidy
  go.mod
  go.sum
Due: none

fix(backend): pin sdk version to released version
  backend/Dockerfile
Due: kubeflow-pipeline-backend-test

feat: upgrade to argo v3.1.5-patch (#6228)
  .cloudbuild.yaml
  .release.cloudbuild.yaml
  backend/third_party_licenses/apiserver.csv
  backend/third_party_licenses/cache_server.csv
  backend/third_party_licenses/persistence_agent.csv
  backend/third_party_licenses/swf.csv
  go.mod
  go.sum
  manifests/kustomize/third-party/argo/base/workflow-controller-deployment-patch.yaml
  test/install-argo-cli.sh
  test/tag_for_hosted.sh
  third_party/argo/Dockerfile.argoexec
  third_party/argo/Dockerfile.workflow-controller
  third_party/argo/VERSION
  third_party/argo/licenses-argoexec.csv
  third_party/argo/licenses-workflow-controller.csv
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-mkp-test, kubeflow-pipelines-manifests

Revert "feat!: use argo emissary executor by default. Fixes #5718 (#5926)"
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/argo.yaml
  manifests/kustomize/third-party/argo/base/workflow-controller-configmap-patch.yaml
Due: kubeflow-pipeline-mkp-test, kubeflow-pipelines-manifests

chore(api): Using Makefile to pull dependency proto (#6223)
  api/Makefile
  api/README.md
  api/v2alpha1/google/rpc/status.proto
Due: none

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipelines-sdk-python36: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python36: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python37: any of: ^(components/google-cloud/.*)|(test/presubmit-components-google-cloud.sh)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(v2/.*)$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$
