Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipelines-integration-v2

kubeflow-pipelines-sdk-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27-v2:
  decorate: true
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-backend-visualization-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

kubeflow-pipelines-integration-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./backend/src/v2/test/integration-test.sh

fix
  .github/resources/manifests/argo/overlays/proxy/proxy-env.yaml
Due: none

test with metadata-grpc-service
  .github/resources/manifests/argo/overlays/proxy/proxy-env.yaml
  backend/metadata_writer/src/metadata_helpers.py
  backend/src/v2/metadata/env.go
Due: none

issue-11979 - WIP - tests passing (reproducing bugs)
  backend/test/integration/dag_status_parallel_for_test.go
  backend/test/resources/dag_status/parallel_for_dynamic.py
  backend/test/resources/dag_status/parallel_for_dynamic.yaml
  backend/test/resources/dag_status/parallel_for_failure.py
  backend/test/resources/dag_status/parallel_for_failure.yaml
  backend/test/resources/dag_status/parallel_for_success.py
  backend/test/resources/dag_status/parallel_for_success.yaml
Due: none

Update e2e workflow to use pytest
  .github/workflows/e2e-test.yml
Due: none

Update sample test requirements to include pytest
  test/sample-test/requirements.in
  test/sample-test/requirements.txt
Due: none

chore(components): Bump image version for Structured Data pipelines
  components/google-cloud/google_cloud_pipeline_components/preview/automl/forecasting/forecasting_ensemble.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/forecasting/forecasting_stage_1_tuner.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/forecasting/forecasting_stage_2_tuner.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/forecasting/learn_to_learn_forecasting_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/forecasting/sequence_to_sequence_forecasting_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/forecasting/temporal_fusion_transformer_forecasting_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/forecasting/time_series_dense_encoder_forecasting_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/auto_feature_engineering.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/automl_tabular_feature_selection_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/automl_tabular_v2_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/distillation_stage_feature_transform_engine.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/feature_selection.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/feature_selection_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/feature_transform_engine.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/tabnet_hyperparameter_tuning_job.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/tabnet_hyperparameter_tuning_job_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/tabnet_trainer.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/tabnet_trainer_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/wide_and_deep_hyperparameter_tuning_job.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/wide_and_deep_hyperparameter_tuning_job_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/wide_and_deep_trainer.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/wide_and_deep_trainer_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/xgboost_hyperparameter_tuning_job_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/xgboost_trainer_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/automl/forecasting/bqml_arima_predict_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/automl/forecasting/bqml_arima_train_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/automl/forecasting/prophet_predict_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/automl/forecasting/prophet_trainer.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/forecasting/prophet_trainer_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/automl_tabular_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/cv_trainer.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/ensemble.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/finalizer.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/infra_validator.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/split_materialized_data.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/stage_1_tuner.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/stats_and_example_gen.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/training_configurator_and_validator.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/transform.py
Due: kubeflow-pipelines-component-yaml-v2

Clarify workflow names
  .github/workflows/e2e-test.yml
  .github/workflows/kfp-sdk-tests.yml
  .github/workflows/sdk-component-yaml.yml
  .github/workflows/sdk-upgrade.yml
Due: none

Cleanup
  .github/workflows/README.md
  samples/core/sequential/sequential.py
  test/presubmit-tests-sdk.sh
  test/v1-large/kfp_status_parser.py
Due: none

issue-11979 - WIP - conditional tests
  backend/test/integration/dag_status_conditional_test.go
  backend/test/resources/dag_status/conditional_complex.py
  backend/test/resources/dag_status/conditional_complex.yaml
  backend/test/resources/dag_status/conditional_if_else_false.py
  backend/test/resources/dag_status/conditional_if_else_false.yaml
  backend/test/resources/dag_status/conditional_if_else_true.py
  backend/test/resources/dag_status/conditional_if_else_true.yaml
  backend/test/resources/dag_status/conditional_if_false.py
  backend/test/resources/dag_status/conditional_if_false.yaml
  backend/test/resources/dag_status/conditional_if_true.py
  backend/test/resources/dag_status/conditional_if_true.yaml
Due: none

issue-11979 - WIP - nested tests
  backend/test/integration/dag_status_nested_test.go
  backend/test/resources/dag_status/nested_conditional.py
  backend/test/resources/dag_status/nested_conditional.yaml
  backend/test/resources/dag_status/nested_deep.py
  backend/test/resources/dag_status/nested_deep.yaml
  backend/test/resources/dag_status/nested_parallel_for.py
  backend/test/resources/dag_status/nested_parallel_for.yaml
  backend/test/resources/dag_status/nested_simple.py
  backend/test/resources/dag_status/nested_simple.yaml
Due: none

fixed warnings in base/installs/generic
  manifests/kustomize/base/installs/generic/kustomization.yaml
  manifests/kustomize/base/pipeline/kfp-launcher-configmap.yaml
Due: none

fixed build errors in generic/postgres
  manifests/kustomize/base/installs/generic/postgres/kustomization.yaml
Due: none

fixed build errors in generic
  manifests/kustomize/base/installs/generic/kustomization.yaml
Due: none

Make the workspace size required
  backend/src/apiserver/config/config.json
  backend/src/apiserver/main.go
  backend/src/apiserver/resource/resource_manager.go
  backend/src/v2/compiler/argocompiler/argo.go
  backend/src/v2/compiler/argocompiler/argo_workspace_test.go
  sdk/python/kfp/compiler/compiler_test.py
  sdk/python/kfp/dsl/pipeline_config.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

Updated the versions of area/Sdk
  sdk/python/requirements-dev-updated.txt
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

adding new blank file
  blankfile
Due: none

fixed warnings in overlays/postgres
  manifests/kustomize/base/metadata/overlays/postgres/kustomization.yaml
  manifests/kustomize/base/metadata/overlays/postgres/patches/metadata-grpc-deployment.yaml
Due: none

fixing warnings in overlays/db
  manifests/kustomize/base/metadata/overlays/db/kustomization.yaml
  manifests/kustomize/base/metadata/overlays/db/patches/metadata-grpc-deployment.yaml
Due: none

finished base/installs/generic dir
  manifests/kustomize/base/installs/generic/kustomization.yaml
  manifests/kustomize/base/pipeline/kfp-launcher-configmap.yaml
Due: none

typo in base/installs/generic dir
  manifests/kustomize/base/installs/generic/kustomization.yaml
Due: none

finished base/installs/generic/postgres dir
  manifests/kustomize/base/installs/generic/postgres/kustomization.yaml
Due: none

fixed base/metadata/base dir
  manifests/kustomize/base/metadata/base/kustomization.yaml
Due: none

finishing base/metadata/overlays/db dir
  manifests/kustomize/base/metadata/overlays/db/kustomization.yaml
  manifests/kustomize/base/metadata/overlays/db/patches/metadata-grpc-deployment.yaml
Due: none

finishing base/metadata/overlays/postgres dir
  manifests/kustomize/base/metadata/overlays/postgres/kustomization.yaml
  manifests/kustomize/base/metadata/overlays/postgres/patches/metadata-grpc-deployment.yaml
Due: none

fixed base/pipeline dir
  manifests/kustomize/base/pipeline/kustomization.yaml
Due: none

Building docker images via Docker Bake as so that builds can run in parallel and we speed up KFP Cluster Create
  .github/actions/kfp-cluster/action.yml
  .github/resources/scripts/build-images-parallel.hcl
  .github/resources/scripts/push-images.sh
  backend/Dockerfile
  backend/Dockerfile.persistenceagent
  backend/Dockerfile.scheduledworkflow
  backend/Dockerfile.viewercontroller
Due: none

fix(sdk,backend): Make the workspace size required (#12094)
  backend/src/apiserver/config/config.json
  backend/src/apiserver/main.go
  backend/src/apiserver/resource/resource_manager.go
  backend/src/v2/compiler/argocompiler/argo.go
  backend/src/v2/compiler/argocompiler/argo_workspace_test.go
  sdk/python/kfp/compiler/compiler_test.py
  sdk/python/kfp/dsl/pipeline_config.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

fix(deps): revert metadata_writer k8s version
  backend/metadata_writer/requirements.in
  backend/metadata_writer/requirements.txt
Due: none

feat(backend/sdk): define and use dsl.WORKSPACE_PATH_PLACEHOLDER for workspace access
  backend/src/v2/compiler/visitor.go
  backend/src/v2/component/constants.go
  backend/src/v2/driver/driver.go
  backend/src/v2/driver/driver_test.go
  backend/src/v2/driver/resolve.go
  proposals/11875-pipeline-workspace/README.md
  samples/v2/pipeline_with_workspace.py
  samples/v2/sample_test.py
  sdk/python/kfp/dsl/__init__.py
  sdk/python/kfp/dsl/constants.py
  sdk/python/kfp/dsl/placeholders_test.py
  sdk/python/kfp/local/config.py
  sdk/python/kfp/local/config_test.py
  sdk/python/kfp/local/pipeline_orchestrator.py
  sdk/python/kfp/local/placeholder_utils.py
  sdk/python/kfp/local/placeholder_utils_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

Implement TLS for apiserver HTTP/GRPC
  backend/src/agent/persistence/client/pipeline_client.go
  backend/src/agent/persistence/main.go
  backend/src/apiserver/main.go
  backend/src/common/util/service.go
  backend/src/v2/cacheutils/cache.go
  backend/src/v2/cacheutils/cache_test.go
  backend/src/v2/client_manager/client_manager.go
  backend/src/v2/cmd/driver/main.go
  backend/src/v2/cmd/launcher-v2/main.go
  backend/src/v2/compiler/argocompiler/argo.go
  backend/src/v2/compiler/argocompiler/common.go
  backend/src/v2/compiler/argocompiler/container.go
  backend/src/v2/compiler/argocompiler/dag.go
  backend/src/v2/compiler/argocompiler/importer.go
  backend/src/v2/compiler/argocompiler/testdata/create_mount_delete_dynamic_pvc.yaml
  backend/src/v2/compiler/argocompiler/testdata/create_pod_metadata.yaml
  backend/src/v2/compiler/argocompiler/testdata/create_pod_metadata_complex.yaml
  backend/src/v2/compiler/argocompiler/testdata/exit_handler.yaml
  backend/src/v2/compiler/argocompiler/testdata/final_status_state.yaml
  backend/src/v2/compiler/argocompiler/testdata/hello_world.yaml
  backend/src/v2/compiler/argocompiler/testdata/hello_world_cache_disabled.yaml
  backend/src/v2/compiler/argocompiler/testdata/hello_world_log_level.yaml
  backend/src/v2/compiler/argocompiler/testdata/hello_world_pvc_workspace.yaml
  backend/src/v2/compiler/argocompiler/testdata/hello_world_run_as_user.yaml
  backend/src/v2/compiler/argocompiler/testdata/hello_world_with_retry.yaml
  backend/src/v2/compiler/argocompiler/testdata/hello_world_with_retry_all_args.yaml
  backend/src/v2/compiler/argocompiler/testdata/importer.yaml
  backend/src/v2/compiler/argocompiler/testdata/multiple_parallel_loops.yaml
  backend/src/v2/compiler/argocompiler/testdata/nested_pipeline_all_level_retry.yaml
  backend/src/v2/compiler/argocompiler/testdata/nested_pipeline_pipeline_retry.yaml
  backend/src/v2/compiler/argocompiler/testdata/nested_pipeline_sub_component_retry.yaml
  backend/src/v2/component/launcher_v2.go
  backend/src/v2/component/launcher_v2_test.go
  backend/src/v2/driver/container.go
  backend/src/v2/driver/driver.go
  backend/src/v2/driver/driver_test.go
  frontend/server/configs.ts
  frontend/server/utils.ts
Due: none

Update vulnerable dependencies and resolve conflicts
  sdk/python/kfp/_auth.py
  sdk/python/requirements.in
  sdk/python/requirements.txt
  sdk/python/setup.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

Update version
  sdk/python/kfp/__init__.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

fix(deps): revert metadata_writer k8s version (#12099)
  backend/metadata_writer/requirements.in
  backend/metadata_writer/requirements.txt
Due: none

Native K8s Test Plan initial draft of k8s native api test plan
  proposals/11551-kubernetes-native-api/TestPlan.md
Due: none

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
