Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python38, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-v2-go-test, kubeflow-pipelines-manifests

kubeflow-pipelines-sdk-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27-v2:
  decorate: true
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-backend-visualization-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

kubeflow-pipeline-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node:12
      command:
      - /bin/sh
      args:
      - -c
      - cd ./frontend && npm run test:ci:prow

kubeflow-pipeline-backend-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.17.6-bullseye
      command:
      - ./test/presubmit-backend-test.sh

kubeflow-pipeline-e2e-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-with-pipeline-deployment.sh
      args:
      - --workflow_file
      - e2e_test_gke_v2.yaml
      - --test_result_folder
      - e2e_test

kubeflow-pipeline-mkp-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-mkp.sh

kubeflow-pipeline-mkp-snapshot-test:
  decorate: true
  spec:
    containers:
    - image: bash:alpine3.14
      command:
      - bash
      args:
      - ./manifests/gcp_marketplace/test/presubmit.sh

kubeflow-pipeline-upgrade-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/upgrade-tests.sh
      args:
      - --test_result_folder
      - upgrade_test

kubeflow-pipelines-sdk-python37:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

feat(components): Fix batch prediction job proto bigquery payload sanitization
  components/google-cloud/google_cloud_pipeline_components/container/v1/batch_prediction_job/remote_runner.py
  components/google-cloud/tests/container/v1/batch_prediction_job/test_batch_prediction_job_remote_runner.py
Due: kubeflow-pipelines-components-google-cloud-python38

Remove sagemaker check
  components/aws/sagemaker/tests/integration_tests/component_tests/test_v2_monitoring_schedule_component.py
Due: none

Rename button in details panel.
  frontend/src/components/tabs/RuntimeNodeDetailsV2.tsx
  frontend/src/components/tabs/StaticNodeDetailsV2.test.tsx
  frontend/src/components/tabs/StaticNodeDetailsV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Disable sort functionality (incompleted) Add TODO.
  frontend/src/pages/ExecutionList.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Disable sort functionality (incompleted). Add TODO.
  frontend/src/pages/ArtifactList.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Remove unused import
  frontend/src/pages/ArtifactList.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Remove unused import
  frontend/src/pages/ExecutionList.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Fix typos in unit tests
  frontend/src/pages/ExecutionList.test.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Fix unit tests
  frontend/src/pages/ArtifactList.test.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Use PipelineDeploymentConfig and PipelineDeploymentConfig_ExecutorSpec in WorkflowUtils. Format the "command" in pipeline details side panel.
  frontend/src/components/tabs/StaticNodeDetailsV2.tsx
  frontend/src/generated/pipeline_spec/index.ts
  frontend/src/lib/v2/WorkflowUtils.ts
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Fix unit tests
  frontend/src/components/tabs/StaticNodeDetailsV2.test.tsx
  frontend/src/lib/v2/WorkflowUtils.test.ts
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Remove unnecessary export
  frontend/src/generated/pipeline_spec/index.ts
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Create and use license-compliance driver and launcher
  backend/Dockerfile.driver
  backend/Dockerfile.launcher
  backend/src/apiserver/template/template_test.go
  backend/src/v2/compiler/argocompiler/argo.go
  backend/src/v2/compiler/argocompiler/testdata/create_mount_delete_dynamic_pvc.yaml
  backend/src/v2/compiler/argocompiler/testdata/hello_world.yaml
  backend/src/v2/compiler/argocompiler/testdata/importer.yaml
  backend/third_party_licenses/driver.csv
  backend/third_party_licenses/launcher.csv
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-samples-v2, kubeflow-pipelines-v2-go-test

fix launcher cmd
  backend/Dockerfile.launcher
  backend/src/apiserver/template/template_test.go
  backend/src/v2/compiler/argocompiler/argo.go
  backend/src/v2/compiler/argocompiler/testdata/create_mount_delete_dynamic_pvc.yaml
  backend/src/v2/compiler/argocompiler/testdata/hello_world.yaml
  backend/src/v2/compiler/argocompiler/testdata/importer.yaml
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-samples-v2, kubeflow-pipelines-v2-go-test

Validate pipeline spec name and relax display name
  backend/src/apiserver/common/utils.go
  backend/src/apiserver/common/utils_test.go
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/resource/resource_manager_test.go
  backend/src/apiserver/server/pipeline_server.go
  backend/src/apiserver/server/pipeline_server_test.go
  backend/src/apiserver/server/pipeline_upload_server.go
  backend/src/apiserver/server/pipeline_upload_server_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

write new parameter type
  sdk/python/kfp/compiler/pipeline_spec_builder.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

update golden snapshots
  sdk/python/test_data/pipelines/pipeline_as_exit_task.yaml
  sdk/python/test_data/pipelines/pipeline_with_task_final_status.yaml
  sdk/python/test_data/pipelines/pipeline_with_task_final_status_yaml.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

add compiler tests
  sdk/python/kfp/compiler/compiler_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

fix value compilation bug when passing boolean as a constant
  sdk/RELEASE.md
  sdk/python/kfp/compiler/compiler_test.py
  sdk/python/kfp/compiler/pipeline_spec_builder.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

Remove unused getRunMetrics
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/server/run_server.go
  backend/src/apiserver/storage/run_store.go
  backend/src/apiserver/storage/run_store_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Remove deprecated experiemnt id
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/server/run_server.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Revent API version bump
  backend/src/apiserver/common/const.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Fix e2e test
  backend/test/integration/pipeline_api_test.go
  backend/test/integration/pipeline_version_api_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Update mnist sample with Hosting
  samples/contrib/aws-samples/mnist-kmeans-sagemaker/README.md
  samples/contrib/aws-samples/mnist-kmeans-sagemaker/mnist-classification-pipeline.py
Due: kubeflow-pipelines-samples-v2

Fix string comparison
  backend/src/apiserver/server/experiment_server.go
  backend/src/apiserver/server/job_server.go
  backend/src/apiserver/server/pipeline_server.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Revert test change
  backend/src/apiserver/server/experiment_server_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Change error type
  backend/src/apiserver/server/job_server.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Add sample pipeline for hosting and model monitor
  samples/contrib/aws-samples/hosting_model_monitor_pipeline/README.md
  samples/contrib/aws-samples/hosting_model_monitor_pipeline/hosting_model_monitor_pipeline.py
  samples/contrib/aws-samples/hosting_model_monitor_pipeline/model-monitor/baselining/data_quality/constraints.json
  samples/contrib/aws-samples/hosting_model_monitor_pipeline/model-monitor/baselining/data_quality/statistics.json
Due: kubeflow-pipelines-samples-v2

Add testBestPractices().
  frontend/src/pages/ArtifactList.test.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Add testBestPractices().
  frontend/src/pages/ExecutionList.test.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

chore: Create and use license-compliance driver and launcher images (#9388)
  backend/Dockerfile.driver
  backend/Dockerfile.launcher
  backend/src/apiserver/template/template_test.go
  backend/src/v2/compiler/argocompiler/argo.go
  backend/src/v2/compiler/argocompiler/testdata/create_mount_delete_dynamic_pvc.yaml
  backend/src/v2/compiler/argocompiler/testdata/hello_world.yaml
  backend/src/v2/compiler/argocompiler/testdata/importer.yaml
  backend/third_party_licenses/driver.csv
  backend/third_party_licenses/launcher.csv
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-samples-v2, kubeflow-pipelines-v2-go-test

Fix typo
  backend/src/apiserver/server/pipeline_server.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Fix namespace logic
  backend/src/apiserver/server/experiment_server.go
  backend/src/apiserver/server/job_server.go
  backend/src/apiserver/server/run_server.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

fix(components): Use distroless base OS image
  components/google-cloud/google_cloud_pipeline_components/container/Dockerfile
  components/google-cloud/google_cloud_pipeline_components/v1/bigquery/create_model/component.py
  components/google-cloud/google_cloud_pipeline_components/v1/bigquery/query_job/component.py
  components/google-cloud/google_cloud_pipeline_components/v1/custom_job/component.py
  components/google-cloud/google_cloud_pipeline_components/v1/dataproc/create_pyspark_batch/component.py
  components/google-cloud/google_cloud_pipeline_components/v1/hyperparameter_tuning_job/component.py
  components/google-cloud/google_cloud_pipeline_components/v1/model/upload_model/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-e2e-test: any of: ^(frontend/.*)|(backend/.*)|(proxy/.*)|(manifests/kustomize/.*)|(test/.*)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipeline-mkp-snapshot-test: any of: ^(manifests/gcp_marketplace/.*)$
  kubeflow-pipeline-upgrade-test: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python37: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python38: any of: ^(components/google-cloud/.*)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(samples/.*)|(backend/src/v2/.*)$
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-v2-go-test: any of: ^backend/src/v2/.*$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$
