Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python38, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-v2-go-test, kubeflow-pipelines-manifests

kubeflow-pipelines-sdk-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27-v2:
  decorate: true
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-backend-visualization-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

kubeflow-pipeline-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node:12
      command:
      - /bin/sh
      args:
      - -c
      - cd ./frontend && npm run test:ci:prow

kubeflow-pipeline-backend-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.17.6-bullseye
      command:
      - ./test/presubmit-backend-test.sh

kubeflow-pipeline-e2e-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-with-pipeline-deployment.sh
      args:
      - --workflow_file
      - e2e_test_gke_v2.yaml
      - --test_result_folder
      - e2e_test

kubeflow-pipeline-mkp-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-mkp.sh

kubeflow-pipeline-mkp-snapshot-test:
  decorate: true
  spec:
    containers:
    - image: bash:alpine3.14
      command:
      - bash
      args:
      - ./manifests/gcp_marketplace/test/presubmit.sh

kubeflow-pipeline-upgrade-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/upgrade-tests.sh
      args:
      - --test_result_folder
      - upgrade_test

kubeflow-pipelines-sdk-python37:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

Add nodeSelector and res to podSpec
  backend/src/v2/driver/driver.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-samples-v2, kubeflow-pipelines-v2-go-test

Fix unit test
  backend/src/apiserver/storage/run_store_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

chore(components): Improve Dataflow Flex Template component logging
  components/google-cloud/google_cloud_pipeline_components/container/experimental/dataflow/flex_template/remote_runner.py
  components/google-cloud/tests/container/experimental/dataflow/test_dataflow_flex_template_remote_runner.py
Due: kubeflow-pipelines-components-google-cloud-python38

Update sdk/python/kfp/cli/component.py
  sdk/python/kfp/cli/component.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

feat(sdk): PR changes: removed additional space from index url options string; duplicate removal not necessary
  sdk/python/kfp/cli/component.py
  sdk/python/kfp/cli/component_test.py
  sdk/python/kfp/components/component_factory.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

feat(sdk): feature mentioned in RELEASE.md
  sdk/RELEASE.md
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37

deduplication back - more components in a file can specify same pypi url - we need it only once for docker image
  sdk/python/kfp/cli/component.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

update logic handling when parameter not provided
  backend/src/v2/driver/driver.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-samples-v2, kubeflow-pipelines-v2-go-test

fix(backend): Add checking for state change in state history (#8903)
  backend/src/apiserver/storage/run_store.go
  backend/src/apiserver/storage/run_store_test.go
  backend/src/apiserver/storage/task_store.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

add condition
  backend/src/v2/compiler/argocompiler/container.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-samples-v2, kubeflow-pipelines-v2-go-test

fix sample test
  samples/v2/component_with_optional_inputs_test.py
Due: kubeflow-pipelines-samples-v2

Regenerate TS API client for lastest changes (add listAllRuns).
  frontend/src/apisv2beta1/pipeline/api.ts
  frontend/src/apisv2beta1/recurringrun/api.ts
  frontend/src/apisv2beta1/run/api.ts
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

feature note moved to current development section
  sdk/RELEASE.md
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37

chore(components): Revert aiplatform.v1.model components
  components/google-cloud/google_cloud_pipeline_components/v1/model/__init__.py
  components/google-cloud/google_cloud_pipeline_components/v1/model/export_model/component.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/model/upload_model/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

feat(sdk): using component's pip_index_urls for Dockerfile generation. Fixes #8816 (#8871)
  sdk/RELEASE.md
  sdk/python/kfp/cli/component.py
  sdk/python/kfp/cli/component_test.py
  sdk/python/kfp/components/component_factory.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

add error message
  backend/src/v2/driver/driver.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-samples-v2, kubeflow-pipelines-v2-go-test

fix(components): Change base image to ubuntu OS
  components/google-cloud/google_cloud_pipeline_components/container/Dockerfile
Due: kubeflow-pipelines-components-google-cloud-python38

fix samples test
  samples/test/lightweight_python_functions_v2_pipeline_test.py
Due: kubeflow-pipeline-e2e-test, kubeflow-pipelines-samples-v2

samples test
  samples/test/lightweight_python_functions_v2_pipeline_test.py
Due: kubeflow-pipeline-e2e-test, kubeflow-pipelines-samples-v2

chore(frontend): Regenerate TypeScript API client for the latest changes (add listAllRuns). (#8910)
  frontend/src/apisv2beta1/pipeline/api.ts
  frontend/src/apisv2beta1/recurringrun/api.ts
  frontend/src/apisv2beta1/run/api.ts
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

tend to comments 4
  sdk/python/kfp/compiler/compiler_test.py
  sdk/python/kfp/components/graph_component.py
  sdk/python/test_data/components/component_with_pip_install.yaml
  sdk/python/test_data/components/dict_input.yaml
  sdk/python/test_data/components/input_artifact.yaml
  sdk/python/test_data/pipelines/component_with_optional_inputs.yaml
  sdk/python/test_data/pipelines/component_with_pip_index_urls.yaml
  sdk/python/test_data/pipelines/container_component_with_no_inputs.yaml
  sdk/python/test_data/pipelines/lightweight_python_functions_with_outputs.yaml
  sdk/python/test_data/pipelines/pipeline_with_concat_placeholder.yaml
  sdk/python/test_data/pipelines/pipeline_with_dynamic_importer_metadata.yaml
  sdk/python/test_data/pipelines/pipeline_with_env.yaml
  sdk/python/test_data/pipelines/pipeline_with_google_artifact_type.yaml
  sdk/python/test_data/pipelines/pipeline_with_if_placeholder.yaml
  sdk/python/test_data/pipelines/pipeline_with_importer_and_gcpc_types.yaml
  sdk/python/test_data/pipelines/pipeline_with_ontology.yaml
  sdk/python/test_data/pipelines/pipeline_with_resource_spec.yaml
  sdk/python/test_data/pipelines/pipeline_with_retry.yaml
  sdk/python/test_data/pipelines/pipeline_with_task_final_status.yaml
  sdk/python/test_data/pipelines/pipeline_with_task_final_status_yaml.yaml
  sdk/python/test_data/pipelines/pipeline_with_various_io_types.yaml
  sdk/python/test_data/pipelines/two_step_pipeline.yaml
  sdk/python/test_data/pipelines/two_step_pipeline_containerized.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

feat(component): init container backend for evaluated annotation importer
  components/google-cloud/google_cloud_pipeline_components/container/experimental/evaluation/import_evaluated_annotation.py
  components/google-cloud/tests/container/experimental/evaluation/test_import_evaluated_annotation.py
Due: kubeflow-pipelines-components-google-cloud-python38

remove unused code
  backend/src/v2/driver/driver.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-samples-v2, kubeflow-pipelines-v2-go-test

Add getRunDurationV2 in Utils.tsx Change state to optional in hasFinishedV2() in StatusUtils.ts Integrate run list with v2 API (I)
  frontend/src/lib/StatusUtils.ts
  frontend/src/lib/Utils.tsx
  frontend/src/pages/RunList.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Separate runServiceV1 and runServiceV2 in Apis.ts
  frontend/src/lib/Apis.ts
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Fix miss match part of run list in AllRunList and component/ExperimentList
  frontend/src/components/ExperimentList.tsx
  frontend/src/pages/AllRunsList.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Integrate creating / cloning run with v2 api.
  frontend/src/pages/NewRunSwitcher.tsx
  frontend/src/pages/NewRunV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Fix miss match part of run list in ExperimentList and ExperimentDetails.
  frontend/src/components/ExperimentList.tsx
  frontend/src/pages/AllRunsList.tsx
  frontend/src/pages/ArchivedRuns.tsx
  frontend/src/pages/ExperimentDetails.tsx
  frontend/src/pages/ExperimentList.tsx
  frontend/src/pages/RunListsRouter.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Change RUN_DETAILS route link. add experimentID label in useQuery in RunDetialsRouter.tsx Change link address behind run name in run list.
  frontend/src/components/Router.tsx
  frontend/src/pages/RunDetailsRouter.tsx
  frontend/src/pages/RunList.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Add helper functions for v2 in StatusUtils.ts
  frontend/src/lib/StatusUtils.ts
  frontend/src/pages/NewRunSwitcher.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Separate v1 and v2 status by creating a new file StatusV2.tsx Change state in CheckifTerminated() as optional Add getRunDurationFromRunV2()
  frontend/src/lib/StatusUtils.ts
  frontend/src/lib/Utils.tsx
  frontend/src/pages/StatusV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Integrate run detials with V2 API (II)
  frontend/src/pages/RunDetailsRouter.tsx
  frontend/src/pages/RunDetailsV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Integrate run details page with v2 API (I) Add statusProtoMap in StatusUtils.ts
  frontend/src/lib/StatusUtils.ts
  frontend/src/pages/RunDetailsRouter.tsx
  frontend/src/pages/RunDetailsV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Separate v1 and v2 restore run button Create new dialoghandler for multi-id case Remove updateParentIdsChange helper function (use selectionChange to handle the parentIds changes)
  frontend/src/components/CustomTable.tsx
  frontend/src/lib/Buttons.ts
  frontend/src/pages/ArchivedRuns.tsx
  frontend/src/pages/ExperimentDetails.tsx
  frontend/src/pages/ExperimentList.tsx
  frontend/src/pages/RunDetailsV2.tsx
  frontend/src/pages/RunList.tsx
  frontend/src/pages/RunListsRouter.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-e2e-test: any of: ^(frontend/.*)|(backend/.*)|(proxy/.*)|(manifests/kustomize/.*)|(test/.*)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipeline-mkp-snapshot-test: any of: ^(manifests/gcp_marketplace/.*)$
  kubeflow-pipeline-upgrade-test: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python37: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python38: any of: ^(components/google-cloud/.*)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(samples/.*)|(backend/src/v2/.*)$
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-v2-go-test: any of: ^backend/src/v2/.*$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$
