Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-mkp-test, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python37, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-manifests

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipelines-sdk-python36: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python36: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python37: any of: ^(components/google-cloud/.*)|(test/presubmit-components-google-cloud.sh)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(v2/.*)$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$

address comment
  frontend/src/lib/v2/StaticFlow.test.ts
  frontend/src/lib/v2/StaticFlow.ts
Due: kubeflow-pipeline-frontend-test, kubeflow-pipelines-samples-v2

npm run format
  frontend/src/stories/Button.stories.tsx
  frontend/src/stories/Button.tsx
  frontend/src/stories/Header.stories.tsx
  frontend/src/stories/Header.tsx
  frontend/src/stories/Page.stories.tsx
  frontend/src/stories/Page.tsx
Due: kubeflow-pipeline-frontend-test

fix(sdk): Relax the requirement that component inputs/outputs must appear on the command line. (#6268)
  sdk/python/kfp/components/_python_op.py
  sdk/python/kfp/dsl/_component_bridge.py
  sdk/python/kfp/dsl/_container_op.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/lightweight_python_functions_v2_pipeline.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/lightweight_python_functions_v2_with_outputs.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_custom_job_spec.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_exit_handler.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_if_placeholder.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_importer.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_metrics_outputs.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/xgboost_sample_pipeline.json
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

Update utils.py
  components/google-cloud/google_cloud_pipeline_components/aiplatform/utils.py
Due: kubeflow-pipelines-components-google-cloud-python37

chore(frontend): Fix gen license issues for master (#6286)
  frontend/.gitignore
  frontend/README.md
  frontend/gen_licenses.js
  frontend/package-lock.json
  frontend/package.json
  frontend/third_party/once/LICENSE
  frontend/third_party/watchpack/LICENSE
Due: kubeflow-pipeline-frontend-test

start adding description to version
  backend/api/go_client/pipeline.pb.go
  backend/api/go_http_client/pipeline_model/api_pipeline_version.go
  backend/api/pipeline.proto
  backend/api/python_http_client/docs/ApiPipelineVersion.md
  backend/api/python_http_client/kfp_server_api/models/api_pipeline_version.py
  backend/api/python_http_client/test/test_api_list_pipeline_versions_response.py
  backend/api/python_http_client/test/test_api_list_pipelines_response.py
  backend/api/python_http_client/test/test_api_pipeline.py
  backend/api/python_http_client/test/test_api_pipeline_version.py
  backend/api/swagger/kfp_api_single_file.swagger.json
  backend/api/swagger/pipeline.swagger.json
Due: kubeflow-pipeline-backend-test

run auto formatter
  frontend/server/src/generated/apis/auth/api.ts
  frontend/server/src/generated/apis/auth/configuration.ts
  frontend/server/src/generated/apis/auth/custom.d.ts
  frontend/server/src/generated/apis/auth/index.ts
  frontend/src/apis/experiment/api.ts
  frontend/src/apis/experiment/configuration.ts
  frontend/src/apis/experiment/custom.d.ts
  frontend/src/apis/experiment/index.ts
  frontend/src/apis/filter/api.ts
  frontend/src/apis/filter/configuration.ts
  frontend/src/apis/filter/custom.d.ts
  frontend/src/apis/filter/index.ts
  frontend/src/apis/job/api.ts
  frontend/src/apis/job/configuration.ts
  frontend/src/apis/job/custom.d.ts
  frontend/src/apis/job/index.ts
  frontend/src/apis/pipeline/api.ts
  frontend/src/apis/pipeline/configuration.ts
  frontend/src/apis/pipeline/custom.d.ts
  frontend/src/apis/pipeline/index.ts
  frontend/src/apis/run/api.ts
  frontend/src/apis/run/configuration.ts
  frontend/src/apis/run/custom.d.ts
  frontend/src/apis/run/index.ts
  frontend/src/apis/visualization/api.ts
  frontend/src/apis/visualization/configuration.ts
  frontend/src/apis/visualization/custom.d.ts
  frontend/src/apis/visualization/index.ts
Due: kubeflow-pipeline-frontend-test

remove description from pipeline default version
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/storage/pipeline_store.go
Due: kubeflow-pipeline-backend-test

update frontend generated api
  frontend/server/src/generated/apis/auth/api.ts
  frontend/server/src/generated/apis/auth/configuration.ts
  frontend/server/src/generated/apis/auth/custom.d.ts
  frontend/server/src/generated/apis/auth/index.ts
  frontend/src/apis/experiment/api.ts
  frontend/src/apis/experiment/configuration.ts
  frontend/src/apis/experiment/custom.d.ts
  frontend/src/apis/experiment/index.ts
  frontend/src/apis/filter/api.ts
  frontend/src/apis/filter/configuration.ts
  frontend/src/apis/filter/custom.d.ts
  frontend/src/apis/filter/index.ts
  frontend/src/apis/job/api.ts
  frontend/src/apis/job/configuration.ts
  frontend/src/apis/job/custom.d.ts
  frontend/src/apis/job/index.ts
  frontend/src/apis/pipeline/api.ts
  frontend/src/apis/pipeline/configuration.ts
  frontend/src/apis/pipeline/custom.d.ts
  frontend/src/apis/pipeline/index.ts
  frontend/src/apis/run/api.ts
  frontend/src/apis/run/configuration.ts
  frontend/src/apis/run/custom.d.ts
  frontend/src/apis/run/index.ts
  frontend/src/apis/visualization/api.ts
  frontend/src/apis/visualization/configuration.ts
  frontend/src/apis/visualization/custom.d.ts
  frontend/src/apis/visualization/index.ts
Due: kubeflow-pipeline-frontend-test

add missing api converter step
  backend/src/apiserver/server/api_converter.go
  backend/src/apiserver/server/api_converter_test.go
Due: kubeflow-pipeline-backend-test

add description to resource manager
  backend/src/apiserver/model/pipeline_version.go
  backend/src/apiserver/resource/resource_manager.go
Due: kubeflow-pipeline-backend-test

update pipeline_store
  backend/src/apiserver/storage/pipeline_store.go
Due: kubeflow-pipeline-backend-test

add comment to frontend readme about running npm run format
  frontend/README.md
Due: kubeflow-pipeline-frontend-test

add some tests to ensure its being passed around
  backend/src/apiserver/resource/resource_manager_test.go
  backend/src/apiserver/storage/pipeline_store_test.go
Due: kubeflow-pipeline-backend-test

clean up
  v2/compiler/dag.go
  v2/component/launcher.go
  v2/component/launcher_v2.go
Due: kubeflow-pipelines-samples-v2

chore(v2): artifact passing via local path (#6285)
  samples/test/two_step.py
  samples/test/two_step_test.py
  v2/Makefile
  v2/cmd/driver/main.go
  v2/cmd/launcher-v2/main.go
  v2/compiler/dag.go
  v2/component/launcher.go
  v2/component/launcher_v2.go
  v2/driver/driver.go
  v2/metadata/client.go
  v2/metadata/client_test.go
  v2/objectstore/object_store.go
Due: kubeflow-pipelines-samples-v2

feat(frontend): Convert PipelineSpec to Staticflow for V2 pipeline. Fix #6270 (#6278)
  frontend/scripts/pipelinespec.sh
  frontend/src/data/test/v2_pipeline_def.ts
  frontend/src/generated/pipeline_spec/google/rpc/status_pb.d.ts
  frontend/src/generated/pipeline_spec/google/rpc/status_pb.js
  frontend/src/generated/pipeline_spec/index.ts
  frontend/src/lib/v2/StaticFlow.test.ts
  frontend/src/lib/v2/StaticFlow.ts
Due: kubeflow-pipeline-frontend-test, kubeflow-pipelines-samples-v2

chore(swf): fix recurring run + v2 compatible
  backend/src/crd/controller/scheduledworkflow/util/scheduled_workflow.go
  backend/src/crd/controller/scheduledworkflow/util/scheduled_workflow_test.go
Due: kubeflow-pipeline-backend-test

chore(swf): fix recurring run + v2 compatible (#6297)
  backend/src/crd/controller/scheduledworkflow/util/scheduled_workflow.go
  backend/src/crd/controller/scheduledworkflow/util/scheduled_workflow_test.go
Due: kubeflow-pipeline-backend-test

update types
  components/gcp/README.md
  components/google-cloud/google_cloud_pipeline_components/experimental/dataflow/launch_flex_template/README.md
  components/google-cloud/google_cloud_pipeline_components/experimental/dataflow/launch_flex_template/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/dataflow/launch_flex_template/sample.ipynb
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

Add sample for Vertex AI custom job
  components/google-cloud/google_cloud_pipeline_components/experimental/custom_job/custom_job_sample.ipynb
Due: kubeflow-pipelines-components-google-cloud-python37

correct api documentation
  components/google-cloud/google_cloud_pipeline_components/experimental/custom_job/custom_job_sample.ipynb
Due: kubeflow-pipelines-components-google-cloud-python37

update types
  components/google-cloud/google_cloud_pipeline_components/experimental/AutoML/Tables/Create_dataset/from_CSV/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

fix(components/google-cloud): Skip serialization of value if value is instance of PipelineParam (#6290)
  components/google-cloud/google_cloud_pipeline_components/aiplatform/utils.py
Due: kubeflow-pipelines-components-google-cloud-python37

update types
  components/google-cloud/google_cloud_pipeline_components/experimental/AutoML/import_data_from_bigquery/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

update types
  components/google-cloud/google_cloud_pipeline_components/experimental/AutoML/prediction_service_batch_predict/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

update types
  components/gcp/README.md
Due: none

remove from release script
  components/release-in-place.sh
  components/release.sh
Due: none

simplify notebook
  components/google-cloud/google_cloud_pipeline_components/experimental/custom_job/custom_job_sample.ipynb
Due: kubeflow-pipelines-components-google-cloud-python37

small comment correction
  components/google-cloud/google_cloud_pipeline_components/experimental/custom_job/custom_job_sample.ipynb
Due: kubeflow-pipelines-components-google-cloud-python37

chore: stop releasing gcp components (#6274)
  .cloudbuild.yaml
  .release.cloudbuild.yaml
  components/release-in-place.sh
  components/release.sh
Due: none
