Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-mkp-test, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python37, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-manifests

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipelines-sdk-python36: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python36: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python37: any of: ^(components/google-cloud/.*)|(test/presubmit-components-google-cloud.sh)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(v2/.*)$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$

feat(frontend,sdk) towards namespaced pipelines #4197 - adapt swagger def and regenerate Go SDK - remove namespacing from pipeline_version - is implicit in Python SDK
  backend/api/go_http_client/pipeline_upload_client/pipeline_upload_service/upload_pipeline_parameters.go
  backend/api/swagger/kfp_api_single_file.swagger.json
  backend/api/swagger/pipeline.upload.swagger.json
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipeline-backend-test, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

update formatting
  CHANGELOG.md
Due: none

chore(release): bump version to 1.8.1 on master branch (#7353)
  CHANGELOG.md
  VERSION
  backend/api/python_http_client/README.md
  backend/api/python_http_client/kfp_server_api/__init__.py
  backend/api/python_http_client/kfp_server_api/api_client.py
  backend/api/python_http_client/kfp_server_api/configuration.py
  backend/api/python_http_client/setup.py
  backend/api/swagger/kfp_api_single_file.swagger.json
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/application.yaml
  manifests/gcp_marketplace/schema.yaml
  manifests/gcp_marketplace/test/snapshot-base.yaml
  manifests/gcp_marketplace/test/snapshot-emissary.yaml
  manifests/gcp_marketplace/test/snapshot-managed-storage-with-db-prefix.yaml
  manifests/gcp_marketplace/test/snapshot-managed-storage.yaml
  manifests/kustomize/base/cache-deployer/kustomization.yaml
  manifests/kustomize/base/cache/kustomization.yaml
  manifests/kustomize/base/installs/generic/pipeline-install-config.yaml
  manifests/kustomize/base/metadata/base/kustomization.yaml
  manifests/kustomize/base/pipeline/kustomization.yaml
  manifests/kustomize/base/pipeline/metadata-writer/kustomization.yaml
  manifests/kustomize/env/gcp/inverse-proxy/kustomization.yaml
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-mkp-test, kubeflow-pipelines-manifests

Lower max retries on HTTP errors.
  components/google-cloud/google_cloud_pipeline_components/container/v1/gcp_launcher/dataproc_batch_remote_runner.py
Due: kubeflow-pipelines-components-google-cloud-python37

chore(components): Fix HP Tuning test.
  components/google-cloud/tests/experimental/hyperparameter_tuning_job/unit/test_hyperparameter_tuning_job.py
Due: kubeflow-pipelines-components-google-cloud-python37

chore(components): update the release note
  components/google-cloud/RELEASE.md
  components/google-cloud/google_cloud_pipeline_components/version.py
Due: kubeflow-pipelines-components-google-cloud-python37

In gapic library by default there is no retry configured, causing polling batch prediction job status to fail due to transient errors like ServiceUnavailable.
  components/google-cloud/google_cloud_pipeline_components/container/v1/gcp_launcher/batch_prediction_job_remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/gcp_launcher/custom_job_remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/gcp_launcher/hyperparameter_tuning_job_remote_runner.py
Due: kubeflow-pipelines-components-google-cloud-python37

test docker file for persistence agent
  backend/Dockerfile.persistenceagent
Due: kubeflow-pipeline-backend-test

remove unused method
  backend/src/apiserver/storage/object_store.go
Due: kubeflow-pipeline-backend-test

use debug dockerfile
  backend/Dockerfile
Due: kubeflow-pipeline-backend-test

ReadArtifact receives the namespace as resourceKey
  backend/Dockerfile.persistenceagent
  backend/api/go_client/run.pb.go
  backend/api/go_client/run.pb.gw.go
  backend/api/go_http_client/run_client/run_service/read_artifact_parameters.go
  backend/api/run.proto
  backend/api/swagger/kfp_api_single_file.swagger.json
  backend/api/swagger/run.swagger.json
  backend/src/agent/persistence/worker/metrics_reporter.go
  backend/src/apiserver/client_manager.go
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/resource/resource_manager_test.go
  backend/src/apiserver/server/pipeline_upload_server_test.go
  backend/src/apiserver/server/run_server.go
  backend/src/apiserver/storage/minio_client.go
  backend/src/apiserver/storage/minio_client_fake.go
  backend/src/apiserver/storage/object_store.go
  backend/src/apiserver/storage/object_store_fake.go
  backend/src/apiserver/storage/object_store_test.go
  curl-testing.md
Due: kubeflow-pipeline-backend-test

bucketName was added to AddFile / DeleteFile too.
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/storage/object_store.go
Due: kubeflow-pipeline-backend-test

ReadArtifact works with namespaced bucket name
  backend/src/agent/persistence/worker/metrics_reporter.go
  backend/src/apiserver/storage/object_store.go
Due: kubeflow-pipeline-backend-test

remove not used methods
  backend/src/apiserver/storage/minio_client.go
  backend/src/apiserver/storage/minio_client_fake.go
Due: kubeflow-pipeline-backend-test

strictNamespaceIsolation
  backend/src/apiserver/client_manager.go
Due: kubeflow-pipeline-backend-test

remove not used methods
  backend/src/apiserver/storage/object_store_test.go
Due: kubeflow-pipeline-backend-test

fix tests
  backend/src/apiserver/client_manager.go
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/storage/object_store.go
  backend/src/apiserver/storage/object_store_fake.go
Due: kubeflow-pipeline-backend-test

remove not used methods
  backend/src/apiserver/resource/resource_manager_test.go
Due: kubeflow-pipeline-backend-test

private pipelines
  frontend/src/components/Router.tsx
  frontend/src/components/Toolbar.tsx
  frontend/src/lib/Apis.ts
  frontend/src/lib/Buttons.ts
  frontend/src/pages/NewPipelineVersion.tsx
  frontend/src/pages/PipelineList.tsx
Due: kubeflow-pipeline-frontend-test

fix tests
  backend/src/apiserver/resource/resource_manager_test.go
  backend/src/apiserver/storage/object_store_test.go
Due: kubeflow-pipeline-backend-test

Add old KFServing code
  samples/contrib/kubeflow-e2e-mnist/kubeflow-e2e-mnist.ipynb
Due: none

Fix xgboost_training_cm
  components/gcp/container/component_sdk/python/kfp_component/google/common/_utils.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37

fix(components): Fix gcp component that causes error running xgboost_training_cm sample. Fixes #7363 (#7364)
  components/gcp/container/component_sdk/python/kfp_component/google/common/_utils.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37

Handle Stopped state for all components and fix bug in robomaker simulation function
  components/aws/sagemaker/batch_transform/src/sagemaker_transform_component.py
  components/aws/sagemaker/ground_truth/src/sagemaker_ground_truth_component.py
  components/aws/sagemaker/hyperparameter_tuning/src/sagemaker_tuning_component.py
  components/aws/sagemaker/process/src/sagemaker_process_component.py
  components/aws/sagemaker/simulation_job/src/robomaker_simulation_job_component.py
  components/aws/sagemaker/train/src/sagemaker_training_component.py
Due: none

Change image for testing
  components/aws/sagemaker/batch_transform/component.yaml
  components/aws/sagemaker/create_simulation_app/component.yaml
  components/aws/sagemaker/delete_simulation_app/component.yaml
  components/aws/sagemaker/deploy/component.yaml
  components/aws/sagemaker/ground_truth/component.yaml
  components/aws/sagemaker/hyperparameter_tuning/component.yaml
  components/aws/sagemaker/model/component.yaml
  components/aws/sagemaker/process/component.yaml
  components/aws/sagemaker/rlestimator/component.yaml
  components/aws/sagemaker/simulation_job/component.yaml
  components/aws/sagemaker/simulation_job_batch/component.yaml
  components/aws/sagemaker/train/component.yaml
  components/aws/sagemaker/workteam/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml

Made changes as paul suggested
  samples/contrib/kubeflow-e2e-mnist/kubeflow-e2e-mnist.ipynb
Due: none

move client down
  samples/core/use_run_info/use_run_id.py
Due: none

Update multi user mode guide
  samples/contrib/kubeflow-e2e-mnist/kubeflow-e2e-mnist.ipynb
Due: none

change to kfp
  samples/core/use_run_info/use_run_id.py
Due: none

add import alias
  samples/core/train_until_good/train_until_good.py
  samples/core/use_run_info/use_run_id.py
Due: none

fix
  samples/core/use_run_info/use_run_id.py
Due: none

runid
  samples/core/use_run_info/use_run_id.py
Due: none

fix dsl
  samples/core/use_run_info/use_run_id.py
Due: none

Made changes as Paul suggested
  samples/contrib/kubeflow-e2e-mnist/kubeflow-e2e-mnist.ipynb
Due: none
