Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python38, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-v2-go-test, kubeflow-pipelines-manifests

kubeflow-pipelines-sdk-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27-v2:
  decorate: true
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-backend-visualization-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

kubeflow-pipeline-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node:12
      command:
      - /bin/sh
      args:
      - -c
      - cd ./frontend && npm run test:ci:prow

kubeflow-pipeline-backend-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.17.6-bullseye
      command:
      - ./test/presubmit-backend-test.sh

kubeflow-pipeline-e2e-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-with-pipeline-deployment.sh
      args:
      - --workflow_file
      - e2e_test_gke_v2.yaml
      - --test_result_folder
      - e2e_test

kubeflow-pipeline-mkp-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-mkp.sh

kubeflow-pipeline-mkp-snapshot-test:
  decorate: true
  spec:
    containers:
    - image: bash:alpine3.14
      command:
      - bash
      args:
      - ./manifests/gcp_marketplace/test/presubmit.sh

kubeflow-pipeline-upgrade-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/upgrade-tests.sh
      args:
      - --test_result_folder
      - upgrade_test

kubeflow-pipelines-sdk-python37:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

chore(components): Post release update for GCPC v1.0.27; Remove version upper bound on KFP
  components/google-cloud/RELEASE.md
  components/google-cloud/dependencies.py
  components/google-cloud/google_cloud_pipeline_components/version.py
Due: kubeflow-pipelines-components-google-cloud-python38

chore(components): Remove extra line
  components/google-cloud/google_cloud_pipeline_components/container/v1/custom_job/remote_runner.py
Due: kubeflow-pipelines-components-google-cloud-python38

fix(components): Fix the payload in batch prediction unit test
  components/google-cloud/tests/container/v1/batch_prediction_job/test_batch_prediction_job_remote_runner.py
Due: kubeflow-pipelines-components-google-cloud-python38

refactor(sdk): remove dead BaseModel code (#8415)
  sdk/python/kfp/components/base_model.py
  sdk/python/kfp/components/base_model_test.py
  sdk/python/kfp/components/placeholders.py
  sdk/python/kfp/components/structures.py
  sdk/python/kfp/components/structures_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

feat(backend): fix partner_id in GCP Marketplace application (#8426)
  .pre-commit-config.yaml
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/application.yaml
  manifests/gcp_marketplace/test/snapshot-base.yaml
  manifests/gcp_marketplace/test/snapshot-emissary.yaml
  manifests/gcp_marketplace/test/snapshot-managed-storage-with-db-prefix.yaml
  manifests/gcp_marketplace/test/snapshot-managed-storage.yaml
Due: kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test

refactor(sdk): simplify InputSpec (#8422)
  sdk/python/kfp/components/base_component.py
  sdk/python/kfp/components/base_component_test.py
  sdk/python/kfp/components/component_factory.py
  sdk/python/kfp/components/structures.py
  sdk/python/kfp/components/structures_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

fix(backend): Avoid referencing v2 images via `latest` label. (#8448)
  backend/src/v2/compiler/argocompiler/argo.go
  backend/src/v2/compiler/argocompiler/testdata/hello_world.yaml
  backend/src/v2/compiler/argocompiler/testdata/importer.yaml
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-samples-v2, kubeflow-pipelines-v2-go-test

feat(components): Support serving default in bq export model job op
  components/google-cloud/google_cloud_pipeline_components/container/v1/bigquery/export_model/remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/bigquery/utils/bigquery_util.py
  components/google-cloud/google_cloud_pipeline_components/v1/bigquery/export_model/component.yaml
  components/google-cloud/tests/container/v1/bigquery/test_bigquery_job_remote_runner.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

fix(sdk): fix boolean default value serialization bug (#8444)
  sdk/python/kfp/compiler/compiler_test.py
  sdk/python/kfp/compiler/pipeline_spec_builder.py
  sdk/python/test_data/pipelines/xgboost_sample_pipeline.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

fix(test): unable to create test cluster (#8410)
  test/deploy-cluster.sh
Due: kubeflow-pipeline-e2e-test

docs(sdk): update pipeline task .set_gpu_limit reference docs (#8477)
  sdk/python/kfp/components/pipeline_task.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

chore(components): Add sample for blended pipeline using v1 and v2 AWS Sagemaker components (#8284)
  samples/contrib/aws-samples/README.md
  samples/contrib/aws-samples/mnist-kmeans-sagemaker/README.md
  samples/contrib/aws-samples/mnist-kmeans-sagemaker/invoke_endpoint.py
  samples/contrib/aws-samples/mnist-kmeans-sagemaker/mnist-classification-pipeline.py
Due: kubeflow-pipelines-samples-v2

chore: require setting v2 image prefix in Makefile (#8472)
  backend/src/v2/Makefile
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-samples-v2, kubeflow-pipelines-v2-go-test

fix(sdk): fix nested placeholders and block illegal IfPresent form in Concat (#8414)
  components/test_load_all_components.sh
  sdk/python/kfp/components/pipeline_task.py
  sdk/python/kfp/components/placeholders.py
  sdk/python/kfp/components/placeholders_test.py
  sdk/python/kfp/components/structures.py
  sdk/python/kfp/components/structures_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

feat(components): Add DataprocBatch resource to gcp_resources output parameter
  components/google-cloud/google_cloud_pipeline_components/container/v1/dataproc/utils/dataproc_util.py
  components/google-cloud/tests/container/v1/dataproc/create_pyspark_batch/test_create_pyspark_batch_remote_runner.py
  components/google-cloud/tests/container/v1/dataproc/create_spark_batch/test_create_spark_batch_remote_runner.py
  components/google-cloud/tests/container/v1/dataproc/create_spark_r_batch/test_create_spark_r_batch_remote_runner.py
  components/google-cloud/tests/container/v1/dataproc/create_spark_sql_batch/test_create_spark_sql_batch_remote_runner.py
Due: kubeflow-pipelines-components-google-cloud-python38

feat(components): Support uploading for model versions for ModelUploadOp
  components/google-cloud/google_cloud_pipeline_components/container/v1/model/upload_model/launcher.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/model/upload_model/remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/v1/model/upload_model/component.yaml
  components/google-cloud/tests/container/v1/model/upload_model/test_upload_model_launcher.py
  components/google-cloud/tests/container/v1/model/upload_model/test_upload_model_remote_runner.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

test(sdk): implement small tests for Client class (#8517)
  sdk/python/kfp/client/client.py
  sdk/python/kfp/client/client_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

fix(sdk): fix bug when referencing component.pipeline_spec in a pipeline body (#8514)
  sdk/python/kfp/components/base_component.py
  sdk/python/kfp/components/base_component_test.py
  sdk/python/kfp/components/pipeline_task.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

chore: update contributing guideline (#8482)
  CONTRIBUTING.md
Due: none

fix(backend): fixes a potential upgrade/downgrade error (#8515)
  backend/src/apiserver/server/api_converter.go
  backend/src/apiserver/server/api_converter_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

chore(sdk): release KFP SDK 2.0.0b8 (#8508)
  docs/conf.py
  sdk/RELEASE.md
  sdk/python/kfp/__init__.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

fix(backend): Fix recurring run for v2 pipeline (#8487)
  backend/src/common/util/workflow.go
  backend/src/common/util/workflow_test.go
  backend/src/crd/controller/scheduledworkflow/util/scheduled_workflow_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

feat(backend): Upload namespaced pipeline definitions. Part of #4197 (#8511)
  backend/api/v1beta1/go_http_client/pipeline_upload_client/pipeline_upload_service/upload_pipeline_parameters.go
  backend/api/v1beta1/go_http_client/pipeline_upload_client/pipeline_upload_service/upload_pipeline_version_parameters.go
  backend/api/v1beta1/swagger/kfp_api_single_file.swagger.json
  backend/api/v1beta1/swagger/pipeline.upload.swagger.json
  backend/src/apiserver/server/pipeline_upload_server.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

feat(components): propagates vertex system labels to the downstream resources (batch prediction job)
  components/google-cloud/google_cloud_pipeline_components/container/v1/batch_prediction_job/remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/gcp_launcher/utils/gcp_labels_util.py
  components/google-cloud/tests/container/v1/batch_prediction_job/test_batch_prediction_job_remote_runner.py
  components/google-cloud/tests/container/v1/gcp_launcher/utils/test_gcp_labels_util.py
Due: kubeflow-pipelines-components-google-cloud-python38

fix(sdk): revert premature client changes (#8507)
  sdk/python/kfp/client/client.py
  test/presubmit-sdk-execution-tests.sh
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipeline-e2e-test, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

feat(components): propagates vertex system labels to the downstream resources (bigquery job)
  components/google-cloud/google_cloud_pipeline_components/container/v1/bigquery/utils/bigquery_util.py
  components/google-cloud/tests/container/v1/bigquery/test_bigquery_job_remote_runner.py
Due: kubeflow-pipelines-components-google-cloud-python38

feat(components): Add text classification data processing component and training component
  components/google-cloud/google_cloud_pipeline_components/container/Dockerfile
  components/google-cloud/google_cloud_pipeline_components/container/experimental/sklearn/__init__.py
  components/google-cloud/google_cloud_pipeline_components/container/experimental/sklearn/train_test_split_jsonl.py
  components/google-cloud/google_cloud_pipeline_components/experimental/sklearn/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/sklearn/train_test_split_jsonl/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/text_classification/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/text_classification/train_tensorflow_model/component.yaml
  components/google-cloud/tests/container/experimental/sklearn/test_train_test_split_jsonl.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

fix(sdk): unblock valid topology. (#8416)
  sdk/RELEASE.md
  sdk/python/kfp/compiler/compiler_test.py
  sdk/python/kfp/compiler/compiler_utils.py
  sdk/python/kfp/components/pipeline_task.py
  sdk/python/kfp/components/pipeline_task_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

chore(components): Align Dataproc experimental and v1 component interfaces
  components/google-cloud/google_cloud_pipeline_components/experimental/dataproc/create_pyspark_batch/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/dataproc/create_spark_batch/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/dataproc/create_spark_r_batch/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/dataproc/create_spark_sql_batch/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

chore(components): Post release update for GCPC v1.0.28
  components/google-cloud/RELEASE.md
  components/google-cloud/google_cloud_pipeline_components/version.py
Due: kubeflow-pipelines-components-google-cloud-python38

fix(sdk): fix multiple workers writing with gcsfuse bug [KFP SDK v2] (#8455)
  sdk/python/kfp/components/executor.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

feat(sdk): enable use of primitive placeholders in f-string (#8494)
  sdk/python/kfp/components/placeholders.py
  sdk/python/kfp/components/placeholders_test.py
  sdk/python/kfp/components/structures.py
  sdk/python/test_data/components/container_with_placeholder_in_fstring.py
  sdk/python/test_data/components/container_with_placeholder_in_fstring.yaml
  sdk/python/test_data/test_data_config.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

docs(components): Fix Dataproc component doc to indicate that `batch_id` is optional
  components/google-cloud/google_cloud_pipeline_components/proto/README.md
  components/google-cloud/google_cloud_pipeline_components/v1/dataproc/create_pyspark_batch/component.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/dataproc/create_spark_batch/component.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/dataproc/create_spark_r_batch/component.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/dataproc/create_spark_sql_batch/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

feat(sdk): support list of artifacts annotations [list of artifacts support pt. 1] (#8464)
  sdk/python/kfp/components/component_factory.py
  sdk/python/kfp/components/component_factory_test.py
  sdk/python/kfp/components/executor.py
  sdk/python/kfp/components/structures.py
  sdk/python/kfp/components/types/custom_artifact_types.py
  sdk/python/kfp/components/types/type_annotations.py
  sdk/python/kfp/components/types/type_annotations_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

chore(components): Simplify create_custom_training_job_op_from_component
  components/google-cloud/google_cloud_pipeline_components/v1/custom_job/utils.py
  components/google-cloud/tests/v1/custom_job/testdata/custom_training_job_spec.json
  components/google-cloud/tests/v1/custom_job/unit/test_custom_job_utils.py
Due: kubeflow-pipelines-components-google-cloud-python38

feat(IR): change is_list_of_artifacts proto field to is_artifact_list (#8522)
  api/v2alpha1/pipeline_spec.proto
Due: none

feat(sdk): add pipeline job placholders for scheduled runs (#8447)
  sdk/python/kfp/dsl/__init__.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

feat(sdk): add is_list_of_artifacts field to PipelineSpec [lists of artifacts support pt. 2] (#8466)
  api/v2alpha1/pipeline_spec.proto
  api/v2alpha1/python/setup.py
Due: none

chore(sdk): release KFP SDK 2.0.0b7 (#8503)
  docs/conf.py
  sdk/RELEASE.md
  sdk/python/kfp/__init__.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-e2e-test: any of: ^(frontend/.*)|(backend/.*)|(proxy/.*)|(manifests/kustomize/.*)|(test/.*)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipeline-mkp-snapshot-test: any of: ^(manifests/gcp_marketplace/.*)$
  kubeflow-pipeline-upgrade-test: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python37: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python38: any of: ^(components/google-cloud/.*)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(samples/.*)|(backend/src/v2/.*)$
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-v2-go-test: any of: ^backend/src/v2/.*$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$
