Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python38, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-v2-go-test, kubeflow-pipelines-manifests

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-e2e-test: any of: ^(frontend/.*)|(backend/.*)|(proxy/.*)|(manifests/kustomize/.*)|(test/.*)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipeline-mkp-snapshot-test: any of: ^(manifests/gcp_marketplace/.*)$
  kubeflow-pipeline-upgrade-test: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python37: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python38: any of: ^(components/google-cloud/.*)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(samples/.*)|(backend/src/v2/.*)$
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-v2-go-test: any of: ^backend/src/v2/.*$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$

Change trigger in recurring run to v2 trigger. Change relative path to absolute path.
  frontend/src/components/Trigger.tsx
  frontend/src/lib/TriggerUtils.ts
  frontend/src/pages/NewRunV2.tsx
  frontend/src/pages/PipelineDetails.tsx
  frontend/src/pages/RecurringRunDetails.tsx
  frontend/src/pages/RecurringRunList.tsx
  frontend/src/pages/RecurringRunsManager.tsx
  frontend/src/pages/RunDetails.test.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Format
  frontend/src/lib/TriggerUtils.ts
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

chore: update contributing guide (#8489)
  CONTRIBUTING.md
Due: none

chore(components): Fix typo in error analysis feature extractor yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/feature_extractor/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

Revert "Integrate recurring run details with v2 API."
  frontend/src/lib/Utils.tsx
  frontend/src/pages/RecurringRunDetails.test.tsx
  frontend/src/pages/RecurringRunDetails.tsx
  frontend/src/pages/__snapshots__/RecurringRunDetails.test.tsx.snap
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

chore(components): remove GCPC version 1.x.x tests
  components/google-cloud/tests/experimental/hyperparameter_tuning_job/integration/test_util_components_compile.py
Due: kubeflow-pipelines-components-google-cloud-python38

Separate enableDisplayString in Utils for v1 and v2.
  frontend/src/lib/Utils.test.ts
  frontend/src/lib/Utils.tsx
  frontend/src/pages/RecurringRunDetails.test.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

feat(components): update EvaluationDatasetPreprocessorOp to use KFP v2 Python definition
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/dataset_preprocessor/component.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/dataset_preprocessor/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

chore(components): update EvaluationDatasetPreprocessorOp definition
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/dataset_preprocessor/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

chore(components): ignore KFP SDK version in PipelineSpec comparison tests
  components/google-cloud/tests/experimental/hyperparameter_tuning_job/integration/test_util_components_compile.py
Due: kubeflow-pipelines-components-google-cloud-python38

Create recurring run details router to separate v1 and v2 logic.
  frontend/src/components/Router.tsx
  frontend/src/pages/NewRunV2.tsx
  frontend/src/pages/RecurringRunDetailsRouter.tsx
  frontend/src/pages/RecurringRunDetailsV2.test.tsx
  frontend/src/pages/RecurringRunDetailsV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

feat(sdk): add experiment_id parameter to create run methods
  sdk/python/kfp/client/client.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

chore(components): Upgrade Error Analysis Annotation component to KFP v2
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/error_analysis_annotation/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/error_analysis_annotation/component.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/error_analysis_annotation/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

Dummy test - 0321
  frontend/src/pages/NewRunV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Integrate pipeline details page with v2 API.
  frontend/src/pages/PipelineDetails.test.tsx
  frontend/src/pages/PipelineDetails.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

chore(components): Feature Extractor component to KFP v2. Remove output_dir from Feature Extractor component inputs
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/dataset_preprocessor/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/dataset_preprocessor/component.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/feature_extractor/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/feature_extractor/component.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/feature_extractor/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

chore(components): Feature Extractor component container version update
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/feature_extractor/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

Fix typo in IR field description
  api/v2alpha1/pipeline_spec.proto
Due: none

backend accepts pipeline spec struct, or nested
  backend/src/apiserver/server/api_converter.go
  backend/src/apiserver/server/api_util.go
  backend/src/apiserver/server/api_util_test.go
  backend/src/apiserver/server/test/pipeline_with_volume.yaml
  backend/src/apiserver/template/template.go
  backend/src/apiserver/template/template_test.go
  backend/src/apiserver/template/v2_template.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Fix typo in IR field description (#9023)
  api/v2alpha1/pipeline_spec.proto
Due: none

chore(components): Fix error analysis annotation component docstring
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/error_analysis_annotation/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

address comments
  backend/src/apiserver/server/api_util.go
  backend/src/apiserver/server/api_util_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Update frontend-integration-test image
  test/frontend-integration-test/Dockerfile
  test/frontend-integration-test/selenium-standalone-chrome-gcloud-nodejs.Docker/Dockerfile
Due: kubeflow-pipeline-e2e-test

feat(components): Add `data-filter-split` feature back to the `ImageTrainingJOb` component which was removed previously
  components/google-cloud/google_cloud_pipeline_components/aiplatform/automl_training_job/automl_image_training_job/component.yaml
  components/google-cloud/tests/aiplatform/testdata/automl_image_pipeline.json
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

change from conda to pip in DockerFile
  components/aws/sagemaker/tests/integration_tests/Dockerfile
  components/aws/sagemaker/tests/integration_tests/environment.yml
  components/aws/sagemaker/tests/integration_tests/requirements.txt
Due: none

fix(components): Update parameter name in Feature Extractor component
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/feature_extractor/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

missing a equal sign
  components/aws/sagemaker/tests/integration_tests/requirements.txt
Due: none

missing a slash in eksctl path
  components/aws/sagemaker/tests/integration_tests/Dockerfile
Due: none
