Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-manifests, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests, kfp-kubernetes-test-python37, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311, kfp-dsl-runtime-code-test-python37, kfp-dsl-runtime-code-test-python38, kfp-dsl-runtime-code-test-python39, kfp-dsl-runtime-code-test-python310, kfp-dsl-runtime-code-test-python311

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-e2e-test: any of: ^(frontend/.*)|(backend/.*)|(proxy/.*)|(manifests/kustomize/.*)|(test/.*)|go.mod|go.sum$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipeline-mkp-snapshot-test: any of: ^(manifests/gcp_marketplace/.*)$
  kubeflow-pipeline-upgrade-test: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipeline-upgrade-test-v2: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python310: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python311: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)|(sdk/python/.*)$
  kubeflow-pipelines-components-google-cloud-python38: any of: ^(components/google-cloud/.*)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(samples/.*)|(backend/src/v2/.*)$
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$
  kubeflow-pipelines-sdk-isort: any of: ^(sdk/python/.*)|(test/presubmit-isort-sdk.sh)$
  kubeflow-pipelines-sdk-yapf: any of: ^(sdk/python/.*)|(test/presubmit-yapf-sdk.sh)$
  kubeflow-pipelines-sdk-docformatter: any of: ^(sdk/python/.*)|(test/presubmit-docformatter-sdk.sh)$
  kubeflow-pipelines-sdk-execution-tests: any of: ^(sdk/python/.*)|(test/presubmit-sdk-execution-tests.sh)$
  kfp-kubernetes-test-python37: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-test-python38: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-test-python39: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-test-python310: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-test-python311: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-dsl-runtime-code-test-python37: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
  kfp-dsl-runtime-code-test-python38: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
  kfp-dsl-runtime-code-test-python39: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
  kfp-dsl-runtime-code-test-python310: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
  kfp-dsl-runtime-code-test-python311: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$

move .readthedocs.yml
  .readthedocs.yml
Due: none

pydantic v2
  sdk/python/kfp/v2/components/experimental/structures.py
  sdk/python/kfp/v2/components/experimental/structures_test.py
  sdk/python/requirements.in
  sdk/python/requirements.txt
  sdk/python/setup.py
  test/sample-test/requirements.txt
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipeline-e2e-test, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

chore(manifest): Update application-crd-controller image to fix CVEs (#10199)
  manifests/kustomize/third-party/application/application-controller-deployment.yaml
Due: kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-manifests

chore(components): [endpoint_batch_predict] fix pipeline description
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/endpoint_batch_predict/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

add support for '{{$.outputs.output_file}}' placeholder
  sdk/RELEASE.md
  sdk/python/kfp/dsl/__init__.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

dedupe executor input code
  sdk/python/kfp/dsl/component_factory.py
  sdk/python/kfp/dsl/placeholders.py
  sdk/python/kfp/dsl/placeholders_test.py
  sdk/python/kfp/dsl/structures.py
  sdk/python/kfp/dsl/structures_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

chore(sdk): fix pipeline with secrets examples
  samples/v2/pipeline_with_secret_as_env.py
  samples/v2/pipeline_with_volume.py
Due: kubeflow-pipelines-samples-v2

fix(components): fix GCPC AutoMLImageTrainingJobRunOp ModuleNotFoundError
  components/google-cloud/RELEASE.md
  components/google-cloud/google_cloud_pipeline_components/container/v1/automl_training_job/__init__.py
Due: kubeflow-pipelines-components-google-cloud-python38

chore(sdk): nest requests_toolbelt import
  sdk/python/kfp/client/auth.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

chore(sdk): nest requests_toolbelt import (#10247)
  sdk/python/kfp/client/auth.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

feat(sdk): add local execution config #localexecution (#10234)
  sdk/python/kfp/local/__init__.py
  sdk/python/kfp/local/config.py
  sdk/python/kfp/local/config_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

feat(sdk): add feat(sdk): add local execution skeleton, LocalTask, and validation #localexecution
  sdk/python/kfp/dsl/base_component.py
  sdk/python/kfp/dsl/component_factory.py
  sdk/python/kfp/dsl/pipeline_task.py
  sdk/python/kfp/dsl/pipeline_task_base.py
  sdk/python/kfp/dsl/pipeline_task_base_test.py
  sdk/python/kfp/dsl/types/artifact_types.py
  sdk/python/kfp/dsl/types/artifact_types_test.py
  sdk/python/kfp/local/local_task.py
  sdk/python/kfp/local/local_task_test.py
  sdk/python/kfp/local/task_dispatcher.py
  sdk/python/kfp/local/task_dispatcher_test.py
  sdk/python/kfp/local/testing_utilities.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

feat(sdk): add executor output path and executor input message placeholders (#10240)
  sdk/RELEASE.md
  sdk/python/kfp/dsl/__init__.py
  sdk/python/kfp/dsl/component_factory.py
  sdk/python/kfp/dsl/placeholders.py
  sdk/python/kfp/dsl/placeholders_test.py
  sdk/python/kfp/dsl/structures.py
  sdk/python/kfp/dsl/structures_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

feat(sdk): add local execution skeleton: invocation, LocalTask, etc. #localexecution
  sdk/python/kfp/dsl/base_component.py
  sdk/python/kfp/dsl/pipeline_task.py
  sdk/python/kfp/dsl/pipeline_task_base.py
  sdk/python/kfp/dsl/pipeline_task_base_test.py
  sdk/python/kfp/local/local_task.py
  sdk/python/kfp/local/local_task_test.py
  sdk/python/kfp/local/task_dispatcher.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

feat(sdk): add local execution validation #localexecution
  sdk/python/kfp/dsl/base_component.py
  sdk/python/kfp/local/local_task_test.py
  sdk/python/kfp/local/task_dispatcher.py
  sdk/python/kfp/local/task_dispatcher_test.py
  sdk/python/kfp/local/testing_utilities.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

feat(components):[text2sql] Add e2e test
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/text2sql_evaluation/component.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/text2sql_preprocess/component.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/text2sql_validate_and_process/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

chore(components): release new LLM Eval container image `v0.4`
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/version.py
Due: kubeflow-pipelines-components-google-cloud-python38

feat(sdk): support `.after()` referencing task in `ParallelFor` group
  sdk/RELEASE.md
  sdk/python/kfp/compiler/compiler_test.py
  sdk/python/kfp/compiler/compiler_utils.py
  sdk/python/test_data/pipelines/cross_loop_after_topology.py
  sdk/python/test_data/pipelines/cross_loop_after_topology.yaml
  sdk/python/test_data/test_data_config.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

update mock in s3 artifact integration test to include useSSL
  frontend/server/integration-tests/artifact-get.test.ts
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

frontend: Add an option to specify useSSL variable for aws (#10227)
  frontend/server/configs.ts
  frontend/server/integration-tests/artifact-get.test.ts
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

feat(components): [third party model inference] Initialize component
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/__init__.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/model_inference/__init__.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/model_inference/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

fix: get pipeline by name is broken due to version typo
  backend/src/apiserver/server/pipeline_server.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2

Add a special condition in KFP SDK to deal with Infinity and NaN values
  sdk/python/kfp/dsl/executor.py
  sdk/python/kfp/dsl/executor_test.py
  sdk/python/kfp/dsl/types/artifact_types_test.py
  sdk/python/kfp/dsl/types/test_data/expected_io_types_classification_metrics.json
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

wip
  f.py
  sdk/python/f.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

chore(sdk): support Python 3.12
  api/v2alpha1/python/setup.py
  kubernetes_platform/python/setup.py
  sdk/RELEASE.md
  sdk/python/setup.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests, kfp-kubernetes-test-python37, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311

fix kfp-kubernetes test import error
  kubernetes_platform/python/test/snapshot/read_write_test.py
Due: kubeflow-pipeline-e2e-test, kfp-kubernetes-test-python37, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311

use assertEqual instead of assertEquals
  sdk/python/kfp/dsl/types/type_utils_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

fix kfp-kubernetes snapshot yaml
  kubernetes_platform/python/test/snapshot/data/create_mount_delete_dynamic_pvc.yaml
  kubernetes_platform/python/test/snapshot/data/create_mount_delete_existing_pvc.yaml
  kubernetes_platform/python/test/snapshot/data/create_mount_delete_existing_pvc_from_task_output.yaml
  kubernetes_platform/python/test/snapshot/data/node_selector.yaml
  kubernetes_platform/python/test/snapshot/data/secret_as_env.yaml
  kubernetes_platform/python/test/snapshot/data/secret_as_vol.yaml
Due: kubeflow-pipeline-e2e-test, kfp-kubernetes-test-python37, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311

feat(components): Edit embedding pipeline to use generic batch predict component to support multilingual embeddings model
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/endpoint_batch_predict/component.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/llm_embedding/evaluation_llm_embedding_pipeline.py
Due: kubeflow-pipelines-components-google-cloud-python38
