Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-manifests, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests, kfp-kubernetes-test-python37, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311, kfp-dsl-runtime-code-test-python37, kfp-dsl-runtime-code-test-python38, kfp-dsl-runtime-code-test-python39, kfp-dsl-runtime-code-test-python310, kfp-dsl-runtime-code-test-python311

kubeflow-pipelines-sdk-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27-v2:
  decorate: true
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-backend-visualization-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

kubeflow-pipeline-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node:14
      command:
      - /bin/sh
      args:
      - -c
      - cd ./frontend && npm run test:ci:prow

kubeflow-pipeline-backend-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.20-bullseye
      command:
      - ./test/presubmit-backend-test.sh

kubeflow-pipeline-e2e-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-with-pipeline-deployment.sh
      args:
      - --workflow_file
      - e2e_test_gke_v2.yaml
      - --test_result_folder
      - e2e_test

kubeflow-pipeline-mkp-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-mkp.sh

kubeflow-pipeline-mkp-snapshot-test:
  decorate: true
  spec:
    containers:
    - image: bash:alpine3.14
      command:
      - bash
      args:
      - ./manifests/gcp_marketplace/test/presubmit.sh

kubeflow-pipeline-upgrade-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/upgrade-tests.sh
      args:
      - --test_result_folder
      - upgrade_test

kubeflow-pipelines-sdk-python37:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

remove duplicated dsl-test code
  sdk/python/kfp/dsl-test/base_component_test.py
  sdk/python/kfp/dsl-test/component_decorator_test.py
  sdk/python/kfp/dsl-test/component_factory_test.py
  sdk/python/kfp/dsl-test/container_component_artifact_channel_test.py
  sdk/python/kfp/dsl-test/container_component_decorator_test.py
  sdk/python/kfp/dsl-test/for_loop_test.py
  sdk/python/kfp/dsl-test/importer_node_test.py
  sdk/python/kfp/dsl-test/pipeline_channel_test.py
  sdk/python/kfp/dsl-test/pipeline_task_test.py
  sdk/python/kfp/dsl-test/placeholders_test.py
  sdk/python/kfp/dsl-test/structures_test.py
  sdk/python/kfp/dsl-test/tasks_group_test.py
  sdk/python/kfp/dsl-test/types/artifact_types_test.py
  sdk/python/kfp/dsl-test/types/custom_artifact_types_test.py
  sdk/python/kfp/dsl-test/types/test_data/expected_bulk_loaded_confusion_matrix.json
  sdk/python/kfp/dsl-test/types/test_data/expected_confusion_matrix.json
  sdk/python/kfp/dsl-test/types/test_data/expected_io_types_bulk_load_classification_metrics.json
  sdk/python/kfp/dsl-test/types/test_data/expected_io_types_classification_metrics.json
  sdk/python/kfp/dsl-test/types/type_annotations_test.py
  sdk/python/kfp/dsl-test/types/type_utils_test.py
  sdk/python/kfp/dsl-test/utils_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipeline-e2e-test, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

fix deployment errors
  manifests/kustomize/base/cache/overlays/mysql/cache-deployment.yaml
  manifests/kustomize/base/cache/overlays/mysql/kustomization.yaml
  manifests/kustomize/base/cache/overlays/postgresql/kustomization.yaml
  manifests/kustomize/base/installs/generic/base/kustomization.yaml
  manifests/kustomize/base/installs/generic/overlays/mysql/kustomization.yaml
  manifests/kustomize/base/installs/generic/overlays/mysql/params.yaml
  manifests/kustomize/base/installs/generic/overlays/mysql/pipeline-install-config.yaml
  manifests/kustomize/base/installs/generic/overlays/postgres/kustomization.yaml
  manifests/kustomize/base/installs/generic/overlays/postgres/params.yaml
  manifests/kustomize/base/installs/generic/overlays/postgres/pipeline-install-config.yaml
  manifests/kustomize/base/pipeline/ml-pipeline-apiserver-deployment.yaml
  manifests/kustomize/env/platform-agnostic-mysql/kustomization.yaml
  manifests/kustomize/env/platform-agnostic-postgresql/kustomization.yaml
Due: kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-manifests

chore(components): GCPC v2.2.0 release
  components/google-cloud/Dockerfile
  components/google-cloud/RELEASE.md
  components/google-cloud/docs/source/versions.json
  components/google-cloud/google_cloud_pipeline_components/version.py
Due: kubeflow-pipelines-components-google-cloud-python38

remove temp code in development
  manifests/kustomize/base/installs/generic/base/kustomization.yaml
  manifests/kustomize/base/installs/generic/overlays/mysql/kustomization.yaml
  manifests/kustomize/base/metadata/base/metadata-grpc-deployment.yaml
Due: kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-manifests

reapply parts of #9791
  sdk/python/kfp/components/__init__.py
  sdk/python/kfp/v2/__init__.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

move .readthedocs.yml
  .readthedocs.yml
Due: none

correct version
  sdk/python/kfp/__init__.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

keep mysql deployment path same as before
  manifests/kustomize/env/dev/kustomization.yaml
Due: kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-manifests

change the generic folder
  manifests/kustomize/base/installs/generic/base/kustomization.yaml
  manifests/kustomize/base/installs/generic/kustomization.yaml
  manifests/kustomize/base/installs/generic/mysql-secret.yaml
  manifests/kustomize/base/installs/generic/params.yaml
  manifests/kustomize/base/installs/generic/pipeline-install-config.yaml
  manifests/kustomize/base/installs/generic/postgres/kustomization.yaml
  manifests/kustomize/base/installs/generic/postgres/params.yaml
  manifests/kustomize/base/installs/generic/postgres/pipeline-install-config.yaml
  manifests/kustomize/base/installs/generic/postgres/postgres-secret.yaml
  manifests/kustomize/env/platform-agnostic-mysql/kustomization.yaml
  manifests/kustomize/env/platform-agnostic-postgresql/kustomization.yaml
Due: kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-manifests

manifest error
  manifests/kustomize/env/dev/kustomization.yaml
  manifests/kustomize/env/platform-agnostic/kustomization.yaml
Due: kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-manifests

revert default cache path
  manifests/kustomize/base/cache/base/kustomization.yaml
  manifests/kustomize/base/cache/cache-deployment.yaml
  manifests/kustomize/base/cache/cache-role.yaml
  manifests/kustomize/base/cache/cache-rolebinding.yaml
  manifests/kustomize/base/cache/cache-sa.yaml
  manifests/kustomize/base/cache/cache-service.yaml
  manifests/kustomize/base/cache/kustomization.yaml
  manifests/kustomize/base/cache/postgresql/cache-deployment.yaml
  manifests/kustomize/base/cache/postgresql/kustomization.yaml
  manifests/kustomize/base/installs/generic/kustomization.yaml
  manifests/kustomize/base/installs/generic/postgres/kustomization.yaml
Due: kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-manifests

Update lightweight_component,output_a_directory samples to v2 pipelines
  samples/core/lightweight_component/lightweight_component.ipynb
Due: kubeflow-pipelines-samples-v2

Update execution_order, loop_output samples to v2 pipelines
  samples/core/loop_output/loop_output.py
Due: kubeflow-pipelines-samples-v2

Update resource_spec, retry, secret samples to v2 pipelines
  samples/core/resource_spec/resource_spec.py
  samples/core/resource_spec/resource_spec_test.py
  samples/core/resource_spec/resource_spec_v2.py
  samples/core/resource_spec/runtime_resource_request.py
  samples/core/resource_spec/runtime_resource_request_gpu.py
  samples/core/resource_spec/runtime_resource_request_test.py
  samples/core/retry/retry.py
  samples/core/retry/retry_test.py
  samples/core/secret/secret.py
  samples/core/secret/secret_test.py
Due: kubeflow-pipelines-samples-v2

Update volume_ops sample to v2 pipelines
  samples/core/kubernetes_pvc/README.md
  samples/core/kubernetes_pvc/kubernetes_pvc.py
  samples/core/volume_ops/README.md
  samples/core/volume_ops/volume_ops.py
Due: kubeflow-pipelines-samples-v2

Add unit tests
  backend/src/agent/persistence/client/token_refresher.go
  backend/src/agent/persistence/client/token_refresher_test.go
  backend/src/agent/persistence/main.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2

fix(samples): Update execution_order, loop_output samples to v2 pipelines (#9867)
  samples/core/execution_order/execution_order.py
  samples/core/execution_order/execution_order_test.py
  samples/core/loop_output/loop_output.py
  samples/core/loop_output/loop_output_test.py
  samples/core/loop_output/loop_output_v2.py
Due: kubeflow-pipelines-samples-v2

chore(sdk): remove kfp-dsl source code
  sdk/python/kfp-dsl/README.md
  sdk/python/kfp-dsl/build.sh
  sdk/python/kfp-dsl/kfp/dsl/__init__.py
  sdk/python/kfp-dsl/kfp/dsl/base_component.py
  sdk/python/kfp-dsl/kfp/dsl/component_decorator.py
  sdk/python/kfp-dsl/kfp/dsl/component_factory.py
  sdk/python/kfp-dsl/kfp/dsl/constants.py
  sdk/python/kfp-dsl/kfp/dsl/container_component_artifact_channel.py
  sdk/python/kfp-dsl/kfp/dsl/container_component_class.py
  sdk/python/kfp-dsl/kfp/dsl/container_component_decorator.py
  sdk/python/kfp-dsl/kfp/dsl/executor.py
  sdk/python/kfp-dsl/kfp/dsl/executor_main.py
  sdk/python/kfp-dsl/kfp/dsl/for_loop.py
  sdk/python/kfp-dsl/kfp/dsl/graph_component.py
  sdk/python/kfp-dsl/kfp/dsl/importer_component.py
  sdk/python/kfp-dsl/kfp/dsl/importer_node.py
  sdk/python/kfp-dsl/kfp/dsl/kfp_config.py
  sdk/python/kfp-dsl/kfp/dsl/pipeline_channel.py
  sdk/python/kfp-dsl/kfp/dsl/pipeline_context.py
  sdk/python/kfp-dsl/kfp/dsl/pipeline_task.py
  sdk/python/kfp-dsl/kfp/dsl/placeholders.py
  sdk/python/kfp-dsl/kfp/dsl/python_component.py
  sdk/python/kfp-dsl/kfp/dsl/structures.py
  sdk/python/kfp-dsl/kfp/dsl/task_final_status.py
  sdk/python/kfp-dsl/kfp/dsl/tasks_group.py
  sdk/python/kfp-dsl/kfp/dsl/types/__init__.py
  sdk/python/kfp-dsl/kfp/dsl/types/artifact_types.py
  sdk/python/kfp-dsl/kfp/dsl/types/custom_artifact_types.py
  sdk/python/kfp-dsl/kfp/dsl/types/type_annotations.py
  sdk/python/kfp-dsl/kfp/dsl/types/type_utils.py
  sdk/python/kfp-dsl/kfp/dsl/utils.py
  sdk/python/kfp-dsl/kfp/dsl/v1_modelbase.py
  sdk/python/kfp-dsl/kfp/dsl/v1_structures.py
  sdk/python/kfp-dsl/kfp/dsl/yaml_component.py
  sdk/python/kfp-dsl/runtime_tests/execute_commands_args_test.py
  sdk/python/kfp-dsl/runtime_tests/executor_test.py
  sdk/python/kfp-dsl/runtime_tests/import_objects_test.py
  sdk/python/kfp-dsl/runtime_tests/test_data/pipeline_with_task_final_status.py
  sdk/python/kfp-dsl/runtime_tests/test_data/pipeline_with_task_final_status.yaml
  sdk/python/kfp-dsl/setup.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests, kfp-dsl-runtime-code-test-python37, kfp-dsl-runtime-code-test-python38, kfp-dsl-runtime-code-test-python39, kfp-dsl-runtime-code-test-python310, kfp-dsl-runtime-code-test-python311

chore(sdk): remove kfp-dsl source code (#9881)
  sdk/python/kfp-dsl/README.md
  sdk/python/kfp-dsl/build.sh
  sdk/python/kfp-dsl/kfp/dsl/__init__.py
  sdk/python/kfp-dsl/kfp/dsl/base_component.py
  sdk/python/kfp-dsl/kfp/dsl/component_decorator.py
  sdk/python/kfp-dsl/kfp/dsl/component_factory.py
  sdk/python/kfp-dsl/kfp/dsl/constants.py
  sdk/python/kfp-dsl/kfp/dsl/container_component_artifact_channel.py
  sdk/python/kfp-dsl/kfp/dsl/container_component_class.py
  sdk/python/kfp-dsl/kfp/dsl/container_component_decorator.py
  sdk/python/kfp-dsl/kfp/dsl/executor.py
  sdk/python/kfp-dsl/kfp/dsl/executor_main.py
  sdk/python/kfp-dsl/kfp/dsl/for_loop.py
  sdk/python/kfp-dsl/kfp/dsl/graph_component.py
  sdk/python/kfp-dsl/kfp/dsl/importer_component.py
  sdk/python/kfp-dsl/kfp/dsl/importer_node.py
  sdk/python/kfp-dsl/kfp/dsl/kfp_config.py
  sdk/python/kfp-dsl/kfp/dsl/pipeline_channel.py
  sdk/python/kfp-dsl/kfp/dsl/pipeline_context.py
  sdk/python/kfp-dsl/kfp/dsl/pipeline_task.py
  sdk/python/kfp-dsl/kfp/dsl/placeholders.py
  sdk/python/kfp-dsl/kfp/dsl/python_component.py
  sdk/python/kfp-dsl/kfp/dsl/structures.py
  sdk/python/kfp-dsl/kfp/dsl/task_final_status.py
  sdk/python/kfp-dsl/kfp/dsl/tasks_group.py
  sdk/python/kfp-dsl/kfp/dsl/types/__init__.py
  sdk/python/kfp-dsl/kfp/dsl/types/artifact_types.py
  sdk/python/kfp-dsl/kfp/dsl/types/custom_artifact_types.py
  sdk/python/kfp-dsl/kfp/dsl/types/type_annotations.py
  sdk/python/kfp-dsl/kfp/dsl/types/type_utils.py
  sdk/python/kfp-dsl/kfp/dsl/utils.py
  sdk/python/kfp-dsl/kfp/dsl/v1_modelbase.py
  sdk/python/kfp-dsl/kfp/dsl/v1_structures.py
  sdk/python/kfp-dsl/kfp/dsl/yaml_component.py
  sdk/python/kfp-dsl/runtime_tests/execute_commands_args_test.py
  sdk/python/kfp-dsl/runtime_tests/executor_test.py
  sdk/python/kfp-dsl/runtime_tests/import_objects_test.py
  sdk/python/kfp-dsl/runtime_tests/test_data/pipeline_with_task_final_status.py
  sdk/python/kfp-dsl/runtime_tests/test_data/pipeline_with_task_final_status.yaml
  sdk/python/kfp-dsl/setup.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests, kfp-dsl-runtime-code-test-python37, kfp-dsl-runtime-code-test-python38, kfp-dsl-runtime-code-test-python39, kfp-dsl-runtime-code-test-python310, kfp-dsl-runtime-code-test-python311

fix(backend): Move ConMaxLifeTime back to DbConfig.ConMaxLifeTime. (#9873)
  backend/src/apiserver/config/config.json
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2

Dummy test for e2e
  frontend/src/pages/PipelineDetails.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

handle problematic imports
  sdk/python/kfp/dsl/executor.py
  sdk/python/kfp/dsl/structures.py
  sdk/python/kfp/dsl/types/type_utils.py
  sdk/python/kfp/dsl/v1_components.py
  sdk/python/kfp/dsl/v1_structures.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

feat(components): Metric importing for embedding evaluation
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/import_evaluation/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

install kfp sdk 2.0 in sample test
  test/sample-test/Dockerfile
Due: kubeflow-pipeline-e2e-test

remove reference to GCSHelper from deprecated module
  test/sample-test/sample_test_launcher.py
Due: kubeflow-pipeline-e2e-test

separate runtime and compile-time symbols
  sdk/python/kfp/dsl/__init__.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

wrap kfp/__init__.py imports unavailable at runtime
  sdk/python/kfp/__init__.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

add runtime tests
  sdk/runtime_tests/__init__.py
  sdk/runtime_tests/execute_commands_args_test.py
  sdk/runtime_tests/test_data/pipeline_with_task_final_status.py
  sdk/runtime_tests/test_data/pipeline_with_task_final_status.yaml
  test/presubmit-test-kfp-runtime-code.sh
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipeline-e2e-test, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311

add --no-deps flag to component factory
  sdk/python/kfp/dsl/component_factory.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

clean up
  sdk/python/kfp/dsl/structures.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

update component factory + tests
  sdk/python/kfp/dsl/component_factory.py
  sdk/python/kfp/dsl/component_factory_test.py
  sdk/python/test_data/pipelines/pipeline_with_google_artifact_type.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

update release notes
  sdk/RELEASE.md
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-e2e-test: any of: ^(frontend/.*)|(backend/.*)|(proxy/.*)|(manifests/kustomize/.*)|(test/.*)|go.mod|go.sum$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipeline-mkp-snapshot-test: any of: ^(manifests/gcp_marketplace/.*)$
  kubeflow-pipeline-upgrade-test: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipeline-upgrade-test-v2: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python310: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python311: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)|(sdk/python/.*)$
  kubeflow-pipelines-components-google-cloud-python38: any of: ^(components/google-cloud/.*)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(samples/.*)|(backend/src/v2/.*)$
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$
  kubeflow-pipelines-sdk-isort: any of: ^(sdk/python/.*)|(test/presubmit-isort-sdk.sh)$
  kubeflow-pipelines-sdk-yapf: any of: ^(sdk/python/.*)|(test/presubmit-yapf-sdk.sh)$
  kubeflow-pipelines-sdk-docformatter: any of: ^(sdk/python/.*)|(test/presubmit-docformatter-sdk.sh)$
  kubeflow-pipelines-sdk-execution-tests: any of: ^(sdk/python/.*)|(test/presubmit-sdk-execution-tests.sh)$
  kfp-kubernetes-test-python37: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-test-python38: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-test-python39: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-test-python310: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-test-python311: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-dsl-runtime-code-test-python37: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
  kfp-dsl-runtime-code-test-python38: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
  kfp-dsl-runtime-code-test-python39: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
  kfp-dsl-runtime-code-test-python310: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
  kfp-dsl-runtime-code-test-python311: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
