Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-mkp-test, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python37, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-manifests

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipelines-sdk-python36: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python36: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python37: any of: ^(components/google-cloud/.*)|(test/presubmit-components-google-cloud.sh)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(v2/.*)$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$

Update backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/resource/resource_manager.go
Due: kubeflow-pipeline-backend-test

fix(backend): argo workflow not found in KFP DB should be GCed. Part of #6189 (#6190)
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/resource/resource_manager_test.go
  backend/src/apiserver/storage/run_store.go
  backend/src/apiserver/storage/run_store_test.go
  backend/src/common/util/error.go
Due: kubeflow-pipeline-backend-test

Fix typo
  components/google-cloud/google_cloud_pipeline_components/experimental/HyperparameterTuningJob/component.py
Due: kubeflow-pipelines-components-google-cloud-python37

chore: update component owner file (#6239)
  components/OWNERS
Due: none

Reorder arguments
  components/google-cloud/google_cloud_pipeline_components/experimental/HyperparameterTuningJob/component.py
Due: kubeflow-pipelines-components-google-cloud-python37

Update setup.py
  api/v2alpha1/python/setup.py
Due: none

Reorder project, location, staging_bucket arguments
  components/google-cloud/google_cloud_pipeline_components/experimental/HyperparameterTuningJob/component.py
Due: kubeflow-pipelines-components-google-cloud-python37

Adding examples in component.yaml templates
  components/PyTorch/templates/preprocess_component.yaml
  components/PyTorch/templates/train_component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml

Reorder arguments; add default values for optional arguments
  components/google-cloud/google_cloud_pipeline_components/experimental/HyperparameterTuningJob/component.py
Due: kubeflow-pipelines-components-google-cloud-python37

Updating README.md files
  samples/contrib/pytorch-samples/cluster_build.md
  samples/contrib/pytorch-samples/local_build.md
  samples/contrib/pytorch-samples/utils/template-generation.md
Due: none

Updating cifar10 captum insights notebook
  samples/contrib/pytorch-samples/Pipeline-Cifar10-Captum-Insights.ipynb
Due: none

Add Any typing import
  components/google-cloud/google_cloud_pipeline_components/experimental/HyperparameterTuningJob/component.py
Due: kubeflow-pipelines-components-google-cloud-python37

chore(frontend): Mock v2 pipeline spec response.
  frontend/mock-backend/data/v2/pipeline/README.md
  frontend/mock-backend/data/v2/pipeline/mock_lightweight_python_functions_v2_pipeline.json
  frontend/mock-backend/fixed-data.ts
  frontend/mock-backend/mock-api-middleware.ts
Due: kubeflow-pipeline-frontend-test, kubeflow-pipelines-samples-v2

chore: Update package version for pipeline-spec release (#6242)
  api/v2alpha1/python/setup.py
Due: none

Add seed to tfp_anomaly_detection
  components/google-cloud/google_cloud_pipeline_components/experimental/tensorflow_probability/anomaly_detection/tfp_anomaly_detection.ipynb
Due: kubeflow-pipelines-components-google-cloud-python37

make directories before downloading proto
  api/Makefile
Due: none

Add seed to tfp-anomaly-detection demo
  components/google-cloud/google_cloud_pipeline_components/experimental/tensorflow_probability/anomaly_detection/tfp_anomaly_detection.ipynb
Due: kubeflow-pipelines-components-google-cloud-python37

chore: make directories before downloading api dependency proto (#6245)
  api/Makefile
Due: none

feat(sdk): Enable the use of Executor from KFP package for v2 lightweight components (#6202)
  samples/test/lightweight_python_functions_v2_pipeline.py
  samples/test/lightweight_python_functions_v2_with_outputs.py
  samples/test/metrics_visualization_v2.py
  sdk/python/kfp/compiler/testdata/v2_compatible_two_step_pipeline.yaml
  sdk/python/kfp/compiler/testdata/v2_compatible_two_step_pipeline_with_custom_launcher.yaml
  sdk/python/kfp/components/_python_op.py
  sdk/python/kfp/components/executor_main.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/lightweight_python_functions_v2_pipeline.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/lightweight_python_functions_v2_with_outputs.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_after.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_concat_placeholder.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_condition.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_custom_job_spec.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_exit_handler.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_if_placeholder.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_importer.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_loop_output.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_loop_parameter.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_loop_static.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_loops_and_conditions.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_metrics_outputs.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_nested_conditions.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_nested_conditions_yaml.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_nested_loops.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_ontology.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_params_containing_format.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_resource_spec.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_reused_component.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_various_io_types.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/two_step_pipeline.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/xgboost_sample_pipeline.json
  sdk/python/kfp/v2/dsl/component_decorator.py
  v2/test/Makefile
  v2/test/presubmit.sh
  v2/test/requirements.txt
  v2/test/sample_test.py
  v2/test/scripts/upload_gcs_blob.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

Remove old v2 launcher building steps.
  v2/test/sample_test.py
Due: kubeflow-pipelines-samples-v2

test: Remove old v2 launcher building steps. (#6247)
  v2/test/sample_test.py
Due: kubeflow-pipelines-samples-v2

fix: fix a spelling error (#6236)
  backend/src/crd/controller/scheduledworkflow/client/kube_client.go
  samples/core/caching/caching.ipynb
  samples/core/caching/caching_sample.py
Due: kubeflow-pipeline-backend-test

chore(v2): parameter passing. Fixes #6151 (#6208)
  samples/test/config.yaml
  samples/v2/producer_consumer_param_test.py
  v2/cmd/launcher-v2/main.go
  v2/compiler/argo.go
  v2/compiler/argo_test.go
  v2/compiler/container.go
  v2/compiler/dag.go
  v2/component/launcher.go
  v2/component/launcher_v2.go
  v2/driver/driver.go
  v2/metadata/client.go
  v2/metadata/converter.go
Due: kubeflow-pipelines-samples-v2

chore(frontend): Mock one v2 pipeline spec response. Fix #6232 (#6233)
  frontend/mock-backend/data/v2/pipeline/README.md
  frontend/mock-backend/data/v2/pipeline/mock_lightweight_python_functions_v2_pipeline.json
  frontend/mock-backend/fixed-data.ts
  frontend/mock-backend/mock-api-middleware.ts
Due: kubeflow-pipeline-frontend-test, kubeflow-pipelines-samples-v2

feat(deployment): provide platform-agnostic-emissary and platform-agnostic-multi-user-emissary as options
  manifests/kustomize/README.md
  manifests/kustomize/env/platform-agnostic-emissary/kustomization.yaml
  manifests/kustomize/env/platform-agnostic-emissary/workflow-controller-configmap-patch.yaml
  manifests/kustomize/env/platform-agnostic-multi-user-emissary/kustomization.yaml
  manifests/kustomize/env/platform-agnostic-multi-user-emissary/workflow-controller-configmap-patch.yaml
Due: kubeflow-pipelines-manifests

add tests
  manifests/kustomize/hack/test.sh
Due: kubeflow-pipelines-manifests

feat(deployment): provide platform-agnostic-emissary and platform-agnostic-multi-user-emissary as options (#6248)
  manifests/kustomize/README.md
  manifests/kustomize/env/platform-agnostic-emissary/kustomization.yaml
  manifests/kustomize/env/platform-agnostic-emissary/workflow-controller-configmap-patch.yaml
  manifests/kustomize/env/platform-agnostic-multi-user-emissary/kustomization.yaml
  manifests/kustomize/env/platform-agnostic-multi-user-emissary/workflow-controller-configmap-patch.yaml
  manifests/kustomize/hack/test.sh
Due: kubeflow-pipelines-manifests

feat(deployment): gcp marketplace - provide emissary as an option
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/argo.yaml
  manifests/gcp_marketplace/chart/kubeflow-pipelines/values.yaml
  manifests/gcp_marketplace/schema.yaml
  manifests/gcp_marketplace/test/snapshot-base.yaml
  manifests/gcp_marketplace/test/snapshot-emissary.yaml
  manifests/gcp_marketplace/test/snapshot-managed-storage.yaml
  manifests/gcp_marketplace/test/snapshots.sh
  manifests/gcp_marketplace/test/values-emissary.yaml
Due: kubeflow-pipeline-mkp-test

feat(deployment): gcp marketplace - provide emissary as an option. Part of #5718 (#6250)
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/argo.yaml
  manifests/gcp_marketplace/chart/kubeflow-pipelines/values.yaml
  manifests/gcp_marketplace/schema.yaml
  manifests/gcp_marketplace/test/snapshot-base.yaml
  manifests/gcp_marketplace/test/snapshot-emissary.yaml
  manifests/gcp_marketplace/test/snapshot-managed-storage.yaml
  manifests/gcp_marketplace/test/snapshots.sh
  manifests/gcp_marketplace/test/values-emissary.yaml
Due: kubeflow-pipeline-mkp-test
