Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python38, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-v2-go-test, kubeflow-pipelines-manifests

kubeflow-pipelines-sdk-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27-v2:
  decorate: true
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-backend-visualization-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

kubeflow-pipeline-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node:12
      command:
      - /bin/sh
      args:
      - -c
      - cd ./frontend && npm run test:ci:prow

kubeflow-pipeline-backend-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.17.6-bullseye
      command:
      - ./test/presubmit-backend-test.sh

kubeflow-pipeline-e2e-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-with-pipeline-deployment.sh
      args:
      - --workflow_file
      - e2e_test_gke_v2.yaml
      - --test_result_folder
      - e2e_test

kubeflow-pipeline-mkp-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-mkp.sh

kubeflow-pipeline-mkp-snapshot-test:
  decorate: true
  spec:
    containers:
    - image: bash:alpine3.14
      command:
      - bash
      args:
      - ./manifests/gcp_marketplace/test/presubmit.sh

kubeflow-pipeline-upgrade-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/upgrade-tests.sh
      args:
      - --test_result_folder
      - upgrade_test

kubeflow-pipelines-sdk-python37:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

use __getitem__ for regex match groups; introduced in Python 3.6
  sdk/python/kfp/client/auth.py
  sdk/python/kfp/components/for_loop.py
  sdk/python/kfp/components/types/artifact_types.py
  sdk/python/kfp/components/types/type_annotations.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

feat(components): propagates vertex system labels to the downstream resources (dataproc)
  components/google-cloud/google_cloud_pipeline_components/container/v1/dataproc/utils/dataproc_util.py
  components/google-cloud/tests/container/v1/dataproc/create_pyspark_batch/test_create_pyspark_batch_remote_runner.py
  components/google-cloud/tests/container/v1/dataproc/create_spark_batch/test_create_spark_batch_remote_runner.py
  components/google-cloud/tests/container/v1/dataproc/create_spark_r_batch/test_create_spark_r_batch_remote_runner.py
  components/google-cloud/tests/container/v1/dataproc/create_spark_sql_batch/test_create_spark_sql_batch_remote_runner.py
Due: kubeflow-pipelines-components-google-cloud-python38

feature: generated new sagemaker features
  components/aws/sagemaker/TrainingJob/component.yaml
  components/aws/sagemaker/TrainingJob/src/TrainingJob_component.py
  components/aws/sagemaker/TrainingJob/src/TrainingJob_request.yaml.tpl
  components/aws/sagemaker/TrainingJob/src/TrainingJob_spec.py
  components/aws/sagemaker/commonv2/__init__.py
  components/aws/sagemaker/commonv2/sagemaker_component.py
  components/aws/sagemaker/tests/integration_tests/scripts/run_integration_tests
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml

update unit test
  components/aws/sagemaker/tests/unit_tests/tests/TrainingJob/test_TrainingJob_component.py
Due: none

remove unit tests
  components/aws/sagemaker/tests/unit_tests/tests/TrainingJob/test_TrainingJob_component.py
  components/aws/sagemaker/tests/unit_tests/tests/TrainingJob/test_TrainingJob_spec.py
  components/aws/sagemaker/tests/unit_tests/tests/commonv2/dummy_component.py
  components/aws/sagemaker/tests/unit_tests/tests/commonv2/dummy_spec.py
  components/aws/sagemaker/tests/unit_tests/tests/commonv2/files/namespace
  components/aws/sagemaker/tests/unit_tests/tests/commonv2/files/test_job_request_outline.yaml.tpl
  components/aws/sagemaker/tests/unit_tests/tests/commonv2/test_sagemaker_component_v2.py
  components/aws/sagemaker/tests/unit_tests/tests/commonv2/test_sagemaker_spec_v2.py
  components/aws/sagemaker/tests/unit_tests/tests/commonv2/test_spec_input_parsers_v2.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml

feat(components): propagates vertex system labels to the downstream resources (Vertex AI Endpoints)
  components/google-cloud/google_cloud_pipeline_components/container/v1/endpoint/create_endpoint/remote_runner.py
  components/google-cloud/tests/container/v1/endpoint/create_endpoint/test_create_endpoint_remote_runner.py
Due: kubeflow-pipelines-components-google-cloud-python38

feat(components): propagates vertex system labels to the downstream resources (Vertex AI Model Registry)
  components/google-cloud/google_cloud_pipeline_components/container/v1/model/upload_model/remote_runner.py
  components/google-cloud/tests/container/v1/model/upload_model/test_upload_model_remote_runner.py
Due: kubeflow-pipelines-components-google-cloud-python38

update dependencies
  components/google-cloud/dependencies.py
Due: kubeflow-pipelines-components-google-cloud-python38

chore(components): Post release update for GCPC v1.0.29
  components/google-cloud/RELEASE.md
  components/google-cloud/google_cloud_pipeline_components/version.py
Due: kubeflow-pipelines-components-google-cloud-python38

chore(sdk): idiomatic Python pure refactorings (#8537)
  sdk/python/kfp/client/auth.py
  sdk/python/kfp/client/client.py
  sdk/python/kfp/compiler/pipeline_spec_builder.py
  sdk/python/kfp/components/base_component.py
  sdk/python/kfp/components/base_component_test.py
  sdk/python/kfp/components/component_factory.py
  sdk/python/kfp/components/executor.py
  sdk/python/kfp/components/executor_main.py
  sdk/python/kfp/components/for_loop.py
  sdk/python/kfp/components/kfp_config.py
  sdk/python/kfp/components/pipeline_channel.py
  sdk/python/kfp/components/pipeline_task.py
  sdk/python/kfp/components/tasks_group.py
  sdk/python/kfp/components/types/artifact_types.py
  sdk/python/kfp/components/types/type_annotations.py
  sdk/python/kfp/components/v1_modelbase.py
  sdk/python/kfp/components/v1_structures.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

only write from chief node
  sdk/python/kfp/v2/components/executor.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

add tests
  sdk/python/kfp/v2/components/executor_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

fix and test
  sdk/python/kfp/components/executor.py
  sdk/python/kfp/components/executor_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

fix(components): update tags in Structured Data team's forecasting pipelines
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/forecasting/bqml_arima_train_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/forecasting/prophet_trainer_pipeline.json
Due: kubeflow-pipelines-components-google-cloud-python38

template takes model instead of api
  backend/src/apiserver/template/template.go
  backend/src/apiserver/template/template_test.go
  backend/src/apiserver/template/v2_template.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

implement review feedback
  sdk/python/kfp/v2/components/executor.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

fix(sdk): new fix for multiple workers writing with gcsfuse bug [KFP SDK v1] (#8543)
  sdk/python/kfp/v2/components/executor.py
  sdk/python/kfp/v2/components/executor_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

bump version
  sdk/python/kfp/__init__.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

add sdk 1.8.17 to docs
  docs/conf.py
Due: none

update api package name
  backend/api/hack/generator.sh
  backend/api/v2beta1/error.proto
  backend/api/v2beta1/experiment.proto
  backend/api/v2beta1/filter.proto
  backend/api/v2beta1/go_client/error.pb.go
  backend/api/v2beta1/go_client/experiment.pb.go
  backend/api/v2beta1/go_client/filter.pb.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Revert "update api package name"
  backend/api/hack/generator.sh
  backend/api/v2beta1/error.proto
  backend/api/v2beta1/experiment.proto
  backend/api/v2beta1/filter.proto
  backend/api/v2beta1/go_client/error.pb.go
  backend/api/v2beta1/go_client/experiment.pb.go
  backend/api/v2beta1/go_client/filter.pb.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

add release notes
  sdk/RELEASE.md
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37

update release notes
  sdk/RELEASE.md
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37

Change mysql default binlog expire to 10 days
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/mysql.yaml
  manifests/gcp_marketplace/test/snapshot-base.yaml
  manifests/gcp_marketplace/test/snapshot-emissary.yaml
  manifests/kustomize/third-party/mysql/base/mysql-deployment.yaml
Due: kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-manifests

add comments
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/mysql.yaml
  manifests/gcp_marketplace/test/snapshot-base.yaml
  manifests/gcp_marketplace/test/snapshot-emissary.yaml
  manifests/kustomize/third-party/mysql/base/mysql-deployment.yaml
Due: kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-manifests

fix(manifests): Change mysql default binlog expire to 10 days. Fixes #8552 (#8553)
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/mysql.yaml
  manifests/gcp_marketplace/test/snapshot-base.yaml
  manifests/gcp_marketplace/test/snapshot-emissary.yaml
  manifests/kustomize/third-party/mysql/base/mysql-deployment.yaml
Due: kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-manifests

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-e2e-test: any of: ^(frontend/.*)|(backend/.*)|(proxy/.*)|(manifests/kustomize/.*)|(test/.*)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipeline-mkp-snapshot-test: any of: ^(manifests/gcp_marketplace/.*)$
  kubeflow-pipeline-upgrade-test: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python37: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python38: any of: ^(components/google-cloud/.*)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(samples/.*)|(backend/src/v2/.*)$
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-v2-go-test: any of: ^backend/src/v2/.*$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$
