Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2

kubeflow-pipelines-sdk-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27-v2:
  decorate: true
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-backend-visualization-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

Update BUG_BACKEND.md
  .github/ISSUE_TEMPLATE/BUG_BACKEND.md
Due: none

Update BUG_FRONTEND.md
  .github/ISSUE_TEMPLATE/BUG_FRONTEND.md
Due: none

Update BUG_REPORT.md
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
Due: none

Update BUG_SDK.md
  .github/ISSUE_TEMPLATE/BUG_SDK.md
Due: none

fix metrics schema title, and missing mapping
  sdk/python/kfp/dsl/type_schemas/confidence_metrics.yaml
  sdk/python/kfp/dsl/type_schemas/confusion_matrix.yaml
  sdk/python/kfp/dsl/type_schemas/metrics.yaml
  sdk/python/kfp/dsl/type_schemas/sliced_classification_metrics.yaml
  sdk/python/kfp/dsl/type_utils.py
  sdk/python/kfp/dsl/type_utils_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

chore(v2/frontend): integrate ML Metadata tab with v2 metadata (#5308)
  frontend/src/TestUtils.ts
  frontend/src/lib/MlmdUtils.test.ts
  frontend/src/lib/MlmdUtils.ts
  frontend/src/pages/RunDetails.test.tsx
  frontend/src/pages/RunDetails.tsx
Due: none

fix tests
  sdk/python/kfp/dsl/component_spec_test.py
  sdk/python/kfp/dsl/type_schemas/classification_metrics.yaml
  sdk/python/kfp/dsl/type_schemas/dataset.yaml
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_ontology.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_resource_spec.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_various_io_types.json
  sdk/python/tests/dsl/artifact_test.py
  sdk/python/tests/dsl/test_data/expected_bulk_loaded_classification_metrics.json
  sdk/python/tests/dsl/test_data/expected_classification_metrics.json
  sdk/python/tests/dsl/test_data/expected_dataset_artifact.json
  sdk/python/tests/dsl/test_data/expected_metrics.json
  sdk/python/tests/dsl/test_data/expected_sliced_classification_metrics.json
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

fix tests
  sdk/python/kfp/compiler/testdata/v2_compatible_two_step_pipeline.yaml
  sdk/python/kfp/v2/google/aiplatform_test.py
  sdk/python/kfp/v2/google/testdata/expected_custom_job_pipeline.json
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

Update KFServing component to use v0.5.1
  components/kubeflow/kfserving/component.yaml
  components/kubeflow/kfserving/requirements.txt
Due: kubeflow-pipelines-component-yaml-v2

(WIP) fix v2 component entrypoint
  sdk/python/kfp/containers/_component_builder.py
  sdk/python/kfp/v2/compiler/compiler_utils.py
  sdk/python/kfp/v2/compiler/compiler_utils_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

use double dash for compiler injected input name, and check for collision.
  sdk/python/kfp/dsl/_component_bridge.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_params_containing_format.json
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

feat(deployment): multi-user mode manifests for subject access review integration. Fixes #3513 (#5314)
  manifests/kustomize/base/installs/multi-user/api-service/cluster-role.yaml
  manifests/kustomize/base/installs/multi-user/kustomization.yaml
  manifests/kustomize/base/installs/multi-user/view-edit-cluster-roles.yaml
  manifests/kustomize/base/pipeline/multi-user/kustomization.yaml
Due: none

Update __init__.py
  sdk/python/kfp/__init__.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

chore(release): KFP SDK 1.4.1-rc.0 (#5323)
  sdk/python/kfp/__init__.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

Added sample pipeline
  components/kfp/Run_component/_samples/sample_pipeline.py
Due: none

Add tests for TokenReviewAuthenticator
  backend/src/apiserver/auth/authenticator_token_review_test.go
Due: none

Add tests for auth_util
  backend/src/apiserver/auth/auth_util_test.go
Due: none

Add tests for HTTPHeaderAuthenticator
  backend/src/apiserver/auth/authenticator_http_headers_test.go
Due: none

Refactor getUserIdentity() to use auth_util
  backend/src/apiserver/server/util.go
Due: none

Introduce kubernetes client utils
  backend/src/apiserver/client/util.go
Due: none

Introduce HTTP header authenticator
  backend/src/apiserver/auth/authenticator_http_headers.go
Due: none

Update server tests based on the new authentication API
  backend/src/apiserver/server/auth_server_test.go
  backend/src/apiserver/server/experiment_server_test.go
  backend/src/apiserver/server/job_server_test.go
  backend/src/apiserver/server/run_server_test.go
  backend/src/apiserver/server/test_util.go
  backend/src/apiserver/server/visualization_server_test.go
Due: none

Use common util to initialize k8s clientset
  backend/src/apiserver/client/kubernetes_core.go
  backend/src/apiserver/client/subject_access_review.go
  backend/src/apiserver/client_manager.go
Due: none

Move getting user identity logic to resource manager
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/server/util.go
Due: none

Introduce TokenReview authenticator
  backend/src/apiserver/auth/authenticator_token_review.go
Due: none

Add server tests with unauthenticated requests
  backend/src/apiserver/server/auth_server_test.go
  backend/src/apiserver/server/experiment_server_test.go
  backend/src/apiserver/server/job_server_test.go
  backend/src/apiserver/server/run_server_test.go
  backend/src/apiserver/server/visualization_server_test.go
Due: none

Introduce constants for the TokenReview authentication
  backend/src/apiserver/common/const.go
Due: none

Extend FakeClientManager with a fake TokenReview Client
  backend/src/apiserver/resource/client_manager_fake.go
Due: none

Initialize Kubeflow-UserID header authenticator
  backend/src/apiserver/auth/auth_util.go
Due: none

Introduce TokenReview client and fake ones
  backend/src/apiserver/client/token_review.go
  backend/src/apiserver/client/token_review_fake.go
  backend/src/apiserver/resource/resource_manager.go
Due: none

Introduce authentication utils
  backend/src/apiserver/auth/auth_util.go
Due: none

Remove old tests and unused code
  backend/src/apiserver/server/util.go
  backend/src/apiserver/server/util_test.go
Due: none

Extend authenticators with a TokenReview one
  backend/src/apiserver/auth/auth_util.go
  backend/src/apiserver/resource/resource_manager.go
Due: none

Extend ResourceManager with a TokenReview client
  backend/src/apiserver/client_manager.go
Due: none

manifests: Allow KFP API server to create TokenReviews
  manifests/kustomize/base/installs/multi-user/api-service/cluster-role.yaml
  manifests/kustomize/base/pipeline/ml-pipeline-apiserver-role.yaml
Due: none

Don't use AuthenticateRequest method in tests
  backend/src/apiserver/server/auth_server_test.go
  backend/src/apiserver/server/experiment_server_test.go
  backend/src/apiserver/server/job_server_test.go
  backend/src/apiserver/server/run_server_test.go
  backend/src/apiserver/server/visualization_server_test.go
Due: none

Rename IsRequestAuthenticated -> AuthenticateRequest
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/server/auth_server_test.go
  backend/src/apiserver/server/experiment_server_test.go
  backend/src/apiserver/server/job_server_test.go
  backend/src/apiserver/server/run_server_test.go
  backend/src/apiserver/server/util.go
  backend/src/apiserver/server/visualization_server_test.go
Due: none

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
