Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python38, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-v2-go-test, kubeflow-pipelines-manifests

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-e2e-test: any of: ^(frontend/.*)|(backend/.*)|(proxy/.*)|(manifests/kustomize/.*)|(test/.*)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipeline-mkp-snapshot-test: any of: ^(manifests/gcp_marketplace/.*)$
  kubeflow-pipeline-upgrade-test: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python37: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python38: any of: ^(components/google-cloud/.*)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(samples/.*)|(backend/src/v2/.*)$
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-v2-go-test: any of: ^backend/src/v2/.*$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$

feat(component):Add tensorboard experiment creator component e2e test
  components/google-cloud/google_cloud_pipeline_components/experimental/tensorboard/tensorboard_experiment_creator.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

chore(components/pytorch) - Samples fix for PT and PTL Upgrade (#8148)
  samples/contrib/pytorch-samples/Pipeline-Bert-Dist.ipynb
  samples/contrib/pytorch-samples/Pipeline-Bert.ipynb
  samples/contrib/pytorch-samples/Pipeline-Cifar10-Captum-Insights.ipynb
  samples/contrib/pytorch-samples/Pipeline-Cifar10-hpo.ipynb
  samples/contrib/pytorch-samples/Pipeline-Cifar10.ipynb
  samples/contrib/pytorch-samples/bert/agnews_classification_pytorch.py
  samples/contrib/pytorch-samples/cifar10/cifar10_datamodule.py
  samples/contrib/pytorch-samples/cifar10/cifar10_pytorch.py
  samples/contrib/pytorch-samples/cifar10/cifar10_train.py
  samples/contrib/pytorch-samples/cifar10/input.json
  samples/contrib/pytorch-samples/cifar10/requirements.txt
  samples/contrib/pytorch-samples/cluster_build.md
  samples/contrib/pytorch-samples/install-dependencies.sh
  samples/contrib/pytorch-samples/mino-secret.yaml
Due: kubeflow-pipelines-samples-v2

fix: url paths
  samples/contrib/pytorch-samples/Pipeline-Cifar10-Captum-Insights.ipynb
  samples/contrib/pytorch-samples/Pipeline-Cifar10.ipynb
Due: kubeflow-pipelines-samples-v2

add sample to samples folder
  components/aws/sagemaker/TrainingJob/samples/mnist-kmeans-classification/README.md
  components/aws/sagemaker/TrainingJob/samples/mnist-kmeans-classification/kmeans_preprocessing.py
  components/aws/sagemaker/TrainingJob/samples/mnist-kmeans-classification/mnist-classification-pipeline.py
  samples/contrib/aws-samples/mnist-kmeans-sagemaker/README.md
  samples/contrib/aws-samples/mnist-kmeans-sagemaker/mnist-classification-pipeline.py
Due: kubeflow-pipelines-samples-v2

update pinned version of TrainingJob
  samples/contrib/aws-samples/mnist-kmeans-sagemaker/mnist-classification-pipeline.py
Due: kubeflow-pipelines-samples-v2

feat(component): Add Infra Validation component
  components/google-cloud/google_cloud_pipeline_components/container/v1/gcp_launcher/infra_validation_job_remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/gcp_launcher/launcher.py
  components/google-cloud/tests/container/v1/gcp_launcher/test_infra_validation_job_remote_runner.py
  components/google-cloud/tests/container/v1/gcp_launcher/test_launcher.py
Due: kubeflow-pipelines-components-google-cloud-python38

update dependencies
  components/google-cloud/dependencies.py
Due: kubeflow-pipelines-components-google-cloud-python38

chore(components): Post release update for v1.0.23
  components/google-cloud/RELEASE.md
  components/google-cloud/google_cloud_pipeline_components/version.py
Due: kubeflow-pipelines-components-google-cloud-python38

chore(components): Convert v1 custom_job, hptuning and wait_gcp_resources components into individual launchers and remote runners
  components/google-cloud/google_cloud_pipeline_components/container/v1/custom_job/__init__.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/custom_job/launcher.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/custom_job/remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/gcp_launcher/launcher.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/hyperparameter_tuning_job/__init__.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/hyperparameter_tuning_job/launcher.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/hyperparameter_tuning_job/remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/wait_gcp_resources/__init__.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/wait_gcp_resources/launcher.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/wait_gcp_resources/remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/experimental/custom_job/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/custom_job/utils.py
  components/google-cloud/google_cloud_pipeline_components/experimental/hyperparameter_tuning_job/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/wait_gcp_resources/component.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/custom_job/component.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/custom_job/utils.py
  components/google-cloud/google_cloud_pipeline_components/v1/hyperparameter_tuning_job/component.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/wait_gcp_resources/component.yaml
  components/google-cloud/tests/container/v1/custom_job/test_custom_job_launcher.py
  components/google-cloud/tests/container/v1/custom_job/test_custom_job_remote_runner.py
  components/google-cloud/tests/container/v1/gcp_launcher/test_launcher.py
  components/google-cloud/tests/container/v1/gcp_launcher/test_wait_gcp_resources.py
  components/google-cloud/tests/container/v1/gcp_launcher/utils/test_artifact_util.py
  components/google-cloud/tests/container/v1/hyperparameter_tuning_job/test_hyperparameter_tuning_job_launcher.py
  components/google-cloud/tests/container/v1/hyperparameter_tuning_job/test_hyperparameter_tuning_job_remote_runner.py
  components/google-cloud/tests/container/v1/wait_gcp_resources/test_wait_gcp_resources_launcher.py
  components/google-cloud/tests/container/v1/wait_gcp_resources/test_wait_gcp_resources_remote_runner.py
  components/google-cloud/tests/experimental/custom_job/testdata/custom_training_job_pipeline.json
  components/google-cloud/tests/experimental/custom_job/testdata/custom_training_job_wrapper_pipeline.json
  components/google-cloud/tests/experimental/custom_job/unit/test_custom_job_utils.py
  components/google-cloud/tests/experimental/hyperparameter_tuning_job/testdata/hyperparameter_tuning_job_pipeline.json
  components/google-cloud/tests/v1/custom_job/testdata/custom_training_job_pipeline.json
  components/google-cloud/tests/v1/custom_job/unit/test_custom_job_utils.py
  components/google-cloud/tests/v1/hyperparameter_tuning_job/testdata/hyperparameter_tuning_job_pipeline.json
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

chore(components): Convert v1 endpoint components into individual launchers and remote runners
  components/google-cloud/google_cloud_pipeline_components/aiplatform/endpoint/create_endpoint/component.yaml
  components/google-cloud/google_cloud_pipeline_components/aiplatform/endpoint/deploy_model/component.yaml
  components/google-cloud/google_cloud_pipeline_components/container/v1/endpoint/__init__.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/endpoint/create_endpoint/__init__.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/endpoint/create_endpoint/launcher.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/endpoint/create_endpoint/remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/endpoint/deploy_model/__init__.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/endpoint/deploy_model/launcher.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/endpoint/deploy_model/remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/gcp_launcher/launcher.py
  components/google-cloud/google_cloud_pipeline_components/v1/endpoint/create_endpoint/component.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/endpoint/deploy_model/component.yaml
  components/google-cloud/tests/aiplatform/testdata/create_and_delete_endpoint_pipeline.json
  components/google-cloud/tests/aiplatform/testdata/model_deploy_and_undeploy_pipeline.json
  components/google-cloud/tests/container/v1/endpoint/create_endpoint/test_create_endpoint_launcher.py
  components/google-cloud/tests/container/v1/endpoint/create_endpoint/test_create_endpoint_remote_runner.py
  components/google-cloud/tests/container/v1/endpoint/deploy_model/test_deploy_model_launcher.py
  components/google-cloud/tests/container/v1/endpoint/deploy_model/test_model_deploy_remote_runner.py
  components/google-cloud/tests/container/v1/gcp_launcher/test_launcher.py
  components/google-cloud/tests/v1/endpoint/testdata/create_endpoint_pipeline.json
  components/google-cloud/tests/v1/endpoint/testdata/model_deploy_pipeline.json
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

feature(sdk): implement watch_status method
  sdk/python/kfp/client/client.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

feat(samples): Full Kubeflow E2E sample using KFPv2.
  samples/contrib/kubeflow-e2e-mnist/OWNERS
  samples/contrib/kubeflow-e2e-mnist/kubeflow-e2e-mnist-kfpv2.ipynb
Due: kubeflow-pipelines-samples-v2

fix(frontend): Fix the issue when drawing dependentTask for task-to-task edges.
  frontend/src/lib/v2/StaticFlow.ts
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

test(frontend): Enforce no warning standard in frontend development.
  frontend/package.json
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

fix warning
  frontend/src/components/tabs/RuntimeNodeDetailsV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

test(frontend): Enforce no warning standard in frontend development. (#8305)
  frontend/package.json
  frontend/src/components/tabs/RuntimeNodeDetailsV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

fix(frontend): Fix the issue when drawing dependentTask for task-to-task edges. (#8304)
  frontend/src/lib/v2/StaticFlow.ts
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

chore(release): bumped version to 2.0.0-alpha.5
  CHANGELOG.md
  VERSION
  backend/api/python_http_client/README.md
  backend/api/python_http_client/kfp_server_api/__init__.py
  backend/api/python_http_client/kfp_server_api/api_client.py
  backend/api/python_http_client/kfp_server_api/configuration.py
  backend/api/python_http_client/setup.py
  backend/api/swagger/kfp_api_single_file.swagger.json
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/application.yaml
  manifests/gcp_marketplace/schema.yaml
  manifests/kustomize/base/cache-deployer/kustomization.yaml
  manifests/kustomize/base/cache/kustomization.yaml
  manifests/kustomize/base/installs/generic/pipeline-install-config.yaml
  manifests/kustomize/base/metadata/base/kustomization.yaml
  manifests/kustomize/base/pipeline/kustomization.yaml
  manifests/kustomize/base/pipeline/metadata-writer/kustomization.yaml
  manifests/kustomize/env/gcp/inverse-proxy/kustomization.yaml
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-manifests

bump reference docs
  docs/conf.py
Due: none

update release notes; modify structure
  sdk/RELEASE.md
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37

bump version
  sdk/python/kfp/__init__.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

implement review feedback
  sdk/RELEASE.md
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37

chore(release): release sdk 2.0.0b5 (#8309)
  docs/conf.py
  sdk/RELEASE.md
  sdk/python/kfp/__init__.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

fix output
  samples/contrib/kubeflow-e2e-mnist/kubeflow-e2e-mnist-kfpv2.ipynb
Due: kubeflow-pipelines-samples-v2

fix import json
  samples/contrib/kubeflow-e2e-mnist/kubeflow-e2e-mnist-kfpv2.ipynb
Due: kubeflow-pipelines-samples-v2

chore(components): Fix references to gcp_launcher.launcher in AutoML and LLM components
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/automl_tabular_feature_selection_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/automl_tabular_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/cv_trainer.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/deprecated/default_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/ensemble.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/feature_selection.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/feature_selection_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/finalizer.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/skip_architecture_search_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/stage_1_tuner.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/stats_and_example_gen.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/tabnet_hyperparameter_tuning_job.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/tabnet_hyperparameter_tuning_job_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/tabnet_trainer.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/tabnet_trainer_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/transform.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/transform_configuration_planner.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/wide_and_deep_hyperparameter_tuning_job.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/wide_and_deep_hyperparameter_tuning_job_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/wide_and_deep_trainer.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/wide_and_deep_trainer_pipeline.json
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

chore(components): add notification v1 doc
  components/google-cloud/docs/source/google_cloud_pipeline_components.v1.vertex_notification_email.rst
Due: kubeflow-pipelines-components-google-cloud-python38

use dict
  samples/contrib/kubeflow-e2e-mnist/kubeflow-e2e-mnist-kfpv2.ipynb
Due: kubeflow-pipelines-samples-v2
