Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python38, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-v2-go-test, kubeflow-pipelines-manifests

kubeflow-pipelines-sdk-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27-v2:
  decorate: true
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-backend-visualization-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

kubeflow-pipeline-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node:12
      command:
      - /bin/sh
      args:
      - -c
      - cd ./frontend && npm run test:ci:prow

kubeflow-pipeline-backend-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.17.6-bullseye
      command:
      - ./test/presubmit-backend-test.sh

kubeflow-pipeline-e2e-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-with-pipeline-deployment.sh
      args:
      - --workflow_file
      - e2e_test_gke_v2.yaml
      - --test_result_folder
      - e2e_test

kubeflow-pipeline-mkp-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-mkp.sh

kubeflow-pipeline-mkp-snapshot-test:
  decorate: true
  spec:
    containers:
    - image: bash:alpine3.14
      command:
      - bash
      args:
      - ./manifests/gcp_marketplace/test/presubmit.sh

kubeflow-pipeline-upgrade-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/upgrade-tests.sh
      args:
      - --test_result_folder
      - upgrade_test

kubeflow-pipelines-sdk-python37:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

feat(frontend): Create two-level dropdown (#7933)
  frontend/src/components/TwoLevelDropdown.test.tsx
  frontend/src/components/TwoLevelDropdown.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Both confusion matrices displayhed side-by-side in table.
  frontend/src/pages/CompareV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Change JSON to primitive types for Tables v1, built-in algorithm and internal pipelines
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/forecasting/bqml_arima_predict_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/forecasting/bqml_arima_train_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/default_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/feature_selection_skip_evaluation_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/feature_selection_tuning_skip_evaluation_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/skip_architecture_search_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/stats_and_example_gen.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/tabnet_hyperparameter_tuning_job_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/tabnet_trainer_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/utils.py
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/wide_and_deep_hyperparameter_tuning_job_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/wide_and_deep_trainer_pipeline.json
  components/google-cloud/tests/experimental/automl/tabular/unit/utils_test.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

Update Tabular workflow to reference 1.0.10 launcher image.
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/feature_selection_pipeline.json
Due: kubeflow-pipelines-components-google-cloud-python38

Update mutation.go
  backend/src/cache/server/mutation.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

use ReadArtifact to retrieve data from cache
  backend/src/cache/client_manager.go
  backend/src/cache/main.go
  backend/src/cache/server/mutation.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Added dataflow_service_account to specify custom service account to run dataflow jobs for stats_and_example_gen and transform components.
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/default_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/feature_selection_skip_evaluation_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/feature_selection_tuning_skip_evaluation_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/skip_architecture_search_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/stats_and_example_gen.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/tabnet_hyperparameter_tuning_job_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/tabnet_trainer_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/transform.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/wide_and_deep_hyperparameter_tuning_job_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/wide_and_deep_trainer_pipeline.json
  components/google-cloud/tests/experimental/automl/tabular/unit/utils_test.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

google-cloud-pipeline-components-1.0.11 release notes
  components/google-cloud/RELEASE.md
Due: kubeflow-pipelines-components-google-cloud-python38

Display the selected artifacts and save them across tab switching.
  frontend/src/pages/CompareV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Simplify getArtifact process and actually get specific artifact.
  frontend/src/pages/CompareV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Add an event listener rather than set it so multiple dropdowns work together.
  frontend/src/components/TwoLevelDropdown.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

fix the issue that nullable and nested features are ignored. use all flatten, non repeated features as candidates.
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/feature_selection_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/utils.py
Due: kubeflow-pipelines-components-google-cloud-python38

Update skip_architecture_search pipeline
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/skip_architecture_search_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/utils.py
  components/google-cloud/tests/experimental/automl/tabular/unit/utils_test.py
Due: kubeflow-pipelines-components-google-cloud-python38

Add comment to remove exhaustive-deps requirement.
  frontend/src/pages/CompareV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Update boolean to following naming conventions.
  frontend/src/pages/CompareV2.test.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

fix-licences
  backend/third_party_licenses/cache_server.csv
  manifests/kustomize/base/cache/cache-deployment.yaml
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-manifests

revert licence to master for force push
  backend/third_party_licenses/cache_server.csv
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

fix-licences
  backend/third_party_licenses/cache_server.csv
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

add algorithm to pipeline, also switch the default alg to be AMI.
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/feature_selection_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/utils.py
Due: kubeflow-pipelines-components-google-cloud-python38

Rename variables and interfaces to clarify meaning.
  frontend/src/pages/CompareV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Fix npm formatting.
  frontend/src/pages/CompareV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Break apart and attempt to simplify process to get the dropdown items.
  frontend/src/pages/CompareV2.test.tsx
  frontend/src/pages/CompareV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Address review comments
  sdk/python/kfp/registry/context/default_pkg_dev.json
  sdk/python/kfp/registry/registry_client.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

Use feature transform engine docker image for related components
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/feature_transform_engine.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/tabnet_hyperparameter_tuning_job_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/tabnet_trainer_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/transform_configuration_planner.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/wide_and_deep_hyperparameter_tuning_job_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/wide_and_deep_trainer_pipeline.json
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

Make calculation logic in SDK helper function run inside a component for Tables v1 and skip_architecture_search pipelines
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/skip_architecture_search_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/utils.py
  components/google-cloud/tests/experimental/automl/tabular/unit/utils_test.py
Due: kubeflow-pipelines-components-google-cloud-python38

weight_column_name -> weight_column and target_column_name -> target_column for Tables v1 and skip_architecture_search pipelines
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/skip_architecture_search_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/utils.py
  components/google-cloud/tests/experimental/automl/tabular/unit/utils_test.py
Due: kubeflow-pipelines-components-google-cloud-python38

For built-in algorithms, the transform_config input is expected to be a GCS file path. The file contains transformations to apply.
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/skip_architecture_search_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/tabnet_hyperparameter_tuning_job_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/tabnet_trainer_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/utils.py
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/wide_and_deep_hyperparameter_tuning_job_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/wide_and_deep_trainer_pipeline.json
  components/google-cloud/tests/experimental/automl/tabular/unit/utils_test.py
Due: kubeflow-pipelines-components-google-cloud-python38

Refactor the creation of a GCS file path into the function that writes generated auto transformations into a GCS file.
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/skip_architecture_search_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/tabnet_hyperparameter_tuning_job_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/tabnet_trainer_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/utils.py
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/wide_and_deep_hyperparameter_tuning_job_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/wide_and_deep_trainer_pipeline.json
  components/google-cloud/tests/experimental/automl/tabular/unit/utils_test.py
Due: kubeflow-pipelines-components-google-cloud-python38

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-e2e-test: any of: ^(frontend/.*)|(backend/.*)|(proxy/.*)|(manifests/kustomize/.*)|(test/.*)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipeline-mkp-snapshot-test: any of: ^(manifests/gcp_marketplace/.*)$
  kubeflow-pipeline-upgrade-test: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python37: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python38: any of: ^(components/google-cloud/.*)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(samples/.*)|(backend/src/v2/.*)$
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-v2-go-test: any of: ^backend/src/v2/.*$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$
