Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python38, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-v2-go-test, kubeflow-pipelines-manifests

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-e2e-test: any of: ^(frontend/.*)|(backend/.*)|(proxy/.*)|(manifests/kustomize/.*)|(test/.*)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipeline-mkp-snapshot-test: any of: ^(manifests/gcp_marketplace/.*)$
  kubeflow-pipeline-upgrade-test: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python37: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python38: any of: ^(components/google-cloud/.*)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(samples/.*)|(backend/src/v2/.*)$
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-v2-go-test: any of: ^backend/src/v2/.*$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$

feat(sdk): support compiling components with `dsl.PipelineTaskFinalStatus` type (#9082)
  sdk/RELEASE.md
  sdk/python/kfp/compiler/pipeline_spec_builder.py
  sdk/python/kfp/components/structures.py
  sdk/python/kfp/components/types/type_utils.py
  sdk/python/test_data/components/component_with_task_final_status.py
  sdk/python/test_data/components/component_with_task_final_status.yaml
  sdk/python/test_data/test_data_config.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

chore(components): Update Sagemaker sample to use v2 Hosting components (#9398)
  samples/contrib/aws-samples/mnist-kmeans-sagemaker/README.md
  samples/contrib/aws-samples/mnist-kmeans-sagemaker/mnist-classification-pipeline.py
Due: kubeflow-pipelines-samples-v2

test(component): Update integration test for Model Monitor component (#9384)
  components/aws/sagemaker/tests/integration_tests/component_tests/test_v2_monitoring_job_definition_component.py
  components/aws/sagemaker/tests/integration_tests/component_tests/test_v2_monitoring_schedule_component.py
  components/aws/sagemaker/tests/integration_tests/utils/kfp_client_utils.py
Due: none

test(components): add additional compilation tests
  components/google-cloud/tests/v1/batch_predict_job/integration/test_components_compile.py
  components/google-cloud/tests/v1/batch_predict_job/testdata/batch_prediction_pipeline.yaml
  components/google-cloud/tests/v1/bigquery/integration/test_bigquery_query_job_compile.py
  components/google-cloud/tests/v1/dataset/integration/test_components_compile.py
  components/google-cloud/tests/v1/dataset/testdata/image_dataset_pipeline.json
  components/google-cloud/tests/v1/dataset/testdata/tabular_dataset_pipeline.json
  components/google-cloud/tests/v1/dataset/testdata/text_dataset_pipeline.json
  components/google-cloud/tests/v1/dataset/testdata/time_series_dataset_pipeline.json
  components/google-cloud/tests/v1/dataset/testdata/video_dataset_pipeline.json
  components/google-cloud/tests/v1/endpoint/integration/test_components_compile.py
  components/google-cloud/tests/v1/endpoint/testdata/create_endpoint_pipeline.yaml
  components/google-cloud/tests/v1/endpoint/testdata/model_deploy_pipeline.yaml
  components/google-cloud/tests/v1/model/integration/test_components_compile.py
  components/google-cloud/tests/v1/model/testdata/model_pipeline.yaml
  components/google-cloud/tests/v1/utils.py
  components/google-cloud/tests/v1/vertex_notification_email/test_components_compile.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

disable cache when volumes are involved
  backend/src/v2/compiler/argocompiler/argo.go
  backend/src/v2/driver/driver.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-samples-v2, kubeflow-pipelines-v2-go-test

remove secret as volume
  backend/src/v2/driver/driver.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-samples-v2, kubeflow-pipelines-v2-go-test

revert driver/launcher image
  backend/src/v2/compiler/argocompiler/argo.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-samples-v2, kubeflow-pipelines-v2-go-test

adress pr comments
  components/aws/sagemaker/tests/integration_tests/component_tests/test_v2_hosting.py
Due: none

update tests to check output
  components/aws/sagemaker/tests/integration_tests/component_tests/test_v2_hosting.py
  components/aws/sagemaker/tests/integration_tests/component_tests/test_v2_train_component.py
Due: none

chore(components): simplify build and serve from github script
  components/google-cloud/docs/build_and_serve_from_github.sh
Due: kubeflow-pipelines-components-google-cloud-python38

fix(components): Remove print statement when importing eval metrics
  components/google-cloud/google_cloud_pipeline_components/container/experimental/evaluation/import_model_evaluation.py
Due: kubeflow-pipelines-components-google-cloud-python38

Add create pipeline and version
  backend/api/v2beta1/go_client/pipeline.pb.go
  backend/api/v2beta1/go_client/pipeline.pb.gw.go
  backend/api/v2beta1/go_http_client/pipeline_client/pipeline_service/create_pipeline_and_version_parameters.go
  backend/api/v2beta1/go_http_client/pipeline_client/pipeline_service/create_pipeline_and_version_responses.go
  backend/api/v2beta1/go_http_client/pipeline_client/pipeline_service/pipeline_service_client.go
  backend/api/v2beta1/pipeline.proto
  backend/api/v2beta1/python_http_client/README.md
  backend/api/v2beta1/python_http_client/docs/PipelineServiceApi.md
  backend/api/v2beta1/python_http_client/kfp_server_api/api/pipeline_service_api.py
  backend/api/v2beta1/python_http_client/test/test_pipeline_service_api.py
  backend/api/v2beta1/swagger/kfp_api_single_file.swagger.json
  backend/api/v2beta1/swagger/pipeline.swagger.json
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

bug fix
  components/aws/sagemaker/tests/integration_tests/component_tests/test_v2_hosting.py
Due: none

test fix
  components/aws/sagemaker/tests/integration_tests/component_tests/test_v2_hosting.py
Due: none

Address comments
  samples/contrib/aws-samples/hosting_model_monitor_pipeline/README.md
  samples/contrib/aws-samples/hosting_model_monitor_pipeline/hosting_model_monitor_pipeline.py
  samples/contrib/aws-samples/hosting_model_monitor_pipeline/requirements.txt
Due: kubeflow-pipelines-samples-v2

remove hash from tests
  backend/src/apiserver/template/template_test.go
  backend/src/v2/compiler/argocompiler/argo_test.go
  backend/src/v2/compiler/argocompiler/testdata/create_mount_delete_dynamic_pvc.yaml
  backend/src/v2/compiler/argocompiler/testdata/hello_world.yaml
  backend/src/v2/compiler/argocompiler/testdata/importer.yaml
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-samples-v2, kubeflow-pipelines-v2-go-test

docs(sdk): add dsl placeholder exports
  sdk/python/kfp/dsl/__init__.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

docs(sdk): add dsl placeholder exports (#9423)
  sdk/python/kfp/dsl/__init__.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

namefix
  components/aws/sagemaker/tests/integration_tests/component_tests/test_v2_hosting.py
Due: none

change sample access modes to ReadWriteOnce
  kubernetes_platform/python/README.md
  kubernetes_platform/python/test/snapshot/data/create_mount_delete_dynamic_pvc.py
  kubernetes_platform/python/test/snapshot/data/create_mount_delete_dynamic_pvc.yaml
  kubernetes_platform/python/test/snapshot/data/create_mount_delete_existing_pvc.py
  kubernetes_platform/python/test/snapshot/data/create_mount_delete_existing_pvc.yaml
  kubernetes_platform/python/test/snapshot/data/create_mount_delete_existing_pvc_from_task_output.py
  kubernetes_platform/python/test/snapshot/data/create_mount_delete_existing_pvc_from_task_output.yaml
Due: kubeflow-pipeline-e2e-test

chore(components): Add sample for Sagemaker Model Monitor component (#9405)
  samples/contrib/aws-samples/README.md
  samples/contrib/aws-samples/hosting_model_monitor_pipeline/README.md
  samples/contrib/aws-samples/hosting_model_monitor_pipeline/hosting_model_monitor_pipeline.py
  samples/contrib/aws-samples/hosting_model_monitor_pipeline/model-monitor/baselining/data_quality/constraints.json
  samples/contrib/aws-samples/hosting_model_monitor_pipeline/model-monitor/baselining/data_quality/statistics.json
  samples/contrib/aws-samples/hosting_model_monitor_pipeline/requirements.txt
Due: kubeflow-pipelines-samples-v2

test: remove test dependency on driver/launcher images (#9422)
  backend/src/apiserver/template/template_test.go
  backend/src/v2/compiler/argocompiler/argo_test.go
  backend/src/v2/compiler/argocompiler/testdata/create_mount_delete_dynamic_pvc.yaml
  backend/src/v2/compiler/argocompiler/testdata/hello_world.yaml
  backend/src/v2/compiler/argocompiler/testdata/importer.yaml
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-samples-v2, kubeflow-pipelines-v2-go-test

Add golangci-lint and pre-commit config
  .golangci.yaml
  .pre-commit-config.yaml
  backend/README.md
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Add CreatePipelineAndVersion
  backend/src/apiserver/server/pipeline_server.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

chore(components): Remove root_dir input from all evaluation components
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/classification/component.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/data_sampler/component.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/dataset_preprocessor/component.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/error_analysis/evaluated_annotation/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/feature_attribution/component.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/forecasting/component.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/regression/component.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/target_field_data_remover/component.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

Update README.md
  components/aws/sagemaker/README.md
Due: none

docs(components): use google blue for GCPC readthedocs site
  components/google-cloud/docs/build_and_serve_from_github.sh
  components/google-cloud/docs/source/_static/css/custom.css
  components/google-cloud/docs/source/conf.py
Due: kubeflow-pipelines-components-google-cloud-python38

wip
  component.yaml
  script.py
Due: none

Add more licenses for cache-deployer image
  third_party/license.txt
Due: none

chore: Add more licenses for cache-deployer image (#9432)
  third_party/license.txt
Due: none
