Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-manifests, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests, kfp-kubernetes-test-python37, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311, kfp-dsl-runtime-code-test-python37, kfp-dsl-runtime-code-test-python38, kfp-dsl-runtime-code-test-python39, kfp-dsl-runtime-code-test-python310, kfp-dsl-runtime-code-test-python311

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-e2e-test: any of: ^(frontend/.*)|(backend/.*)|(proxy/.*)|(manifests/kustomize/.*)|(test/.*)|go.mod|go.sum$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipeline-mkp-snapshot-test: any of: ^(manifests/gcp_marketplace/.*)$
  kubeflow-pipeline-upgrade-test: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipeline-upgrade-test-v2: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python310: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python311: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)|(sdk/python/.*)$
  kubeflow-pipelines-components-google-cloud-python38: any of: ^(components/google-cloud/.*)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(samples/.*)|(backend/src/v2/.*)$
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$
  kubeflow-pipelines-sdk-isort: any of: ^(sdk/python/.*)|(test/presubmit-isort-sdk.sh)$
  kubeflow-pipelines-sdk-yapf: any of: ^(sdk/python/.*)|(test/presubmit-yapf-sdk.sh)$
  kubeflow-pipelines-sdk-docformatter: any of: ^(sdk/python/.*)|(test/presubmit-docformatter-sdk.sh)$
  kubeflow-pipelines-sdk-execution-tests: any of: ^(sdk/python/.*)|(test/presubmit-sdk-execution-tests.sh)$
  kfp-kubernetes-test-python37: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-test-python38: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-test-python39: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-test-python310: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-test-python311: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-dsl-runtime-code-test-python37: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
  kfp-dsl-runtime-code-test-python38: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
  kfp-dsl-runtime-code-test-python39: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
  kfp-dsl-runtime-code-test-python310: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
  kfp-dsl-runtime-code-test-python311: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$

fix(components): Return None as sliced feature attribution values for the classes which are not predicted in bp outputs
  components/google-cloud/google_cloud_pipeline_components/container/_implementation/model_evaluation/import_model_evaluation.py
Due: kubeflow-pipelines-components-google-cloud-python38

Update licenses.
  backend/third_party_licenses/apiserver.csv
  backend/third_party_licenses/driver.csv
  go.mod
  go.sum
  kubernetes_platform/python/kfp/kubernetes/__init__.py
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kfp-kubernetes-test-python37, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311

feat(components): Add CMEK validation to `preview.llm.infer_pipeline`
  components/google-cloud/RELEASE.md
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/bulk_inferrer.py
  components/google-cloud/google_cloud_pipeline_components/preview/llm/infer/__init__.py
  components/google-cloud/google_cloud_pipeline_components/preview/llm/infer/component.py
  components/google-cloud/google_cloud_pipeline_components/preview/llm/rlhf/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

feat(Backend + SDK): Update kfp backend and kubernetes sdk to support ImagePullPolicy (#10417)
  backend/src/v2/driver/driver.go
  backend/src/v2/driver/driver_test.go
  backend/third_party_licenses/apiserver.csv
  backend/third_party_licenses/driver.csv
  go.mod
  go.sum
  kubernetes_platform/python/README.md
  kubernetes_platform/python/kfp/kubernetes/__init__.py
  kubernetes_platform/python/kfp/kubernetes/image.py
  kubernetes_platform/python/test/unit/test_image_pull_policy.py
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-samples-v2, kfp-kubernetes-test-python37, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311

downgrade go version to 1.20 and revert dockerfile upgrade
  backend/Dockerfile
  backend/Dockerfile.cacheserver
  backend/Dockerfile.conformance
  backend/Dockerfile.driver
  backend/Dockerfile.launcher
  backend/Dockerfile.persistenceagent
  backend/Dockerfile.scheduledworkflow
  backend/Dockerfile.viewercontroller
  backend/src/v2/test/components/build_go.yaml
  backend/src/v2/test/presubmit-v2-go-test.sh
  go.mod
  go.sum
  test/api-integration-test/Dockerfile
  test/initialization-test/Dockerfile
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-samples-v2

docs(components): fix `create_custom_training_job_from_component` docs rendering
  components/google-cloud/google_cloud_pipeline_components/v1/custom_job/utils.py
Due: kubeflow-pipelines-components-google-cloud-python38

feat(components): Implement the train time evaluation in reward model training. With the train time eval dataset available, the pipeline outputs the accuracy and cross entropy metrics to the log
  components/google-cloud/RELEASE.md
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/function_based.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/generated/refined_image_versions.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/reward_model_graph.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/reward_model_trainer.py
  components/google-cloud/google_cloud_pipeline_components/preview/llm/rlhf/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

fix(samples): Updated samples/core to V2 (#9879)
  samples/core/condition/nested_condition.py
  samples/core/condition/nested_condition_test.py
  samples/core/kfp_env_validation/kfp_env_validation.ipynb
  samples/core/loop_parallelism/loop_parallelism.py
  samples/core/loop_parallelism/loop_parallelism_test.py
  samples/core/multiple_outputs/multiple_outputs.ipynb
  samples/core/multiple_outputs/multiple_outputs_test.py
  samples/core/output_a_directory/output_a_directory.py
  samples/core/output_a_directory/output_a_directory_test.py
  samples/core/parallel_join/parallel_join.py
Due: kubeflow-pipelines-samples-v2

chore(components): Consolidate validation components in `preview.llm.rlhf_pipeline`
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/function_based.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/validate_pipeline.py
  components/google-cloud/google_cloud_pipeline_components/preview/llm/rlhf/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

feat(backend): Upgrade go version to 1.20 (#10502)
  backend/src/v2/expression/expression_test.go
  backend/src/v2/test/presubmit-v2-go-test.sh
  backend/third_party_licenses/apiserver.csv
  backend/third_party_licenses/cache_server.csv
  backend/third_party_licenses/driver.csv
  backend/third_party_licenses/launcher.csv
  backend/third_party_licenses/persistence_agent.csv
  backend/third_party_licenses/swf.csv
  backend/third_party_licenses/viewer.csv
  go.mod
  go.sum
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-samples-v2

fix(backend): Add condition branch of error for status conflict
  backend/src/apiserver/server/pipeline_upload_server.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2

Change stalebot rules
  .github/stale.yml
  .github/workflows/stale.yml
Due: none

UPSTERAM: <carry>: add more cert file paths to executor.
  backend/src/v2/compiler/argocompiler/container.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-samples-v2

fix(kubernetes_platform): Add optional field to SecretAsVolume and ConfigMapAsVolume.
  kubernetes_platform/go/kubernetesplatform/kubernetes_executor_config.pb.go
  kubernetes_platform/proto/kubernetes_executor_config.proto
Due: kfp-kubernetes-test-python37, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311

UPSTREAM: <carry>: chore: fix unittests for empty dir mounts
  backend/src/v2/compiler/argocompiler/testdata/create_mount_delete_dynamic_pvc.yaml
  backend/src/v2/compiler/argocompiler/testdata/hello_world.yaml
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-samples-v2

UPSTREAM: <carry>: chore: add unittest workflow.
  .github/resources/unittests/application_default_credentials.json
  .github/workflows/unit-tests.yaml
Due: none

Update comment.
  kubernetes_platform/go/kubernetesplatform/kubernetes_executor_config.pb.go
  kubernetes_platform/proto/kubernetes_executor_config.proto
Due: kfp-kubernetes-test-python37, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311

UPSTREAM: <carry>: convert dockerfiles to ubi
  backend/Dockerfile
  backend/Dockerfile.driver
  backend/Dockerfile.launcher
  backend/Dockerfile.persistenceagent
  backend/Dockerfile.scheduledworkflow
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2

UPSTREAM: <carry>: server should skip sample load if path DNE
  backend/src/apiserver/client/util.go
  backend/src/apiserver/main.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2

docs(components): Modify the GetModel documentation
  components/google-cloud/RELEASE.md
  components/google-cloud/google_cloud_pipeline_components/v1/model/get_model/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

chore(components): Update AutoSxS and RLHF image tags
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/generated/refined_image_versions.py
Due: kubeflow-pipelines-components-google-cloud-python38

Updated envoy and grpc registry URLs for bot to display for testing images.
  .github/workflows/build-prs.yml
Due: none

fix(backend): Fixes response status of http error code when uploading duplicate pipeline [Fixes #10311] (#10546)
  backend/src/apiserver/server/pipeline_upload_server.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2

UPSTREAM: <carry>: Fix the mlmd grpc server in build workflow
  .github/workflows/build-prs.yml
Due: none

chore: Change stalebot rules (#10547)
  .github/stale.yml
  .github/workflows/stale.yml
Due: none

fix(kubernetes_platform): Add optional field to SecretAsVolume and ConfigMapAsVolume. Fixes #10548 (#10549)
  kubernetes_platform/go/kubernetesplatform/kubernetes_executor_config.pb.go
  kubernetes_platform/proto/kubernetes_executor_config.proto
Due: kfp-kubernetes-test-python37, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311

fix(Backend + SDK): Add missing optional field to SecretAsVolume and ConfigMapAsVolume.
  backend/src/v2/driver/driver.go
  backend/src/v2/driver/driver_test.go
  kubernetes_platform/python/README.md
  kubernetes_platform/python/kfp/kubernetes/config_map.py
  kubernetes_platform/python/kfp/kubernetes/secret.py
  kubernetes_platform/python/test/snapshot/data/config_map_as_vol.yaml
  kubernetes_platform/python/test/snapshot/data/secret_as_vol.yaml
  kubernetes_platform/python/test/unit/test_config_map.py
  kubernetes_platform/python/test/unit/test_image_pull_secrets.py
  kubernetes_platform/python/test/unit/test_node_selector.py
  kubernetes_platform/python/test/unit/test_pod_metadata.py
  kubernetes_platform/python/test/unit/test_secret.py
  kubernetes_platform/python/test/unit/test_tolerations.py
  kubernetes_platform/python/test/unit/test_volume.py
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-samples-v2, kfp-kubernetes-test-python37, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311

Update after rebase.
  backend/third_party_licenses/apiserver.csv
  backend/third_party_licenses/driver.csv
  go.mod
  go.sum
  kubernetes_platform/python/test/unit/test_secret.py
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kfp-kubernetes-test-python37, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311
