Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-manifests, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests, kfp-kubernetes-test-python37, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311, kfp-dsl-runtime-code-test-python37, kfp-dsl-runtime-code-test-python38, kfp-dsl-runtime-code-test-python39, kfp-dsl-runtime-code-test-python310, kfp-dsl-runtime-code-test-python311

kubeflow-pipelines-sdk-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27-v2:
  decorate: true
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-backend-visualization-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

kubeflow-pipeline-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node:14
      command:
      - /bin/sh
      args:
      - -c
      - cd ./frontend && npm run test:ci:prow

kubeflow-pipeline-backend-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.20-bullseye
      command:
      - ./test/presubmit-backend-test.sh

kubeflow-pipeline-e2e-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-with-pipeline-deployment.sh
      args:
      - --workflow_file
      - e2e_test_gke_v2.yaml
      - --test_result_folder
      - e2e_test

kubeflow-pipeline-mkp-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-mkp.sh

kubeflow-pipeline-mkp-snapshot-test:
  decorate: true
  spec:
    containers:
    - image: bash:alpine3.14
      command:
      - bash
      args:
      - ./manifests/gcp_marketplace/test/presubmit.sh

kubeflow-pipeline-upgrade-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/upgrade-tests.sh
      args:
      - --test_result_folder
      - upgrade_test

kubeflow-pipelines-sdk-python37:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

fix(manifests): Update persistence agent manifests in marketplace helm chart (#9908)
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/pipeline.yaml
  manifests/gcp_marketplace/schema.yaml
  manifests/gcp_marketplace/test/snapshot-base.yaml
  manifests/gcp_marketplace/test/snapshot-emissary.yaml
  manifests/gcp_marketplace/test/snapshot-managed-storage-with-db-prefix.yaml
  manifests/gcp_marketplace/test/snapshot-managed-storage.yaml
Due: kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test

chore(frontend): Update caniuse-lite in package-lock.json (#9857)
  frontend/package-lock.json
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

feat: Adding new test infrastructure for e2e pipeline tests
  components/google-cloud/cloudbuild.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

chore(mlmd): Upgrade ML Metadata to 1.14.0. (#9856)
  .cloudbuild.yaml
  .release.cloudbuild.yaml
  backend/metadata_writer/requirements.in
  backend/src/v2/test/requirements.txt
  backend/third_party_licenses/apiserver.csv
  frontend/README.md
  frontend/src/mlmd/Utils.tsx
  frontend/src/pages/ExecutionDetails.tsx
  frontend/src/third_party/mlmd/generated/ml_metadata/proto/metadata_store_pb.d.ts
  frontend/src/third_party/mlmd/generated/ml_metadata/proto/metadata_store_pb.js
  frontend/src/third_party/mlmd/generated/ml_metadata/proto/metadata_store_service_grpc_web_pb.d.ts
  frontend/src/third_party/mlmd/generated/ml_metadata/proto/metadata_store_service_grpc_web_pb.js
  frontend/src/third_party/mlmd/generated/ml_metadata/proto/metadata_store_service_pb.d.ts
  frontend/src/third_party/mlmd/generated/ml_metadata/proto/metadata_store_service_pb.js
  go.mod
  go.sum
  hack/update-all-requirements.sh
  manifests/kustomize/base/metadata/base/metadata-grpc-deployment.yaml
  test/tag_for_hosted.sh
  third_party/ml-metadata/README.md
  third_party/ml-metadata/VERSION
  third_party/ml-metadata/go.mod
  third_party/ml-metadata/go.sum
  third_party/ml-metadata/go/ml_metadata/metadata_store.pb.go
  third_party/ml-metadata/go/ml_metadata/metadata_store_service.pb.go
  third_party/ml-metadata/go/ml_metadata/metadata_store_service_grpc.pb.go
  third_party/ml-metadata/ml_metadata/proto/metadata_store.proto
  third_party/ml-metadata/ml_metadata/proto/metadata_store_service.proto
  third_party/ml-metadata/update_version.sh
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-samples-v2, kubeflow-pipelines-manifests

feat(components): Update container URIs for embedding eval components
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/llm_embedding_retrieval/component.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/llm_information_retrieval_preprocessor/component.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/llm_retrieval_metrics/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

fix runtime test and compilation logic
  sdk/python/kfp/dsl/component_factory.py
  sdk/runtime_tests/execute_commands_args_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

fix(metadata): get contexts with a filter query. Fixes #8408
  backend/metadata_writer/src/metadata_helpers.py
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2

wip
  f.py
  f.yaml
  foo.py
Due: none

feat(components): Update supported large model reference names that can be resolved by function based component in _implementation/llm
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/bulk_inferrer.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/function_based.py
  components/google-cloud/google_cloud_pipeline_components/preview/llm/infer/component.py
  components/google-cloud/google_cloud_pipeline_components/preview/llm/rlhf/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

feat(components): Update the default tpu-v3 core count resolved by function based component in _implementation/llm
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/function_based.py
Due: kubeflow-pipelines-components-google-cloud-python38

feat(mlmd): Introduce PostgreSQL kustomization for MLMD.
  manifests/kustomize/base/cache/postgresql/kustomization.yaml
  manifests/kustomize/base/installs/generic/postgres/kustomization.yaml
  manifests/kustomize/base/installs/generic/postgres/postgres-secret-extended.yaml
  manifests/kustomize/base/metadata/overlays/postgres/kustomization.yaml
  manifests/kustomize/base/metadata/overlays/postgres/metadata-db-deployment.yaml
  manifests/kustomize/base/metadata/overlays/postgres/metadata-db-pvc.yaml
  manifests/kustomize/base/metadata/overlays/postgres/metadata-db-service.yaml
  manifests/kustomize/base/metadata/overlays/postgres/params.env
  manifests/kustomize/base/metadata/overlays/postgres/patches/metadata-grpc-deployment.yaml
  manifests/kustomize/base/metadata/overlays/postgres/secrets.env
  manifests/kustomize/base/pipeline/postgres/kustomization.yaml
  manifests/kustomize/base/pipeline/postgres/ml-pipeline-apiserver-deployment.yaml
  manifests/kustomize/base/postgresql/cache/cache-deployment-patch.yaml
  manifests/kustomize/base/postgresql/cache/kustomization.yaml
  manifests/kustomize/base/postgresql/pipeline/kustomization.yaml
  manifests/kustomize/base/postgresql/pipeline/ml-pipeline-apiserver-deployment-patch.yaml
  manifests/kustomize/env/platform-agnostic-postgresql/kustomization.yaml
Due: kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-manifests

feat(mlmd): Introduce PostgreSQL kustomization for MLMD. (#9927)
  manifests/kustomize/base/cache/postgresql/kustomization.yaml
  manifests/kustomize/base/installs/generic/postgres/kustomization.yaml
  manifests/kustomize/base/installs/generic/postgres/postgres-secret-extended.yaml
  manifests/kustomize/base/metadata/overlays/postgres/kustomization.yaml
  manifests/kustomize/base/metadata/overlays/postgres/metadata-db-deployment.yaml
  manifests/kustomize/base/metadata/overlays/postgres/metadata-db-pvc.yaml
  manifests/kustomize/base/metadata/overlays/postgres/metadata-db-service.yaml
  manifests/kustomize/base/metadata/overlays/postgres/params.env
  manifests/kustomize/base/metadata/overlays/postgres/patches/metadata-grpc-deployment.yaml
  manifests/kustomize/base/metadata/overlays/postgres/secrets.env
  manifests/kustomize/base/pipeline/postgres/kustomization.yaml
  manifests/kustomize/base/pipeline/postgres/ml-pipeline-apiserver-deployment.yaml
  manifests/kustomize/base/postgresql/cache/cache-deployment-patch.yaml
  manifests/kustomize/base/postgresql/cache/kustomization.yaml
  manifests/kustomize/base/postgresql/pipeline/kustomization.yaml
  manifests/kustomize/base/postgresql/pipeline/ml-pipeline-apiserver-deployment-patch.yaml
  manifests/kustomize/env/platform-agnostic-postgresql/kustomization.yaml
Due: kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-manifests

chore(stalebot): Increase stalebot operations from 30 to 200. Since it currently doesn't process enough items corresponding to items growth.
  .github/stale.yml
Due: none

release kfp sdk 2.1.3
  docs/conf.py
  sdk/RELEASE.md
  sdk/python/kfp/__init__.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

support if/elif/else
  sdk/python/kfp/compiler/compiler_test.py
  sdk/python/kfp/compiler/compiler_utils.py
  sdk/python/kfp/compiler/pipeline_spec_builder.py
  sdk/python/kfp/dsl/__init__.py
  sdk/python/kfp/dsl/pipeline_channel.py
  sdk/python/kfp/dsl/pipeline_context.py
  sdk/python/kfp/dsl/tasks_group.py
  sdk/python/test_data/pipelines/if_elif_else.py
  sdk/python/test_data/pipelines/if_elif_else.yaml
  sdk/python/test_data/pipelines/if_elif_else_complex.py
  sdk/python/test_data/pipelines/if_elif_else_complex.yaml
  sdk/python/test_data/pipelines/if_else.py
  sdk/python/test_data/pipelines/if_else.yaml
  sdk/python/test_data/test_data_config.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

deprecate dsl.Condition
  sdk/python/kfp/dsl/tasks_group.py
  sdk/python/kfp/dsl/tasks_group_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

update tests
  sdk/python/kfp/dsl/component_factory_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

chore(components): internal
  components/google-cloud/google_cloud_pipeline_components/container/v1/bigquery/utils/bigquery_util.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/cancel_job/__init__.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/cancel_job/launcher.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/cancel_job/remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/dataproc/utils/dataproc_util.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/gcp_launcher/job_remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/wait_gcp_resources/remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/v1/cancel_job/__init__.py
  components/google-cloud/google_cloud_pipeline_components/v1/cancel_job/component.py
  components/google-cloud/google_cloud_pipeline_components/v1/dataflow/python_job/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

feat(sdk): add logging at end of executor execution
  sdk/python/kfp/dsl/executor.py
  sdk/python/kfp/dsl/executor_main.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

chore(stalebot): Increase stalebot operations from 30 to 200. (#9928)
  .github/stale.yml
Due: none

fix: Move stale GHA operation config to the right place
  .github/stale.yml
  .github/workflows/stale.yml
Due: none

fix: Move stale GHA operation config to the right place (#9935)
  .github/stale.yml
  .github/workflows/stale.yml
Due: none

feat(components): Update policy to reward model name mapping in function based component in _implementation/llm
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/function_based.py
Due: kubeflow-pipelines-components-google-cloud-python38

Add unit tests. Move the file to FC folder. Add updatebanner logic for error case Simplify the getInitialToolBar() helper.
  frontend/src/pages/FunctionalComponent/RecurringRunDetailsV2FC.test.tsx
  frontend/src/pages/FunctionalComponent/RecurringRunDetailsV2FC.tsx
  frontend/src/pages/RecurringRunDetailsRouter.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Add alternative functional component for recurring run v2 details.
  frontend/src/pages/RecurringRunDetailsRouter.tsx
  frontend/src/pages/RecurringRunDetailsV2FC.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Remove unnecessary recurringRunDetailsV2FCProps
  frontend/src/pages/RecurringRunDetailsRouter.tsx
  frontend/src/pages/RecurringRunDetailsV2FC.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Add new feature key "functional" to enable rendering functional component. (only for validation test now)
  frontend/src/features.ts
  frontend/src/pages/FunctionalComponent/RecurringRunDetailsV2FC.test.tsx
  frontend/src/pages/RecurringRunDetailsRouter.tsx
  frontend/src/pages/RecurringRunDetailsV2.test.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

fix(components):Update batch_prediction_*_gcs_source to predictions_*_gcs_source in information retrieval preprocessor
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/llm_information_retrieval_preprocessor/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-e2e-test: any of: ^(frontend/.*)|(backend/.*)|(proxy/.*)|(manifests/kustomize/.*)|(test/.*)|go.mod|go.sum$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipeline-mkp-snapshot-test: any of: ^(manifests/gcp_marketplace/.*)$
  kubeflow-pipeline-upgrade-test: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipeline-upgrade-test-v2: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python310: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python311: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)|(sdk/python/.*)$
  kubeflow-pipelines-components-google-cloud-python38: any of: ^(components/google-cloud/.*)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(samples/.*)|(backend/src/v2/.*)$
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$
  kubeflow-pipelines-sdk-isort: any of: ^(sdk/python/.*)|(test/presubmit-isort-sdk.sh)$
  kubeflow-pipelines-sdk-yapf: any of: ^(sdk/python/.*)|(test/presubmit-yapf-sdk.sh)$
  kubeflow-pipelines-sdk-docformatter: any of: ^(sdk/python/.*)|(test/presubmit-docformatter-sdk.sh)$
  kubeflow-pipelines-sdk-execution-tests: any of: ^(sdk/python/.*)|(test/presubmit-sdk-execution-tests.sh)$
  kfp-kubernetes-test-python37: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-test-python38: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-test-python39: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-test-python310: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-test-python311: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-dsl-runtime-code-test-python37: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
  kfp-dsl-runtime-code-test-python38: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
  kfp-dsl-runtime-code-test-python39: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
  kfp-dsl-runtime-code-test-python310: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
  kfp-dsl-runtime-code-test-python311: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
