Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-mkp-test, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python37, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-manifests

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipelines-sdk-python36: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python36: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python37: any of: ^(components/google-cloud/.*)|(test/presubmit-components-google-cloud.sh)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(v2/.*)$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$

feat(components): Implement delete_model
  components/google-cloud/google_cloud_pipeline_components/aiplatform/__init__.py
  components/google-cloud/google_cloud_pipeline_components/aiplatform/model/delete_model/component.yaml
  components/google-cloud/google_cloud_pipeline_components/container/experimental/gcp_launcher/delete_model_remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/container/experimental/gcp_launcher/launcher.py
  components/google-cloud/tests/aiplatform/integration/test_components_compile.py
  components/google-cloud/tests/aiplatform/testdata/model_upload_and_delete_pipeline.json
  components/google-cloud/tests/container/experimental/gcp_launcher/test_launcher.py
  components/google-cloud/tests/container/experimental/gcp_launcher/test_model_delete_remote_runner.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

kfp bq components e2e test
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/evaluate_model/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/predict_model/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

Update yaml to change model input from string to artifact.
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/evaluate_model/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/predict_model/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

fix testsg
  sdk/python/setup.py
  sdk/python/tests/compiler/compiler_tests.py
  sdk/python/tests/compiler/component_builder_test.py
  sdk/python/tests/compiler/container_builder_test.py
  sdk/python/tests/compiler/k8s_helper_tests.py
  sdk/python/tests/dsl/aws_extensions_tests.py
  sdk/python/tests/dsl/component_bridge_tests.py
  sdk/python/tests/dsl/component_tests.py
  sdk/python/tests/dsl/container_op_tests.py
  sdk/python/tests/dsl/metadata_tests.py
  sdk/python/tests/dsl/ops_group_tests.py
  sdk/python/tests/dsl/pipeline_param_tests.py
  sdk/python/tests/dsl/pipeline_tests.py
  sdk/python/tests/dsl/pipeline_volume_tests.py
  sdk/python/tests/dsl/resource_op_tests.py
  sdk/python/tests/dsl/test_azure_extensions.py
  sdk/python/tests/dsl/type_tests.py
  sdk/python/tests/dsl/volume_op_tests.py
  sdk/python/tests/dsl/volume_snapshotop_tests.py
  sdk/python/tests/local_runner_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

fix testsg
  sdk/python/kfp/__init__.py
  sdk/python/setup.py
  sdk/python/tests/compiler/compiler_tests.py
  sdk/python/tests/compiler/component_builder_test.py
  sdk/python/tests/compiler/container_builder_test.py
  sdk/python/tests/compiler/k8s_helper_tests.py
  sdk/python/tests/dsl/aws_extensions_tests.py
  sdk/python/tests/dsl/component_bridge_tests.py
  sdk/python/tests/dsl/component_tests.py
  sdk/python/tests/dsl/container_op_tests.py
  sdk/python/tests/dsl/metadata_tests.py
  sdk/python/tests/dsl/ops_group_tests.py
  sdk/python/tests/dsl/pipeline_param_tests.py
  sdk/python/tests/dsl/pipeline_tests.py
  sdk/python/tests/dsl/pipeline_volume_tests.py
  sdk/python/tests/dsl/resource_op_tests.py
  sdk/python/tests/dsl/test_azure_extensions.py
  sdk/python/tests/dsl/type_tests.py
  sdk/python/tests/dsl/volume_op_tests.py
  sdk/python/tests/dsl/volume_snapshotop_tests.py
  sdk/python/tests/local_runner_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

fix setup.py
  sdk/python/setup.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

s'
  sdk/python/kfp/deprecated/compiler/main.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

fix tests
  sdk/python/kfp/deprecated/compiler/v2_compat.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/lightweight_python_functions_v2_pipeline.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/lightweight_python_functions_v2_with_outputs.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_after.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_concat_placeholder.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_condition.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_env.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_exit_handler.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_gcpc_types.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_if_placeholder.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_importer.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_loops.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_loops_and_conditions.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_metrics_outputs.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_nested_conditions.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_nested_conditions_yaml.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_nested_loops.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_ontology.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_params_containing_format.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_placeholders.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_resource_spec.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_reused_component.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_various_io_types.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/two_step_pipeline.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/v2_component_with_optional_inputs.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/xgboost_sample_pipeline.json
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

fix(backend): missing permissions for scheduled workflows (#7155)
  manifests/kustomize/base/installs/multi-user/scheduled-workflow/cluster-role.yaml
  manifests/kustomize/base/pipeline/ml-pipeline-scheduledworkflow-role.yaml
Due: kubeflow-pipelines-manifests

chore(release): bumped version to 1.8.0-rc.3
  CHANGELOG.md
  VERSION
  backend/api/python_http_client/README.md
  backend/api/python_http_client/kfp_server_api/__init__.py
  backend/api/python_http_client/kfp_server_api/api_client.py
  backend/api/python_http_client/kfp_server_api/configuration.py
  backend/api/python_http_client/setup.py
  backend/api/swagger/kfp_api_single_file.swagger.json
  components/README.md
  components/gcp/container/component_sdk/python/setup.py
  components/kubeflow/deployer/component.yaml
  components/kubeflow/dnntrainer/component.yaml
  components/local/confusion_matrix/component.yaml
  components/local/roc/component.yaml
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/application.yaml
  manifests/gcp_marketplace/schema.yaml
  manifests/kustomize/base/cache-deployer/kustomization.yaml
  manifests/kustomize/base/cache/kustomization.yaml
  manifests/kustomize/base/installs/generic/pipeline-install-config.yaml
  manifests/kustomize/base/metadata/base/kustomization.yaml
  manifests/kustomize/base/pipeline/kustomization.yaml
  manifests/kustomize/base/pipeline/metadata-writer/kustomization.yaml
  manifests/kustomize/env/gcp/inverse-proxy/kustomization.yaml
  samples/core/kubeflow_tf_serving/kubeflow_tf_serving.ipynb
  samples/core/xgboost_training_cm/xgboost_training_cm.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipeline-backend-test, kubeflow-pipeline-mkp-test, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-manifests

chore(release): bump version to 1.8.0-rc.3 on master branch
  CHANGELOG.md
  VERSION
  backend/api/python_http_client/README.md
  backend/api/python_http_client/kfp_server_api/__init__.py
  backend/api/python_http_client/kfp_server_api/api_client.py
  backend/api/python_http_client/kfp_server_api/configuration.py
  backend/api/python_http_client/setup.py
  backend/api/swagger/kfp_api_single_file.swagger.json
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/application.yaml
  manifests/gcp_marketplace/schema.yaml
  manifests/kustomize/base/cache-deployer/kustomization.yaml
  manifests/kustomize/base/cache/kustomization.yaml
  manifests/kustomize/base/installs/generic/pipeline-install-config.yaml
  manifests/kustomize/base/metadata/base/kustomization.yaml
  manifests/kustomize/base/pipeline/kustomization.yaml
  manifests/kustomize/base/pipeline/metadata-writer/kustomization.yaml
  manifests/kustomize/env/gcp/inverse-proxy/kustomization.yaml
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-mkp-test, kubeflow-pipelines-manifests

chore: fix broken link in README.md (#7284)
  README.md
Due: none

Internal change
  components/google-cloud/google_cloud_pipeline_components/container/experimental/gcp_launcher/job_remote_runner.py
Due: kubeflow-pipelines-components-google-cloud-python37

Update export model input from string to artifact and update its e2e test
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/export_model/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

AIP-5634: Use a FIFO approach and actually remove the old file paths
  backend/metadata_writer/src/metadata_writer.py
Due: kubeflow-pipeline-backend-test

Internal change
  components/google-cloud/google_cloud_pipeline_components/proto/README.md
Due: kubeflow-pipelines-components-google-cloud-python37

chore(components): small refactoring on utility function for dumping the output artifacts
  components/google-cloud/google_cloud_pipeline_components/container/experimental/gcp_launcher/utils/artifact_util.py
  components/google-cloud/google_cloud_pipeline_components/types/artifact_types.py
  components/google-cloud/tests/types/artifact_types_test.py
Due: kubeflow-pipelines-components-google-cloud-python37

update gcp marketplace snapshot
  manifests/gcp_marketplace/test/snapshot-base.yaml
  manifests/gcp_marketplace/test/snapshot-emissary.yaml
  manifests/gcp_marketplace/test/snapshot-managed-storage-with-db-prefix.yaml
  manifests/gcp_marketplace/test/snapshot-managed-storage.yaml
Due: kubeflow-pipeline-mkp-test

chore(release): bump version to 1.8.0-rc.3 on master branch (#7293)
  CHANGELOG.md
  VERSION
  backend/api/python_http_client/README.md
  backend/api/python_http_client/kfp_server_api/__init__.py
  backend/api/python_http_client/kfp_server_api/api_client.py
  backend/api/python_http_client/kfp_server_api/configuration.py
  backend/api/python_http_client/setup.py
  backend/api/swagger/kfp_api_single_file.swagger.json
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/application.yaml
  manifests/gcp_marketplace/schema.yaml
  manifests/gcp_marketplace/test/snapshot-base.yaml
  manifests/gcp_marketplace/test/snapshot-emissary.yaml
  manifests/gcp_marketplace/test/snapshot-managed-storage-with-db-prefix.yaml
  manifests/gcp_marketplace/test/snapshot-managed-storage.yaml
  manifests/kustomize/base/cache-deployer/kustomization.yaml
  manifests/kustomize/base/cache/kustomization.yaml
  manifests/kustomize/base/installs/generic/pipeline-install-config.yaml
  manifests/kustomize/base/metadata/base/kustomization.yaml
  manifests/kustomize/base/pipeline/kustomization.yaml
  manifests/kustomize/base/pipeline/metadata-writer/kustomization.yaml
  manifests/kustomize/env/gcp/inverse-proxy/kustomization.yaml
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-mkp-test, kubeflow-pipelines-manifests

Add AutoML Tables prebuilt pipeline with distillation to GCPC SDK.
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/distill_skip_evaluation_pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/utils.py
  components/google-cloud/tests/experimental/automl/tabular/unit/utils_test.py
Due: kubeflow-pipelines-components-google-cloud-python37

support feature trimming in trainer based on feature_selection_rate
  components/google-cloud/google_cloud_pipeline_components/experimental/automl/tabular/stage_1_tuner.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

fix test
  sdk/python/kfp/deprecated/cli/components_test.py
  sdk/python/kfp/deprecated/compiler/__init__.py
  sdk/python/kfp/deprecated/compiler/main.py
  sdk/python/kfp/deprecated/compiler/v2_compatible_compiler_test.py
  sdk/python/kfp/deprecated/dsl/_component.py
  sdk/python/kfp/deprecated/dsl/_container_op.py
  sdk/python/kfp/deprecated/dsl/_container_op_test.py
  sdk/python/kfp/deprecated/notebook/_magic.py
  sdk/python/kfp/v2/components/types/type_utils.py
  sdk/python/kfp/v2/components/types/type_utils_test.py
  sdk/python/tests/compiler/compiler_tests.py
  sdk/python/tests/compiler/container_builder_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

retore v2 test changes
  sdk/python/kfp/v2/compiler_cli_tests/test_data/lightweight_python_functions_v2_pipeline.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/lightweight_python_functions_v2_with_outputs.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_after.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_concat_placeholder.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_condition.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_env.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_exit_handler.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_gcpc_types.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_if_placeholder.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_importer.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_loops.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_loops_and_conditions.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_metrics_outputs.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_nested_conditions.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_nested_conditions_yaml.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_nested_loops.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_ontology.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_params_containing_format.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_placeholders.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_resource_spec.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_reused_component.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_various_io_types.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/two_step_pipeline.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/v2_component_with_optional_inputs.json
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

fix py3.6 test
  sdk/python/kfp/deprecated/dsl/_container_op.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/xgboost_sample_pipeline.json
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

fix py3.6 test
  sdk/python/kfp/deprecated/compiler/compiler.py
  sdk/python/kfp/deprecated/dsl/_component.py
  sdk/python/kfp/deprecated/dsl/_component_bridge.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2
