Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-mkp-test, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python37, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-manifests

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipelines-sdk-python36: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python36: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python37: any of: ^(components/google-cloud/.*)|(test/presubmit-components-google-cloud.sh)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(v2/.*)$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$

chore: update comments in a pipeline sample (#6601)
  frontend/mock-backend/data/v2/pipeline/mock_lightweight_python_functions_v2_pipeline.json
  frontend/src/data/test/mock_lightweight_python_functions_v2_pipeline.json
  samples/test/lightweight_python_functions_v2_pipeline.py
  samples/v2/lightweight_python_functions_v2_pipeline/lightweight_python_functions_v2_pipeline.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/lightweight_python_functions_v2_pipeline.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/lightweight_python_functions_v2_pipeline.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipeline-frontend-test, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

Fix missint asserts in the experiment_api_test.go file
  backend/test/integration/experiment_api_test.go
Due: kubeflow-pipeline-backend-test

Fix missing asserts and add missing test case
  backend/test/integration/job_api_test.go
Due: kubeflow-pipeline-backend-test

Clean up test and remove package imported twice
  backend/test/integration/pipeline_api_test.go
Due: kubeflow-pipeline-backend-test

Clean up pipelin_version, run_api and upgrade test
  backend/test/integration/pipeline_version_api_test.go
  backend/test/integration/run_api_test.go
  backend/test/integration/upgrade_test.go
Due: kubeflow-pipeline-backend-test

Update the expected value of the list
  backend/test/integration/job_api_test.go
Due: kubeflow-pipeline-backend-test

Remove unexported and unused fields in the persistance client
  backend/src/agent/persistence/client/pipeline_client.go
Due: kubeflow-pipeline-backend-test

Accept non str paramter types for MB components
  components/google-cloud/google_cloud_pipeline_components/aiplatform/utils.py
  components/google-cloud/google_cloud_pipeline_components/experimental/forecasting/prepare_data_for_train/component.py
  components/google-cloud/google_cloud_pipeline_components/experimental/forecasting/prepare_data_for_train/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

remove debug code
  components/google-cloud/google_cloud_pipeline_components/aiplatform/utils.py
Due: kubeflow-pipelines-components-google-cloud-python37

fixed nits
  v2/compiler/container.go
  v2/driver/driver.go
  v2/metadata/client.go
Due: kubeflow-pipelines-samples-v2

fixed ut
  v2/compiler/argo_test.go
Due: kubeflow-pipelines-samples-v2

fix(components/google-cloud): Custom Job resource proto output is incorrect (#6593)
  components/google-cloud/google_cloud_pipeline_components/experimental/remote/gcp_launcher/custom_job_remote_runner.py
  components/google-cloud/tests/experimental/custom_job/test_custom_job.py
  components/google-cloud/tests/experimental/remote/gcp_launcher/test_custom_job_remote_runner.py
Due: kubeflow-pipelines-components-google-cloud-python37

update test
  components/google-cloud/google_cloud_pipeline_components/experimental/remote/gcp_launcher/upload_model_remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/experimental/remote/gcp_launcher/utils/artifact_util.py
  components/google-cloud/google_cloud_pipeline_components/experimental/remote/gcp_launcher/utils/json_util.py
  components/google-cloud/google_cloud_pipeline_components/remote/aiplatform/cloudbuild.yaml
  components/google-cloud/tests/aiplatform/test_componets_compile.py
  components/google-cloud/tests/experimental/remote/gcp_launcher/utils/test_artifact_util.py
  components/google-cloud/tests/experimental/remote/gcp_launcher/utils/test_json_util.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

revert formatting changes not specific to PR
  components/google-cloud/google_cloud_pipeline_components/aiplatform/utils.py
Due: kubeflow-pipelines-components-google-cloud-python37

Passing get and create functions into consolidated job remote runner
  components/google-cloud/google_cloud_pipeline_components/experimental/remote/gcp_launcher/batch_prediction_job_remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/experimental/remote/gcp_launcher/custom_job_remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/experimental/remote/gcp_launcher/job_remote_runner.py
Due: kubeflow-pipelines-components-google-cloud-python37

upload first take of evaluation component, as well as an example pipeline that can run it.
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/example_pipeline.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

update test
  components/google-cloud/google_cloud_pipeline_components/experimental/remote/gcp_launcher/upload_model_remote_runner.py
  components/google-cloud/tests/aiplatform/data/model_upload_pipeline.json
  components/google-cloud/tests/aiplatform/test_componets_compile.py
  components/google-cloud/tests/experimental/forecasting/test_forecasting_components_compile.py
  components/google-cloud/tests/experimental/forecasting/test_prepare_data_for_train.py
  components/google-cloud/tests/experimental/remote/gcp_launcher/test_custom_job_remote_runner.py
  components/google-cloud/tests/experimental/remote/gcp_launcher/test_model_upload_remote_runner.py
  components/google-cloud/tests/experimental/remote/gcp_launcher/utils/test_json_util.py
Due: kubeflow-pipelines-components-google-cloud-python37

update test
  components/google-cloud/google_cloud_pipeline_components/experimental/remote/gcp_launcher/utils/__init__.py
  components/google-cloud/google_cloud_pipeline_components/remote/aiplatform/Dockerfile
  components/google-cloud/google_cloud_pipeline_components/remote/aiplatform/cloudbuild.yaml
  components/google-cloud/tests/experimental/forecasting/test_forecasting_components_compile.py
  components/google-cloud/tests/experimental/remote/gcp_launcher/test_model_upload_remote_runner.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

update test
  components/google-cloud/google_cloud_pipeline_components/experimental/remote/gcp_launcher/launcher.py
  components/google-cloud/google_cloud_pipeline_components/experimental/remote/gcp_launcher/upload_model_remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/experimental/remote/gcp_launcher/utils/artifact_util.py
  components/google-cloud/google_cloud_pipeline_components/experimental/remote/gcp_launcher/utils/json_util.py
  components/google-cloud/tests/aiplatform/test_componets_compile.py
  components/google-cloud/tests/experimental/forecasting/test_prepare_data_for_train.py
  components/google-cloud/tests/experimental/remote/gcp_launcher/test_launcher.py
  components/google-cloud/tests/experimental/remote/gcp_launcher/test_model_upload_remote_runner.py
  components/google-cloud/tests/experimental/remote/gcp_launcher/utils/test_artifact_util.py
  components/google-cloud/tests/experimental/remote/gcp_launcher/utils/test_json_util.py
Due: kubeflow-pipelines-components-google-cloud-python37

Update RELEASE.md
  sdk/RELEASE.md
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36

Format _local_client.py using yapf
  sdk/python/kfp/_local_client.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

Add release note that local runner supports additional docker options
  sdk/RELEASE.md
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36

feat(sdk): Local runner supports additional docker options. Fixes #6598 (#6599)
  sdk/RELEASE.md
  sdk/python/kfp/_local_client.py
  sdk/python/requirements.in
  sdk/python/tests/local_runner_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

feat(frontend): SidePanel for static pipeline template.
  frontend/mock-backend/data/v2/pipeline/mock_lightweight_python_functions_v2_pipeline.json
  frontend/mock-backend/data/v2/pipeline/xgboost_sample_pipeline.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/SidePanel.tsx
  frontend/src/components/graph/ArtifactNode.tsx
  frontend/src/components/graph/ExecutionNode.tsx
  frontend/src/components/graph/SubDagNode.tsx
  frontend/src/components/tabs/StaticNodeDetailsV2.test.tsx
  frontend/src/components/tabs/StaticNodeDetailsV2.tsx
  frontend/src/data/test/mock_lightweight_python_functions_v2_pipeline.json
  frontend/src/data/test/pipeline_with_loops_and_conditions.json
  frontend/src/generated/pipeline_spec/pbjs_ml_pipelines.d.ts
  frontend/src/generated/pipeline_spec/pbjs_ml_pipelines.js
  frontend/src/generated/pipeline_spec/pipeline_spec_pb.d.ts
  frontend/src/generated/pipeline_spec/pipeline_spec_pb.js
  frontend/src/lib/v2/StaticFlow.ts
  frontend/src/pages/PipelineDetailsV2.test.tsx
  frontend/src/pages/PipelineDetailsV2.tsx
  frontend/src/pages/v2/StaticCanvas.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipelines-samples-v2

fix test
  frontend/src/lib/v2/StaticFlow.test.ts
Due: kubeflow-pipeline-frontend-test, kubeflow-pipelines-samples-v2

chore(sdk): Remove stack trace so it doesn't look like an error (#6590)
  sdk/RELEASE.md
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

Start adapting code to component best practices
  components/contrib/google-cloud/notebooks/component copy.yaml
  components/contrib/google-cloud/notebooks/src/notebook_executor.py
  components/google-cloud/google_cloud_pipeline_components/experimental/notebooks/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/notebooks/executor/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/notebooks/executor/notebook-as-a-step-sample-pipeline.json
  components/google-cloud/google_cloud_pipeline_components/experimental/notebooks/executor/sample.ipynb
  components/google-cloud/google_cloud_pipeline_components/remote/notebooks/__init__.py
  components/google-cloud/google_cloud_pipeline_components/remote/notebooks/delete.py
  components/google-cloud/google_cloud_pipeline_components/remote/notebooks/executor.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

update test
  components/google-cloud/.coverage
  components/google-cloud/google_cloud_pipeline_components/aiplatform/model/upload_model/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

chore(components): update sample readme (#6538)
  components/google-cloud/examples/README.md
Due: kubeflow-pipelines-components-google-cloud-python37

chore(components/google-cloud): cleanup the unsupported components (#6476)
  components/google-cloud/google_cloud_pipeline_components/experimental/AutoML/README.md
  components/google-cloud/google_cloud_pipeline_components/experimental/AutoML/Tables/Create_dataset/from_CSV/component.py
  components/google-cloud/google_cloud_pipeline_components/experimental/AutoML/Tables/Create_dataset/from_CSV/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/Optimizer/Add_measurement_for_trial/component.py
  components/google-cloud/google_cloud_pipeline_components/experimental/Optimizer/Add_measurement_for_trial/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/Optimizer/Create_study/component.py
  components/google-cloud/google_cloud_pipeline_components/experimental/Optimizer/Create_study/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/Optimizer/README.md
  components/google-cloud/google_cloud_pipeline_components/experimental/Optimizer/Suggest_parameter_sets_based_on_measurements/component.py
  components/google-cloud/google_cloud_pipeline_components/experimental/Optimizer/Suggest_parameter_sets_based_on_measurements/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/Optimizer/Suggest_trials/component.py
  components/google-cloud/google_cloud_pipeline_components/experimental/Optimizer/Suggest_trials/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/Optimizer/_samples/multi_stage_optimization_atomic_pipeline.py
  components/google-cloud/google_cloud_pipeline_components/experimental/Optimizer/_samples/multi_stage_optimization_pipeline.py
  components/google-cloud/google_cloud_pipeline_components/experimental/storage/README.md
  components/google-cloud/google_cloud_pipeline_components/experimental/storage/download/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/storage/download_blob/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/storage/download_dir/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/storage/list/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/storage/upload_to_explicit_uri/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/storage/upload_to_unique_uri/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

update test
  components/google-cloud/.coverage
  components/google-cloud/tests/aiplatform/test_components_compile.py
  components/google-cloud/tests/experimental/remote/gcp_launcher/test_model_upload_remote_runner.py
  components/google-cloud/tests/experimental/remote/gcp_launcher/utils/test_artifact_util.py
Due: kubeflow-pipelines-components-google-cloud-python37

update test
  components/google-cloud/.coverage
Due: kubeflow-pipelines-components-google-cloud-python37

update test
  components/google-cloud/tests/aiplatform/integration/test_components_compile.py
  components/google-cloud/tests/aiplatform/testdata/model_upload_pipeline.json
  components/google-cloud/tests/aiplatform/unit/test_utils.py
Due: kubeflow-pipelines-components-google-cloud-python37

exctend list and dict supported types
  components/google-cloud/google_cloud_pipeline_components/aiplatform/utils.py
Due: kubeflow-pipelines-components-google-cloud-python37
