Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*

fix(sdk): include ontology_type_schemas/*.yaml in setuptools (#5241)
  sdk/python/MANIFEST.in
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

chore(sdk): merge v2 dsl code back to v1. (#5227)
  sdk/python/kfp/dsl/__init__.py
  sdk/python/kfp/dsl/_component_bridge.py
  sdk/python/kfp/dsl/_container_op.py
  sdk/python/kfp/dsl/_container_op_test.py
  sdk/python/kfp/dsl/_pipeline.py
  sdk/python/kfp/dsl/component_spec.py
  sdk/python/kfp/dsl/component_spec_test.py
  sdk/python/kfp/dsl/dsl_utils.py
  sdk/python/kfp/dsl/dsl_utils_test.py
  sdk/python/kfp/dsl/importer_node.py
  sdk/python/kfp/dsl/importer_node_test.py
  sdk/python/kfp/dsl/serialization_utils_test.py
  sdk/python/kfp/dsl/type_utils.py
  sdk/python/kfp/dsl/type_utils_test.py
  sdk/python/kfp/v2/compiler/compiler.py
  sdk/python/kfp/v2/compiler/compiler_test.py
  sdk/python/kfp/v2/dsl/__init__.py
  sdk/python/kfp/v2/dsl/_component.py
  sdk/python/kfp/v2/dsl/_ops_group.py
  sdk/python/kfp/v2/dsl/_pipeline.py
  sdk/python/kfp/v2/dsl/component_bridge.py
  sdk/python/kfp/v2/dsl/container_op.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

Change Artifact schema folder name
  sdk/python/MANIFEST.in
  sdk/python/kfp/dsl/ontology_artifacts.py
  sdk/python/kfp/dsl/type_schemas/dataset.yaml
  sdk/python/kfp/dsl/type_schemas/model.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

Changes Artifact schema folder name
  sdk/python/MANIFEST.in
  sdk/python/kfp/dsl/ontology_artifacts.py
  sdk/python/kfp/dsl/type_schemas/dataset.yaml
  sdk/python/kfp/dsl/type_schemas/model.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

Changes Artifact schema folder name (#5243)
  sdk/python/MANIFEST.in
  sdk/python/kfp/dsl/ontology_artifacts.py
  sdk/python/kfp/dsl/type_schemas/dataset.yaml
  sdk/python/kfp/dsl/type_schemas/model.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

fix(backend): add brackets if metadata service host is ipv6
  backend/metadata_writer/src/metadata_helpers.py
Due: none

add sorted to definitions
  sdk/python/kfp/components/_python_op.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

Introduce HIDE_SIDENAV env var
  frontend/public/index.html
  frontend/server/app.test.ts
  frontend/server/configs.ts
  frontend/server/handlers/index-html.ts
  frontend/server/integration-tests/test-helper.ts
  frontend/src/lib/Flags.ts
Due: none

Remove unnecessary component from a sample pipeline for the Great Expectations component
  components/great-expectations/validate/_samples/sample_pipleine.py
Due: none

fix(components): add bypass for BrokenPipeError in gcp ml engine client. Fixes #5085
  components/gcp/container/component_sdk/python/kfp_component/google/ml_engine/_client.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2

Allow unicode to yaml dump
  sdk/python/kfp/components/_yaml_utils.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

Add external-files sample
  samples/core/external_files/external_files.py
  samples/core/external_files/hello_world.json
  samples/core/external_files/hello_world.py
  samples/core/external_files/hello_world.sh
  samples/core/external_files/hello_world.yaml
Due: none

feat(components): Added a Python script sample (#5203)
  components/sample/Python_script/component.yaml
Due: kubeflow-pipelines-component-yaml-v2

feat(components) Update KFServing component to v0.5.0 (#5201)
  components/kubeflow/kfserving/README.md
  components/kubeflow/kfserving/component.yaml
  components/kubeflow/kfserving/requirements.txt
  components/kubeflow/kfserving/src/app.py
  components/kubeflow/kfserving/src/kfservingdeployer.py
Due: kubeflow-pipelines-component-yaml-v2

feat(components): Add Great Expectations validation component (#5235)
  components/great-expectations/validate/CSV/component.py
  components/great-expectations/validate/CSV/component.yaml
  components/great-expectations/validate/_samples/expectation_suite.json
  components/great-expectations/validate/_samples/sample_pipleine.py
Due: kubeflow-pipelines-component-yaml-v2

chore(sdk): Fixed the PipelineConf.data_passing_method docstring (#5217)
  sdk/python/kfp/dsl/_pipeline.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

WIP: Enable v2 compatibility in KFP SDK compiler.
  sdk/python/kfp/compiler/_default_transformers.py
  sdk/python/kfp/compiler/compiler.py
  sdk/python/kfp/compiler/v2_mode.py
  sdk/python/kfp/dsl/_container_op.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

First pass clean up
  sdk/python/kfp/_client.py
  sdk/python/kfp/compiler/compiler.py
  sdk/python/kfp/compiler/v2_mode.py
  sdk/python/kfp/components/modelbase.py
  sdk/python/kfp/dsl/__init__.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

Clean up and introduce enum instead of boolean for execution mode.
  sdk/python/kfp/_client.py
  sdk/python/kfp/compiler/compiler.py
  sdk/python/kfp/compiler/v2_compat.py
  sdk/python/kfp/dsl/__init__.py
  sdk/python/kfp/dsl/_pipeline.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

Undo formatting changes.
  sdk/python/kfp/compiler/compiler.py
  sdk/python/kfp/compiler/v2_compat.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

Clean up and add comments.
  sdk/python/kfp/compiler/compiler.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

More cleanup
  sdk/python/kfp/compiler/_default_transformers.py
  sdk/python/kfp/compiler/compiler.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

Undo formatting changes.
  sdk/python/kfp/components/modelbase.py
  sdk/python/kfp/dsl/_pipeline.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

Add method to unconditionally add kfp pod env.
  sdk/python/kfp/compiler/_default_transformers.py
  sdk/python/kfp/compiler/v2_compat.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

minor formatting change.
  sdk/python/kfp/compiler/_default_transformers.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

Update docstrings.
  sdk/python/kfp/dsl/_pipeline.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

Undo formatting changes.
  sdk/python/kfp/dsl/_pipeline.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

fix imports.
  sdk/python/kfp/compiler/compiler.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

fix pod_env tests
  sdk/python/tests/compiler/testdata/add_pod_env.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

rebased.
  sdk/python/kfp/compiler/compiler.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

undo format changes.
  sdk/python/kfp/dsl/_container_op.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

Undo compiler changes.:
  sdk/python/kfp/compiler/compiler.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

format _default_transformers.py for consistency
  sdk/python/kfp/compiler/_default_transformers.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

Add issue templates for GitHub issue creation
  .github/ISSUE_TEMPLATE/BUG_BACKEND.md
  .github/ISSUE_TEMPLATE/BUG_FRONTEND.md
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/BUG_SDK.md
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
Due: none
