Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-manifests, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests, kfp-kubernetes-test-python37, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311, kfp-dsl-runtime-code-test-python37, kfp-dsl-runtime-code-test-python38, kfp-dsl-runtime-code-test-python39, kfp-dsl-runtime-code-test-python310, kfp-dsl-runtime-code-test-python311

kubeflow-pipelines-sdk-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27-v2:
  decorate: true
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-backend-visualization-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

kubeflow-pipeline-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node:14
      command:
      - /bin/sh
      args:
      - -c
      - cd ./frontend && npm run test:ci:prow

kubeflow-pipeline-backend-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.20-bullseye
      command:
      - ./test/presubmit-backend-test.sh

kubeflow-pipeline-e2e-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-with-pipeline-deployment.sh
      args:
      - --workflow_file
      - e2e_test_gke_v2.yaml
      - --test_result_folder
      - e2e_test

kubeflow-pipeline-mkp-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-mkp.sh

kubeflow-pipeline-mkp-snapshot-test:
  decorate: true
  spec:
    containers:
    - image: bash:alpine3.14
      command:
      - bash
      args:
      - ./manifests/gcp_marketplace/test/presubmit.sh

kubeflow-pipeline-upgrade-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/upgrade-tests.sh
      args:
      - --test_result_folder
      - upgrade_test

kubeflow-pipelines-sdk-python37:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

test(sdk): improve KFP SDK local runner test safety #localexecution (#10336)
  sdk/python/kfp/local/e2e_test.py
  sdk/python/kfp/local/subprocess_task_handler_test.py
  sdk/python/kfp/local/task_dispatcher_test.py
  sdk/python/kfp/local/testing_utilities.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

fix(sdk): fix presentation of strings in local execution #localexecution (#10353)
  sdk/python/kfp/local/logging_utils.py
  sdk/python/kfp/local/logging_utils_test.py
  sdk/python/kfp/local/task_dispatcher_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

fix(sdk): permit empty local execution outputs #localexecution (#10338)
  sdk/python/kfp/local/executor_output_utils.py
  sdk/python/kfp/local/subprocess_task_handler_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

feat(sdk): remove local execution feature flag #localexecution (#10355)
  sdk/RELEASE.md
  sdk/python/kfp/dsl/pipeline_task.py
  sdk/python/kfp/local/__init__.py
  sdk/python/kfp/local/testing_utilities.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

feat(backend): Enable logging for KFP components (#10288)
  backend/Dockerfile
  backend/Dockerfile.persistenceagent
  backend/Dockerfile.scheduledworkflow
  backend/src/agent/persistence/main.go
  backend/src/apiserver/main.go
  backend/src/crd/controller/scheduledworkflow/main.go
  manifests/kustomize/base/installs/generic/pipeline-install-config.yaml
  manifests/kustomize/base/pipeline/ml-pipeline-apiserver-deployment.yaml
  manifests/kustomize/base/pipeline/ml-pipeline-persistenceagent-deployment.yaml
  manifests/kustomize/base/pipeline/ml-pipeline-scheduledworkflow-deployment.yaml
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-manifests

docs(components): Fix AutoSxS docstring formatting
  components/google-cloud/google_cloud_pipeline_components/preview/model_evaluation/model_based_llm_evaluation/autosxs/autosxs_pipeline.py
Due: kubeflow-pipelines-components-google-cloud-python38

chore(sdk): release KFP SDK 2.5.0 (#10364)
  docs/conf.py
  sdk/RELEASE.md
  sdk/python/kfp/__init__.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

feat(sdk): support Concat and IfPresent placeholder in local container component execution #localexecution (#10348)
  sdk/python/kfp/local/docker_task_handler_test.py
  sdk/python/kfp/local/placeholder_utils.py
  sdk/python/kfp/local/placeholder_utils_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

test(sdk): add test for local execution of `None` default parameter #localexecution (#10339)
  sdk/python/kfp/local/subprocess_task_handler_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

feat(components): Implement the feature store grounding pipeline
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/chunking/component.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/chunking/feature_store_grounding_pipeline.py
Due: kubeflow-pipelines-components-google-cloud-python38

docs(components): Document AutoML Tables util functions
  components/google-cloud/google_cloud_pipeline_components/preview/automl/forecasting/__init__.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/forecasting/utils.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/__init__.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/utils.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/forecasting/__init__.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/forecasting/utils.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/__init__.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/utils.py
  components/google-cloud/setup.py
Due: kubeflow-pipelines-components-google-cloud-python38

fix(sdk): remove redundant newline character in local `DockerRunner` logs (#10354)
  sdk/python/kfp/local/docker_task_handler.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

feat(sdk): support local execution of pipelines in pipelines (#10440)
  sdk/RELEASE.md
  sdk/python/kfp/local/dag_orchestrator.py
  sdk/python/kfp/local/pipeline_orchestrator.py
  sdk/python/kfp/local/pipeline_orchestrator_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

fix(components): Update text generation pipeline input description
  components/google-cloud/google_cloud_pipeline_components/preview/model_evaluation/evaluation_llm_text_generation_pipeline.py
Due: kubeflow-pipelines-components-google-cloud-python38

chore(components): Create module containing AutoSxS and RLHF image tag
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/generated/refined_image_versions.py
Due: kubeflow-pipelines-components-google-cloud-python38

Fix metrics visualization v2 sample (#10399)
  samples/test/metrics_visualization_v2.py
Due: kubeflow-pipeline-e2e-test, kubeflow-pipelines-samples-v2

chore(sdk): depend on protobuf 4 in `kfp` and `kfp-kubernetes` (#10307)
  kubernetes_platform/python/setup.py
  sdk/RELEASE.md
  sdk/python/requirements.in
  sdk/python/requirements.txt
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests, kfp-kubernetes-test-python37, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311

chore(components): fix GCPC documentation dependencies issue
  components/google-cloud/setup.py
Due: kubeflow-pipelines-components-google-cloud-python38

chore(components): Add v1.model.ModelGetOp components
  components/google-cloud/RELEASE.md
  components/google-cloud/google_cloud_pipeline_components/container/v1/model/get_model/__init__.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/model/get_model/launcher.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/model/get_model/remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/v1/model/__init__.py
  components/google-cloud/google_cloud_pipeline_components/v1/model/get_model/__init__.py
  components/google-cloud/google_cloud_pipeline_components/v1/model/get_model/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

feat(components): Use a single inference component for AutoSxS
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/autosxs_metrics_computer.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/batch_prediction_sxs.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/env.py
  components/google-cloud/google_cloud_pipeline_components/preview/model_evaluation/model_based_llm_evaluation/autosxs/autosxs_pipeline.py
Due: kubeflow-pipelines-components-google-cloud-python38

feat(components): Support scheduling and labels in utils.build_payload
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/utils.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/utils_test.py
Due: kubeflow-pipelines-components-google-cloud-python38

chore(components): Sync AutoML components
  components/google-cloud/google_cloud_pipeline_components/preview/automl/forecasting/forecasting_ensemble.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/forecasting/forecasting_stage_1_tuner.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/forecasting/forecasting_stage_2_tuner.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/forecasting/learn_to_learn_forecasting_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/forecasting/sequence_to_sequence_forecasting_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/forecasting/temporal_fusion_transformer_forecasting_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/forecasting/time_series_dense_encoder_forecasting_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/auto_feature_engineering.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/automl_tabular_feature_selection_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/automl_tabular_v2_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/distillation_stage_feature_transform_engine.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/feature_selection.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/feature_selection_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/feature_transform_engine.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/tabnet_hyperparameter_tuning_job.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/tabnet_hyperparameter_tuning_job_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/tabnet_trainer.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/tabnet_trainer_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/wide_and_deep_hyperparameter_tuning_job.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/wide_and_deep_hyperparameter_tuning_job_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/wide_and_deep_trainer.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/wide_and_deep_trainer_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/xgboost_hyperparameter_tuning_job_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/xgboost_trainer_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/automl/forecasting/bqml_arima_predict_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/automl/forecasting/bqml_arima_train_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/automl/forecasting/prophet_predict_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/automl/forecasting/prophet_trainer.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/forecasting/prophet_trainer_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/automl_tabular_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/cv_trainer.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/ensemble.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/finalizer.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/infra_validator.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/split_materialized_data.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/stage_1_tuner.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/stats_and_example_gen.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/training_configurator_and_validator.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/transform.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

fix(backend): correct run field map col names (#10430)
  backend/src/apiserver/model/run.go
  backend/src/apiserver/model/task.go
  backend/src/apiserver/storage/default_experiment_store_test.go
  backend/src/apiserver/storage/job_store_test.go
  backend/src/apiserver/storage/run_store_test.go
  backend/src/apiserver/storage/task_store_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2

feat(sdk): support f-strings in local pipeline execution (#10435)
  sdk/python/kfp/local/executor_input_utils.py
  sdk/python/kfp/local/executor_input_utils_test.py
  sdk/python/kfp/local/pipeline_orchestrator_test.py
  sdk/python/kfp/local/placeholder_utils.py
  sdk/python/kfp/local/placeholder_utils_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

chore(sdk): update `kfp-kubernetes` docs versions and release scripts (#10388)
  kubernetes_platform/python/create_release_branch.sh
  kubernetes_platform/python/docs/conf.py
  kubernetes_platform/python/release.sh
Due: kfp-kubernetes-test-python37, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311

chore(components): GCPC 2.8.1 release
  components/google-cloud/Dockerfile
  components/google-cloud/RELEASE.md
  components/google-cloud/docs/source/versions.json
  components/google-cloud/google_cloud_pipeline_components/version.py
  components/google-cloud/setup.py
Due: kubeflow-pipelines-components-google-cloud-python38

support dsl.importer locally; resolve merge conflicts (#10431)
  sdk/RELEASE.md
  sdk/python/kfp/dsl/structures.py
  sdk/python/kfp/dsl/types/artifact_types.py
  sdk/python/kfp/dsl/types/custom_artifact_types.py
  sdk/python/kfp/dsl/types/type_annotations.py
  sdk/python/kfp/dsl/types/type_utils.py
  sdk/python/kfp/local/dag_orchestrator.py
  sdk/python/kfp/local/importer_handler.py
  sdk/python/kfp/local/importer_handler_test.py
  sdk/python/kfp/local/pipeline_orchestrator_test.py
  sdk/python/kfp/local/placeholder_utils.py
  sdk/python/kfp/local/task_dispatcher.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

No public description
  components/google-cloud/RELEASE.md
  components/google-cloud/google_cloud_pipeline_components/preview/model_evaluation/evaluation_llm_text_generation_pipeline.py
Due: kubeflow-pipelines-components-google-cloud-python38

chore(sdk): local task execution refactor + cleanup (#10420)
  .gitignore
  sdk/python/kfp/dsl/pipeline_task.py
  sdk/python/kfp/local/config.py
  sdk/python/kfp/local/config_test.py
  sdk/python/kfp/local/executor_input_utils.py
  sdk/python/kfp/local/logging_utils.py
  sdk/python/kfp/local/logging_utils_test.py
  sdk/python/kfp/local/placeholder_utils_test.py
  sdk/python/kfp/local/task_dispatcher.py
  sdk/python/kfp/local/task_dispatcher_test.py
  sdk/python/kfp/local/utils.py
  sdk/python/kfp/local/utils_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

feat(components): update eval pipeline documentation to clarify the required pipeline parameters
  components/google-cloud/google_cloud_pipeline_components/preview/model_evaluation/evaluation_llm_classification_pipeline.py
  components/google-cloud/google_cloud_pipeline_components/preview/model_evaluation/evaluation_llm_text_generation_pipeline.py
Due: kubeflow-pipelines-components-google-cloud-python38

feat(kubernetes_platform): Update kubernetes_platform go package to include ImagePullSecrets (#10410)
  kubernetes_platform/go/kubernetesplatform/kubernetes_executor_config.pb.go
  kubernetes_platform/proto/kubernetes_executor_config.proto
Due: kfp-kubernetes-test-python37, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311

fix(backend): MLMD pagination on getting executions of DAG (#10396)
  backend/src/v2/metadata/client.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-samples-v2

feat(components): support aliases arg in ModelUploadOp
  components/google-cloud/RELEASE.md
  components/google-cloud/google_cloud_pipeline_components/v1/model/upload_model/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

feat(sdk): support local pipeline execution (#10423)
  sdk/RELEASE.md
  sdk/python/kfp/dsl/pipeline_task.py
  sdk/python/kfp/dsl/types/type_utils.py
  sdk/python/kfp/local/dag_orchestrator.py
  sdk/python/kfp/local/executor_input_utils.py
  sdk/python/kfp/local/executor_input_utils_test.py
  sdk/python/kfp/local/graph_utils.py
  sdk/python/kfp/local/graph_utils_test.py
  sdk/python/kfp/local/io.py
  sdk/python/kfp/local/io_test.py
  sdk/python/kfp/local/logging_utils.py
  sdk/python/kfp/local/logging_utils_test.py
  sdk/python/kfp/local/pipeline_orchestrator.py
  sdk/python/kfp/local/pipeline_orchestrator_test.py
  sdk/python/kfp/local/placeholder_utils.py
  sdk/python/kfp/local/placeholder_utils_test.py
  sdk/python/kfp/local/task_dispatcher.py
  sdk/python/kfp/local/task_dispatcher_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

fix(components): Write model resource_name to the output of training pipeline remote runner
  components/google-cloud/RELEASE.md
  components/google-cloud/google_cloud_pipeline_components/container/v1/automl_training_job/image/launcher.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/automl_training_job/image/remote_runner.py
Due: kubeflow-pipelines-components-google-cloud-python38

chore(sdk): release kfp-kubernetes 1.1.0 (#10387)
  kubernetes_platform/python/kfp/kubernetes/__init__.py
  kubernetes_platform/python/setup.py
Due: kfp-kubernetes-test-python37, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311

feat(components): Implement new output format of inference component
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/model_inference/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

fix(components): Update base image for KFP lightweight component for VPC SC compliance
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/endpoint_batch_predict/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

chore(components): migrate GCPC to protobuf 4; require KFP>=2.6.0
  components/google-cloud/RELEASE.md
  components/google-cloud/google_cloud_pipeline_components/proto/gcp_resources_pb2.py
  components/google-cloud/setup.py
Due: kubeflow-pipelines-components-google-cloud-python38

docs(sdk): add kfp.local to reference docs (#10395)
  docs/source/kfp.rst
  docs/source/local.rst
  sdk/python/kfp/local/__init__.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-e2e-test: any of: ^(frontend/.*)|(backend/.*)|(proxy/.*)|(manifests/kustomize/.*)|(test/.*)|go.mod|go.sum$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipeline-mkp-snapshot-test: any of: ^(manifests/gcp_marketplace/.*)$
  kubeflow-pipeline-upgrade-test: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipeline-upgrade-test-v2: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python310: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python311: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)|(sdk/python/.*)$
  kubeflow-pipelines-components-google-cloud-python38: any of: ^(components/google-cloud/.*)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(samples/.*)|(backend/src/v2/.*)$
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$
  kubeflow-pipelines-sdk-isort: any of: ^(sdk/python/.*)|(test/presubmit-isort-sdk.sh)$
  kubeflow-pipelines-sdk-yapf: any of: ^(sdk/python/.*)|(test/presubmit-yapf-sdk.sh)$
  kubeflow-pipelines-sdk-docformatter: any of: ^(sdk/python/.*)|(test/presubmit-docformatter-sdk.sh)$
  kubeflow-pipelines-sdk-execution-tests: any of: ^(sdk/python/.*)|(test/presubmit-sdk-execution-tests.sh)$
  kfp-kubernetes-test-python37: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-test-python38: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-test-python39: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-test-python310: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-test-python311: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-dsl-runtime-code-test-python37: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
  kfp-dsl-runtime-code-test-python38: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
  kfp-dsl-runtime-code-test-python39: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
  kfp-dsl-runtime-code-test-python310: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
  kfp-dsl-runtime-code-test-python311: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
