Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-manifests, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests, kfp-kubernetes-test-python37, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311, kfp-dsl-runtime-code-test-python37, kfp-dsl-runtime-code-test-python38, kfp-dsl-runtime-code-test-python39, kfp-dsl-runtime-code-test-python310, kfp-dsl-runtime-code-test-python311

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-e2e-test: any of: ^(frontend/.*)|(backend/.*)|(proxy/.*)|(manifests/kustomize/.*)|(test/.*)|go.mod|go.sum$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipeline-mkp-snapshot-test: any of: ^(manifests/gcp_marketplace/.*)$
  kubeflow-pipeline-upgrade-test: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipeline-upgrade-test-v2: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python310: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python311: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)|(sdk/python/.*)$
  kubeflow-pipelines-components-google-cloud-python38: any of: ^(components/google-cloud/.*)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(samples/.*)|(backend/src/v2/.*)$
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$
  kubeflow-pipelines-sdk-isort: any of: ^(sdk/python/.*)|(test/presubmit-isort-sdk.sh)$
  kubeflow-pipelines-sdk-yapf: any of: ^(sdk/python/.*)|(test/presubmit-yapf-sdk.sh)$
  kubeflow-pipelines-sdk-docformatter: any of: ^(sdk/python/.*)|(test/presubmit-docformatter-sdk.sh)$
  kubeflow-pipelines-sdk-execution-tests: any of: ^(sdk/python/.*)|(test/presubmit-sdk-execution-tests.sh)$
  kfp-kubernetes-test-python37: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-test-python38: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-test-python39: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-test-python310: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-test-python311: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-dsl-runtime-code-test-python37: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
  kfp-dsl-runtime-code-test-python38: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
  kfp-dsl-runtime-code-test-python39: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
  kfp-dsl-runtime-code-test-python310: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
  kfp-dsl-runtime-code-test-python311: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$

feat(components): migrate function_based convert_to_delimited_string to rlhf_preprocessor component
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/generated/refined_image_versions.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/reward_model_graph.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/rlhf_preprocessor.py
  components/google-cloud/google_cloud_pipeline_components/preview/llm/rlhf/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

<UPSTREAM>: <carry>: Added OwnerReferences to ScheduledWorkflow
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/template/argo_template.go
  backend/src/apiserver/template/template.go
  backend/src/apiserver/template/template_test.go
  backend/src/apiserver/template/v2_template.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2

updated artifact collection code
  .github/workflows/periodic.yml
Due: none

feat(components): Move ModelImportEvaluationOp component to preview namespace
  components/google-cloud/RELEASE.md
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/__init__.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/import_evaluation/__init__.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/llm_embedding/evaluation_llm_embedding_pipeline.py
  components/google-cloud/google_cloud_pipeline_components/preview/model_evaluation/__init__.py
  components/google-cloud/google_cloud_pipeline_components/preview/model_evaluation/model_evaluation_import_component.py
  components/google-cloud/google_cloud_pipeline_components/v1/model_evaluation/error_analysis_pipeline.py
  components/google-cloud/google_cloud_pipeline_components/v1/model_evaluation/evaluated_annotation_pipeline.py
  components/google-cloud/google_cloud_pipeline_components/v1/model_evaluation/evaluation_automl_tabular_feature_attribution_pipeline.py
  components/google-cloud/google_cloud_pipeline_components/v1/model_evaluation/evaluation_automl_tabular_pipeline.py
  components/google-cloud/google_cloud_pipeline_components/v1/model_evaluation/evaluation_automl_unstructure_data_pipeline.py
  components/google-cloud/google_cloud_pipeline_components/v1/model_evaluation/evaluation_feature_attribution_pipeline.py
  components/google-cloud/google_cloud_pipeline_components/v1/model_evaluation/evaluation_llm_classification_pipeline.py
  components/google-cloud/google_cloud_pipeline_components/v1/model_evaluation/evaluation_llm_text_generation_pipeline.py
Due: kubeflow-pipelines-components-google-cloud-python38

bump requests-toolbelt to 1.1.0
  requirements.txt
Due: none

feat(components): add a e2e test for AutoSxS chat tasks
  components/google-cloud/RELEASE.md
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/online_evaluation_pairwise.py
  components/google-cloud/google_cloud_pipeline_components/v1/model_evaluation/model_based_llm_evaluation/autosxs/autosxs_pipeline.py
Due: kubeflow-pipelines-components-google-cloud-python38

Bump the python version
  components/google-cloud/docs/.readthedocs.yml
Due: kubeflow-pipelines-components-google-cloud-python38

Bump the python version for the readthedocs in the root
  .readthedocs.yml
Due: none

chore(components): Update AutoSxS and RLHF image tags
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/generated/refined_image_versions.py
Due: kubeflow-pipelines-components-google-cloud-python38

feat(components): migrate function_based resolve_regional_endpoint to rlhf_preprocessor component
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/deployment_graph.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/generated/refined_image_versions.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/rlhf_preprocessor.py
  components/google-cloud/google_cloud_pipeline_components/preview/llm/rlhf/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

Added s390x and ppc64le support
  backend/Dockerfile
  backend/Makefile
  backend/api/Dockerfile
  backend/src/cache/deployer/Dockerfile
  backend/src/cache/deployer/deploy-cache-service.sh
  frontend/Dockerfile
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2

chore(backend): update kfp launcher and driver images (#10733)
  backend/src/v2/compiler/argocompiler/container.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-samples-v2

chore(release): bumped version to 2.2.0
  CHANGELOG.md
  VERSION
  backend/api/v1beta1/python_http_client/README.md
  backend/api/v1beta1/python_http_client/kfp_server_api/__init__.py
  backend/api/v1beta1/python_http_client/kfp_server_api/api_client.py
  backend/api/v1beta1/python_http_client/kfp_server_api/configuration.py
  backend/api/v1beta1/python_http_client/setup.py
  backend/api/v1beta1/swagger/kfp_api_single_file.swagger.json
  backend/api/v2beta1/python_http_client/README.md
  backend/api/v2beta1/python_http_client/kfp_server_api/__init__.py
  backend/api/v2beta1/python_http_client/kfp_server_api/api_client.py
  backend/api/v2beta1/python_http_client/kfp_server_api/configuration.py
  backend/api/v2beta1/python_http_client/setup.py
  backend/api/v2beta1/swagger/kfp_api_single_file.swagger.json
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/application.yaml
  manifests/gcp_marketplace/schema.yaml
  manifests/kustomize/base/cache-deployer/kustomization.yaml
  manifests/kustomize/base/cache/kustomization.yaml
  manifests/kustomize/base/installs/generic/pipeline-install-config.yaml
  manifests/kustomize/base/metadata/base/kustomization.yaml
  manifests/kustomize/base/pipeline/kustomization.yaml
  manifests/kustomize/base/pipeline/metadata-writer/kustomization.yaml
  manifests/kustomize/env/gcp/inverse-proxy/kustomization.yaml
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-manifests

Update RELEASE.md
  RELEASE.md
Due: none

chore: Update RELEASE.md (#10767)
  RELEASE.md
Due: none

fix(components): Add input param `autorater_prompt_parameters` to `online_evaluation_pairwise` component
  components/google-cloud/RELEASE.md
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/online_evaluation_pairwise.py
  components/google-cloud/google_cloud_pipeline_components/v1/model_evaluation/model_based_llm_evaluation/autosxs/autosxs_pipeline.py
Due: kubeflow-pipelines-components-google-cloud-python38

feat(components): create infer preprocessor component
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/generated/refined_image_versions.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/infer_preprocessor.py
  components/google-cloud/google_cloud_pipeline_components/preview/llm/infer/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

fix(sdk): fixes SlicedClassificationMetrics.load_confusion_matrix. Fixes #8117
  sdk/python/kfp/dsl/types/artifact_types.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

Update release
  sdk/RELEASE.md
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311

Revert "feat(components): create infer preprocessor component"
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/generated/refined_image_versions.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/infer_preprocessor.py
  components/google-cloud/google_cloud_pipeline_components/preview/llm/infer/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

Revert "fix(components): Add input param `autorater_prompt_parameters` to `online_evaluation_pairwise` component"
  components/google-cloud/RELEASE.md
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/online_evaluation_pairwise.py
  components/google-cloud/google_cloud_pipeline_components/v1/model_evaluation/model_based_llm_evaluation/autosxs/autosxs_pipeline.py
Due: kubeflow-pipelines-components-google-cloud-python38

Update base image
  sdk/python/kfp/dsl/component_factory.py
  sdk/python/kfp/dsl/component_factory_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

change test python 3.7 to python 3.8
  sdk/python/kfp/cli/component_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

update yaml to python3.8 under kubernetes_platform/python/test/snapshot/data/toleration.yaml
  kubernetes_platform/python/test/snapshot/data/config_map_as_env.yaml
  kubernetes_platform/python/test/snapshot/data/config_map_as_vol.yaml
  kubernetes_platform/python/test/snapshot/data/create_mount_delete_dynamic_pvc.yaml
  kubernetes_platform/python/test/snapshot/data/create_mount_delete_existing_pvc.yaml
  kubernetes_platform/python/test/snapshot/data/create_mount_delete_existing_pvc_from_task_output.yaml
  kubernetes_platform/python/test/snapshot/data/field_path_as_env.yaml
  kubernetes_platform/python/test/snapshot/data/general_ephemeral_volume.yaml
  kubernetes_platform/python/test/snapshot/data/image_pull_secrets.yaml
  kubernetes_platform/python/test/snapshot/data/node_selector.yaml
  kubernetes_platform/python/test/snapshot/data/secret_as_env.yaml
  kubernetes_platform/python/test/snapshot/data/secret_as_vol.yaml
  kubernetes_platform/python/test/snapshot/data/timeout.yaml
  kubernetes_platform/python/test/snapshot/data/toleration.yaml
Due: kubeflow-pipeline-e2e-test, kfp-kubernetes-test-python37, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311

update yaml python 3.8 for sdk/python/test_data/pipelines/parallelfor_fan_in
  sdk/python/test_data/pipelines/parallelfor_fan_in/artifacts_complex.yaml
  sdk/python/test_data/pipelines/parallelfor_fan_in/artifacts_simple.yaml
  sdk/python/test_data/pipelines/parallelfor_fan_in/conditional_producer_and_consumers.yaml
  sdk/python/test_data/pipelines/parallelfor_fan_in/nested_with_parameters.yaml
  sdk/python/test_data/pipelines/parallelfor_fan_in/parameters_complex.yaml
  sdk/python/test_data/pipelines/parallelfor_fan_in/parameters_simple.yaml
  sdk/python/test_data/pipelines/parallelfor_fan_in/pipeline_producer_consumer.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

update yaml to fix tests
  sdk/python/kfp/local/docker_task_handler_test.py
  sdk/python/test_data/pipelines/pipeline_in_pipeline_loaded_from_yaml.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

Update Readme
  sdk/RELEASE.md
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311

Update kubernetes_setup python version
  kubernetes_platform/python/setup.py
Due: kfp-kubernetes-test-python37, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311

feat: Create Data Labeling kube-flow container component
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/__init__.py
Due: kubeflow-pipelines-components-google-cloud-python38

Update readme
  sdk/RELEASE.md
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311
