Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python38, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-v2-go-test, kubeflow-pipelines-manifests

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-e2e-test: any of: ^(frontend/.*)|(backend/.*)|(proxy/.*)|(manifests/kustomize/.*)|(test/.*)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipeline-mkp-snapshot-test: any of: ^(manifests/gcp_marketplace/.*)$
  kubeflow-pipeline-upgrade-test: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python37: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python38: any of: ^(components/google-cloud/.*)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(samples/.*)|(backend/src/v2/.*)$
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-v2-go-test: any of: ^backend/src/v2/.*$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$

chore(components): remove aiplatform.CustomContainerTrainingJobRunOp and aiplatform.CustomPythonPackageTrainingJobRunOp from GCPC major version 2
  components/google-cloud/google_cloud_pipeline_components/aiplatform/__init__.py
  components/google-cloud/google_cloud_pipeline_components/aiplatform/utils.py
  components/google-cloud/google_cloud_pipeline_components/container/aiplatform/remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/container/aiplatform/utils.py
  components/google-cloud/google_cloud_pipeline_components/experimental/forecasting/__init__.py
  components/google-cloud/tests/container/aiplatform/test_remote_runner.py
  components/google-cloud/tests/container/aiplatform/test_utils.py
Due: kubeflow-pipelines-components-google-cloud-python38

Add a comment for updated unit test.
  frontend/src/pages/NewRunV2.test.tsx
  frontend/src/pages/NewRunV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

chore(components): point experimental.bigquery components at v1.bigquery components
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/create_model/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/detect_anomalies_model/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/drop_model/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/evaluate_model/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/explain_forecast_model/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/explain_predict_model/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/export_model/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/feature_importance/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/forecast_model/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/global_explain/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/ml_advanced_weights/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/ml_arima_coefficients/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/ml_arima_evaluate/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/ml_centroids/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/ml_confusion_matrix/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/ml_feature_info/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/ml_principal_component_info/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/ml_principal_components/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/ml_recommend/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/ml_reconstruction_loss/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/ml_roc_curve/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/ml_training_info/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/ml_trial_info/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/ml_weights/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/predict_model/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/query_job/component.yaml
  components/google-cloud/tests/experimental/bigquery/testdata/bigquery_query_job_component_pipeline.json
  components/google-cloud/tests/v1/bigquery/integration/test_bigquery_query_job_compile.py
  components/google-cloud/tests/v1/bigquery/testdata/bigquery_query_job_component_pipeline.json
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

chore(components): migrate aiplatform.automl_training_job components to v1.automl.training_job
  components/google-cloud/google_cloud_pipeline_components/aiplatform/__init__.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/__init__.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/training_job/__init__.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/training_job/automl_forecasting_training_job/component.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/automl/training_job/automl_image_training_job/component.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/automl/training_job/automl_tabular_training_job/component.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/automl/training_job/automl_text_training_job/component.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/automl/training_job/automl_video_training_job/component.yaml
  components/google-cloud/tests/aiplatform/integration/test_components_compile.py
  components/google-cloud/tests/experimental/forecasting/test_forecasting_components_compile.py
  components/google-cloud/tests/v1/test_components_compile.py
  components/google-cloud/tests/v1/testdata/automl_forecasting_pipeline.json
  components/google-cloud/tests/v1/testdata/automl_image_pipeline.json
  components/google-cloud/tests/v1/testdata/automl_tabular_pipeline.json
  components/google-cloud/tests/v1/testdata/automl_text_pipeline.json
  components/google-cloud/tests/v1/testdata/automl_video_pipeline.json
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

chore(components): point experimental.custom_job components at v1.custom_job components
  components/google-cloud/google_cloud_pipeline_components/experimental/custom_job/component.py
  components/google-cloud/google_cloud_pipeline_components/experimental/custom_job/utils.py
  components/google-cloud/tests/experimental/custom_job/test_custom_job.py
  components/google-cloud/tests/v1/custom_job/integration/test_custom_training_job_compile.py
  components/google-cloud/tests/v1/custom_job/integration/test_custom_training_job_wrapper_compile.py
  components/google-cloud/tests/v1/custom_job/testdata/custom_training_job_pipeline.json
  components/google-cloud/tests/v1/custom_job/testdata/custom_training_job_wrapper_pipeline.json
  components/google-cloud/tests/v1/custom_job/unit/test_custom_job_utils.py
Due: kubeflow-pipelines-components-google-cloud-python38

Dummy test
  frontend/src/pages/NewRunV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

feat(sdk): support extracting input/output descriptions from component/pipeline docstrings (#9156)
  sdk/RELEASE.md
  sdk/python/kfp/compiler/compiler_test.py
  sdk/python/kfp/compiler/pipeline_spec_builder.py
  sdk/python/kfp/components/component_factory.py
  sdk/python/kfp/components/structures.py
  sdk/python/test_data/components/component_with_metadata_fields.py
  sdk/python/test_data/components/component_with_metadata_fields.yaml
  sdk/python/test_data/pipelines/pipeline_with_metadata_fields.py
  sdk/python/test_data/pipelines/pipeline_with_metadata_fields.yaml
  sdk/python/test_data/test_data_config.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

render run parameters in run details tab.
  frontend/src/pages/RunDetailsV2.test.tsx
  frontend/src/pages/RunDetailsV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

release kfp sdk 2.0.0b15
  docs/conf.py
  sdk/RELEASE.md
  sdk/python/kfp/__init__.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

Update api-server base image to Debian buster
  backend/Dockerfile
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

chore(sdk): release KFP SDK 2.0.0b15 (#9218)
  docs/conf.py
  sdk/RELEASE.md
  sdk/python/kfp/__init__.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

chore: Update api-server base image to Debian buster. Fixes #9220 (#9219)
  backend/Dockerfile
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Add single-transaction pipeline upload
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/server/pipeline_upload_server.go
  backend/src/apiserver/storage/pipeline_store.go
  backend/src/apiserver/storage/pipeline_store_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

chore(components): remove experimental.evaluation.ModelEvaluationOp
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/evaluation/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

Revert previous changes
  backend/src/apiserver/server/pipeline_server.go
  backend/src/apiserver/server/pipeline_server_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Add a logger for handling error case of getLatestVersion().
  frontend/src/pages/NewRunV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

chore(components): migrate aiplatform.model and aiplatform.endpoint components to v1 namespace
  components/google-cloud/google_cloud_pipeline_components/aiplatform/__init__.py
  components/google-cloud/google_cloud_pipeline_components/aiplatform/endpoint/create_endpoint/component.yaml
  components/google-cloud/google_cloud_pipeline_components/aiplatform/endpoint/deploy_model/component.yaml
  components/google-cloud/google_cloud_pipeline_components/aiplatform/model/export_model/component.yaml
  components/google-cloud/google_cloud_pipeline_components/aiplatform/model/upload_model/component.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/endpoint/__init__.py
  components/google-cloud/google_cloud_pipeline_components/v1/endpoint/delete_endpoint/__init__.py
  components/google-cloud/google_cloud_pipeline_components/v1/endpoint/delete_endpoint/component.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/endpoint/undeploy_model/__init__.py
  components/google-cloud/google_cloud_pipeline_components/v1/endpoint/undeploy_model/component.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/model/delete_model/__init__.py
  components/google-cloud/google_cloud_pipeline_components/v1/model/delete_model/component.yaml
  components/google-cloud/tests/aiplatform/integration/test_components_compile.py
  components/google-cloud/tests/aiplatform/testdata/batch_prediction_pipeline.json
  components/google-cloud/tests/aiplatform/testdata/model_deploy_and_undeploy_pipeline.json
  components/google-cloud/tests/aiplatform/testdata/model_export_pipeline.json
  components/google-cloud/tests/aiplatform/testdata/model_upload_and_delete_pipeline.json
  components/google-cloud/tests/v1/test_components_compile.py
  components/google-cloud/tests/v1/testdata/create_and_delete_endpoint_pipeline.json
  components/google-cloud/tests/v1/testdata/model_deploy_and_undeploy_pipeline.json
  components/google-cloud/tests/v1/testdata/model_export_pipeline.json
  components/google-cloud/tests/v1/testdata/model_upload_and_delete_pipeline.json
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

chore(components): point experimental.wait_gcp_resources component at v1.wait_gcp_resources component
  components/google-cloud/google_cloud_pipeline_components/experimental/wait_gcp_resources/component.yaml
  components/google-cloud/tests/experimental/wait_gcp_resources/test_wait_gcp_resources.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

chore(components): point experimental.vertex_notification_email component at v1.vertex_notification_email component
  components/google-cloud/google_cloud_pipeline_components/experimental/vertex_notification_email/component.yaml
  components/google-cloud/tests/experimental/vertex_notification_email/test_vertex_notification_email.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

chore(components): remove aiplatform.batch_predict_job
  components/google-cloud/google_cloud_pipeline_components/aiplatform/__init__.py
  components/google-cloud/google_cloud_pipeline_components/aiplatform/batch_predict_job/component.yaml
  components/google-cloud/tests/aiplatform/integration/test_components_compile.py
  components/google-cloud/tests/aiplatform/testdata/batch_prediction_pipeline.json
  components/google-cloud/tests/v1/test_components_compile.py
  components/google-cloud/tests/v1/testdata/batch_prediction_pipeline.json
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

add param verification
  backend/src/apiserver/resource/resource_manager_test.go
  backend/src/apiserver/server/job_server_test.go
  backend/src/apiserver/server/pipeline_upload_server_test.go
  backend/src/apiserver/server/run_server_test.go
  backend/src/apiserver/template/template_test.go
  backend/src/apiserver/template/testdata/hello_world.yaml
  backend/src/apiserver/template/v2_template.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

fix(frontend): Parameter field is missing after choosing another v2 pipeline (#9202)
  frontend/src/pages/NewRunV2.test.tsx
  frontend/src/pages/NewRunV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Resolve inconsistency
  backend/src/apiserver/server/pipeline_server.go
  backend/src/apiserver/server/pipeline_server_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

chore(components): remove aiplatform.dataset components
  components/google-cloud/google_cloud_pipeline_components/aiplatform/__init__.py
  components/google-cloud/google_cloud_pipeline_components/aiplatform/dataset/create_image_dataset/component.yaml
  components/google-cloud/google_cloud_pipeline_components/aiplatform/dataset/create_tabular_dataset/component.yaml
  components/google-cloud/google_cloud_pipeline_components/aiplatform/dataset/create_text_dataset/component.yaml
  components/google-cloud/google_cloud_pipeline_components/aiplatform/dataset/create_time_series_dataset/component.yaml
  components/google-cloud/google_cloud_pipeline_components/aiplatform/dataset/create_video_dataset/component.yaml
  components/google-cloud/google_cloud_pipeline_components/aiplatform/dataset/export_image_dataset/component.yaml
  components/google-cloud/google_cloud_pipeline_components/aiplatform/dataset/export_tabular_dataset/component.yaml
  components/google-cloud/google_cloud_pipeline_components/aiplatform/dataset/export_text_dataset/component.yaml
  components/google-cloud/google_cloud_pipeline_components/aiplatform/dataset/export_time_series_dataset/component.yaml
  components/google-cloud/google_cloud_pipeline_components/aiplatform/dataset/export_video_dataset/component.yaml
  components/google-cloud/google_cloud_pipeline_components/aiplatform/dataset/import_image_dataset/component.yaml
  components/google-cloud/google_cloud_pipeline_components/aiplatform/dataset/import_text_dataset/component.yaml
  components/google-cloud/google_cloud_pipeline_components/aiplatform/dataset/import_video_dataset/component.yaml
  components/google-cloud/tests/experimental/forecasting/test_forecasting_components_compile.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38
