Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-manifests, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests, kfp-kubernetes-test-python37, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311, kfp-dsl-runtime-code-test-python37, kfp-dsl-runtime-code-test-python38, kfp-dsl-runtime-code-test-python39, kfp-dsl-runtime-code-test-python310, kfp-dsl-runtime-code-test-python311

kubeflow-pipelines-sdk-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27-v2:
  decorate: true
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-backend-visualization-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

kubeflow-pipeline-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node:14
      command:
      - /bin/sh
      args:
      - -c
      - cd ./frontend && npm run test:ci:prow

kubeflow-pipeline-backend-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.20-bullseye
      command:
      - ./test/presubmit-backend-test.sh

kubeflow-pipeline-e2e-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-with-pipeline-deployment.sh
      args:
      - --workflow_file
      - e2e_test_gke_v2.yaml
      - --test_result_folder
      - e2e_test

kubeflow-pipeline-mkp-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-mkp.sh

kubeflow-pipeline-mkp-snapshot-test:
  decorate: true
  spec:
    containers:
    - image: bash:alpine3.14
      command:
      - bash
      args:
      - ./manifests/gcp_marketplace/test/presubmit.sh

kubeflow-pipeline-upgrade-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/upgrade-tests.sh
      args:
      - --test_result_folder
      - upgrade_test

kubeflow-pipelines-sdk-python37:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

fix(components): Ensure `preview.llm.rlhf_pipeline` runs if no `tensorboard_id` is provided
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/reinforcement_learning_graph.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/reward_model_graph.py
  components/google-cloud/google_cloud_pipeline_components/preview/llm/rlhf/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

fix(components): Remove the unused functions from function_based
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/function_based.py
Due: kubeflow-pipelines-components-google-cloud-python38

chore: Update maintainer hanle refs in apigenerator Makefile
  backend/api/Makefile
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2

fix(backend): Revert "chore: Update api-generator to use golang 1.20 (#10580)"
  backend/api/Dockerfile
  backend/api/Makefile
  test/release/Dockerfile.release
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2

feat(components): Add model name preprocess component; Use publisher model if user uploaded model is non-tuned
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/__init__.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/model_name_preprocessor/__init__.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/model_name_preprocessor/component.py
  components/google-cloud/google_cloud_pipeline_components/v1/model_evaluation/evaluation_llm_classification_pipeline.py
  components/google-cloud/google_cloud_pipeline_components/v1/model_evaluation/evaluation_llm_text_generation_pipeline.py
Due: kubeflow-pipelines-components-google-cloud-python38

feat(components): add task_type as a parameter to rlaif
  components/google-cloud/RELEASE.md
  components/google-cloud/google_cloud_pipeline_components/preview/llm/rlaif/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

feat(components): AutoSxS GA pending release
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/generated/refined_image_versions.py
Due: kubeflow-pipelines-components-google-cloud-python38

feat(components): Create Data Labeling kube-flow container component
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/__init__.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/data_labeling/__init__.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/data_labeling/component.py
  components/google-cloud/google_cloud_pipeline_components/container/_implementation/model_evaluation/data_labeling_job/__init__.py
  components/google-cloud/google_cloud_pipeline_components/container/_implementation/model_evaluation/data_labeling_job/launcher.py
  components/google-cloud/google_cloud_pipeline_components/container/_implementation/model_evaluation/data_labeling_job/remote_runner.py
Due: kubeflow-pipelines-components-google-cloud-python38

chore(components): GCPC 2.12.0 Release
  components/google-cloud/Dockerfile
  components/google-cloud/RELEASE.md
  components/google-cloud/docs/source/versions.json
  components/google-cloud/google_cloud_pipeline_components/version.py
Due: kubeflow-pipelines-components-google-cloud-python38

fix(components): Update service account comment
  components/google-cloud/google_cloud_pipeline_components/v1/model_evaluation/evaluation_llm_text_generation_pipeline.py
Due: kubeflow-pipelines-components-google-cloud-python38

move .readthedocs.yml
  .readthedocs.yml
Due: none

Update loop_output.py example for the new parallel loop type requirement
  samples/core/loop_output/loop_output.py
Due: kubeflow-pipelines-samples-v2

feat(Backend + SDK): Update kfp backend and kubernetes sdk to support tolerations (#10471)
  backend/src/v2/driver/driver.go
  backend/third_party_licenses/driver.csv
  kubernetes_platform/python/kfp/kubernetes/__init__.py
  kubernetes_platform/python/kfp/kubernetes/toleration.py
  kubernetes_platform/python/test/snapshot/data/toleration.py
  kubernetes_platform/python/test/snapshot/data/toleration.yaml
  kubernetes_platform/python/test/unit/test_tolerations.py
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-samples-v2, kfp-kubernetes-test-python37, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311

feat(kubernetes_platform): Update kubernetes_platform go package to i… (#10442)
  kubernetes_platform/go/kubernetesplatform/kubernetes_executor_config.pb.go
  kubernetes_platform/proto/kubernetes_executor_config.proto
Due: kfp-kubernetes-test-python37, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311

fix(backend): Refactor backend common code to use updated API Service Params
  backend/src/common/client/api_server/v1/experiment_client.go
  backend/src/common/client/api_server/v1/experiment_client_fake.go
  backend/src/common/client/api_server/v1/healthz_client.go
  backend/src/common/client/api_server/v1/job_client.go
  backend/src/common/client/api_server/v1/job_client_fake.go
  backend/src/common/client/api_server/v1/pipeline_client.go
  backend/src/common/client/api_server/v1/pipeline_client_fake.go
  backend/src/common/client/api_server/v1/run_client.go
  backend/src/common/client/api_server/v1/run_client_fake.go
  backend/src/common/client/api_server/v1/visualization_client.go
  backend/src/common/client/api_server/v1/visualization_client_fake.go
  backend/src/common/client/api_server/v2/experiment_client.go
  backend/src/common/client/api_server/v2/experiment_client_fake.go
  backend/src/common/client/api_server/v2/healthz_client.go
  backend/src/common/client/api_server/v2/pipeline_client.go
  backend/src/common/client/api_server/v2/pipeline_client_fake.go
  backend/src/common/client/api_server/v2/recurring_run_client.go
  backend/src/common/client/api_server/v2/recurring_run_client_fake.go
  backend/src/common/client/api_server/v2/run_client.go
  backend/src/common/client/api_server/v2/run_client_fake.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2

fix(backend): Fix Backend int tests to use updated API Service Params
  backend/test/initialization/initialization_test.go
  backend/test/integration/experiment_api_test.go
  backend/test/integration/job_api_test.go
  backend/test/integration/pipeline_api_test.go
  backend/test/integration/pipeline_version_api_test.go
  backend/test/integration/run_api_test.go
  backend/test/integration/upgrade_test.go
  backend/test/integration/visualization_api_test.go
  backend/test/test_utils.go
  backend/test/v2/initialization/initialization_test.go
  backend/test/v2/integration/experiment_api_test.go
  backend/test/v2/integration/pipeline_api_test.go
  backend/test/v2/integration/pipeline_version_api_test.go
  backend/test/v2/integration/recurring_run_api_test.go
  backend/test/v2/integration/run_api_test.go
  backend/test/v2/integration/upgrade_test.go
  backend/test/v2/test_utils.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2

Update loop_output.py example for the new parallel loop type requirement (#10637)
  samples/core/loop_output/loop_output.py
Due: kubeflow-pipelines-samples-v2

feat(components): Added support for text-bison@002 to preview.llm.rlhf_pipeline
  components/google-cloud/RELEASE.md
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/function_based.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/generated/refined_image_versions.py
Due: kubeflow-pipelines-components-google-cloud-python38

fixes and tests for SlicedClassificationMetrics. Copied from another branch that I screwed up.
  sdk/python/kfp/compiler/compiler_test.py
  sdk/python/kfp/dsl/types/artifact_types.py
  sdk/python/kfp/dsl/types/artifact_types_test.py
  sdk/python/kfp/dsl/types/test_data/expected_io_types_bulk_load_sliced_classification_metrics.json
  sdk/python/kfp/dsl/types/test_data/expected_io_types_sliced_classification_metrics.json
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

reverting changes unrelated to intent of PR
  sdk/python/kfp/compiler/compiler_test.py
  sdk/python/kfp/dsl/types/artifact_types.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

newline
  sdk/python/kfp/dsl/types/test_data/expected_io_types_sliced_classification_metrics.json
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

fix(components): Use output_adapter_path directly instead of importing it as an artifact
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/deployment_graph.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/env.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/upload_llm_model.py
Due: kubeflow-pipelines-components-google-cloud-python38

feat(components): Added support for text-bison@002 to preview.llm.rlhf_pipeline
  components/google-cloud/RELEASE.md
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/deployment_graph.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/env.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/function_based.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/upload_llm_model.py
Due: kubeflow-pipelines-components-google-cloud-python38

chore(components): internal
  components/google-cloud/google_cloud_pipeline_components/v1/dataflow/flex_template/component.py
  components/google-cloud/google_cloud_pipeline_components/v1/endpoint/create_endpoint/component.py
  components/google-cloud/google_cloud_pipeline_components/v1/endpoint/delete_endpoint/component.py
  components/google-cloud/google_cloud_pipeline_components/v1/endpoint/deploy_model/component.py
  components/google-cloud/google_cloud_pipeline_components/v1/endpoint/undeploy_model/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

No public description
  components/google-cloud/Dockerfile
  components/google-cloud/RELEASE.md
  components/google-cloud/docs/source/versions.json
  components/google-cloud/google_cloud_pipeline_components/version.py
Due: kubeflow-pipelines-components-google-cloud-python38

fix(components): Make AutoSxS autorater_prompt_parameters required
  components/google-cloud/RELEASE.md
  components/google-cloud/google_cloud_pipeline_components/preview/model_evaluation/model_based_llm_evaluation/autosxs/autosxs_pipeline.py
Due: kubeflow-pipelines-components-google-cloud-python38

docs(components): internal
  components/google-cloud/google_cloud_pipeline_components/proto/template_metadata.proto
  components/google-cloud/google_cloud_pipeline_components/proto/template_metadata_pb2.py
Due: kubeflow-pipelines-components-google-cloud-python38

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-e2e-test: any of: ^(frontend/.*)|(backend/.*)|(proxy/.*)|(manifests/kustomize/.*)|(test/.*)|go.mod|go.sum$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipeline-mkp-snapshot-test: any of: ^(manifests/gcp_marketplace/.*)$
  kubeflow-pipeline-upgrade-test: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipeline-upgrade-test-v2: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python310: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python311: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)|(sdk/python/.*)$
  kubeflow-pipelines-components-google-cloud-python38: any of: ^(components/google-cloud/.*)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(samples/.*)|(backend/src/v2/.*)$
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$
  kubeflow-pipelines-sdk-isort: any of: ^(sdk/python/.*)|(test/presubmit-isort-sdk.sh)$
  kubeflow-pipelines-sdk-yapf: any of: ^(sdk/python/.*)|(test/presubmit-yapf-sdk.sh)$
  kubeflow-pipelines-sdk-docformatter: any of: ^(sdk/python/.*)|(test/presubmit-docformatter-sdk.sh)$
  kubeflow-pipelines-sdk-execution-tests: any of: ^(sdk/python/.*)|(test/presubmit-sdk-execution-tests.sh)$
  kfp-kubernetes-test-python37: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-test-python38: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-test-python39: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-test-python310: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-test-python311: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-dsl-runtime-code-test-python37: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
  kfp-dsl-runtime-code-test-python38: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
  kfp-dsl-runtime-code-test-python39: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
  kfp-dsl-runtime-code-test-python310: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
  kfp-dsl-runtime-code-test-python311: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
