Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-mkp-test, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python37, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-manifests

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipelines-sdk-python36: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python36: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python37: any of: ^(components/google-cloud/.*)|(test/presubmit-components-google-cloud.sh)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(v2/.*)$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$

test: Update visualization v2 to output HTML and Markdown.
  samples/test/metrics_visualization_v2.py
  samples/test/metrics_visualization_v2_test.py
Due: none

chore(frontend): Change from `name` to `display_name` for visualization. Fix #6346 (#6347)
  frontend/src/components/tabs/MetricsTab.test.tsx
  frontend/src/components/viewers/MetricsVisualizations.tsx
Due: kubeflow-pipeline-frontend-test

address comment
  samples/test/metrics_visualization_v2.py
Due: none

chore(sdk): Warn on container component without command. Fixes #4800 (#6335)
  sdk/python/kfp/components/_components.py
  sdk/python/kfp/components_tests/test_components.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

fix(frontend): Maximize width of HTML visualization. Partial #6296 (#6319)
  frontend/src/components/viewers/HTMLViewer.tsx
Due: kubeflow-pipeline-frontend-test

chore(components/pytorch): Add sqlalchemy pacakge to ax (#6340)
  components/PyTorch/pytorch-kfp-components/templates/ax_complete_trials_component.yaml
  components/PyTorch/pytorch-kfp-components/templates/ax_generate_trials_component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml

chore(components/pytorch): pytorch samples build fixes (#6338)
  components/PyTorch/pytorch-kfp-components/setup.py
  components/PyTorch/pytorch-kfp-components/tox.ini
  samples/contrib/pytorch-samples/Dockerfile
  samples/contrib/pytorch-samples/requirements.txt
Due: none

test: fix build proxy image
  proxy/Dockerfile
Due: none

vis test
  samples/test/metrics_visualization_v2_test.py
Due: none

fix(components/gcp): add explicit command for gcp components
  components/gcp/bigquery/query/to_CSV/component.yaml
  components/gcp/bigquery/query/to_table/component.yaml
  components/gcp/dataflow/launch_flex_template/component.yaml
  components/gcp/dataflow/launch_template/component.yaml
  components/gcp/dataproc/create_cluster/component.yaml
  components/gcp/dataproc/delete_cluster/component.yaml
  components/gcp/dataproc/submit_hadoop_job/component.yaml
  components/gcp/dataproc/submit_hive_job/component.yaml
  components/gcp/dataproc/submit_pig_job/component.yaml
  components/gcp/dataproc/submit_pyspark_job/component.yaml
  components/gcp/dataproc/submit_spark_job/component.yaml
  components/gcp/dataproc/submit_sparksql_job/component.yaml
  components/gcp/ml_engine/batch_predict/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/query/to_gcs/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/query/to_table/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/dataflow/launch_python/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

address comment
  frontend/src/pages/GettingStarted.tsx
Due: kubeflow-pipeline-frontend-test

chore: upgrade sample test image
  test/api-integration-test/Dockerfile
Due: none

test(v2): add all samples using parameter + artifact passing features to v2 engine
  samples/core/output_a_directory/output_a_directory_test.py
  samples/test/after_test.py
  samples/test/config.yaml
  samples/test/lightweight_python_functions_v2_pipeline_test.py
  samples/test/lightweight_python_functions_v2_with_outputs_test.py
  samples/test/metrics_visualization_v2_test.py
  samples/test/parameter_with_format_test.py
  samples/test/placeholder_concat_test.py
  samples/test/reused_component_test.py
  samples/test/two_step_with_uri_placeholder_test.py
Due: none

address cr comments
  sdk/python/kfp/compiler/compiler.py
  sdk/python/kfp/compiler/v2_compatible_compiler_test.py
  sdk/python/tests/compiler/compiler_tests.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

update cloud image
  test/sample-test/Dockerfile
  test/sample-test/hack/update_requirements.sh
  test/sample-test/requirements.txt
Due: none

fix(sdk): block dsl.importer usage in KFP OSS. Fixes: #6323 (#6330)
  sdk/python/kfp/compiler/compiler.py
  sdk/python/kfp/compiler/v2_compatible_compiler_test.py
  sdk/python/tests/compiler/compiler_tests.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

fix some samples
  samples/test/lightweight_python_functions_v2_pipeline.py
  samples/test/lightweight_python_functions_v2_with_outputs.py
  samples/test/two_step_with_uri_placeholder_test.py
  v2/driver/driver.go
Due: kubeflow-pipelines-samples-v2

fix 2
  test/api-integration-test/Dockerfile
  test/initialization-test/Dockerfile
Due: none

fix output file
  v2/component/launcher_v2.go
Due: kubeflow-pipelines-samples-v2

comment failing samples
  samples/test/lightweight_python_functions_v2_pipeline_test.py
  samples/test/lightweight_python_functions_v2_with_outputs_test.py
  samples/test/metrics_visualization_v2_test.py
Due: none

test: fix apt update "changed its 'Suite' value from 'stable' to 'oldstable'" (#6351)
  proxy/Dockerfile
  test/api-integration-test/Dockerfile
  test/initialization-test/Dockerfile
  test/sample-test/Dockerfile
  test/sample-test/hack/update_requirements.sh
  test/sample-test/requirements.txt
Due: none

improve comments
  samples/test/config.yaml
  samples/test/two_step_with_uri_placeholder_test.py
Due: none

google sdk: Enable to specify the service account of proxy function and cloud scheduler job
  sdk/python/kfp/v2/google/client/client.py
  sdk/python/kfp/v2/google/client/schedule.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

fix test
  frontend/src/pages/GettingStarted.test.tsx
  frontend/src/pages/__snapshots__/GettingStarted.test.tsx.snap
Due: kubeflow-pipeline-frontend-test

Updating development status from alpha to stable
  components/PyTorch/pytorch-kfp-components/setup.py
Due: none

Updating development status to production/stable
  components/PyTorch/pytorch-kfp-components/setup.py
Due: none

fixed comments
  backend/src/apiserver/server/task_server.go
  v2/component/launcher.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipelines-samples-v2

Setting development status to Beta
  components/PyTorch/pytorch-kfp-components/setup.py
Due: none

Fix the dockerfile by allowing apt-get update to ignore releaseinfo changes
  components/aws/sagemaker/tests/integration_tests/Dockerfile
Due: none

fix(Dockerfile): fixes the dockerfile by allowing `apt-get update` to ignore releaseinfo changes. (#6356)
  components/aws/sagemaker/tests/integration_tests/Dockerfile
Due: none

fix v1v2 decision logic
  frontend/mock-backend/fixed-data.ts
  frontend/src/lib/v2/WorkflowUtils.ts
  frontend/src/pages/PipelineDetails.test.tsx
  frontend/src/pages/PipelineDetails.tsx
  frontend/src/pages/PipelineDetailsTest.test.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipelines-samples-v2

address comment
  README.md
Due: none
