Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-sdk-python312, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-manifests, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311, kfp-kubernetes-test-python312, kfp-kubernetes-execution-tests, test-run-all-gcpc-modules, test-upgrade-kfp-sdk, test-kfp-runtime-code-python38, test-kfp-runtime-code-python39, test-kfp-runtime-code-python310, test-kfp-runtime-code-python311, test-kfp-runtime-code-python312

kubeflow-pipelines-sdk-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27-v2:
  decorate: true
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-backend-visualization-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

kubeflow-pipeline-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node:14
      command:
      - /bin/sh
      args:
      - -c
      - cd ./frontend && npm run test:ci:prow

kubeflow-pipeline-mkp-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-mkp.sh

kubeflow-pipeline-mkp-snapshot-test:
  decorate: true
  spec:
    containers:
    - image: bash:alpine3.14
      command:
      - bash
      args:
      - ./manifests/gcp_marketplace/test/presubmit.sh

kubeflow-pipeline-upgrade-test:
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/upgrade-tests.sh
      args:
      - --test_result_folder
      - upgrade_test

kubeflow-pipeline-upgrade-test-v2:
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/upgrade-tests.sh
      args:
      - --test_result_folder
      - upgrade_test
      - --test_v2_api

kubeflow-pipelines-sdk-python38:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

Rename recursive_replace
  sdk/python/kfp/compiler/compiler_utils.py
  sdk/python/kfp/compiler/compiler_utils_test.py
  sdk/python/kfp/compiler/pipeline_spec_builder.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-sdk-python312, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311, kfp-kubernetes-test-python312, kfp-kubernetes-execution-tests, test-run-all-gcpc-modules, test-upgrade-kfp-sdk, test-kfp-runtime-code-python38, test-kfp-runtime-code-python39, test-kfp-runtime-code-python310, test-kfp-runtime-code-python311, test-kfp-runtime-code-python312

UPSTREAM: <carry>: Upgrade DSP api/go.mod package versions
  api/go.mod
Due: none

Update various components and scripts
  samples/contrib/nvidia-resnet/components/inference_server_launcher/src/trtis-service-template.yaml
  samples/contrib/nvidia-resnet/components/webapp_launcher/src/webapp-service-template.yaml
  samples/contrib/nvidia-resnet/components/webapp_launcher/src/webapp-service.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-samples-v2

fix(components): add check and add log to call out the fallback to the default model checkpoint and remove the model checkpoint check condition in RLHF GCPC
  components/google-cloud/google_cloud_pipeline_components/preview/llm/rlhf/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

Refactor code and add condition test pipeline Signed-off-by: KevinGrantLee <kglee@google.com>
  sdk/python/kfp/compiler/compiler_utils.py
  sdk/python/kfp/compiler/pipeline_spec_builder.py
  sdk/python/test_data/pipelines/pipeline_with_condition_dynamic_task_output_custom_training_job.py
  sdk/python/test_data/pipelines/pipeline_with_condition_dynamic_task_output_custom_training_job.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-sdk-python312, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311, kfp-kubernetes-test-python312, kfp-kubernetes-execution-tests, test-run-all-gcpc-modules, test-upgrade-kfp-sdk, test-kfp-runtime-code-python38, test-kfp-runtime-code-python39, test-kfp-runtime-code-python310, test-kfp-runtime-code-python311, test-kfp-runtime-code-python312

fix formatting Signed-off-by: KevinGrantLee <kglee@google.com>
  sdk/python/kfp/compiler/compiler_utils.py
  sdk/python/kfp/compiler/compiler_utils_test.py
  sdk/python/kfp/compiler/pipeline_spec_builder.py
  sdk/python/test_data/pipelines/pipeline_with_condition_dynamic_task_output_custom_training_job.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-sdk-python312, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311, kfp-kubernetes-test-python312, kfp-kubernetes-execution-tests, test-run-all-gcpc-modules, test-upgrade-kfp-sdk, test-kfp-runtime-code-python38, test-kfp-runtime-code-python39, test-kfp-runtime-code-python310, test-kfp-runtime-code-python311, test-kfp-runtime-code-python312

Update various components and scripts
  samples/contrib/nvidia-resnet/components/inference_server_launcher/src/trtis-service-template.yaml
  samples/contrib/nvidia-resnet/components/webapp/Dockerfile
  samples/contrib/nvidia-resnet/components/webapp/build.sh
  samples/contrib/nvidia-resnet/components/webapp/src/trtis_client.py
  samples/contrib/nvidia-resnet/components/webapp_launcher/src/webapp-service-template.yaml
  samples/contrib/nvidia-resnet/components/webapp_launcher/src/webapp-service.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-samples-v2

test: migrate kubeflow-pipeline-e2e-test to GitHub Actions (#10887)
  .github/workflows/e2e-test.yaml
  backend/test/initialization/initialization_test.go
  backend/test/integration/experiment_api_test.go
  backend/test/integration/healthz_api_test.go
  backend/test/integration/job_api_test.go
  backend/test/integration/pipeline_api_test.go
  backend/test/integration/pipeline_version_api_test.go
  backend/test/integration/run_api_test.go
  backend/test/integration/upgrade_test.go
  backend/test/integration/visualization_api_test.go
  backend/test/test_utils.go
  backend/test/v2/initialization/initialization_test.go
  backend/test/v2/integration/experiment_api_test.go
  backend/test/v2/integration/healthz_api_test.go
  backend/test/v2/integration/pipeline_api_test.go
  backend/test/v2/integration/pipeline_version_api_test.go
  backend/test/v2/integration/recurring_run_api_test.go
  backend/test/v2/integration/run_api_test.go
  backend/test/v2/integration/upgrade_test.go
  backend/test/v2/test_utils.go
  scripts/deploy/github/forward-port.sh
  test/api-integration-test/Dockerfile
  test/api-integration-test/OWNERS
  test/api-integration-test/run_test.sh
  test/e2e_test_gke_v2.yaml
  test/frontend-integration-test/helloworld.spec.js
  test/initialization-test/Dockerfile
  test/initialization-test/OWNERS
  test/initialization-test/run_test.sh
  test/sample-test/Dockerfile
  test/sample-test/constants.py
  test/sample-test/sample_test_launcher.py
Due: kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2

minor clean up Signed-off-by: KevinGrantLee <kglee@google.com>
  sdk/python/kfp/compiler/pipeline_spec_builder.py
  sdk/python/kfp/dsl/pipeline_channel.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-sdk-python312, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311, kfp-kubernetes-test-python312, kfp-kubernetes-execution-tests, test-run-all-gcpc-modules, test-upgrade-kfp-sdk, test-kfp-runtime-code-python38, test-kfp-runtime-code-python39, test-kfp-runtime-code-python310, test-kfp-runtime-code-python311, test-kfp-runtime-code-python312

feat(components): Support dynamic machine type paramters in CustomTrainingJobOp (#10883)
  sdk/RELEASE.md
  sdk/python/kfp/compiler/compiler_utils.py
  sdk/python/kfp/compiler/compiler_utils_test.py
  sdk/python/kfp/compiler/pipeline_spec_builder.py
  sdk/python/kfp/dsl/pipeline_channel.py
  sdk/python/test_data/pipelines/pipeline_with_condition_dynamic_task_output_custom_training_job.py
  sdk/python/test_data/pipelines/pipeline_with_condition_dynamic_task_output_custom_training_job.yaml
  sdk/python/test_data/pipelines/pipeline_with_dynamic_pipeline_input_custom_training_job.py
  sdk/python/test_data/pipelines/pipeline_with_dynamic_pipeline_input_custom_training_job.yaml
  sdk/python/test_data/pipelines/pipeline_with_dynamic_task_output_custom_training_job.py
  sdk/python/test_data/pipelines/pipeline_with_dynamic_task_output_custom_training_job.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-sdk-python312, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311, kfp-kubernetes-test-python312, kfp-kubernetes-execution-tests, test-run-all-gcpc-modules, test-upgrade-kfp-sdk, test-kfp-runtime-code-python38, test-kfp-runtime-code-python39, test-kfp-runtime-code-python310, test-kfp-runtime-code-python311, test-kfp-runtime-code-python312

fix(kubernetes_platform): fix api-generator docker mount for SELinux (#10890)
  kubernetes_platform/Makefile
Due: kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311, kfp-kubernetes-test-python312, kfp-kubernetes-execution-tests

feat(components): Add Starry Net forecasting pipeline to public preview
  components/google-cloud/RELEASE.md
  components/google-cloud/docs/source/api/preview/index.rst
  components/google-cloud/docs/source/api/preview/starry_net.rst
  components/google-cloud/google_cloud_pipeline_components/_implementation/starry_net/__init__.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/starry_net/dataprep/__init__.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/starry_net/dataprep/component.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/starry_net/evaluation/__init__.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/starry_net/evaluation/component.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/starry_net/get_training_artifacts/__init__.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/starry_net/get_training_artifacts/component.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/starry_net/maybe_set_tfrecord_args/__init__.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/starry_net/maybe_set_tfrecord_args/component.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/starry_net/set_dataprep_args/__init__.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/starry_net/set_dataprep_args/component.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/starry_net/set_eval_args/__init__.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/starry_net/set_eval_args/component.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/starry_net/set_test_set/__init__.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/starry_net/set_test_set/component.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/starry_net/set_tfrecord_args/__init__.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/starry_net/set_tfrecord_args/component.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/starry_net/set_train_args/__init__.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/starry_net/set_train_args/component.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/starry_net/train/__init__.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/starry_net/train/component.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/starry_net/upload_decomposition_plots/__init__.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/starry_net/upload_decomposition_plots/component.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/starry_net/upload_model/__init__.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/starry_net/upload_model/component.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/starry_net/version.py
  components/google-cloud/google_cloud_pipeline_components/preview/starry_net/__init__.py
  components/google-cloud/google_cloud_pipeline_components/preview/starry_net/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

Update various components and scripts
  samples/contrib/nvidia-resnet/components/inference_server_launcher/src/trtis-service-template.yaml
  samples/contrib/nvidia-resnet/components/preprocess/Dockerfile
  samples/contrib/nvidia-resnet/components/webapp/build.sh
  samples/contrib/nvidia-resnet/components/webapp/src/trtis_client.py
  samples/contrib/nvidia-resnet/components/webapp_launcher/src/deploy_webapp.py
  samples/contrib/nvidia-resnet/components/webapp_launcher/src/webapp-service.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-samples-v2

UPSTREAM: <carry>: Upgrade DSP go.mod package versions
  go.mod
  go.sum
Due: none

UPSTREAM: <carry>: Upgrade go version to 1.21 and go.mod package versions
  .github/workflows/unit-tests.yaml
  backend/Dockerfile
  backend/Dockerfile.cacheserver
  backend/Dockerfile.conformance
  backend/Dockerfile.driver
  backend/Dockerfile.launcher
  backend/Dockerfile.persistenceagent
  backend/Dockerfile.scheduledworkflow
  backend/Dockerfile.viewercontroller
  backend/src/v2/test/components/build_go.yaml
  backend/src/v2/test/presubmit-v2-go-test.sh
  backend/third_party_licenses/apiserver.csv
  backend/third_party_licenses/cache_server.csv
  backend/third_party_licenses/viewer.csv
  go.mod
  go.sum
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-samples-v2

fix(components): set input_reference_model_path for inference step after rlhf
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/generated/refined_image_versions.py
  components/google-cloud/google_cloud_pipeline_components/preview/llm/infer/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

chore(components): Update AutoSxS and RLHF image tags
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/generated/refined_image_versions.py
Due: kubeflow-pipelines-components-google-cloud-python38

applied changes to include namespace when calling list pipelines function from get_pipeline_id
  sdk/python/kfp/client/client.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-sdk-python312, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311, kfp-kubernetes-test-python312, kfp-kubernetes-execution-tests, test-run-all-gcpc-modules, test-upgrade-kfp-sdk, test-kfp-runtime-code-python38, test-kfp-runtime-code-python39, test-kfp-runtime-code-python310, test-kfp-runtime-code-python311, test-kfp-runtime-code-python312

implement missing EmptyDir mount in kfp-kubernetes
  kubernetes_platform/go/kubernetesplatform/kubernetes_executor_config.pb.go
  kubernetes_platform/proto/kubernetes_executor_config.proto
Due: kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311, kfp-kubernetes-test-python312, kfp-kubernetes-execution-tests

pluralize repeated field - empty_dir_mount -> empty_dir_mounts
  kubernetes_platform/go/kubernetesplatform/kubernetes_executor_config.pb.go
  kubernetes_platform/proto/kubernetes_executor_config.proto
Due: kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311, kfp-kubernetes-test-python312, kfp-kubernetes-execution-tests

feat(Backend + SDK): Update kfp backend and kubernetes sdk to support EmptyDir
  backend/src/v2/driver/driver.go
  backend/src/v2/driver/driver_test.go
  kubernetes_platform/python/kfp/kubernetes/__init__.py
  kubernetes_platform/python/kfp/kubernetes/empty_dir.py
  kubernetes_platform/python/test/snapshot/data/empty_dir_mounts.py
  kubernetes_platform/python/test/snapshot/data/empty_dir_mounts.yaml
  kubernetes_platform/python/test/unit/test_empty_dir_mounts.py
Due: kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-samples-v2, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311, kfp-kubernetes-test-python312, kfp-kubernetes-execution-tests

feat(components): Update Starry Net image tags
  components/google-cloud/google_cloud_pipeline_components/_implementation/starry_net/get_training_artifacts/component.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/starry_net/version.py
  components/google-cloud/google_cloud_pipeline_components/preview/starry_net/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

Removed mkp tests
  manifests/gcp_marketplace/test/presubmit.sh
  manifests/gcp_marketplace/test/snapshot-base.yaml
  manifests/gcp_marketplace/test/snapshot-emissary.yaml
  manifests/gcp_marketplace/test/snapshot-managed-storage-with-db-prefix.yaml
  manifests/gcp_marketplace/test/snapshot-managed-storage.yaml
  manifests/gcp_marketplace/test/snapshots.sh
  manifests/gcp_marketplace/test/values-base.yaml
  manifests/gcp_marketplace/test/values-emissary.yaml
  manifests/gcp_marketplace/test/values-managed-storage-with-db-prefix.yaml
  manifests/gcp_marketplace/test/values-managed-storage.yaml
  test/cloudbuild/mkp_verify.yaml
  test/deploy-pipeline-mkp-cli.sh
  test/images/Dockerfile
  test/images/README.md
  test/postsubmit-tests-with-pipeline-deployment.sh
  test/presubmit-tests-mkp.sh
Due: kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test

add(fl_file) add an pipeline example
  samples/contrib/Horizontal-Federated-Learning-on-kubeflow-main/FL_flow_chart.png
  samples/contrib/Horizontal-Federated-Learning-on-kubeflow-main/README.md
  samples/contrib/Horizontal-Federated-Learning-on-kubeflow-main/client_log.png
  samples/contrib/Horizontal-Federated-Learning-on-kubeflow-main/example/README.md
  samples/contrib/Horizontal-Federated-Learning-on-kubeflow-main/example/abnormal.csv
  samples/contrib/Horizontal-Federated-Learning-on-kubeflow-main/example/fl_pipeline.py
  samples/contrib/Horizontal-Federated-Learning-on-kubeflow-main/example/normal.csv
  samples/contrib/Horizontal-Federated-Learning-on-kubeflow-main/kubeflow_Architecture_v2.png
  samples/contrib/Horizontal-Federated-Learning-on-kubeflow-main/kubeflow_pipeline_v2.png
Due: kubeflow-pipelines-samples-v2

delete sth
  samples/contrib/Horizontal-Federated-Learning-on-kubeflow-main/FL_flow_chart.png
  samples/contrib/Horizontal-Federated-Learning-on-kubeflow-main/README.md
  samples/contrib/Horizontal-Federated-Learning-on-kubeflow-main/client_log.png
  samples/contrib/Horizontal-Federated-Learning-on-kubeflow-main/example/README.md
  samples/contrib/Horizontal-Federated-Learning-on-kubeflow-main/example/abnormal.csv
  samples/contrib/Horizontal-Federated-Learning-on-kubeflow-main/example/fl_pipeline.py
  samples/contrib/Horizontal-Federated-Learning-on-kubeflow-main/example/normal.csv
  samples/contrib/Horizontal-Federated-Learning-on-kubeflow-main/kubeflow_Architecture_v2.png
  samples/contrib/Horizontal-Federated-Learning-on-kubeflow-main/kubeflow_pipeline_v2.png
Due: kubeflow-pipelines-samples-v2

chore: fix tests for api, artifact load, & runlist
  frontend/src/lib/Apis.test.ts
  frontend/src/lib/OutputArtifactLoader.test.ts
  frontend/src/pages/RunList.test.tsx
Due: kubeflow-pipeline-frontend-test

chore: support protocols in aws s3 endpoint config
  backend/src/v2/objectstore/object_store.go
Due: kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-samples-v2

feat: add store session info to artifact property
  backend/src/v2/component/importer_launcher.go
  backend/src/v2/component/launcher_v2.go
  backend/src/v2/config/env.go
  backend/src/v2/metadata/client.go
  backend/src/v2/metadata/client_fake.go
  backend/src/v2/objectstore/config.go
Due: kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-samples-v2

feat(ui): allow ui server to parse provider info
  frontend/server/aws-helper.test.ts
  frontend/server/aws-helper.ts
  frontend/server/handlers/artifacts.ts
  frontend/server/k8s-helper.ts
  frontend/server/minio-helper.test.ts
  frontend/server/minio-helper.ts
  frontend/server/utils.ts
  frontend/server/workflow-helper.ts
Due: kubeflow-pipeline-frontend-test

chore: add tests for provider info
  frontend/server/integration-tests/artifact-get.test.ts
  frontend/server/minio-helper.ts
  frontend/server/utils.ts
Due: kubeflow-pipeline-frontend-test

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipeline-mkp-snapshot-test: any of: ^(manifests/gcp_marketplace/.*)$
  kubeflow-pipeline-upgrade-test: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipeline-upgrade-test-v2: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python310: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python311: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python312: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)|(sdk/python/.*)|(api/v2alpha1/.*)$
  kubeflow-pipelines-components-google-cloud-python38: any of: ^(components/google-cloud/.*)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(samples/.*)|(backend/src/v2/.*)$
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$
  kubeflow-pipelines-sdk-isort: any of: ^(sdk/python/.*)|(test/presubmit-isort-sdk.sh)$
  kubeflow-pipelines-sdk-yapf: any of: ^(sdk/python/.*)|(test/presubmit-yapf-sdk.sh)$
  kubeflow-pipelines-sdk-docformatter: any of: ^(sdk/python/.*)|(test/presubmit-docformatter-sdk.sh)$
  kubeflow-pipelines-sdk-execution-tests: any of: ^(sdk/python/.*)|(api/v2alpha1/.*)|(test/presubmit-sdk-execution-tests.sh)$
  kfp-kubernetes-test-python38: any of: ^(sdk/python/.*)|(api/v2alpha1/.*)|(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-test-python39: any of: ^(sdk/python/.*)|(api/v2alpha1/.*)|(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-test-python310: any of: ^(sdk/python/.*)|(api/v2alpha1/.*)|(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-test-python311: any of: ^(sdk/python/.*)|(api/v2alpha1/.*)|(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-test-python312: any of: ^(sdk/python/.*)|(api/v2alpha1/.*)|(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-execution-tests: any of: ^(sdk/python/.*)|(api/v2alpha1/.*)|(kubernetes_platform/.*)|(test/presubmit-kfp-kubernetes-execution-tests.sh)$
  test-run-all-gcpc-modules: any of: ^(sdk/python/.*)|(test/presubmit-test-run-all-gcpc-modules.sh)$
  test-upgrade-kfp-sdk: any of: ^(sdk/python/.*)|(test/presubmit-test-sdk-upgrade.sh)$
  test-kfp-runtime-code-python38: any of: ^(sdk/python/.*)|(test/presubmit-test-kfp-runtime-code.sh)$
  test-kfp-runtime-code-python39: any of: ^(sdk/python/.*)|(test/presubmit-test-kfp-runtime-code.sh)$
  test-kfp-runtime-code-python310: any of: ^(sdk/python/.*)|(test/presubmit-test-kfp-runtime-code.sh)$
  test-kfp-runtime-code-python311: any of: ^(sdk/python/.*)|(test/presubmit-test-kfp-runtime-code.sh)$
  test-kfp-runtime-code-python312: any of: ^(sdk/python/.*)|(test/presubmit-test-kfp-runtime-code.sh)$
