Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-mkp-test, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python37, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-manifests

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipelines-sdk-python36: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python36: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python37: any of: ^(components/google-cloud/.*)|(test/presubmit-components-google-cloud.sh)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(v2/.*)$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$

add release notes
  sdk/RELEASE.md
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36

add new line
  sdk/RELEASE.md
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36

capture if description is not accepted by server
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

add todo comment
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

fix(sdk.v2): Support dict, list, bool typed input parameters from constant values and pipeline inputs. (#6523)
  sdk/RELEASE.md
  sdk/python/kfp/dsl/_component_bridge.py
  sdk/python/kfp/v2/compiler/compiler.py
  sdk/python/kfp/v2/compiler/compiler_test.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/lightweight_python_functions_v2_pipeline.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/lightweight_python_functions_v2_pipeline.py
  sdk/python/kfp/v2/google/client/client_test.py
  sdk/python/kfp/v2/google/client/runtime_config_builder.py
  sdk/python/kfp/v2/google/client/runtime_config_builder_test.py
  sdk/python/kfp/v2/google/client/testdata/pipeline_job.json
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

update doc
  components/google-cloud/google_cloud_pipeline_components/aiplatform/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/forecasting/preprocess/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/forecasting/validate/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/wait_gcp_resources/__init__.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

update doc
  .readthedocs.yml
Due: none

update doc
  components/google-cloud/google_cloud_pipeline_components/experimental/forecasting/preprocess/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

update doc
  components/google-cloud/docs/source/google_cloud_pipeline_components.experimental.rst
  components/google-cloud/docs/source/index.rst
  components/google-cloud/google_cloud_pipeline_components/experimental/forecasting/preprocess/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/forecasting/validate/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

update doc
  components/google-cloud/google_cloud_pipeline_components/experimental/forecasting/preprocess/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/forecasting/validate/component.yaml
  components/google-cloud/google_cloud_pipeline_components/experimental/wait_gcp_resources/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

update doc
  components/google-cloud/google_cloud_pipeline_components/aiplatform/__init__.py
  components/google-cloud/google_cloud_pipeline_components/aiplatform/batch_predict_job/component.yaml
  components/google-cloud/google_cloud_pipeline_components/aiplatform/endpoint/create_endpoint/component.yaml
  components/google-cloud/google_cloud_pipeline_components/aiplatform/endpoint/deploy_model/component.yaml
  components/google-cloud/google_cloud_pipeline_components/aiplatform/model/upload_model/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

update doc
  components/google-cloud/google_cloud_pipeline_components/experimental/proto/README.md
Due: kubeflow-pipelines-components-google-cloud-python37

fix(backend): Fix connection lifetime default and variable names. (#6509)
  backend/src/apiserver/client_manager.go
  backend/src/apiserver/config/config.json
  manifests/kustomize/base/installs/generic/pipeline-install-config.yaml
  manifests/kustomize/base/pipeline/ml-pipeline-apiserver-deployment.yaml
Due: kubeflow-pipeline-backend-test, kubeflow-pipelines-manifests

Remove some data from model_status
  components/kubeflow/kfserving/src/kfservingdeployer.py
Due: none

increase kfp min version
  components/google-cloud/dependencies.py
Due: kubeflow-pipelines-components-google-cloud-python37

address comment
  frontend/src/pages/PipelineDetailsV2.tsx
Due: kubeflow-pipeline-frontend-test

update doc
  components/google-cloud/docs/source/google_cloud_pipeline_components.experimental.wait_gcp_resources.rst
Due: kubeflow-pipelines-components-google-cloud-python37

feat(frontend): Show Pipeline Spec in Pipeline Detail page. Fix #6279 (#6524)
  frontend/src/Css.tsx
  frontend/src/lib/Utils.tsx
  frontend/src/pages/PipelineDetails.tsx
  frontend/src/pages/PipelineDetailsV1.tsx
  frontend/src/pages/PipelineDetailsV2.tsx
Due: kubeflow-pipeline-frontend-test

Add error into gcp_resource proto
  components/google-cloud/google_cloud_pipeline_components/experimental/proto/gcp_resources.proto
Due: kubeflow-pipelines-components-google-cloud-python37

chore(components/pytorch): Samples - Cifar10 webdataset fix (#6516)
  samples/contrib/pytorch-samples/cifar10/cifar10_datamodule.py
Due: none

update doc
  .readthedocs.yml
  components/google-cloud/google_cloud_pipeline_components/experimental/proto/README.md
  components/google-cloud/google_cloud_pipeline_components/experimental/wait_gcp_resources/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

fix: Update typing checks to include Python3.6 deprecated types. (#6520)
  components/google-cloud/google_cloud_pipeline_components/aiplatform/utils.py
Due: kubeflow-pipelines-components-google-cloud-python37

Updated release notes
  sdk/RELEASE.md
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36

fix empty string not passed through
  sdk/python/kfp/v2/components/executor.py
  sdk/python/kfp/v2/components/executor_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

update doc
  .readthedocs.yml
  components/google-cloud/dependencies.py
Due: kubeflow-pipelines-components-google-cloud-python37

update release note
  sdk/RELEASE.md
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36

update doc
  components/google-cloud/google_cloud_pipeline_components/aiplatform/__init__.py
Due: kubeflow-pipelines-components-google-cloud-python37

update API docs source
  components/google-cloud/docs/source/google_cloud_pipeline_components.experimental.wait_gcp_resources.rst
  components/google-cloud/google_cloud_pipeline_components/aiplatform/__init__.py
  components/google-cloud/google_cloud_pipeline_components/experimental/wait_gcp_resources/__init__.py
Due: kubeflow-pipelines-components-google-cloud-python37

Add labels and error to the gcp_resources.proto
  components/google-cloud/google_cloud_pipeline_components/experimental/proto/gcp_resources.proto
Due: kubeflow-pipelines-components-google-cloud-python37

Address comment
  components/google-cloud/google_cloud_pipeline_components/experimental/proto/gcp_resources.proto
Due: kubeflow-pipelines-components-google-cloud-python37

update doc
  components/google-cloud/docs/source/google_cloud_pipeline_components.experimental.wait_gcp_resources.rst
  components/google-cloud/google_cloud_pipeline_components/aiplatform/batch_predict_job/component.yaml
  components/google-cloud/google_cloud_pipeline_components/aiplatform/endpoint/create_endpoint/component.yaml
  components/google-cloud/google_cloud_pipeline_components/aiplatform/endpoint/deploy_model/component.yaml
  components/google-cloud/google_cloud_pipeline_components/aiplatform/model/upload_model/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

update doc
  components/google-cloud/docs/source/google_cloud_pipeline_components.experimental.custom_job.rst
  components/google-cloud/docs/source/google_cloud_pipeline_components.experimental.rst
Due: kubeflow-pipelines-components-google-cloud-python37

update doc
  components/google-cloud/google_cloud_pipeline_components/experimental/wait_gcp_resources/component.yaml
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python37

Get short name of complex input/output types to ensure we can map to appropriate de|serializer
  sdk/RELEASE.md
  sdk/python/kfp/components/_components.py
  sdk/python/kfp/components/_data_passing.py
  sdk/python/kfp/components/_python_op.py
  sdk/python/kfp/v2/components/component_factory.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2
