Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*

fix swagger
  backend/api/hack/generator.sh
Due: none

address review comments
  sdk/python/kfp/v2/compiler/compiler.py
  sdk/python/kfp/v2/dsl/component_spec.py
  sdk/python/kfp/v2/dsl/component_spec_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

fix healthz endpoint & regenerate python client
  backend/api/hack/generator.sh
  backend/api/python_http_client/README.md
  backend/api/python_http_client/docs/ApiExperiment.md
  backend/api/python_http_client/docs/ApiExperimentStorageState.md
  backend/api/python_http_client/docs/ApiRun.md
  backend/api/python_http_client/docs/ApiRunStorageState.md
  backend/api/python_http_client/docs/ProtobufAny.md
  backend/api/python_http_client/kfp_server_api/__init__.py
  backend/api/python_http_client/kfp_server_api/models/__init__.py
  backend/api/python_http_client/kfp_server_api/models/api_experiment.py
  backend/api/python_http_client/kfp_server_api/models/api_experiment_storage_state.py
  backend/api/python_http_client/kfp_server_api/models/api_run.py
  backend/api/python_http_client/kfp_server_api/models/api_run_storage_state.py
  backend/api/python_http_client/kfp_server_api/models/protobuf_any.py
  backend/api/python_http_client/test/test_api_experiment_storage_state.py
  backend/api/python_http_client/test/test_api_run_storage_state.py
  backend/api/swagger/kfp_api_single_file.swagger.json
Due: none

chore(release): Update RELEASE.md
  RELEASE.md
Due: none

feat(sdk.v2): support dsl.Condition in v2. (#5127)
  sdk/python/kfp/v2/compiler/compiler.py
  sdk/python/kfp/v2/compiler/compiler_test.py
  sdk/python/kfp/v2/compiler_cli_tests/compiler_cli_tests.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_condition.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_condition.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_nested_conditions.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_nested_conditions.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_ontology.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_resource_spec.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_various_io_types.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/simple_pipeline_without_importer.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/two_step_pipeline_with_importer.json
  sdk/python/kfp/v2/dsl/__init__.py
  sdk/python/kfp/v2/dsl/_ops_group.py
  sdk/python/kfp/v2/dsl/_pipeline.py
  sdk/python/kfp/v2/dsl/component_spec.py
  sdk/python/kfp/v2/dsl/component_spec_test.py
  sdk/python/kfp/v2/dsl/type_utils.py
  sdk/python/kfp/v2/dsl/type_utils_test.py
  sdk/python/setup.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

chore(release): Update RELEASE.md (#5132)
  RELEASE.md
Due: none

fix kfp-pipeline-spec dependency
  api/v2alpha1/python/setup.py
Due: none

chore(api): Fix kfp-pipeline-spec dependency. Fixes #5134 (#5135)
  api/v2alpha1/python/setup.py
Due: none

Added Min and Max replica support to kfserving component
  components/kubeflow/kfserving/component.yaml
  components/kubeflow/kfserving/src/kfservingdeployer.py
Due: kubeflow-pipelines-component-yaml-v2

Delete sample.py.tar.gz
  components/kubeflow/launcher/sample.py.tar.gz
Due: none

Add requirements.txt for pytorch-launcher
  components/kubeflow/pytorch-launcher/requirements.txt
Due: none

Refactor pytorch-launcher component.yaml
  components/kubeflow/pytorch-launcher/component.yaml
Due: kubeflow-pipelines-component-yaml-v2

Add sample.py
  components/kubeflow/pytorch-launcher/sample.py
Due: none

Update README.md
  components/azure/azuresynapse/runsparkjob/README.md
Due: none

Add comments and document for using container registry other than ACR
  components/azure/azuresynapse/runsparkjob/README.md
  components/azure/azuresynapse/runsparkjob/sample.py
Due: none

Add escape character for writer.write() call in sample
  samples/tutorials/Data passing in python components.ipynb
Due: none

Change to upgrade KFP version in sample
  samples/tutorials/Data passing in python components.ipynb
Due: none

fix(samples): Update KFP version in sample to fix backslash recognization issue. (#5140)
  samples/tutorials/Data passing in python components.ipynb
Due: none

Show recurring run display name rather than ID
  frontend/src/lib/RunUtils.ts
  frontend/src/pages/RunList.test.tsx
  frontend/src/pages/RunList.tsx
  frontend/src/pages/__snapshots__/RunList.test.tsx.snap
Due: none

enhance get_parameter_type
  sdk/python/kfp/v2/dsl/type_utils.py
  sdk/python/kfp/v2/google/aiplatform.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

add tests
  sdk/python/kfp/v2/dsl/type_utils.py
  sdk/python/kfp/v2/dsl/type_utils_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

add get_ir_type and tests
  sdk/python/kfp/dsl/artifact.py
  sdk/python/tests/dsl/ontology_artifacts_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

add get_ir_type and tests
  sdk/python/kfp/v2/dsl/dsl_utils.py
  sdk/python/kfp/v2/dsl/dsl_utils_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

wip: implementing get_custom_job, without IO
  sdk/python/kfp/v2/google/aiplatform.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

add op IO
  sdk/python/kfp/v2/google/aiplatform.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

clean up
  sdk/python/kfp/v2/google/aiplatform.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2

chore: delete accidentally committed v2-in-v1 samples
  backend/src/v2-in-v1/samples/artifact_passing_by_uri.py
  backend/src/v2-in-v1/samples/artifact_passing_by_uri.py.yaml
Due: none

Update setup.py
  api/v2alpha1/python/setup.py
Due: none

Update pipeline_spec.proto
  api/v2alpha1/pipeline_spec.proto
Due: none

feat(api): Update pipeline_spec.proto - Add metadata to ArtifactSpec (#5143)
  api/v2alpha1/pipeline_spec.proto
Due: none

release(api): Bump kfp-pipeline-spec version to 0.1.6 (#5144)
  api/v2alpha1/python/setup.py
Due: none
