Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-mkp-test, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python37, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-manifests

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipelines-sdk-python36: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python36: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python37: any of: ^(components/google-cloud/.*)|(test/presubmit-components-google-cloud.sh)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(v2/.*)$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$

In BQ Predict/Eval components, enclose model name with `` for corner case that model name may container - in it.
  components/google-cloud/google_cloud_pipeline_components/container/experimental/gcp_launcher/bigquery_job_remote_runner.py
  components/google-cloud/tests/container/experimental/gcp_launcher/test_bigquery_job_remote_runner.py
Due: kubeflow-pipelines-components-google-cloud-python37

address comments
  samples/core/condition/condition.py
  samples/core/condition/condition_test.py
  samples/core/condition/condition_v2.py
  samples/v2/pipeline_with_importer_test.py
Due: kubeflow-pipelines-samples-v2

fix
  samples/core/condition/condition.py
  samples/core/condition/nested_condition_test.py
Due: none

test: use containerd as test cluster container runtime
  test/deploy-cluster.sh
Due: none

fix cache-deployer generate CSR with wrong usage
  backend/src/cache/deployer/webhook-create-signed-cert.sh
Due: kubeflow-pipeline-backend-test

test
  test/deploy-pipeline-lite.sh
Due: none

fix(manifests): Upgrade rbac to v1 for multi-user mode
  manifests/kustomize/base/installs/multi-user/api-service/cluster-role-binding.yaml
  manifests/kustomize/base/installs/multi-user/api-service/cluster-role.yaml
Due: kubeflow-pipelines-manifests

fix(manifests): Upgrade third_party CRDs to v1 for k8s 1.22
  manifests/kustomize/Makefile
  manifests/kustomize/third-party/application/cluster-scoped/application-crd.yaml
  manifests/kustomize/third-party/application/cluster-scoped/kustomization.yaml
  manifests/kustomize/third-party/metacontroller/base/crd.yaml
  manifests/kustomize/third-party/metacontroller/base/kustomization.yaml
Due: kubeflow-pipelines-manifests

attempt to fix sample test
  test/sample-test/check_notebook_results.py
Due: none

feat(sdk): add metadata
  sdk/python/kfp/v2/compiler/pipeline_spec_builder.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_importer.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_importer.py
  sdk/python/kfp/v2/components/importer_node.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-samples-v2

feat(v2): control flow - conditional (#7088)
  samples/core/condition/condition.py
  samples/core/condition/condition_test.py
  samples/core/condition/condition_v2.py
  samples/core/condition/nested_condition_test.py
  samples/core/resource_spec/resource_spec_v2.py
  samples/test/config.yaml
  samples/v2/pipeline_with_importer_test.py
  v2/Makefile
  v2/cmd/driver/main.go
  v2/cmd/launcher-v2/main.go
  v2/compiler/argo.go
  v2/compiler/argo_test.go
  v2/compiler/container.go
  v2/compiler/dag.go
  v2/compiler/importer.go
  v2/compiler/testdata/hello_world.yaml
  v2/component/importer_launcher.go
Due: kubeflow-pipelines-samples-v2

refactor(v2/compiler): move argo backend compiler to compiler/argocompiler package
  v2/Makefile
  v2/cmd/compiler/main.go
  v2/compiler/argo_test.go
  v2/compiler/argocompiler/argo.go
  v2/compiler/argocompiler/argo_test.go
  v2/compiler/argocompiler/common.go
  v2/compiler/argocompiler/container.go
  v2/compiler/argocompiler/dag.go
  v2/compiler/argocompiler/importer.go
  v2/compiler/argocompiler/proto.go
  v2/compiler/argocompiler/testdata/hello_world.yaml
  v2/compiler/argocompiler/testdata/importer.yaml
  v2/compiler/visitor.go
Due: kubeflow-pipelines-samples-v2

feat(backend): Upgrade go client for MLMD to 1.5.0
  third_party/ml-metadata/README.md
  third_party/ml-metadata/go.mod
  third_party/ml-metadata/go.sum
  third_party/ml-metadata/go/ml_metadata/metadata_store.pb.go
  third_party/ml-metadata/go/ml_metadata/metadata_store_service.pb.go
Due: none

feat(frontend): Upgrade MLMD client to 1.5.0
  frontend/src/third_party/mlmd/generated/ml_metadata/proto/metadata_store_service_grpc_web_pb.d.ts
  frontend/src/third_party/mlmd/generated/ml_metadata/proto/metadata_store_service_grpc_web_pb.js
Due: kubeflow-pipeline-frontend-test

feat(backend): Upgrade go client for MLMD to 1.5.0. Partial #7029 (#7101)
  third_party/ml-metadata/README.md
  third_party/ml-metadata/go.mod
  third_party/ml-metadata/go.sum
  third_party/ml-metadata/go/ml_metadata/metadata_store.pb.go
  third_party/ml-metadata/go/ml_metadata/metadata_store_service.pb.go
Due: none

feat(frontend): Upgrade MLMD client to 1.5.0. Partial #7029 (#7102)
  frontend/src/third_party/mlmd/generated/ml_metadata/proto/metadata_store_service_grpc_web_pb.d.ts
  frontend/src/third_party/mlmd/generated/ml_metadata/proto/metadata_store_service_grpc_web_pb.js
Due: kubeflow-pipeline-frontend-test

feat(v2): Ugrade MLMD in golang to 1.5.0
  v2/go.mod
  v2/go.sum
Due: kubeflow-pipelines-samples-v2

update doc and go.sum
  third_party/ml-metadata/README.md
  v2/go.sum
Due: kubeflow-pipelines-samples-v2

upgrade reference
  third_party/ml-metadata/README.md
Due: none

update requirements
  backend/requirements.txt
  backend/src/apiserver/visualization/requirements.txt
  test/sample-test/requirements.txt
Due: kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-backend-test, kubeflow-pipelines-backend-visualization

change owner
  OWNERS
  backend/OWNERS
  backend/api/Makefile
  test/api-integration-test/OWNERS
  test/release/Makefile
  v2/OWNERS
Due: kubeflow-pipeline-backend-test, kubeflow-pipelines-samples-v2

refactor(v2): move argo backend compiler to compiler/argocompiler package (#7100)
  v2/Makefile
  v2/cmd/compiler/main.go
  v2/compiler/argo_test.go
  v2/compiler/argocompiler/argo.go
  v2/compiler/argocompiler/argo_test.go
  v2/compiler/argocompiler/common.go
  v2/compiler/argocompiler/container.go
  v2/compiler/argocompiler/dag.go
  v2/compiler/argocompiler/importer.go
  v2/compiler/argocompiler/proto.go
  v2/compiler/argocompiler/testdata/hello_world.yaml
  v2/compiler/argocompiler/testdata/importer.yaml
  v2/compiler/visitor.go
Due: kubeflow-pipelines-samples-v2

fix(manifests): Upgrade rbac to v1 for multi-user mode (#7097)
  manifests/kustomize/base/installs/multi-user/api-service/cluster-role-binding.yaml
  manifests/kustomize/base/installs/multi-user/api-service/cluster-role.yaml
Due: kubeflow-pipelines-manifests

fix error
  v2/test/Dockerfile
Due: kubeflow-pipelines-samples-v2

clean up more usages of v2 compatible
  samples/test/utils/kfp/samples/test/utils.py
  v2/test/components/build_go.yaml
  v2/test/components/run_sample.yaml
  v2/test/sample_test.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-samples-v2

fix presubmit
  v2/test/presubmit-v2-go-test.sh
Due: kubeflow-pipelines-samples-v2

refactor(v2): remove v2 compatible related code
  v2/Makefile
  v2/README.md
  v2/cmd/launcher/main.go
  v2/component/launcher.go
  v2/component/launcher_v2.go
  v2/component/runtime_info.go
  v2/component/runtime_info_test.go
  v2/container/launcher/Dockerfile
  v2/third_party/licenses/launcher.csv
Due: kubeflow-pipelines-samples-v2

fix
  v2/objectstore/object_store.go
Due: kubeflow-pipelines-samples-v2

refactor(v2): remove v2 compatible related code (#7103)
  samples/test/utils/kfp/samples/test/utils.py
  v2/Makefile
  v2/README.md
  v2/cmd/launcher/main.go
  v2/component/launcher.go
  v2/component/launcher_v2.go
  v2/component/runtime_info.go
  v2/component/runtime_info_test.go
  v2/container/launcher/Dockerfile
  v2/objectstore/object_store.go
  v2/test/components/build_go.yaml
  v2/test/components/run_sample.yaml
  v2/test/presubmit-v2-go-test.sh
  v2/test/sample_test.py
  v2/third_party/licenses/launcher.csv
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-samples-v2

tests: Try to figure out what causes test failing to find kfp
  backend/requirements.txt
  backend/src/apiserver/visualization/requirements.txt
  test/sample-test/Dockerfile
  test/sample-test/requirements.txt
Due: kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-backend-test, kubeflow-pipelines-backend-visualization
