Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python38, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-v2-go-test, kubeflow-pipelines-manifests

kubeflow-pipelines-sdk-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27-v2:
  decorate: true
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-backend-visualization-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

kubeflow-pipeline-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node:12
      command:
      - /bin/sh
      args:
      - -c
      - cd ./frontend && npm run test:ci:prow

kubeflow-pipeline-backend-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.17.6-bullseye
      command:
      - ./test/presubmit-backend-test.sh

kubeflow-pipeline-e2e-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-with-pipeline-deployment.sh
      args:
      - --workflow_file
      - e2e_test_gke_v2.yaml
      - --test_result_folder
      - e2e_test

kubeflow-pipeline-mkp-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-mkp.sh

kubeflow-pipeline-mkp-snapshot-test:
  decorate: true
  spec:
    containers:
    - image: bash:alpine3.14
      command:
      - bash
      args:
      - ./manifests/gcp_marketplace/test/presubmit.sh

kubeflow-pipeline-upgrade-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/upgrade-tests.sh
      args:
      - --test_result_folder
      - upgrade_test

kubeflow-pipelines-sdk-python37:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

test(components): INTERNAL
  components/google-cloud/google_cloud_pipeline_components/v1/custom_job/template_in_gallery/component_info.textproto
Due: kubeflow-pipelines-components-google-cloud-python38

temporarily disable frontend license tool
  frontend/Dockerfile
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Update Dockerfile
  frontend/Dockerfile
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Make the text in YAML tab preview in v1 pipeline details more readable.
  frontend/src/pages/PipelineDetailsV1.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

uggrade to node 18
  frontend/Dockerfile
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

chore: temporarily disable frontend license tool (#9509)
  frontend/Dockerfile
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

fix(frontend): Run name should be empty if no pipeline is selected (#9497)
  frontend/src/pages/NewRun.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

publish launcher execution
  backend/src/v2/component/launcher_v2.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-samples-v2, kubeflow-pipelines-v2-go-test

Add documentation.
  frontend/src/pages/PipelineDetailsV1.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

feature(frontend): Support non-English characters and special characters in pipeline "display" name (#9461)
  frontend/src/pages/NewPipelineVersion.test.tsx
  frontend/src/pages/NewPipelineVersion.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

fix(frontend): Toolbar in pipeline details (from run) should only have "Clone run" button (#9467)
  frontend/src/pages/PipelineDetails.test.tsx
  frontend/src/pages/PipelineDetails.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

fix(frontend): Incorrect selected version in summary card (#9463)
  frontend/src/pages/PipelineDetails.tsx
  frontend/src/pages/PipelineDetailsV2.test.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

fix(frontend): Choose button is disable even if pipeline is already selected (after uploading a new pipeline) (#9499)
  frontend/src/pages/NewRun.test.tsx
  frontend/src/pages/NewRun.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

feat(components): add a check for model garden models and skip eval import
  components/google-cloud/google_cloud_pipeline_components/container/experimental/evaluation/import_model_evaluation.py
Due: kubeflow-pipelines-components-google-cloud-python38

docs(components): additional GCPC reference documentation change
  components/google-cloud/docs/source/api/experimental/automl/forecasting.rst
  components/google-cloud/docs/source/api/experimental/automl/index.rst
  components/google-cloud/docs/source/api/experimental/automl/tabular.rst
  components/google-cloud/docs/source/api/experimental/bigquery.rst
  components/google-cloud/docs/source/api/experimental/custom_job.rst
  components/google-cloud/docs/source/api/experimental/dataflow.rst
  components/google-cloud/docs/source/api/experimental/dataproc.rst
  components/google-cloud/docs/source/api/experimental/dataset.rst
  components/google-cloud/docs/source/api/experimental/evaluation/error_analysis.rst
  components/google-cloud/docs/source/api/experimental/evaluation/index.rst
  components/google-cloud/docs/source/api/experimental/forecasting.rst
  components/google-cloud/docs/source/api/experimental/hyperparameter_tuning_job.rst
  components/google-cloud/docs/source/api/experimental/index.rst
  components/google-cloud/docs/source/api/experimental/model.rst
  components/google-cloud/docs/source/api/experimental/natural_language.rst
  components/google-cloud/docs/source/api/experimental/notebooks.rst
  components/google-cloud/docs/source/api/experimental/sklearn.rst
  components/google-cloud/docs/source/api/experimental/tensorboard.rst
  components/google-cloud/docs/source/api/experimental/text_classification.rst
  components/google-cloud/docs/source/api/experimental/vertex_notification_email.rst
  components/google-cloud/docs/source/api/experimental/vertex_prompt_validation.rst
  components/google-cloud/docs/source/api/experimental/wait_gcp_resources.rst
  components/google-cloud/docs/source/api/index.rst
  components/google-cloud/docs/source/api/v1/bigquery.rst
  components/google-cloud/google_cloud_pipeline_components/v1/automl/training_job/__init__.py
  components/google-cloud/google_cloud_pipeline_components/v1/batch_predict_job/__init__.py
  components/google-cloud/google_cloud_pipeline_components/v1/bigquery/__init__.py
  components/google-cloud/google_cloud_pipeline_components/v1/custom_job/__init__.py
  components/google-cloud/google_cloud_pipeline_components/v1/dataflow/__init__.py
  components/google-cloud/google_cloud_pipeline_components/v1/dataproc/__init__.py
  components/google-cloud/google_cloud_pipeline_components/v1/dataset/__init__.py
  components/google-cloud/google_cloud_pipeline_components/v1/endpoint/__init__.py
  components/google-cloud/google_cloud_pipeline_components/v1/forecasting/__init__.py
  components/google-cloud/google_cloud_pipeline_components/v1/hyperparameter_tuning_job/__init__.py
  components/google-cloud/google_cloud_pipeline_components/v1/model/__init__.py
  components/google-cloud/google_cloud_pipeline_components/v1/vertex_notification_email/__init__.py
  components/google-cloud/google_cloud_pipeline_components/v1/wait_gcp_resources/__init__.py
Due: kubeflow-pipelines-components-google-cloud-python38

Fix the logic in PipelineSpecTabContent rather than convert the v1 template to yaml in the parent component <PipelineDetailsV1>
  frontend/src/components/PipelineSpecTabContent.tsx
  frontend/src/pages/PipelineDetailsV1.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Remove the v2 template check in PipelineSpecTabContent.
  frontend/src/components/PipelineSpecTabContent.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Remove unused import
  frontend/src/components/PipelineSpecTabContent.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

fix(frontend): Make pipeline definition in YAML tab more readable (#9511)
  frontend/src/components/PipelineSpecTabContent.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Catch the error thrown by parseStoragePath(). Directly render unsupported URI rather than showing banner error.
  frontend/src/components/ArtifactPreview.test.tsx
  frontend/src/components/ArtifactPreview.tsx
  frontend/src/components/tabs/RuntimeNodeDetailsV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Change back to render banner but not error mode. Use info mode instead.
  frontend/src/components/ArtifactPreview.test.tsx
  frontend/src/components/ArtifactPreview.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

docs(components): shorten object symbol representation in GCPC docs
  components/google-cloud/docs/source/api/v1/automl/training_job.rst
  components/google-cloud/docs/source/api/v1/batch_predict_job.rst
  components/google-cloud/docs/source/api/v1/bigquery.rst
  components/google-cloud/docs/source/api/v1/custom_job.rst
  components/google-cloud/docs/source/api/v1/dataflow.rst
  components/google-cloud/docs/source/api/v1/dataproc.rst
  components/google-cloud/docs/source/api/v1/dataset.rst
  components/google-cloud/docs/source/api/v1/endpoint.rst
  components/google-cloud/docs/source/api/v1/forecasting.rst
  components/google-cloud/docs/source/api/v1/hyperparameter_tuning_job.rst
  components/google-cloud/docs/source/api/v1/model.rst
  components/google-cloud/docs/source/api/v1/vertex_notification_email.rst
  components/google-cloud/docs/source/api/v1/wait_gcp_resources.rst
  components/google-cloud/docs/source/conf.py
Due: kubeflow-pipelines-components-google-cloud-python38

chore(components): GCPC v2.0.0b4 release
  components/google-cloud/RELEASE.md
  components/google-cloud/docs/source/conf.py
  components/google-cloud/google_cloud_pipeline_components/container/Dockerfile
  components/google-cloud/google_cloud_pipeline_components/container/cloudbuild.yaml
  components/google-cloud/google_cloud_pipeline_components/version.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-e2e-test: any of: ^(frontend/.*)|(backend/.*)|(proxy/.*)|(manifests/kustomize/.*)|(test/.*)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipeline-mkp-snapshot-test: any of: ^(manifests/gcp_marketplace/.*)$
  kubeflow-pipeline-upgrade-test: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python37: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python38: any of: ^(components/google-cloud/.*)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(samples/.*)|(backend/src/v2/.*)$
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-v2-go-test: any of: ^backend/src/v2/.*$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$
