Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-manifests, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests, kfp-kubernetes-test-python37, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311, kfp-dsl-runtime-code-test-python37, kfp-dsl-runtime-code-test-python38, kfp-dsl-runtime-code-test-python39, kfp-dsl-runtime-code-test-python310, kfp-dsl-runtime-code-test-python311

kubeflow-pipelines-sdk-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27-v2:
  decorate: true
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-backend-visualization-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

kubeflow-pipeline-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node:14
      command:
      - /bin/sh
      args:
      - -c
      - cd ./frontend && npm run test:ci:prow

kubeflow-pipeline-backend-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.20-bullseye
      command:
      - ./test/presubmit-backend-test.sh

kubeflow-pipeline-e2e-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-with-pipeline-deployment.sh
      args:
      - --workflow_file
      - e2e_test_gke_v2.yaml
      - --test_result_folder
      - e2e_test

kubeflow-pipeline-mkp-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-mkp.sh

kubeflow-pipeline-mkp-snapshot-test:
  decorate: true
  spec:
    containers:
    - image: bash:alpine3.14
      command:
      - bash
      args:
      - ./manifests/gcp_marketplace/test/presubmit.sh

kubeflow-pipeline-upgrade-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/upgrade-tests.sh
      args:
      - --test_result_folder
      - upgrade_test

kubeflow-pipelines-sdk-python37:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

feat(Backend + SDK): Update kfp backend and kubernetes sdk to support ImagePullSecrets (#10427)
  backend/src/v2/driver/driver.go
  backend/src/v2/driver/driver_test.go
  backend/third_party_licenses/driver.csv
  go.mod
  go.sum
  kubernetes_platform/python/kfp/kubernetes/__init__.py
  kubernetes_platform/python/kfp/kubernetes/image.py
  kubernetes_platform/python/test/snapshot/data/image_pull_secrets.py
  kubernetes_platform/python/test/snapshot/data/image_pull_secrets.yaml
  kubernetes_platform/python/test/unit/test_image_pull_secrets.py
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-samples-v2, kfp-kubernetes-test-python37, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311

Fix(backend): fix timeout for internal server error. Fixes #10267 (#10439)
  backend/src/apiserver/resource/resource_manager.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2

fix(backend): get pipeline by name is broken due to version typo, Fixes #9940 (#10268)
  backend/src/apiserver/server/pipeline_server.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2

feat(kubernetes_platform): Update kubernetes_platform go package to include ConfigMaps as volumes and as env variables. (#10400)
  kubernetes_platform/go/kubernetesplatform/kubernetes_executor_config.pb.go
  kubernetes_platform/proto/kubernetes_executor_config.proto
Due: kfp-kubernetes-test-python37, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311

feat(Backend + SDK): Update kfp backend and kubernetes sdk to support pod labels and annotations (#10393)
  backend/src/v2/compiler/argocompiler/argo_test.go
  backend/src/v2/compiler/argocompiler/container.go
  backend/src/v2/compiler/argocompiler/container_test.go
  backend/src/v2/compiler/argocompiler/dag.go
  backend/src/v2/compiler/argocompiler/testdata/create_pod_metadata.yaml
  backend/src/v2/compiler/testdata/create_pod_metadata.json
  backend/third_party_licenses/apiserver.csv
  kubernetes_platform/python/README.md
  kubernetes_platform/python/kfp/kubernetes/__init__.py
  kubernetes_platform/python/kfp/kubernetes/pod_metadata.py
  kubernetes_platform/python/test/unit/test_pod_metadata.py
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-samples-v2, kfp-kubernetes-test-python37, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311

update go.mod and the csv files
  backend/third_party_licenses/apiserver.csv
  backend/third_party_licenses/driver.csv
  go.mod
  go.sum
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2

update go.sum
  go.sum
Due: kubeflow-pipeline-e2e-test

backend update and unittests
  backend/src/v2/driver/driver.go
  backend/src/v2/driver/driver_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-samples-v2

fix ConfigMapVolumeSource
  backend/src/v2/driver/driver.go
  backend/src/v2/driver/driver_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-samples-v2

Update kfp backend and kubernetes sdk to support ConfigMaps as volumes and as env
  backend/src/v2/driver/driver.go
  backend/src/v2/driver/driver_test.go
  kubernetes_platform/python/README.md
  kubernetes_platform/python/kfp/kubernetes/__init__.py
  kubernetes_platform/python/kfp/kubernetes/config_map.py
  kubernetes_platform/python/test/unit/test_config_map.py
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kubeflow-pipelines-samples-v2, kfp-kubernetes-test-python37, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311

update go.mod, apiserver.csv and driver.csv
  backend/third_party_licenses/apiserver.csv
  backend/third_party_licenses/driver.csv
  go.mod
  go.sum
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2

add test/snapshot/data files
  kubernetes_platform/python/test/snapshot/data/config_map_as_env.py
  kubernetes_platform/python/test/snapshot/data/config_map_as_env.yaml
  kubernetes_platform/python/test/snapshot/data/config_map_as_vol.py
  kubernetes_platform/python/test/snapshot/data/config_map_as_vol.yaml
Due: kubeflow-pipeline-e2e-test, kfp-kubernetes-test-python37, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311

SageMaker Component test fixes
  components/aws/sagemaker/tests/integration_tests/scripts/run_integration_tests
Due: none

feat(components): replace value_exists
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/rlhf_preprocess.py
Due: kubeflow-pipelines-components-google-cloud-python38

test(components): Reduce sagemaker component test flakiness (#10225)
  components/aws/sagemaker/tests/integration_tests/scripts/run_integration_tests
Due: none

chore(sdk): release KFP SDK 2.7.0 (#10461)
  docs/conf.py
  sdk/RELEASE.md
  sdk/python/kfp/__init__.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

fix(components): Use PipelineJob location in AutoSxS components, add init file
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/generated/__init__.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/model_evaluation_text_generation_pairwise.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/online_evaluation_pairwise.py
Due: kubeflow-pipelines-components-google-cloud-python38

fix tests
  backend/third_party_licenses/apiserver.csv
  kubernetes_platform/python/kfp/kubernetes/__init__.py
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2, kfp-kubernetes-test-python37, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311

go mod tidy
  go.sum
Due: kubeflow-pipeline-e2e-test

update backend/third_party_licenses/apiserver.csv
  backend/third_party_licenses/apiserver.csv
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2

add support for k8s FieldPath as env
  kubernetes_platform/go/kubernetesplatform/kubernetes_executor_config.pb.go
  kubernetes_platform/proto/kubernetes_executor_config.proto
Due: kfp-kubernetes-test-python37, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311

Add Tomcli as a backend approver
  backend/OWNERS
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2

feat(kubernetes_platform): Add k8s FieldPath as env to the kubernetes_platform (#10485)
  kubernetes_platform/go/kubernetesplatform/kubernetes_executor_config.pb.go
  kubernetes_platform/proto/kubernetes_executor_config.proto
Due: kfp-kubernetes-test-python37, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311

feat(components): Added experimental args to batch_prediction_pairwise component
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/batch_prediction_pairwise.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/llm/online_evaluation_pairwise.py
  components/google-cloud/google_cloud_pipeline_components/preview/model_evaluation/model_based_llm_evaluation/autosxs/autosxs_pipeline.py
Due: kubeflow-pipelines-components-google-cloud-python38

chore: Add Tomcli as a backend approver (#10490)
  backend/OWNERS
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipeline-upgrade-test-v2

chore(components): Sync AutoML components
  components/google-cloud/google_cloud_pipeline_components/preview/automl/forecasting/forecasting_ensemble.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/forecasting/forecasting_stage_1_tuner.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/forecasting/forecasting_stage_2_tuner.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/forecasting/learn_to_learn_forecasting_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/forecasting/sequence_to_sequence_forecasting_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/forecasting/temporal_fusion_transformer_forecasting_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/forecasting/time_series_dense_encoder_forecasting_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/auto_feature_engineering.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/automl_tabular_feature_selection_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/automl_tabular_v2_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/distillation_stage_feature_transform_engine.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/feature_selection.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/feature_selection_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/feature_transform_engine.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/tabnet_hyperparameter_tuning_job.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/tabnet_hyperparameter_tuning_job_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/tabnet_trainer.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/tabnet_trainer_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/wide_and_deep_hyperparameter_tuning_job.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/wide_and_deep_hyperparameter_tuning_job_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/wide_and_deep_trainer.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/wide_and_deep_trainer_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/xgboost_hyperparameter_tuning_job_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/xgboost_trainer_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/automl/forecasting/bqml_arima_predict_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/automl/forecasting/bqml_arima_train_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/automl/forecasting/prophet_predict_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/automl/forecasting/prophet_trainer.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/forecasting/prophet_trainer_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/automl_tabular_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/cv_trainer.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/ensemble.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/finalizer.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/infra_validator.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/split_materialized_data.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/stage_1_tuner.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/stats_and_example_gen.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/training_configurator_and_validator.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/transform.py
Due: kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-google-cloud-python38

add LoopArgumentVariable check
  sdk/python/kfp/dsl/for_loop.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-sdk-python310, kubeflow-pipelines-sdk-python311, kubeflow-pipelines-component-yaml, kubeflow-pipelines-sdk-isort, kubeflow-pipelines-sdk-yapf, kubeflow-pipelines-sdk-docformatter, kubeflow-pipelines-sdk-execution-tests

feat(kubernetes_platform): Add ActiveDeadlineSeconds(timeout) to the kubernetes platform spec (#10464)
  kubernetes_platform/go/kubernetesplatform/kubernetes_executor_config.pb.go
  kubernetes_platform/proto/kubernetes_executor_config.proto
Due: kfp-kubernetes-test-python37, kfp-kubernetes-test-python38, kfp-kubernetes-test-python39, kfp-kubernetes-test-python310, kfp-kubernetes-test-python311

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-e2e-test: any of: ^(frontend/.*)|(backend/.*)|(proxy/.*)|(manifests/kustomize/.*)|(test/.*)|go.mod|go.sum$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipeline-mkp-snapshot-test: any of: ^(manifests/gcp_marketplace/.*)$
  kubeflow-pipeline-upgrade-test: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipeline-upgrade-test-v2: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python310: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python311: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)|(sdk/python/.*)$
  kubeflow-pipelines-components-google-cloud-python38: any of: ^(components/google-cloud/.*)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(samples/.*)|(backend/src/v2/.*)$
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$
  kubeflow-pipelines-sdk-isort: any of: ^(sdk/python/.*)|(test/presubmit-isort-sdk.sh)$
  kubeflow-pipelines-sdk-yapf: any of: ^(sdk/python/.*)|(test/presubmit-yapf-sdk.sh)$
  kubeflow-pipelines-sdk-docformatter: any of: ^(sdk/python/.*)|(test/presubmit-docformatter-sdk.sh)$
  kubeflow-pipelines-sdk-execution-tests: any of: ^(sdk/python/.*)|(test/presubmit-sdk-execution-tests.sh)$
  kfp-kubernetes-test-python37: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-test-python38: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-test-python39: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-test-python310: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-kubernetes-test-python311: any of: ^(kubernetes_platform/.*)|(test/presubmit-test-kfp-kubernetes-library.sh)$
  kfp-dsl-runtime-code-test-python37: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
  kfp-dsl-runtime-code-test-python38: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
  kfp-dsl-runtime-code-test-python39: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
  kfp-dsl-runtime-code-test-python310: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
  kfp-dsl-runtime-code-test-python311: any of: ^(sdk/python/kfp-dsl/.*)|(test/presubmit-test-kfp-dsl-runtime-code.sh)$
