Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python38, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-v2-go-test, kubeflow-pipelines-manifests

kubeflow-pipelines-sdk-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27-v2:
  decorate: true
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-backend-visualization-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

kubeflow-pipeline-frontend-test:
  decorate: true
  spec:
    containers:
    - image: node:12
      command:
      - /bin/sh
      args:
      - -c
      - cd ./frontend && npm run test:ci:prow

kubeflow-pipeline-backend-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.17.6-bullseye
      command:
      - ./test/presubmit-backend-test.sh

kubeflow-pipeline-e2e-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-with-pipeline-deployment.sh
      args:
      - --workflow_file
      - e2e_test_gke_v2.yaml
      - --test_result_folder
      - e2e_test

kubeflow-pipeline-mkp-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/presubmit-tests-mkp.sh

kubeflow-pipeline-mkp-snapshot-test:
  decorate: true
  spec:
    containers:
    - image: bash:alpine3.14
      command:
      - bash
      args:
      - ./manifests/gcp_marketplace/test/presubmit.sh

kubeflow-pipeline-upgrade-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20210113-cc576af-master
      command:
      - ./test/upgrade-tests.sh
      args:
      - --test_result_folder
      - upgrade_test

kubeflow-pipelines-sdk-python37:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

Remove dependency on Twitter's private artifactory
  frontend/package-lock.json
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

feat(components): Output imported evaluation resource name in ImportModelEvaluationOp
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/import_evaluation/component.py
  components/google-cloud/google_cloud_pipeline_components/container/_implementation/model_evaluation/import_model_evaluation.py
Due: kubeflow-pipelines-components-google-cloud-python38

address review feedback
  sdk/python/install_from_source.sh
  sdk/python/kfp-dsl/runtime_tests/execute_commands_args_test.py
  sdk/python/kfp-dsl/runtime_tests/import_objects_test.py
  sdk/python/kfp-dsl/setup.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

chore(components): move output artifact util to common utils dir
  components/google-cloud/google_cloud_pipeline_components/container/_implementation/model/get_model/get_model.py
  components/google-cloud/google_cloud_pipeline_components/container/utils/artifact_utils.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/batch_prediction_job/remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/bigquery/create_model/remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/bigquery/evaluate_model/remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/bigquery/feature_importance/remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/bigquery/ml_advanced_weights/remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/bigquery/ml_arima_coefficients/remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/bigquery/ml_arima_evaluate/remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/bigquery/ml_centroids/remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/bigquery/ml_feature_info/remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/bigquery/ml_training_info/remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/bigquery/ml_trial_info/remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/bigquery/ml_weights/remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/bigquery/utils/bigquery_util.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/endpoint/create_endpoint/remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/container/v1/model/upload_model/remote_runner.py
Due: kubeflow-pipelines-components-google-cloud-python38

release kfp sdk 2.1.0
  docs/conf.py
  sdk/RELEASE.md
  sdk/python/kfp/__init__.py
  sdk/python/kfp/compiler/compiler_test.py
  sdk/python/kfp/compiler/read_write_test.py
  sdk/python/requirements.in
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

chore(sdk): release KFP SDK 2.1.0 (#9782)
  docs/conf.py
  sdk/RELEASE.md
  sdk/python/kfp/__init__.py
  sdk/python/kfp/compiler/compiler_test.py
  sdk/python/kfp/compiler/read_write_test.py
  sdk/python/requirements.in
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

specify kfp-dsl version directly
  sdk/python/kfp-dsl/setup.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

make presubmit test executable
  test/presubmit-test-kfp-dsl-runtime-code.sh
Due: kubeflow-pipeline-e2e-test

add yaml requirement
  test/presubmit-test-kfp-dsl-runtime-code.sh
Due: kubeflow-pipeline-e2e-test

assorted test and import fixes
  sdk/python/kfp-dsl/kfp/dsl/structures.py
  sdk/python/kfp-dsl/kfp/dsl/types/type_utils.py
  sdk/python/kfp-dsl/runtime_tests/execute_commands_args_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

test(components): internal
  components/google-cloud/google_cloud_pipeline_components/v1/batch_predict_job/component.py
Due: kubeflow-pipelines-components-google-cloud-python38

fix(sdk): various kfp-dsl fixes (#9785)
  sdk/python/kfp-dsl/kfp/dsl/structures.py
  sdk/python/kfp-dsl/kfp/dsl/types/type_utils.py
  sdk/python/kfp-dsl/runtime_tests/execute_commands_args_test.py
  sdk/python/kfp-dsl/setup.py
  test/presubmit-test-kfp-dsl-runtime-code.sh
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipeline-e2e-test, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

chore(sdk): release KFP SDK 2.1.1
  docs/conf.py
  sdk/RELEASE.md
  sdk/python/kfp-dsl/setup.py
  sdk/python/kfp/__init__.py
  sdk/python/requirements.in
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

chore(sdk): release KFP SDK 2.1.1 (#9787)
  docs/conf.py
  sdk/RELEASE.md
  sdk/python/kfp-dsl/setup.py
  sdk/python/kfp/__init__.py
  sdk/python/requirements.in
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

chore(components): add project_id and location placeholders as GCPC implementation utility
  components/google-cloud/google_cloud_pipeline_components/_placeholders.py
Due: kubeflow-pipelines-components-google-cloud-python38

chore(components): release GCPC v2.1.1
  components/google-cloud/Dockerfile
  components/google-cloud/RELEASE.md
  components/google-cloud/docs/source/versions.json
  components/google-cloud/google_cloud_pipeline_components/version.py
Due: kubeflow-pipelines-components-google-cloud-python38

Update periodic kfp_functional_test to work with kfp=2.0.1
  test/kfp-functional-test/constants.py
  test/kfp-functional-test/requirements.in
  test/kfp-functional-test/run_kfp_functional_test.py
Due: kubeflow-pipeline-e2e-test

fix(sdk): fix GCPC break in KFP SDK
  sdk/python/kfp/components/__init__.py
  test/gcpc-tests/run_all_gcpc_modules.py
  test/presubmit-test-run-all-gcpc-modules.sh
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipeline-e2e-test, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

chore(components): Update evaluation component type hints to be Python3.7 compatible
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/data_sampler/component.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/dataset_preprocessor/component.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/import_evaluation/component.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/llm_evaluation/component.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/target_field_data_remover/component.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/utils.py
  components/google-cloud/google_cloud_pipeline_components/preview/model_evaluation/data_bias_component.py
  components/google-cloud/google_cloud_pipeline_components/v1/model_evaluation/classification_component.py
  components/google-cloud/google_cloud_pipeline_components/v1/model_evaluation/error_analysis_pipeline.py
  components/google-cloud/google_cloud_pipeline_components/v1/model_evaluation/evaluated_annotation_pipeline.py
  components/google-cloud/google_cloud_pipeline_components/v1/model_evaluation/evaluation_automl_tabular_feature_attribution_pipeline.py
  components/google-cloud/google_cloud_pipeline_components/v1/model_evaluation/evaluation_automl_tabular_pipeline.py
  components/google-cloud/google_cloud_pipeline_components/v1/model_evaluation/evaluation_automl_unstructure_data_pipeline.py
  components/google-cloud/google_cloud_pipeline_components/v1/model_evaluation/evaluation_feature_attribution_pipeline.py
  components/google-cloud/google_cloud_pipeline_components/v1/model_evaluation/forecasting_component.py
  components/google-cloud/google_cloud_pipeline_components/v1/model_evaluation/regression_component.py
Due: kubeflow-pipelines-components-google-cloud-python38

fix(components): Update package import for google protobuf
  components/google-cloud/google_cloud_pipeline_components/preview/model_evaluation/utils.py
Due: kubeflow-pipelines-components-google-cloud-python38

feat(components): Implement LLM Safety Bias Component & E2E tests
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/__init__.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/rai_safety/__init__.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/rai_safety/llm_safety_bias/__init__.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/rai_safety/llm_safety_bias/component.py
  components/google-cloud/google_cloud_pipeline_components/_implementation/model_evaluation/rai_safety/safety_metrics_pipeline.py
Due: kubeflow-pipelines-components-google-cloud-python38

fix(sdk): fix GCPC break in KFP SDK (#9791)
  sdk/python/kfp/components/__init__.py
  test/gcpc-tests/run_all_gcpc_modules.py
  test/presubmit-test-run-all-gcpc-modules.sh
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipeline-e2e-test, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

chore(sdk): release KFP SDK 2.1.2
  docs/conf.py
  sdk/RELEASE.md
  sdk/python/kfp-dsl/setup.py
  sdk/python/kfp/__init__.py
  sdk/python/requirements.in
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

chore(sdk): release KFP SDK 2.1.2 (#9797)
  docs/conf.py
  sdk/RELEASE.md
  sdk/python/kfp-dsl/setup.py
  sdk/python/kfp/__init__.py
  sdk/python/requirements.in
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-samples-v2

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-e2e-test: any of: ^(frontend/.*)|(backend/.*)|(proxy/.*)|(manifests/kustomize/.*)|(test/.*)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipeline-mkp-snapshot-test: any of: ^(manifests/gcp_marketplace/.*)$
  kubeflow-pipeline-upgrade-test: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python37: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python38: any of: ^(components/google-cloud/.*)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(samples/.*)|(backend/src/v2/.*)$
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-v2-go-test: any of: ^backend/src/v2/.*$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$
