Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-manifests, test-run-all-gcpc-modules

kubeflow-pipelines-sdk-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python39-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.9
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27-v2:
  decorate: true
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-backend-visualization-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

kubeflow-pipelines-integration-v2:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./backend/src/v2/test/integration-test.sh

kubeflow-pipelines-manifests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/google.com/cloudsdktool/cloud-sdk:latest
      command:
      - ./manifests/kustomize/hack/presubmit.sh

test-run-all-gcpc-modules:
  decorate: true
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-test-run-all-gcpc-modules.sh

Fixing samples/core/loop_parameter example
  samples/core/loop_parameter/loop_parameter.py
Due: none

chore(components): Internal
  components/google-cloud/google_cloud_pipeline_components/container/preview/custom_job/remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/preview/custom_job/utils.py
Due: none

keeping MRs separate.
  samples/core/loop_parallelism/loop_parallelism.py
  samples/core/loop_parameter/loop_parameter.py
Due: none

Fixing aggregate-to-kubeflow-pipelines-edit
  manifests/kustomize/base/installs/multi-user/view-edit-cluster-roles.yaml
Due: kubeflow-pipelines-manifests

Fixing incorrect typing in loop_parallism example
  samples/core/loop_parallelism/loop_parallelism.py
Due: none

Adding blank line
  samples/core/loop_parameter/loop_parameter.py
Due: none

Test
  .github/workflows/e2e-test.yaml
Due: none

chore(components): GCPC 2.16.0 Release
  components/google-cloud/Dockerfile
  components/google-cloud/RELEASE.md
  components/google-cloud/docs/source/versions.json
  components/google-cloud/google_cloud_pipeline_components/version.py
Due: none

fix: Incorrect typing in samples/cores/loop_parallism and fixing loop_parameter examples (#11062)
  samples/core/loop_parallelism/loop_parallelism.py
  samples/core/loop_parameter/loop_parameter.py
Due: none

move .readthedocs.yml
  .readthedocs.yml
Due: none

make component names in dag more unique
  sdk/python/kfp/compiler/pipeline_spec_builder.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, test-run-all-gcpc-modules

tweak ordering so that renaming is handled in LIFO fashion
  sdk/python/kfp/compiler/pipeline_spec_builder.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, test-run-all-gcpc-modules

add test that reuses a pipeline multiple times
  sdk/python/kfp/compiler/compiler_test.py
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, test-run-all-gcpc-modules

feat(components): internal
  components/google-cloud/google_cloud_pipeline_components/preview/compiler/__init__.py
  components/google-cloud/google_cloud_pipeline_components/preview/compiler/compiler.py
Due: none

Fixed e2e tests
  .github/workflows/e2e-test.yaml
Due: none

chore: Fixed e2e tests (#11072)
  .github/workflows/e2e-test.yaml
Due: none

chore(components): Bump image version for Structured Data pipelines
  components/google-cloud/RELEASE.md
  components/google-cloud/google_cloud_pipeline_components/preview/automl/forecasting/forecasting_ensemble.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/forecasting/forecasting_stage_1_tuner.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/forecasting/forecasting_stage_2_tuner.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/forecasting/learn_to_learn_forecasting_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/forecasting/sequence_to_sequence_forecasting_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/forecasting/temporal_fusion_transformer_forecasting_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/forecasting/time_series_dense_encoder_forecasting_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/auto_feature_engineering.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/automl_tabular_feature_selection_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/automl_tabular_v2_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/distillation_stage_feature_transform_engine.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/feature_selection.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/feature_selection_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/feature_transform_engine.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/tabnet_hyperparameter_tuning_job.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/tabnet_hyperparameter_tuning_job_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/tabnet_trainer.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/tabnet_trainer_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/wide_and_deep_hyperparameter_tuning_job.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/wide_and_deep_hyperparameter_tuning_job_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/wide_and_deep_trainer.py
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/wide_and_deep_trainer_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/xgboost_hyperparameter_tuning_job_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/preview/automl/tabular/xgboost_trainer_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/automl/forecasting/bqml_arima_predict_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/automl/forecasting/bqml_arima_train_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/automl/forecasting/prophet_predict_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/automl/forecasting/prophet_trainer.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/forecasting/prophet_trainer_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/automl_tabular_pipeline.yaml
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/cv_trainer.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/ensemble.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/finalizer.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/infra_validator.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/split_materialized_data.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/stage_1_tuner.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/stats_and_example_gen.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/training_configurator_and_validator.py
  components/google-cloud/google_cloud_pipeline_components/v1/automl/tabular/transform.py
Due: kubeflow-pipelines-component-yaml-v2

Moved kubeflow-pipelines-manifests to GitHub Actions
  .github/workflows/kubeflow-pipelines-manifests.yml
  manifests/kustomize/hack/presubmit.sh
Due: kubeflow-pipelines-manifests

address pr comments
  backend/src/v2/compiler/argocompiler/argo.go
  backend/src/v2/compiler/argocompiler/argo_test.go
  sdk/python/kfp/compiler/compiler_test.py
  sdk/python/kfp/dsl/component_factory.py
  sdk/python/kfp/dsl/component_factory_test.py
  sdk/python/test_data/pipelines/if_elif_else_complex.py
  sdk/python/test_data/pipelines/if_elif_else_complex.yaml
  sdk/python/test_data/pipelines/pipeline_with_parallelfor_parallelism.py
  sdk/python/test_data/pipelines/pipeline_with_parallelfor_parallelism.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, test-run-all-gcpc-modules

Use function name instead of base name and address edge cases
  backend/src/v2/compiler/argocompiler/argo.go
  backend/src/v2/compiler/argocompiler/argo_test.go
  sdk/python/kfp/compiler/compiler_test.py
  sdk/python/kfp/dsl/component_factory.py
  sdk/python/kfp/dsl/component_factory_test.py
  sdk/python/test_data/pipelines/if_elif_else_complex.py
  sdk/python/test_data/pipelines/if_elif_else_complex.yaml
  sdk/python/test_data/pipelines/pipeline_with_parallelfor_parallelism.py
  sdk/python/test_data/pipelines/pipeline_with_parallelfor_parallelism.yaml
Due: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, test-run-all-gcpc-modules

feat(backend): move comp logic to workflow params
  backend/src/v2/compiler/argocompiler/argo.go
  backend/src/v2/compiler/argocompiler/argo_test.go
  backend/src/v2/compiler/argocompiler/container.go
  backend/src/v2/compiler/argocompiler/testdata/create_mount_delete_dynamic_pvc.yaml
  backend/src/v2/compiler/argocompiler/testdata/create_pod_metadata.yaml
  backend/src/v2/compiler/argocompiler/testdata/hello_world.yaml
  backend/src/v2/compiler/argocompiler/testdata/importer.yaml
Due: none

Improve logic and update tests
  backend/src/v2/compiler/argocompiler/argo.go
  backend/src/v2/compiler/argocompiler/testdata/create_mount_delete_dynamic_pvc.yaml
Due: none

feat(components): internal
  components/google-cloud/google_cloud_pipeline_components/preview/compiler/__init__.py
Due: none

Add new proto fields
  api/v2alpha1/pipeline_spec.proto
Due: none

Fix environment variables names
  kubernetes_platform/python/README.md
Due: none

feat(components): Support dynamic values for boot_disk_type, boot_disk_size in preview.custom_job.utils.create_custom_training_job_from_component
  components/google-cloud/RELEASE.md
  components/google-cloud/google_cloud_pipeline_components/container/preview/custom_job/remote_runner.py
  components/google-cloud/google_cloud_pipeline_components/preview/custom_job/utils.py
Due: none

feat(components): internal
  components/google-cloud/google_cloud_pipeline_components/proto/template_metadata_pb2.py
Due: none

feat(backend): Remove PipelineSpec Template storage from ObjStore responsibilies. Fixes #10509
  backend/src/apiserver/resource/resource_manager.go
Due: none

POC hashing command and args
  backend/src/v2/compiler/argocompiler/argo.go
  backend/src/v2/compiler/argocompiler/testdata/create_mount_delete_dynamic_pvc.yaml
  backend/src/v2/compiler/argocompiler/testdata/create_pod_metadata.yaml
  backend/src/v2/compiler/argocompiler/testdata/hello_world.yaml
Due: none

feat(api): Add new ResourceSpec proto fields to support dynamic values. (#11075)
  api/v2alpha1/pipeline_spec.proto
Due: none

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$
  test-run-all-gcpc-modules: any of: ^(sdk/python/.*)|(test/presubmit-test-run-all-gcpc-modules.sh)$
