Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python36-v2, kubeflow-pipelines-sdk-python37-v2, kubeflow-pipelines-sdk-python38-v2, kubeflow-pipelines-sdk-python39-v2, kubeflow-pipelines-tfx-python36-v2, kubeflow-pipelines-component-yaml-v2, kubeflow-pipelines-components-gcp-python27-v2, kubeflow-pipelines-components-gcp-python37-v2, kubeflow-pipelines-backend-visualization-v2, kubeflow-pipeline-frontend-test, kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-mkp-test, kubeflow-pipeline-mkp-snapshot-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-sdk-python39, kubeflow-pipelines-tfx-python37, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-components-google-cloud-python38, kubeflow-pipelines-backend-visualization, kubeflow-pipelines-samples-v2, kubeflow-pipelines-integration-v2, kubeflow-pipelines-v2-go-test, kubeflow-pipelines-manifests

Path conditions:
  kubeflow-pipelines-sdk-python36-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python37-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python38-v2: any of: sdk/.*
  kubeflow-pipelines-sdk-python39-v2: any of: sdk/.*
  kubeflow-pipelines-tfx-python36-v2: any of: sdk/.*
  kubeflow-pipelines-component-yaml-v2: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37-v2: any of: components/gcp/container/.*
  kubeflow-pipelines-backend-visualization-v2: any of: backend/src/apiserver/visualization/.*
  kubeflow-pipeline-frontend-test: any of: ^frontend/.*$
  kubeflow-pipeline-backend-test: any of: ^(backend/.*)|(test/presubmit-backend-test.sh)$
  kubeflow-pipeline-e2e-test: any of: ^(frontend/.*)|(backend/.*)|(proxy/.*)|(manifests/kustomize/.*)|(test/.*)$
  kubeflow-pipeline-mkp-test: any of: ^(manifests/gcp_marketplace/.*)|(test/presubmit-tests-mkp.sh)|(test/tag_for_hosted.sh)|(test/cloudbuild/mkp_verify.yaml)$
  kubeflow-pipeline-mkp-snapshot-test: any of: ^(manifests/gcp_marketplace/.*)$
  kubeflow-pipeline-upgrade-test: any of: ^(backend/.*)|(manifests/kustomize/.*)|(test/upgrade.*)$
  kubeflow-pipelines-sdk-python37: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python38: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-sdk-python39: any of: ^(sdk/.*)|(test/presubmit-tests-sdk.sh)$
  kubeflow-pipelines-tfx-python37: any of: ^(sdk/.*)|(test/presubmit-tests-tfx.sh)$
  kubeflow-pipelines-component-yaml: any of: ^(components/.*\.yaml)|(test/presubmit-component-yaml.sh)$
  kubeflow-pipelines-components-gcp-python27: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-gcp-python37: any of: ^(components/gcp/container/.*)|(test/presubmit-components-gcp.sh)$
  kubeflow-pipelines-components-google-cloud-python38: any of: ^(components/google-cloud/.*)$
  kubeflow-pipelines-backend-visualization: any of: ^(backend/src/apiserver/visualization/.*)|(test/presubmit-backend-visualization.sh)$
  kubeflow-pipelines-samples-v2: any of: ^(sdk/python/.*)|(samples/.*)|(backend/src/v2/.*)$
  kubeflow-pipelines-integration-v2: any of: ^(samples/core/(parameterized_tfx_oss|dataflow)/.*)$
  kubeflow-pipelines-v2-go-test: any of: ^backend/src/v2/.*$
  kubeflow-pipelines-manifests: any of: ^manifests/kustomize/.*$

fix(components): fix evaluated annotation batch importer bugs
  components/google-cloud/google_cloud_pipeline_components/container/experimental/evaluation/import_evaluated_annotation.py
  components/google-cloud/tests/container/experimental/evaluation/test_import_evaluated_annotation.py
Due: kubeflow-pipelines-components-google-cloud-python38

Separate v1 and v2 logics (based on API return value) in pipeline details (router). Noted: add additional listPipelines() to get latest version because v2 don't default version field.
  frontend/src/pages/PipelineDetails.test.tsx
  frontend/src/pages/PipelineDetails.tsx
  frontend/src/pages/PipelineDetailsTest.test.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Integrate getPipelineVersion() in run/recurring run details router with v2 API.
  frontend/src/pages/RecurringRunDetailsRouter.tsx
  frontend/src/pages/RecurringRunDetailsV2.test.tsx
  frontend/src/pages/RunDetailsRouter.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Separate pipelineServiceApiV1 and pipelineServiceApiV2. Add uploadPipelineVersionV2 helper.
  frontend/src/lib/Apis.ts
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Update private and shared pipelines unit tests.
  frontend/src/pages/PrivateAndSharedPipelines.test.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Integrate listPipelines() / listPipelineVersions() in PipelineList and PipelineVersionList with v2 API.
  frontend/src/pages/PipelineList.test.tsx
  frontend/src/pages/PipelineList.tsx
  frontend/src/pages/PipelineVersionList.test.tsx
  frontend/src/pages/PipelineVersionList.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Change pipeline props in PipelineDetailsV2 and PipelineVersionCard Remove default version in PipelineVersionCard test. Append version id to URL for unspecified versionId scenario.
  frontend/src/components/navigators/PipelineVersionCard.test.tsx
  frontend/src/components/navigators/PipelineVersionCard.tsx
  frontend/src/pages/PipelineDetails.tsx
  frontend/src/pages/PipelineDetailsV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Ingegrate new pipeline functionality with v2 API. Create a new pipeline dialog for v2 pipeline because the error is not string type.
  frontend/src/components/PipelinesDialogV2.tsx
  frontend/src/pages/NewPipelineVersion.test.tsx
  frontend/src/pages/NewPipelineVersion.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Create resource converter to make various API returned objects fit in base resource. Change the behavior of "selectionChanged" to achive more general usage.
  frontend/src/components/PipelinesDialogV2.tsx
  frontend/src/lib/ResourceConverter.tsx
  frontend/src/pages/ResourceSelectorV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Integrate get started page with v2 pipeline API.
  frontend/src/pages/GettingStarted.test.tsx
  frontend/src/pages/GettingStarted.tsx
  frontend/src/pages/__snapshots__/GettingStarted.test.tsx.snap
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Integrate delete pipeline / pipeline version with v2 API.
  frontend/src/lib/Buttons.ts
  frontend/src/pages/PipelineDetails.test.tsx
  frontend/src/pages/PipelineDetails.tsx
  frontend/src/pages/PipelineList.test.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Integrate getPipeline() / getPipelineVersion() in "create / clone run" with v2 API.
  frontend/src/pages/NewRunSwitcher.tsx
  frontend/src/pages/NewRunV2.test.tsx
  frontend/src/pages/NewRunV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Integrate getPipelineVersion() in run list with v2 API.
  frontend/src/pages/RunList.test.tsx
  frontend/src/pages/RunList.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Create new ResourceSelectorV2 and make corresponding changes (back to v2beta1Pipeline) in PipelineDialogV2 and NewPipelineVersion
  frontend/src/components/PipelinesDialogV2.tsx
  frontend/src/pages/NewPipelineVersion.tsx
  frontend/src/pages/ResourceSelectorV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Add support for v1 and v2 parameters in runs and jobs
  backend/src/apiserver/resource/resource_manager_test.go
  backend/src/apiserver/server/api_converter.go
  backend/src/apiserver/storage/job_store.go
  backend/src/apiserver/storage/job_store_test.go
  backend/src/apiserver/template/argo_template.go
  backend/src/apiserver/template/template.go
  backend/src/apiserver/template/v2_template.go
  backend/src/common/util/scheduled_workflow.go
  backend/src/common/util/scheduled_workflow_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Remove unused imports. Change relative path to absolute path.
  frontend/src/components/PipelinesDialogV2.tsx
  frontend/src/pages/NewPipelineVersion.test.tsx
  frontend/src/pages/NewPipelineVersion.tsx
  frontend/src/pages/NewRunSwitcher.tsx
  frontend/src/pages/PipelineDetails.test.tsx
  frontend/src/pages/PipelineDetailsTest.test.tsx
  frontend/src/pages/PipelineDetailsV2.tsx
  frontend/src/pages/PipelineList.test.tsx
  frontend/src/pages/PipelineList.tsx
  frontend/src/pages/PipelineVersionList.test.tsx
  frontend/src/pages/PipelineVersionList.tsx
  frontend/src/pages/ResourceSelectorV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Add unit test for PipelineDialogV2 and ResourceSelectorV2.
  frontend/src/components/PipelinesDialogV2.test.tsx
  frontend/src/components/PipelinesDialogV2.tsx
  frontend/src/pages/ResourceSelectorV2.test.tsx
  frontend/src/pages/__snapshots__/ResourceSelectorV2.test.tsx.snap
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Fix convertion issues
  backend/src/apiserver/server/api_converter.go
  backend/src/apiserver/server/api_converter_test.go
  backend/src/common/util/scheduled_workflow.go
  backend/src/common/util/scheduled_workflow_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Simplify the logic of deletePipelineVersion. Remove dialoghandlerMultiId.
  frontend/src/lib/Buttons.ts
  frontend/src/pages/PipelineDetails.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Update a unit-test
  backend/src/apiserver/resource/resource_manager_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Revert change of the order in sql
  backend/src/apiserver/storage/job_store.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

chore(frontend): Integrate pipeline / pipeline version functions with KFP v2 API (#9123)
  frontend/src/components/PipelinesDialogV2.test.tsx
  frontend/src/components/PipelinesDialogV2.tsx
  frontend/src/components/navigators/PipelineVersionCard.test.tsx
  frontend/src/components/navigators/PipelineVersionCard.tsx
  frontend/src/lib/Apis.ts
  frontend/src/lib/Buttons.ts
  frontend/src/lib/ResourceConverter.tsx
  frontend/src/pages/GettingStarted.test.tsx
  frontend/src/pages/GettingStarted.tsx
  frontend/src/pages/NewPipelineVersion.test.tsx
  frontend/src/pages/NewPipelineVersion.tsx
  frontend/src/pages/NewRunSwitcher.tsx
  frontend/src/pages/NewRunV2.test.tsx
  frontend/src/pages/NewRunV2.tsx
  frontend/src/pages/PipelineDetails.test.tsx
  frontend/src/pages/PipelineDetails.tsx
  frontend/src/pages/PipelineDetailsTest.test.tsx
  frontend/src/pages/PipelineDetailsV2.tsx
  frontend/src/pages/PipelineList.test.tsx
  frontend/src/pages/PipelineList.tsx
  frontend/src/pages/PipelineVersionList.test.tsx
  frontend/src/pages/PipelineVersionList.tsx
  frontend/src/pages/PrivateAndSharedPipelines.test.tsx
  frontend/src/pages/RecurringRunDetailsRouter.tsx
  frontend/src/pages/RecurringRunDetailsV2.test.tsx
  frontend/src/pages/ResourceSelectorV2.test.tsx
  frontend/src/pages/ResourceSelectorV2.tsx
  frontend/src/pages/RunDetailsRouter.tsx
  frontend/src/pages/RunList.test.tsx
  frontend/src/pages/RunList.tsx
  frontend/src/pages/__snapshots__/GettingStarted.test.tsx.snap
  frontend/src/pages/__snapshots__/ResourceSelectorV2.test.tsx.snap
  test/frontend-integration-test/helloworld.spec.js
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Integrate getExperiment() in run list with v2 API.
  frontend/src/pages/RunList.test.tsx
  frontend/src/pages/RunList.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Integrate getExperiment() in recurring run list with v2 API.
  frontend/src/pages/RecurringRunList.test.tsx
  frontend/src/pages/RecurringRunList.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Integrate getExperiment() in pipeline details with v2 API.
  frontend/src/pages/PipelineDetails.test.tsx
  frontend/src/pages/PipelineDetails.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Integrate getExperiment() in run details(v2) with v2 API.
  frontend/src/pages/RunDetailsV2.test.tsx
  frontend/src/pages/RunDetailsV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Integrate getExperiment() in recurring run details(v2) with v2 API.
  frontend/src/pages/RecurringRunDetailsV2.test.tsx
  frontend/src/pages/RecurringRunDetailsV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Integrate getExperiment(), listExperiments() in NewRunSwitcher and NewRunv2 with v2 API.
  frontend/src/pages/NewRunSwitcher.tsx
  frontend/src/pages/NewRunV2.test.tsx
  frontend/src/pages/NewRunV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Fix incorrect listExperiment() field. Change ApiFilter to V2beta1Filter in component/ExperimentList
  frontend/src/components/ExperimentList.test.tsx
  frontend/src/components/ExperimentList.tsx
  frontend/src/pages/ExperimentList.test.tsx
  frontend/src/pages/ExperimentList.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Integrate listRuns() in experiment list with V2 API.
  frontend/src/pages/ExperimentList.test.tsx
  frontend/src/pages/ExperimentList.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Fix incorrect field name in PipelineDetailsV2 tests.
  frontend/src/pages/PipelineDetailsV2.test.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Remove unused import. Change relative path to absolute path.
  frontend/src/pages/ExperimentList.test.tsx
  frontend/src/pages/NewRunV2.test.tsx
  frontend/src/pages/PipelineDetailsV2.test.tsx
  frontend/src/pages/RunDetailsV2.test.tsx
  frontend/src/pages/RunDetailsV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

chore(frontend): Integrate experiment and run (cross-functionality call) with v2 API (#9124)
  frontend/src/components/ExperimentList.test.tsx
  frontend/src/components/ExperimentList.tsx
  frontend/src/pages/ExperimentList.test.tsx
  frontend/src/pages/ExperimentList.tsx
  frontend/src/pages/NewRunSwitcher.tsx
  frontend/src/pages/NewRunV2.test.tsx
  frontend/src/pages/NewRunV2.tsx
  frontend/src/pages/PipelineDetails.test.tsx
  frontend/src/pages/PipelineDetails.tsx
  frontend/src/pages/PipelineDetailsV2.test.tsx
  frontend/src/pages/RecurringRunDetailsV2.test.tsx
  frontend/src/pages/RecurringRunDetailsV2.tsx
  frontend/src/pages/RecurringRunList.test.tsx
  frontend/src/pages/RecurringRunList.tsx
  frontend/src/pages/RunDetailsV2.test.tsx
  frontend/src/pages/RunDetailsV2.tsx
  frontend/src/pages/RunList.test.tsx
  frontend/src/pages/RunList.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

Revert sample test and add TODO
  samples/core/resource_spec/resource_spec_v2.py
Due: kubeflow-pipelines-samples-v2

Set status when creating a new job. Closes #9125.
  backend/src/apiserver/server/api_converter.go
  backend/src/apiserver/server/api_converter_test.go
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test

Set mode when creating v2 job. Closes #9126.
  frontend/src/pages/NewRunV2.test.tsx
  frontend/src/pages/NewRunV2.tsx
Due: kubeflow-pipeline-frontend-test, kubeflow-pipeline-e2e-test

feat(backend): add support for resource requests. Closes #7047. Closes #6354. (#9088)
  backend/src/apiserver/template/template_test.go
  backend/src/v2/compiler/argocompiler/argo.go
  backend/src/v2/compiler/argocompiler/testdata/create_mount_delete_dynamic_pvc.yaml
  backend/src/v2/compiler/argocompiler/testdata/hello_world.yaml
  backend/src/v2/compiler/argocompiler/testdata/importer.yaml
  backend/src/v2/driver/driver.go
  backend/src/v2/driver/driver_test.go
  backend/third_party_licenses/apiserver.csv
  go.mod
  go.sum
  samples/core/resource_spec/resource_spec_v2.py
Due: kubeflow-pipeline-backend-test, kubeflow-pipeline-e2e-test, kubeflow-pipeline-upgrade-test, kubeflow-pipelines-samples-v2, kubeflow-pipelines-v2-go-test
