Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/common: any of: common/.*
  prow/presubmit/gotest/common: any of: common/.*
  prow/presubmit/gobuild/common: any of: common/.*
  prow/presubmit/gocheck/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gobuild/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$

New option to pass template JSON as a string to CreatePublish.
  cli_tools/gce_image_publish/main.go
  cli_tools/gce_image_publish/publish/publish.go
  cli_tools/gce_image_publish/publish/publish_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Move string type to last string variable
  cli_tools/gce_image_publish/publish/publish.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Add server 2022 to the VSS install regex
  daisy_workflows/image_build/windows/post_install.ps1
Due: none

initial rhui commit
  daisy_workflows/build-publish/rhui/install_rhua.sh
  daisy_workflows/build-publish/rhui/rhua.wf.json
Due: none

Add GVNIC guestOS feature tag to supported images.
  daisy_workflows/build-publish/debian/debian_11.publish.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_9_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_2_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_4_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8.publish.json
Due: none

fixup
  daisy_workflows/build-publish/rhui/install_rhua.sh
Due: none

Image Import: Warn when UEFI boot is specified but not detected.
  cli_tools/common/image/importer/process_planner.go
  cli_tools/common/image/importer/process_planner_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Add server 2022 to the VSS install regex (#1812)
  daisy_workflows/image_build/windows/post_install.ps1
Due: none

Server 2022: Removing BYOL, adding import workflows
  daisy_workflows/image_build/windows/windows-server-2022-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2022-dc-uefi-byol.wf.json
  daisy_workflows/image_import/windows/translate_windows_2022.wf.json
Due: none

follow staticcheck-S1012-and-ST1005 checks by modifying capitalized strings and replacing time-now-sub by time since
  cli_tools/common/disk/inspect.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

fix disk inspect unit tests - decapitalize strings
  cli_tools/common/disk/inspect_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image Import: Warn when UEFI boot is specified but not detected. (#1807)
  cli_tools/common/image/importer/process_planner.go
  cli_tools/common/image/importer/process_planner_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

CLI Tools: staticcheck fixes (#1814)
  cli_tools/common/disk/inspect.go
  cli_tools/common/disk/inspect_test.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image Import e2e: add e2e test for sles sap 15sp3 unregistered
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Image Import e2e: add e2e test for sles sap 15sp3 unregistered (#1815)
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Update publish to staging projects
  daisy_workflows/build-publish/windows/windows-server-2004-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2012r2-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2012r2-dc-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2022-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2022-dc-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-20h2-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows_container/windows-2019-core-for-containers-uefi.publish.json
  daisy_workflows/build-publish/windows_container/windows-2019-for-containers-uefi.publish.json
Due: none

Update publish to staging projects (#1816)
  daisy_workflows/build-publish/windows/windows-server-2004-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2012r2-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2012r2-dc-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2022-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2022-dc-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-20h2-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows_container/windows-2019-core-for-containers-uefi.publish.json
  daisy_workflows/build-publish/windows_container/windows-2019-for-containers-uefi.publish.json
Due: none

EL8 import: gcloud requires python
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8

Windows import: Don't fail when EMS is on COM1
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/windows/translate_bootstrap.ps1
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Windows import: Don't fail when EMS is on COM1 (#1818)
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/windows/translate_bootstrap.ps1
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Add sql on Windows 2022 build workflows
  daisy_workflows/build-publish/sqlserver/sql-2019-enterprise-windows-2022-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2019-enterprise-windows-2022-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2019-standard-windows-2022-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2019-standard-windows-2022-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2019-web-windows-2022-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2019-web-windows-2022-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2019-enterprise-windows-2022-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2019-standard-windows-2022-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2019-web-windows-2022-dc.wf.json
Due: none

Add containers on windows server 2022 workflows
  daisy_workflows/build-publish/windows_container/windows-2022-core-for-containers-uefi.publish.json
  daisy_workflows/build-publish/windows_container/windows-2022-core-for-containers-uefi.wf.json
  daisy_workflows/build-publish/windows_container/windows-2022-for-containers-uefi.publish.json
  daisy_workflows/build-publish/windows_container/windows-2022-for-containers-uefi.wf.json
  daisy_workflows/image_build/windows_for_containers/windows-2022-for-containers-uefi.wf.json
  daisy_workflows/image_build/windows_for_containers/windows-2022-for-containers.wf.json
Due: none

Add sql 2017 on windows server 2022
  daisy_workflows/build-publish/sqlserver/sql-2017-enterprise-windows-2022-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2017-enterprise-windows-2022-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-standard-windows-2022-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2017-standard-windows-2022-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-web-windows-2022-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2017-web-windows-2022-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-enterprise-windows-2022-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-standard-windows-2022-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-web-windows-2022-dc.wf.json
Due: none

Image export for non-raw files: fix the issue of temporary buffer disk failing to resize occasionally with a resize2fs error by creating buffer disk of the same size as the image raw size.
  cli_tools/common/utils/validation/validation_utils.go
  cli_tools/common/utils/validation/validation_utils_test.go
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_export/exporter/exporter_test.go
  daisy_workflows/export/disk_export.wf.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

fix export snapshot test
  cli_tools/gce_vm_image_export/exporter/exporter_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

revert snapshot source path building
  cli_tools/gce_vm_image_export/exporter/exporter.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Fix image export failing occasionally for large images by allocating buffer disk size to match raw image size (#1821)
  cli_tools/common/utils/validation/validation_utils.go
  cli_tools/common/utils/validation/validation_utils_test.go
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_export/exporter/exporter_test.go
  daisy_workflows/export/disk_export.wf.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image import inspection: update inspection stage to support archlinux and clearlinux distros
  daisy_workflows/image_import/inspection/src/boot_inspect/inspection.py
  daisy_workflows/image_import/inspection/tests/test-data/images/docker-image-archlinux-latest.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/docker-image-clear-linux-os-latest.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/docker-image-debian-11.2.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-archlinux-latest.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-image-debian-11-bullseye-v20211209.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-image-sles-15-sp3-sap-v20211113.yaml
  proto/go/pb/inspect.pb.go
  proto/go/pb/output_info.pb.go
  proto/inspect.proto
  proto/py/compute_image_tools_proto/inspect_pb2.py
  proto/py/compute_image_tools_proto/inspect_pb2.pyi
  proto/py/compute_image_tools_proto/output_info_pb2.py
  proto/py/compute_image_tools_proto/output_info_pb2.pyi
  proto/updatepb.sh
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect

Image import inspection: update inspection stage to support archlinux and clearlinux distros (#1822)
  daisy_workflows/image_import/inspection/src/boot_inspect/inspection.py
  daisy_workflows/image_import/inspection/tests/test-data/images/docker-image-archlinux-latest.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/docker-image-clear-linux-os-latest.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/docker-image-debian-11.2.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-archlinux-latest.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-image-debian-11-bullseye-v20211209.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-image-sles-15-sp3-sap-v20211113.yaml
  proto/go/pb/inspect.pb.go
  proto/go/pb/output_info.pb.go
  proto/inspect.proto
  proto/py/compute_image_tools_proto/inspect_pb2.py
  proto/py/compute_image_tools_proto/inspect_pb2.pyi
  proto/py/compute_image_tools_proto/output_info_pb2.py
  proto/py/compute_image_tools_proto/output_info_pb2.pyi
  proto/updatepb.sh
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect

Image_Import_inspection: update_archlinux_and_clearlinux_distros_IDs
  proto/go/pb/inspect.pb.go
  proto/inspect.proto
  proto/py/compute_image_tools_proto/inspect_pb2.py
  proto/py/compute_image_tools_proto/inspect_pb2.pyi
Due: prow/presubmit/flake8

Validating image URI on image export and setting temporary disk to match the image size.
  cli_tools/common/utils/validation/validation_utils.go
  cli_tools/common/utils/validation/validation_utils_test.go
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_export/exporter/exporter_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image_Import_inspection: update_archlinux_and_clearlinux_distros_IDs (#1823)
  proto/go/pb/inspect.pb.go
  proto/inspect.proto
  proto/py/compute_image_tools_proto/inspect_pb2.py
  proto/py/compute_image_tools_proto/inspect_pb2.pyi
Due: prow/presubmit/flake8

v1 for rhua workflow
  daisy_workflows/build-publish/rhui/answers.yaml
  daisy_workflows/build-publish/rhui/depend-nfs.conf
  daisy_workflows/build-publish/rhui/fstab
  daisy_workflows/build-publish/rhui/install_rhua.sh
  daisy_workflows/build-publish/rhui/reponames.txt
  daisy_workflows/build-publish/rhui/rhua.wf.json
Due: none

go lint
  cli_tools/common/utils/validation/validation_utils.go
  cli_tools/common/utils/validation/validation_utils_test.go
  cli_tools/gce_vm_image_export/exporter/exporter.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

RHUA node image build workflow (#1824)
  daisy_workflows/build-publish/rhui/answers.yaml
  daisy_workflows/build-publish/rhui/depend-nfs.conf
  daisy_workflows/build-publish/rhui/fstab
  daisy_workflows/build-publish/rhui/install_rhua.sh
  daisy_workflows/build-publish/rhui/reponames.txt
  daisy_workflows/build-publish/rhui/rhua.wf.json
Due: none

use patched Ansible playbook
  daisy_workflows/build-publish/rhui/answers.yaml
  daisy_workflows/build-publish/rhui/fstab
  daisy_workflows/build-publish/rhui/install_rhua.sh
  daisy_workflows/build-publish/rhui/rhua.wf.json
  daisy_workflows/build-publish/rhui/rhua_artifacts/answers.yaml
  daisy_workflows/build-publish/rhui/rhua_artifacts/depend-nfs.conf
  daisy_workflows/build-publish/rhui/rhua_artifacts/reponames.txt
  daisy_workflows/build-publish/rhui/rhua_artifacts/rhua.patch
Due: none

CDS build workflow
  daisy_workflows/build-publish/rhui/cds.wf.json
  daisy_workflows/build-publish/rhui/cds_artifacts/answers.yaml
  daisy_workflows/build-publish/rhui/cds_artifacts/cds.patch
  daisy_workflows/build-publish/rhui/cds_artifacts/rhui-tools.conf
  daisy_workflows/build-publish/rhui/install_cds.sh
Due: none

CreatePublishWithTemplate included
  cli_tools/gce_image_publish/main.go
  cli_tools/gce_image_publish/publish/publish.go
  cli_tools/gce_image_publish/publish/publish_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Moving install_disk_size and drivers_bucket to variables.
  daisy_workflows/image_build/windows/windows-server-2012r2-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2012r2-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2012r2-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2012r2-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2022-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2022-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2022-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2022-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-sac-1909-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-sac-2004-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-sac-20h2-dc-core-uefi-payg.wf.json
Due: none

Adding Lawrence and myself to the owners file
  OWNERS
Due: none
