Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/common: any of: common/.*
  prow/presubmit/gotest/common: any of: common/.*
  prow/presubmit/gobuild/common: any of: common/.*
  prow/presubmit/gocheck/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gobuild/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$

crane
  rollout/cli_tools_cloudbuild_deploy.yaml
  rollout/cli_tools_cloudbuild_deploy_rollback.yaml
Due: none

crane
  rollout/cli_tools_cloudbuild_build.yaml
  rollout/cli_tools_cloudbuild_build_prepare.yaml
  rollout/cli_tools_cloudbuild_deploy.yaml
  rollout/cli_tools_cloudbuild_deploy_rollback.yaml
  rollout/cli_tools_cloudbuild_release_workflow.yaml
Due: none

crane
  rollout/cli_tools_cloudbuild_build_prepare.yaml
  rollout/cli_tools_cloudbuild_deploy.yaml
  rollout/cli_tools_cloudbuild_deploy_rollback.yaml
Due: none

Import: Add suport for SLES 15SP3 (#1797)
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/suse/suse_import/translate.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

OVF Import Tests: Explain why us-central2-a is used for PD fallback tests
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

OVF Import Tests: Explain why us-central2-a is used for PD fallback tests (#1798)
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

enable VMDK API
  cli_tools/common/image/importer/inflater.go
  cli_tools/common/image/importer/inflater_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

OVF Import: Retain console logs from test instances
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_import_e2e_common.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

OVF Import: Retain console logs from test instances (#1799)
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_import_e2e_common.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

rollback
  rollout/cli_tools_cloudbuild_rollback.yaml
Due: none

rollback
  rollout/cli_tools_cloudbuild_build_prepare.yaml
  rollout/cli_tools_cloudbuild_release_workflow.yaml
  rollout/cli_tools_cloudbuild_rollback.yaml
Due: none

daisy: modify daisy URL in daisy installation usage doc
  docs/daisy-installation-usage.md
Due: none

Add sql workflows
  daisy_workflows/build-publish/sqlserver/sql-2012-enterprise-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2012-standard-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2012-web-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2014-enterprise-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2014-enterprise-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2014-standard-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2014-web-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-enterprise-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-enterprise-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-standard-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-standard-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-web-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-web-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2019-enterprise-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2019-standard-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2019-web-windows-2019-dc.wf.json
Due: none

format
  cli_tools/common/image/importer/daisy_inflater_test.go
  cli_tools/common/image/importer/inflater_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Add sql workflows (#1801)
  daisy_workflows/build-publish/sqlserver/sql-2012-enterprise-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2012-standard-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2012-web-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2014-enterprise-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2014-enterprise-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2014-standard-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2014-web-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-enterprise-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-enterprise-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-standard-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-standard-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-web-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-web-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2019-enterprise-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2019-standard-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2019-web-windows-2019-dc.wf.json
Due: none

Daisy: Remove disk.FallbackToPdStandard
  daisy/disk.go
  daisy/step_create_disks.go
  daisy/step_create_disks_test.go
  daisy_integration_tests/daisy_e2e_quota_exceeded.test.gotmpl
  daisy_integration_tests/image_export_ssd_quota_exceeded.wf.json
  test-infra/prow/config.yaml
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

[onestep-import] install gcsfuse and qemu for onestep-import
  gce_onestep_image_import.Dockerfile
Due: none

Daisy: Remove disk.FallbackToPdStandard (#1802)
  daisy/disk.go
  daisy/step_create_disks.go
  daisy/step_create_disks_test.go
  daisy_integration_tests/daisy_e2e_quota_exceeded.test.gotmpl
  daisy_integration_tests/image_export_ssd_quota_exceeded.wf.json
  test-infra/prow/config.yaml
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

skip validation
  rollout/cli_tools_cloudbuild_release_workflow.yaml
Due: none

daisy: modify daisy URL in daisy installation usage doc (#1800)
  docs/daisy-installation-usage.md
Due: none

[onestep-import] install gcsfuse and qemu for onestep-import (#1803)
  gce_onestep_image_import.Dockerfile
Due: none

Fix sql workflow path
  daisy_workflows/build-publish/sqlserver/sql-2012-enterprise-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2012-standard-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2012-web-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2014-enterprise-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2014-enterprise-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2014-standard-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2014-web-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-enterprise-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-enterprise-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-standard-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-standard-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-web-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-web-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2019-enterprise-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2019-standard-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2019-web-windows-2019-dc.wf.json
Due: none

Fix sql workflow path (#1804)
  daisy_workflows/build-publish/sqlserver/sql-2012-enterprise-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2012-standard-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2012-web-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2014-enterprise-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2014-enterprise-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2014-standard-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2014-web-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-enterprise-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-enterprise-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-standard-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-standard-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-web-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-web-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2019-enterprise-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2019-standard-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2019-web-windows-2019-dc.wf.json
Due: none

Update sql disk export destination
  daisy_workflows/build-publish/sqlserver/sql-2012-enterprise-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2012-standard-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2012-web-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2014-enterprise-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2014-enterprise-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2014-standard-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2014-web-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-enterprise-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-enterprise-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-standard-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-standard-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-web-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-web-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2019-enterprise-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2019-standard-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2019-web-windows-2019-dc.wf.json
Due: none

Update sql disk export destination (#1805)
  daisy_workflows/build-publish/sqlserver/sql-2012-enterprise-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2012-standard-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2012-web-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2014-enterprise-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2014-enterprise-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2014-standard-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2014-web-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-enterprise-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-enterprise-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-standard-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-standard-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-web-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-web-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2019-enterprise-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2019-standard-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2019-web-windows-2019-dc.wf.json
Due: none

[rollout] new rollout config (#1751)
  rollout/cli_tools_cloudbuild_build.yaml
  rollout/cli_tools_cloudbuild_build_prepare.yaml
  rollout/cli_tools_cloudbuild_deploy.yaml
  rollout/cli_tools_cloudbuild_release_workflow.yaml
  rollout/cli_tools_cloudbuild_rollback.yaml
Due: none

Update the publish filename to be consistent
  daisy_workflows/build-publish/sqlserver/sql-2012-enterprise-windows-2012-r2-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2012-standard-windows-2012-r2-dc-uefi.publish
Due: none

Update the publish filename to be consistent (#1806)
  daisy_workflows/build-publish/sqlserver/sql-2012-enterprise-windows-2012-r2-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2012-standard-windows-2012-r2-dc-uefi.publish
Due: none

[e2e test] add qemu/gcsfuse
  gce_image_import_export_tests.Dockerfile
Due: none

install qemu and gcsfuse
  gce_image_import_export_tests.Dockerfile
  test-infra/prowjobs/wrapper/withgcloud.Dockerfile
Due: none

typo
  test-infra/prowjobs/wrapper/withgcloud.Dockerfile
Due: none

[safely Enable VMDK API] stage 2: enable API inflater (#1791)
  cli_tools/common/image/importer/daisy_inflater_test.go
  cli_tools/common/image/importer/inflater.go
  cli_tools/common/image/importer/inflater_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

[e2e test] add qemu/gcsfuse for test docker images (#1808)
  test-infra/prowjobs/wrapper/withgcloud.Dockerfile
Due: none

OVF e2e: Use Debian 11 for 3 disk test
  cli_tools_tests/e2e/gce_ovf_export/test_suites/instance_ovf_export/instance_ovf_export_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/scripts/ovf_import_test_3_disks.sh
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

[test base image] change the base image, add gcsfuse key
  test-infra/prowjobs/wrapper/gcsfuse-apt-key.gpg
  test-infra/prowjobs/wrapper/withgcloud.Dockerfile
Due: none

[test base image] change the base image, add gcsfuse key (#1810)
  test-infra/prowjobs/wrapper/gcsfuse-apt-key.gpg
  test-infra/prowjobs/wrapper/withgcloud.Dockerfile
Due: none

OVF e2e: Use Debian 11 for 3 disk test (#1809)
  cli_tools_tests/e2e/gce_ovf_export/test_suites/instance_ovf_export/instance_ovf_export_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/scripts/ovf_import_test_3_disks.sh
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests
