Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

prow/presubmit/flake8:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/flake8:latest
      imagePullPolicy: Always
      command:
      - /main.sh

prow/presubmit/pytest/boot-inspect:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/pytest:latest
      imagePullPolicy: Always
      command:
      - /main.py
      args:
      - daisy_workflows/image_import/inspection

prow/presubmit/gocheck/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gotest/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gobuild/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gocheck/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gotest/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gobuild/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gocheck/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gotest/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gobuild/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gocheck/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

prow/presubmit/gobuild/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

prow/presubmit/gocheck/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools

Fix typo. (#1973)
  daisy_workflows/build-publish/debian/debian_11_worker.publish.json
Due: none

Fix typo.
  daisy_workflows/build-publish/debian/debian_11_worker.wf.json
Due: none

Fix typo. (#1974)
  daisy_workflows/build-publish/debian/debian_11_worker.wf.json
Due: none

One more typo.
  daisy_workflows/build-publish/debian/debian_11_worker.wf.json
Due: none

fix
  daisy_workflows/image_build/debian/debian_11_worker.wf.json
Due: none

fix typos
  daisy_workflows/build-publish/debian/debian_11_worker.wf.json
  daisy_workflows/image_build/debian/debian_11_worker.wf.json
Due: none

One more typo. (#1975)
  daisy_workflows/build-publish/debian/debian_11_worker.wf.json
  daisy_workflows/image_build/debian/debian_11_worker.wf.json
Due: none

Fix rocky-linux string match.
  daisy_workflows/image_build/install_package/installpackage.py
Due: prow/presubmit/flake8

emit errors in installpackage
  daisy_workflows/image_build/install_package/installpackage.py
Due: prow/presubmit/flake8

Fix rocky-linux string match. (#1977)
  daisy_workflows/image_build/install_package/installpackage.py
Due: prow/presubmit/flake8

emit errors in installpackage (#1978)
  daisy_workflows/image_build/install_package/installpackage.py
Due: prow/presubmit/flake8

Update image family for Windows 11 21h2
  daisy_workflows/build-publish/windows/windows-11-21h2-ent-x64-uefi.publish.json
Due: none

Update image family for Windows 11 21h2 (#1979)
  daisy_workflows/build-publish/windows/windows-11-21h2-ent-x64-uefi.publish.json
Due: none

relabel whole fs
  daisy_workflows/image_build/install_package/installpackage.py
Due: prow/presubmit/flake8

flake8
  daisy_workflows/image_build/install_package/installpackage.py
Due: prow/presubmit/flake8

installpackage.py: relabel whole fs (#1980)
  daisy_workflows/image_build/install_package/installpackage.py
Due: prow/presubmit/flake8

Rocky Linux 9 build workflows.
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9.publish.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_arm64.publish.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_optimized_gcp.publish.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_optimized_gcp.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_optimized_gcp_arm64.publish.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_optimized_gcp_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9_optimized_gcp.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9_optimized_gcp_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/rocky_linux_9.wf.json
  daisy_workflows/image_build/enterprise_linux/rocky_linux_9_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/rocky_linux_9_optimized_gcp.wf.json
  daisy_workflows/image_build/enterprise_linux/rocky_linux_9_optimized_gcp_arm64.wf.json
Due: none

Rocky Linux 9 build workflows. (#1981)
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9.publish.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_arm64.publish.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_arm64.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_optimized_gcp.publish.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_optimized_gcp.wf.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_optimized_gcp_arm64.publish.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_9_optimized_gcp_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9_optimized_gcp.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9_optimized_gcp_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/rocky_linux_9.wf.json
  daisy_workflows/image_build/enterprise_linux/rocky_linux_9_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/rocky_linux_9_optimized_gcp.wf.json
  daisy_workflows/image_build/enterprise_linux/rocky_linux_9_optimized_gcp_arm64.wf.json
Due: none

Fix sshd password auth.
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9_optimized_gcp.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9_optimized_gcp_arm64.cfg
Due: none

Fix sshd password auth. (#1982)
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9_optimized_gcp.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9_optimized_gcp_arm64.cfg
Due: none

Updated goospec file location for guest package build
  cli_tools/diagnostics/packaging/googet/google-compute-engine-diagnostics.goospec
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Updated goospec file location for guest package build (#1983)
  cli_tools/diagnostics/packaging/googet/google-compute-engine-diagnostics.goospec
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Disable root login by default in Rocky 9.
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9_optimized_gcp.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9_optimized_gcp_arm64.cfg
Due: none

Disable root login by default in Rocky 9. (#1984)
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9_optimized_gcp.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_9_optimized_gcp_arm64.cfg
Due: none

Support windows MTU 1500
  cli_tools/diagnostics/rdp_status.ps1
  daisy_workflows/image_build/windows_for_containers/container_image_install.ps1
  image_test/configuration/windows/test_config.ps1
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Remove setting MTU to 1460 for host and containers
  daisy_workflows/image_build/windows_for_containers/container_image_install.ps1
Due: none

Support windows MTU 1500 (#1985)
  cli_tools/diagnostics/rdp_status.ps1
  daisy_workflows/image_build/windows_for_containers/container_image_install.ps1
  image_test/configuration/windows/test_config.ps1
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

add arm64 partner exports
  daisy_workflows/build-publish/partner/opensuse_leap_15_arm64.publish.json
  daisy_workflows/build-publish/partner/opensuse_leap_15_arm64_export.wf.json
  daisy_workflows/build-publish/partner/sles_15_arm64.publish.json
  daisy_workflows/build-publish/partner/sles_15_arm64_export.wf.json
  daisy_workflows/build-publish/partner/ubuntu_1804_arm64.publish.json
  daisy_workflows/build-publish/partner/ubuntu_1804_arm64_export.wf.json
  daisy_workflows/build-publish/partner/ubuntu_2004_arm64.publish.json
  daisy_workflows/build-publish/partner/ubuntu_2004_arm64_export.wf.json
  daisy_workflows/build-publish/partner/ubuntu_2204.publish.json
  daisy_workflows/build-publish/partner/ubuntu_2204_arm64.publish.json
  daisy_workflows/build-publish/partner/ubuntu_2204_arm64_export.wf.json
  daisy_workflows/build-publish/partner/ubuntu_2204_export.wf.json
Due: none

add arm64 partner exports (#1986)
  daisy_workflows/build-publish/partner/opensuse_leap_15_arm64.publish.json
  daisy_workflows/build-publish/partner/opensuse_leap_15_arm64_export.wf.json
  daisy_workflows/build-publish/partner/sles_15_arm64.publish.json
  daisy_workflows/build-publish/partner/sles_15_arm64_export.wf.json
  daisy_workflows/build-publish/partner/ubuntu_1804_arm64.publish.json
  daisy_workflows/build-publish/partner/ubuntu_1804_arm64_export.wf.json
  daisy_workflows/build-publish/partner/ubuntu_2004_arm64.publish.json
  daisy_workflows/build-publish/partner/ubuntu_2004_arm64_export.wf.json
  daisy_workflows/build-publish/partner/ubuntu_2204.publish.json
  daisy_workflows/build-publish/partner/ubuntu_2204_arm64.publish.json
  daisy_workflows/build-publish/partner/ubuntu_2204_arm64_export.wf.json
  daisy_workflows/build-publish/partner/ubuntu_2204_export.wf.json
Due: none

fix typo in partner publish wf
  daisy_workflows/build-publish/partner/opensuse_leap_15_arm64.publish.json
Due: none

fix typo in partner publish wf (#1987)
  daisy_workflows/build-publish/partner/opensuse_leap_15_arm64.publish.json
Due: none

fix more typos in partner workflows
  daisy_workflows/build-publish/partner/freebsd_11.publish.json
  daisy_workflows/build-publish/partner/freebsd_12.publish.json
  daisy_workflows/build-publish/partner/freebsd_13.publish.json
  daisy_workflows/build-publish/partner/opensuse_leap_15.publish.json
  daisy_workflows/build-publish/partner/opensuse_leap_15_arm64.publish.json
Due: none

add ubuntu pro 2204 export workflows
  daisy_workflows/build-publish/partner/ubuntu_pro_2204.publish.json
  daisy_workflows/build-publish/partner/ubuntu_pro_2204_export.wf.json
Due: none

fix more typos in partner workflows (#1988)
  daisy_workflows/build-publish/partner/freebsd_11.publish.json
  daisy_workflows/build-publish/partner/freebsd_12.publish.json
  daisy_workflows/build-publish/partner/freebsd_13.publish.json
  daisy_workflows/build-publish/partner/opensuse_leap_15.publish.json
  daisy_workflows/build-publish/partner/opensuse_leap_15_arm64.publish.json
Due: none

add ubuntu pro 2204 export workflows (#1989)
  daisy_workflows/build-publish/partner/ubuntu_pro_2204.publish.json
  daisy_workflows/build-publish/partner/ubuntu_pro_2204_export.wf.json
Due: none

address comments
  daisy_workflows/build-publish/windows/windows-install-media.publish.json
  daisy_workflows/build-publish/windows/windows-install-media.wf.json
  daisy_workflows/image_build/windows/windows_install_media/components/2012_R2_64Bit/install_unattend.xml
  daisy_workflows/image_build/windows/windows_install_media/components/2012_R2_64Bit/unattend/upgrade_unattend.xml
  daisy_workflows/image_build/windows/windows_install_media/components/2012_R2_64Bit/unattend/upgrade_unattend_core.xml
  daisy_workflows/image_build/windows/windows_install_media/components/2012_R2_64Bit/upgrade.ps1
  daisy_workflows/image_build/windows/windows_install_media/components/2016_64Bit/upgrade.ps1
  daisy_workflows/image_build/windows/windows_install_media/components/2019_64Bit/upgrade.ps1
  daisy_workflows/image_build/windows/windows_install_media/components/2022_64Bit/upgrade.ps1
  daisy_workflows/image_build/windows/windows_install_media/components/common/config.psm1
  daisy_workflows/image_build/windows/windows_install_media/components/common/logging.psm1
  daisy_workflows/image_build/windows/windows_install_media/components/common/setup-logger.ps1
  daisy_workflows/image_build/windows/windows_install_media/prepare_install_media.ps1
Due: prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

enable DynamicUpdate
  daisy_workflows/image_build/windows/windows_install_media/components/2016_64Bit/upgrade.ps1
  daisy_workflows/image_build/windows/windows_install_media/components/2019_64Bit/upgrade.ps1
  daisy_workflows/image_build/windows/windows_install_media/components/2022_64Bit/upgrade.ps1
Due: none

Migrate "build and publish" setup for windows-install-media to compute-image-tools (#1888)
  cli_tools/gce_windows_upgrade/upgrade_script_2008r2_to_2012r2.ps1
  daisy_workflows/build-publish/windows/windows-install-media.publish.json
  daisy_workflows/build-publish/windows/windows-install-media.wf.json
  daisy_workflows/image_build/windows/windows_install_media/components/2012_R2_64Bit/install_unattend.xml
  daisy_workflows/image_build/windows/windows_install_media/components/2012_R2_64Bit/unattend/upgrade_unattend.xml
  daisy_workflows/image_build/windows/windows_install_media/components/2012_R2_64Bit/unattend/upgrade_unattend_core.xml
  daisy_workflows/image_build/windows/windows_install_media/components/2012_R2_64Bit/upgrade.ps1
  daisy_workflows/image_build/windows/windows_install_media/components/2016_64Bit/upgrade.ps1
  daisy_workflows/image_build/windows/windows_install_media/components/2019_64Bit/upgrade.ps1
  daisy_workflows/image_build/windows/windows_install_media/components/2022_64Bit/upgrade.ps1
  daisy_workflows/image_build/windows/windows_install_media/components/common/config.psm1
  daisy_workflows/image_build/windows/windows_install_media/components/common/logging.psm1
  daisy_workflows/image_build/windows/windows_install_media/components/common/setup-logger.ps1
  daisy_workflows/image_build/windows/windows_install_media/prepare_install_media.ps1
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Add config, build, and publish files for SQL Server 2022 Preview
  daisy_workflows/build-publish/sqlserver/sql-2022-preview-windows-2022-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2022-preview-windows-2022-dc.wf.json
  daisy_workflows/image_build/sqlserver/configs/sql_server_2022.ini
  daisy_workflows/image_build/sqlserver/sql-2022-preview-windows-2022-dc.wf.json
Due: none

RHEL 8.6 for SAP build.
  daisy_workflows/build-publish/enterprise_linux/rhel_8_6_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_6_sap.wf.json
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_6_sap.cfg
  daisy_workflows/image_build/enterprise_linux/rhel_8_6_sap.wf.json
Due: none

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/common: any of: common/.*
  prow/presubmit/gotest/common: any of: common/.*
  prow/presubmit/gobuild/common: any of: common/.*
  prow/presubmit/gocheck/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gobuild/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$
