Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/common: any of: common/.*
  prow/presubmit/gotest/common: any of: common/.*
  prow/presubmit/gobuild/common: any of: common/.*
  prow/presubmit/gocheck/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gobuild/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$

Removing GCS internal URL since it was removed from concourse pipeline
  daisy_workflows/build-publish/windows/windows-server-2004-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2012r2-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2012r2-dc-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2022-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2022-dc-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-20h2-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows_export.wf.json
Due: none

Removing GCS internal URL since it was removed from concourse pipeline (#1877)
  daisy_workflows/build-publish/windows/windows-server-2004-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2012r2-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2012r2-dc-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2022-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2022-dc-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-20h2-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows_export.wf.json
Due: none

[build test image] support ARM package installation
  daisy_workflows/image_build/install_package/installpackage.py
Due: prow/presubmit/flake8

remove f
  daisy_workflows/image_build/install_package/installpackage.py
Due: prow/presubmit/flake8

build debian-11-worker-arm64
  daisy_workflows/image_build/debian/debian_11_worker_arm64.sh
  daisy_workflows/image_build/debian/debian_11_worker_arm64.wf.json
  daisy_workflows/image_build/install_package/install_package.wf.json
  daisy_workflows/image_build/install_package/installpackage.py
Due: prow/presubmit/flake8

typo
  daisy_workflows/image_build/debian/debian_11_worker_arm64.sh
  daisy_workflows/image_build/install_package/install_package.wf.json
Due: none

Image export for non-raw files: fix the issue of temporary buffer disk failing to resize occasionally with a resize2fs error by creating buffer disk of the same size as the image raw size.
  cli_tools/gce_vm_image_export/exporter/exporter_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image export: add 5% for the buffer disk to account for disk file format/file system overhead if image contains truly random data (no compression benefits)
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_export/exporter/exporter_test.go
  cli_tools/go.mod
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image export buffer disk extra space (#1879)
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_export/exporter/exporter_test.go
  cli_tools/go.mod
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

include missing section
  daisy_workflows/build-publish/rhui/cds_artifacts/rhui-tools.conf
Due: none

include missing section (#1880)
  daisy_workflows/build-publish/rhui/cds_artifacts/rhui-tools.conf
Due: none

combine 2 worker sh
  daisy_workflows/image_build/debian/debian_10_worker.wf.json
  daisy_workflows/image_build/debian/debian_11_worker_arm64.wf.json
  daisy_workflows/image_build/debian/debian_worker.sh
Due: none

remove unused file
  daisy_workflows/image_build/debian/debian_11_worker_arm64.sh
  daisy_workflows/image_build/debian/debian_worker.sh
Due: none

OVFImport: support_instance_import_when_boot_disk_spans_mltiple_physical_disks_or_with_LVM
  cli_tools/common/deleter/resource_deleter.go
  cli_tools/common/deleter/resource_deleter_test.go
  cli_tools/common/disk/disk.go
  cli_tools/common/disk/disk_test.go
  cli_tools/common/domain/interfaces.go
  cli_tools/common/image/deleter_test.go
  cli_tools/common/image/importer/bootable_disk_processor.go
  cli_tools/common/image/importer/request.go
  cli_tools/gce_ovf_import/daisy_utils/data_disk_workflow_updater.go
  cli_tools/gce_ovf_import/daisy_utils/data_disk_workflow_updater_test.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer_test.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
  cli_tools_tests/go.sum
  daisy_workflows/image_import/debian/translate.py
  daisy_workflows/image_import/enterprise_linux/translate.py
  daisy_workflows/image_import/suse/suse_import/translate.py
  daisy_workflows/image_import/ubuntu/translate.py
  daisy_workflows/linux_common/utils/diskutils.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

OVFImport_create_DataDisks_using_inflation_interface_and_create_them_in_parallel
  cli_tools/common/deleter/resource_deleter_test.go
  cli_tools/common/disk/disk.go
  cli_tools/common/disk/disk_test.go
  cli_tools/common/image/importer/api_inflater.go
  cli_tools/common/image/importer/bootable_disk_processor.go
  cli_tools/common/image/importer/bootable_disk_processor_test.go
  cli_tools/common/image/importer/daisy_inflater.go
  cli_tools/common/image/importer/importer.go
  cli_tools/common/image/importer/inflater.go
  cli_tools/common/image/importer/inflater_test.go
  cli_tools/common/image/importer/request.go
  cli_tools/gce_ovf_import/daisy_utils/data_disk_workflow_updater.go
  cli_tools/gce_ovf_import/daisy_utils/data_disk_workflow_updater_test.go
  cli_tools/gce_ovf_import/domain/interfaces.go
  cli_tools/gce_ovf_import/domain/mocks/mock_interfaces.go
  cli_tools/gce_ovf_import/multi_disk_importer/multi_disk_importer.go
  cli_tools/gce_ovf_import/multi_disk_importer/request_builder.go
  cli_tools/gce_ovf_import/multi_disk_importer/request_builder_test.go
  cli_tools/gce_ovf_import/multi_disk_importer/request_executor.go
  cli_tools/gce_ovf_import/multi_disk_importer/request_executor_test.go
  cli_tools/gce_ovf_import/multi_image_importer/request_executor_test.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer_test.go
  daisy_workflows/linux_common/utils/diskutils.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

OVFImport_code_refactoring_based_on_golint
  cli_tools/common/deleter/resource_deleter.go
  cli_tools/common/domain/interfaces.go
  cli_tools/common/image/importer/inflater.go
  cli_tools/gce_ovf_import/daisy_utils/data_disk_workflow_updater.go
  cli_tools/gce_ovf_import/multi_disk_importer/request_builder.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
  daisy_workflows/image_import/suse/suse_import/translate.py
  daisy_workflows/linux_common/utils/diskutils.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

2012r2-->2012-r2
  daisy_workflows/build-publish/windows/windows-server-2012-r2-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2012-r2-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2012-r2-dc-uefi.wf.json
  daisy_workflows/image_build/windows/windows-server-2012-r2-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2012-r2-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2012-r2-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2012-r2-dc-uefi-payg.wf.json
Due: none

2012r2-->2012-r2 (#1881)
  daisy_workflows/build-publish/windows/windows-server-2012-r2-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2012-r2-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2012-r2-dc-uefi.wf.json
  daisy_workflows/image_build/windows/windows-server-2012-r2-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2012-r2-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2012-r2-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2012-r2-dc-uefi-payg.wf.json
Due: none

Fix SQL publish workflow names.
  daisy_workflows/build-publish/sqlserver/sql-2012-enterprise-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2012-standard-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2012-web-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2014-enterprise-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2014-enterprise-windows-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2014-standard-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2014-web-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-enterprise-windows-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-enterprise-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-enterprise-windows-2022-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-standard-windows-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-standard-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-standard-windows-2022-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-web-windows-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-web-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-web-windows-2022-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2019-enterprise-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2019-enterprise-windows-2022-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2019-standard-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2019-standard-windows-2022-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2019-web-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2019-web-windows-2022-dc-uefi.publish.json
Due: none

Fix SQL publish workflow names. (#1882)
  daisy_workflows/build-publish/sqlserver/sql-2012-enterprise-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2012-standard-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2012-web-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2014-enterprise-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2014-enterprise-windows-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2014-standard-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2014-web-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-enterprise-windows-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-enterprise-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-enterprise-windows-2022-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-standard-windows-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-standard-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-standard-windows-2022-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-web-windows-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-web-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-web-windows-2022-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2019-enterprise-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2019-enterprise-windows-2022-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2019-standard-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2019-standard-windows-2022-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2019-web-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2019-web-windows-2022-dc-uefi.publish.json
Due: none

Fix
  daisy_workflows/build-publish/windows_container/windows-2019-dc-core-for-containers-uefi.publish.json
  daisy_workflows/build-publish/windows_container/windows-2019-dc-for-containers-uefi.publish.json
Due: none

Fix (#1883)
  daisy_workflows/build-publish/windows_container/windows-2019-dc-core-for-containers-uefi.publish.json
  daisy_workflows/build-publish/windows_container/windows-2019-dc-for-containers-uefi.publish.json
Due: none

Fix Windows Server 2019 for container publish wf names (again).
  daisy_workflows/build-publish/windows_container/windows-server-2019-dc-core-for-containers-uefi.publish.json
  daisy_workflows/build-publish/windows_container/windows-server-2019-dc-for-containers-uefi.publish.json
Due: none

Fix Windows Server 2019 for container publish wf names (again). (#1884)
  daisy_workflows/build-publish/windows_container/windows-server-2019-dc-core-for-containers-uefi.publish.json
  daisy_workflows/build-publish/windows_container/windows-server-2019-dc-for-containers-uefi.publish.json
Due: none

remove gcsfuse compeltely
  daisy_workflows/image_build/debian/debian_worker.sh
Due: none

Add ARM64 worker image (#1878)
  daisy_workflows/image_build/debian/debian_11_worker_arm64.wf.json
  daisy_workflows/image_build/debian/debian_worker.sh
  daisy_workflows/image_build/install_package/install_package.wf.json
Due: none

specify zone since ARM VM is valid only on specific zones
  daisy_workflows/image_build/install_package/install_package.wf.json
Due: none

Image Import: use adaptive timeout in run_startup_scripts.
  daisy_workflows/image_import/windows/run_startup_scripts.cmd
  daisy_workflows/image_import/windows/run_startup_scripts_x86.cmd
Due: none

Image Import: use adaptive timeout in run_startup_scripts. (#1858)
  daisy_workflows/image_import/windows/run_startup_scripts.cmd
  daisy_workflows/image_import/windows/run_startup_scripts_x86.cmd
Due: none

OVFImport_code_refactoring_remove_DiskName_from_request_object
  cli_tools/common/image/importer/api_inflater.go
  cli_tools/common/image/importer/bootable_disk_processor.go
  cli_tools/common/image/importer/bootable_disk_processor_test.go
  cli_tools/common/image/importer/daisy_inflater.go
  cli_tools/common/image/importer/inflater.go
  cli_tools/common/image/importer/inflater_test.go
  cli_tools/common/image/importer/request.go
  cli_tools/gce_ovf_import/domain/interfaces.go
  cli_tools/gce_ovf_import/domain/mocks/mock_interfaces.go
  cli_tools/gce_ovf_import/multi_disk_importer/multi_disk_importer.go
  cli_tools/gce_ovf_import/multi_disk_importer/request_builder.go
  cli_tools/gce_ovf_import/multi_disk_importer/request_builder_test.go
  cli_tools/gce_ovf_import/multi_disk_importer/request_executor.go
  cli_tools/gce_ovf_import/multi_disk_importer/request_executor_test.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

specify zone since ARM VM is valid only on specific zones (#1885)
  daisy_workflows/image_build/install_package/install_package.wf.json
Due: none

[build-publish] support debian-11-worker-arm64
  daisy_workflows/build-publish/debian/debian_11_worker_arm64.publish.json
  daisy_workflows/build-publish/debian/debian_11_worker_arm64.wf.json
Due: none

typo
  daisy_workflows/build-publish/debian/debian_10_worker.wf.json
  daisy_workflows/build-publish/debian/debian_11_worker_arm64.wf.json
Due: none

[build-publish] support debian-11-worker-arm64 (#1886)
  daisy_workflows/build-publish/debian/debian_11_worker_arm64.publish.json
  daisy_workflows/build-publish/debian/debian_11_worker_arm64.wf.json
Due: none

use 'go install' instead of 'go get'
  test-infra/prowjobs/gocheck/Dockerfile
  test-infra/prowjobs/unittests/Dockerfile
Due: none

use 'go install' instead of 'go get' (#1887)
  test-infra/prowjobs/gocheck/Dockerfile
  test-infra/prowjobs/unittests/Dockerfile
Due: none

OVFImport_code_refactoring_modify_functions_naming_and_logs_messages
  cli_tools/gce_ovf_import/multi_disk_importer/multi_disk_importer.go
  cli_tools/gce_ovf_import/multi_disk_importer/request_builder.go
  cli_tools/gce_ovf_import/multi_disk_importer/request_executor.go
  cli_tools/gce_ovf_import/multi_disk_importer/request_executor_test.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer_test.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
  daisy_workflows/image_import/debian/translate.py
  daisy_workflows/image_import/enterprise_linux/translate.py
  daisy_workflows/image_import/suse/suse_import/translate.py
  daisy_workflows/image_import/ubuntu/translate.py
  daisy_workflows/linux_common/utils/diskutils.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Fix getDeviceForMount call
  cli_tools/common/mount/inspector.go
  cli_tools/common/mount/inspector_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

prune migrated builds
  prowjobs_cloudbuild.yaml
Due: none

prune legacy prow container builds
  test-infra/prowjobs/README.md
  test-infra/prowjobs/flake8/Dockerfile
  test-infra/prowjobs/flake8/main.sh
  test-infra/prowjobs/gobuild/Dockerfile
  test-infra/prowjobs/gobuild/main.sh
  test-infra/prowjobs/gocheck/Dockerfile
  test-infra/prowjobs/gocheck/main.sh
  test-infra/prowjobs/unittests/Dockerfile
  test-infra/prowjobs/unittests/main.sh
Due: none
