Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

prow/presubmit/flake8:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/flake8:latest
      imagePullPolicy: Always
      command:
      - /main.sh

prow/presubmit/pytest/boot-inspect:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/pytest:latest
      imagePullPolicy: Always
      command:
      - /main.py
      args:
      - daisy_workflows/image_import/inspection

prow/presubmit/gocheck/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gotest/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gobuild/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gocheck/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gotest/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gobuild/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gocheck/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gotest/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gobuild/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gocheck/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

prow/presubmit/gobuild/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

prow/presubmit/gocheck/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools

Update staging license for SQL Server 2022 publish file
  daisy_workflows/build-publish/sqlserver/sql-2022-preview-windows-2022-dc-uefi.publish.json
Due: none

RHEL 8.6 for SAP build. (#1991)
  daisy_workflows/build-publish/enterprise_linux/rhel_8_6_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_6_sap.wf.json
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_8_6_sap.cfg
  daisy_workflows/image_build/enterprise_linux/rhel_8_6_sap.wf.json
Due: none

Create .gitattributes for allowing diffs in files recognized as binaries
  .gitattributes
Due: none

Reuploading sql_server_2022.ini due to an encoding issue
  .gitattributes
  daisy_workflows/image_build/sqlserver/configs/sql_server_2022.ini
Due: none

Add config, build, and publish files for SQL Server 2022 Preview (#1990)
  daisy_workflows/build-publish/sqlserver/sql-2022-preview-windows-2022-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2022-preview-windows-2022-dc.wf.json
  daisy_workflows/image_build/sqlserver/configs/sql_server_2022.ini
  daisy_workflows/image_build/sqlserver/sql-2022-preview-windows-2022-dc.wf.json
Due: none

AlmaLinux 9 image build.
  daisy_workflows/build-publish/enterprise_linux/almalinux_9.publish.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_9.wf.json
  daisy_workflows/image_build/enterprise_linux/almalinux_9.wf.json
  daisy_workflows/image_build/enterprise_linux/kickstart/almalinux_9.cfg
Due: none

AlmaLinux 9 image build. (#1992)
  daisy_workflows/build-publish/enterprise_linux/almalinux_9.publish.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_9.wf.json
  daisy_workflows/image_build/enterprise_linux/almalinux_9.wf.json
  daisy_workflows/image_build/enterprise_linux/kickstart/almalinux_9.cfg
Due: none

Renaming SSMS variable in SQL 22 publish file
  daisy_workflows/build-publish/sqlserver/sql-2022-preview-windows-2022-dc.wf.json
Due: none

Renaming SSMS variable in SQL 22 publish file (#1993)
  daisy_workflows/build-publish/sqlserver/sql-2022-preview-windows-2022-dc.wf.json
Due: none

Revert "Renaming SSMS variable in SQL 22 publish file (#1993)"
  daisy_workflows/build-publish/sqlserver/sql-2022-preview-windows-2022-dc.wf.json
Due: none

Revert "Renaming SSMS variable in SQL 22 publish file (#1993)" (#1994)
  daisy_workflows/build-publish/sqlserver/sql-2022-preview-windows-2022-dc.wf.json
Due: none

adjust publish API endpoint for windows-install-media
  daisy_workflows/build-publish/windows/windows-install-media.publish.json
Due: none

adjust publish API endpoint for windows-install-media (#1995)
  daisy_workflows/build-publish/windows/windows-install-media.publish.json
Due: none

refactor
  cli_tools/gce_windows_upgrade/main.go
  cli_tools/gce_windows_upgrade/upgrade_script.ps1
  cli_tools/gce_windows_upgrade/upgrader/test_common_test.go
  cli_tools/gce_windows_upgrade/upgrader/upgrade_paths.go
  cli_tools/gce_windows_upgrade/upgrader/upgrade_paths_test.go
  cli_tools/gce_windows_upgrade/upgrader/upgrader.go
  cli_tools/gce_windows_upgrade/upgrader/utils.go
  cli_tools/gce_windows_upgrade/upgrader/validators.go
  cli_tools/gce_windows_upgrade/upgrader/validators_test.go
  cli_tools/gce_windows_upgrade/upgrader/workflows.go
  cli_tools/gce_windows_upgrade/upgrader/workflows_test.go
  cli_tools/go.mod
  cli_tools_tests/go.sum
  common/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

modify folder name for 2022
  cli_tools/gce_windows_upgrade/upgrader/upgrade_paths.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

address comments; change the PR to enable e2e test
  cli_tools/gce_windows_upgrade/upgrade_script.ps1
  cli_tools/gce_windows_upgrade/upgrader/validators.go
  cli_tools/gce_windows_upgrade/upgrader/validators_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

RHEL 9 BYOS image build.
  daisy_workflows/build-publish/enterprise_linux/rhel_9_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_byos.cfg
  daisy_workflows/image_build/enterprise_linux/rhel_9_byos.wf.json
Due: none

RHEL 9 BYOS image build. (#1996)
  daisy_workflows/build-publish/enterprise_linux/rhel_9_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_byos.cfg
  daisy_workflows/image_build/enterprise_linux/rhel_9_byos.wf.json
Due: none

Change windows staging publish.
  daisy_workflows/build-publish/windows/windows-10-21h2-ent-x64-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-11-21h2-ent-x64-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-81-ent-x64-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2004-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2012-r2-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2022-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2022-dc-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-20h2-dc-core-uefi.publish.json
Due: none

Change windows staging publish. (#1997)
  daisy_workflows/build-publish/windows/windows-10-21h2-ent-x64-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-11-21h2-ent-x64-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-81-ent-x64-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2004-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2012-r2-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2022-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2022-dc-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-20h2-dc-core-uefi.publish.json
Due: none

RHEL 9 for SAP RHUI certs.
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel9-sap-extensions.txt
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel9-sap.crt
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel9-sap.csr
Due: none

Add repo for RHEL 9 for SAP.
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel9-sap.repo
Due: none

RHEL 9 for SAP RHUI certs. (#1998)
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel9-sap-extensions.txt
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel9-sap.crt
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel9-sap.csr
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel9-sap.repo
Due: none

Add imagePrefix argument to gce_image_publish, so that image prefix can be overridden from the argument, and not only taken from json file.
  cli_tools/gce_image_publish/main.go
  cli_tools/gce_image_publish/publish/publish.go
  cli_tools/gce_image_publish/publish/publish_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

kokoro build workflow
  daisy_workflows/build-publish/kokoro/build.sh
  daisy_workflows/build-publish/kokoro/kokoro.wf.json
Due: none

kokoro build workflow (#2000)
  daisy_workflows/build-publish/kokoro/build.sh
  daisy_workflows/build-publish/kokoro/kokoro.wf.json
Due: none

Fix logic in environment conditional
  daisy_workflows/build-publish/sqlserver/sql-2022-preview-windows-2022-dc-uefi.publish.json
Due: none

Fix logic in environment conditional (#2001)
  daisy_workflows/build-publish/sqlserver/sql-2022-preview-windows-2022-dc-uefi.publish.json
Due: none

add rpm-sign to kokoro build
  daisy_workflows/build-publish/kokoro/build.sh
Due: none

add rpm-sign to kokoro build (#2002)
  daisy_workflows/build-publish/kokoro/build.sh
Due: none

[windows upgrade e2e] refactor to support upgrading for more new versions (#1892)
  cli_tools/gce_windows_upgrade/main.go
  cli_tools/gce_windows_upgrade/upgrade_script.ps1
  cli_tools/gce_windows_upgrade/upgrade_script_2008r2_to_2012r2.ps1
  cli_tools/gce_windows_upgrade/upgrader/test_common_test.go
  cli_tools/gce_windows_upgrade/upgrader/upgrade_paths.go
  cli_tools/gce_windows_upgrade/upgrader/upgrade_paths_test.go
  cli_tools/gce_windows_upgrade/upgrader/upgrader.go
  cli_tools/gce_windows_upgrade/upgrader/utils.go
  cli_tools/gce_windows_upgrade/upgrader/validators.go
  cli_tools/gce_windows_upgrade/upgrader/validators_test.go
  cli_tools/gce_windows_upgrade/upgrader/workflows.go
  cli_tools/gce_windows_upgrade/upgrader/workflows_test.go
  cli_tools/go.mod
  cli_tools_tests/go.sum
  common/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Revert "Support windows MTU 1500 (#1985)"
  cli_tools/diagnostics/rdp_status.ps1
  daisy_workflows/image_build/windows_for_containers/container_image_install.ps1
  image_test/configuration/windows/test_config.ps1
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Revert "Support windows MTU 1500 (#1985)" (#2003)
  cli_tools/diagnostics/rdp_status.ps1
  daisy_workflows/image_build/windows_for_containers/container_image_install.ps1
  image_test/configuration/windows/test_config.ps1
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Fix dockerfile for build failure
  gce_windows_upgrade.Dockerfile
  gce_windows_upgrade_tests.Dockerfile
Due: none

Fix dockerfile for build failure (#2005)
  gce_windows_upgrade.Dockerfile
  gce_windows_upgrade_tests.Dockerfile
Due: none

Add gvnic support to SQL Server Images
  daisy_workflows/build-publish/sqlserver/sql-2012-enterprise-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2012-standard-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2012-web-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2014-enterprise-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2014-enterprise-windows-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2014-standard-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2014-web-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-enterprise-windows-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-enterprise-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-enterprise-windows-2022-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-standard-windows-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-standard-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-standard-windows-2022-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-web-windows-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-web-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-web-windows-2022-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2019-enterprise-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2019-enterprise-windows-2022-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2019-standard-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2019-standard-windows-2022-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2019-web-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2019-web-windows-2022-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2022-preview-windows-2022-dc-uefi.publish.json
Due: none

Add gvnic support to SQL Server Images (#2006)
  daisy_workflows/build-publish/sqlserver/sql-2012-enterprise-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2012-standard-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2012-web-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2014-enterprise-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2014-enterprise-windows-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2014-standard-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2014-web-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-enterprise-windows-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-enterprise-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-enterprise-windows-2022-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2012-r2-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-standard-windows-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-standard-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-standard-windows-2022-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-web-windows-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-web-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2017-web-windows-2022-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2019-enterprise-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2019-enterprise-windows-2022-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2019-standard-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2019-standard-windows-2022-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2019-web-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2019-web-windows-2022-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2022-preview-windows-2022-dc-uefi.publish.json
Due: none

e2e test for staging windows install media
  cli_tools_tests/e2e/gce_windows_upgrade/test_suites/windows_upgrade/windows_upgrade_test_suite.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

revert test name
  cli_tools_tests/e2e/gce_windows_upgrade/test_suites/windows_upgrade/windows_upgrade_test_suite.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

revert test instance name
  cli_tools_tests/e2e/gce_windows_upgrade/test_suites/windows_upgrade/windows_upgrade_test_suite.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/common: any of: common/.*
  prow/presubmit/gotest/common: any of: common/.*
  prow/presubmit/gobuild/common: any of: common/.*
  prow/presubmit/gocheck/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gobuild/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$
