Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

prow/presubmit/flake8:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/flake8:latest
      imagePullPolicy: Always
      command:
      - /main.sh

prow/presubmit/pytest/boot-inspect:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/pytest:latest
      imagePullPolicy: Always
      command:
      - /main.py
      args:
      - daisy_workflows/image_import/inspection

prow/presubmit/gocheck/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gotest/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gobuild/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gocheck/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gotest/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gobuild/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gocheck/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gotest/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gobuild/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gocheck/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

prow/presubmit/gobuild/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

prow/presubmit/gocheck/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools

add sdk to el9 build
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_arm64.cfg
Due: none

Update image name in Windows 10 21h2 publish file (#1959)
  daisy_workflows/build-publish/windows/windows-10-21h2-ent-x64-uefi.publish.json
Due: none

move files to a better place; hide the params
  cli_tools/gce_windows_upgrade/upgrade_script_2008r2_to_2012r2.ps1
  daisy_workflows/build-publish/windows_install_media/windows-install-media.publish.json
  daisy_workflows/build-publish/windows_install_media/windows-install-media.wf.json
  daisy_workflows/image_build/windows_install_media/components/2012_R2_64Bit/install_unattend.xml
  daisy_workflows/image_build/windows_install_media/components/2012_R2_64Bit/unattend/upgrade_unattend.xml
  daisy_workflows/image_build/windows_install_media/components/2012_R2_64Bit/unattend/upgrade_unattend_core.xml
  daisy_workflows/image_build/windows_install_media/components/2012_R2_64Bit/upgrade.ps1
  daisy_workflows/image_build/windows_install_media/components/2016_64Bit/upgrade.ps1
  daisy_workflows/image_build/windows_install_media/components/2019_64Bit/upgrade.ps1
  daisy_workflows/image_build/windows_install_media/components/2022_64Bit/upgrade.ps1
  daisy_workflows/image_build/windows_install_media/components/common/config.psm1
  daisy_workflows/image_build/windows_install_media/components/common/logging.psm1
  daisy_workflows/image_build/windows_install_media/components/common/setup-logger.ps1
  daisy_workflows/image_build/windows_install_media/prepare_install_media.ps1
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

add sdk to el9 build (#1961)
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel_9_arm64.cfg
Due: none

Update licenses attached to staging images (Windows Enterprise)
  daisy_workflows/build-publish/windows/windows-10-21h2-ent-x64-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-11-21h2-ent-x64-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-81-ent-x64-uefi.publish.json
Due: none

Update licenses attached to staging images (Windows Enterprise) (#1962)
  daisy_workflows/build-publish/windows/windows-10-21h2-ent-x64-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-11-21h2-ent-x64-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-81-ent-x64-uefi.publish.json
Due: none

Change Rocky Cloud Kernel repos.
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_8_optimized_gcp.cfg
Due: none

Change Rocky Cloud Kernel repos. (#1963)
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_8_optimized_gcp.cfg
Due: none

Update windows client publish workflows
  daisy_workflows/build-publish/windows/windows-10-21h2-ent-x64-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-11-21h2-ent-x64-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-81-ent-x64-uefi.publish.json
Due: none

Update image family for Windows Client images
  daisy_workflows/build-publish/windows/windows-10-21h2-ent-x64-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-11-21h2-ent-x64-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-81-ent-x64-uefi.publish.json
Due: none

Update image family in Windows 11 publish file
  daisy_workflows/build-publish/windows/windows-11-21h2-ent-x64-uefi.publish.json
Due: none

Set the Cloud Kernel repo priority.
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_8_optimized_gcp.cfg
Due: none

Install the kernel from the cloud sig only.
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_8_optimized_gcp.cfg
Due: none

Must have a installation source.
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_8_optimized_gcp.cfg
Due: none

Update windows client publish workflows (#1964)
  daisy_workflows/build-publish/windows/windows-10-21h2-ent-x64-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-11-21h2-ent-x64-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-81-ent-x64-uefi.publish.json
Due: none

fix
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_8_optimized_gcp.cfg
Due: none

Set the Cloud Kernel repo priority. (#1965)
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_8_optimized_gcp.cfg
Due: none

Change license for optimized Rocky Linux 8.
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8_optimized_gcp.publish.json
  daisy_workflows/image_build/enterprise_linux/rocky_linux_8_optimized_gcp.wf.json
Due: none

Change license for optimized Rocky Linux 8. (#1966)
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8_optimized_gcp.publish.json
  daisy_workflows/image_build/enterprise_linux/rocky_linux_8_optimized_gcp.wf.json
Due: none

Fix description string for Rocky Linux 8 Optimized.
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8_optimized_gcp.publish.json
  daisy_workflows/image_build/enterprise_linux/rocky_linux_8_optimized_gcp.wf.json
Due: none

Fix description string for Rocky Linux 8 Optimized. (#1967)
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8_optimized_gcp.publish.json
  daisy_workflows/image_build/enterprise_linux/rocky_linux_8_optimized_gcp.wf.json
Due: none

prune features for arm
  daisy_workflows/build-publish/debian/debian_11_arm64.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_arm64.publish.json
Due: none

prune features for arm (#1968)
  daisy_workflows/build-publish/debian/debian_11_arm64.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_9_arm64.publish.json
Due: none

Rocky Linux 8 Optimized for GCP ARM64.
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8_optimized_gcp_arm64.publish.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8_optimized_gcp_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/build_installer.py
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_8_optimized_gcp_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/rocky_linux_8_optimized_gcp_arm64.wf.json
Due: prow/presubmit/flake8

Update windows client publish file environment logic
  daisy_workflows/build-publish/windows/windows-10-21h2-ent-x64-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-11-21h2-ent-x64-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-81-ent-x64-uefi.publish.json
Due: none

Update windows client publish file environment logic (#1969)
  daisy_workflows/build-publish/windows/windows-10-21h2-ent-x64-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-11-21h2-ent-x64-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-81-ent-x64-uefi.publish.json
Due: none

use gcs_url instead of gcs_path
  daisy_workflows/build-publish/windows_install_media/windows-install-media.wf.json
Due: none

Rocky Linux 8 Optimized for GCP ARM64. (#1954)
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8_optimized_gcp_arm64.publish.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8_optimized_gcp_arm64.wf.json
  daisy_workflows/image_build/enterprise_linux/build_installer.py
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky_linux_8_optimized_gcp_arm64.cfg
  daisy_workflows/image_build/enterprise_linux/rocky_linux_8_optimized_gcp_arm64.wf.json
Due: prow/presubmit/flake8

change path scerect anme
  daisy_workflows/build-publish/windows_install_media/windows-install-media.wf.json
  daisy_workflows/image_build/windows_install_media/prepare_install_media.ps1
Due: none

revert workflow_root usage
  daisy_workflows/build-publish/windows_install_media/windows-install-media.wf.json
Due: none

revert workflow_root usage
  daisy_workflows/build-publish/windows_install_media/windows-install-media.wf.json
  daisy_workflows/image_build/windows_install_media/prepare_install_media.ps1
Due: none

Add workflow status messages.
  daisy_workflows/image_build/install_package/installpackage.py
Due: prow/presubmit/flake8

fix
  daisy_workflows/image_build/install_package/installpackage.py
Due: prow/presubmit/flake8

Add workflow status messages so that the Daisy workflow correctly succeeds or fails. (#1970)
  daisy_workflows/image_build/install_package/installpackage.py
Due: prow/presubmit/flake8

Revert "Add workflow status messages so that the Daisy workflow correctly succeeds or fails. (#1970)"
  daisy_workflows/image_build/install_package/installpackage.py
Due: prow/presubmit/flake8

Revert "Add workflow status messages so that the Daisy workflow correctly succeeds or fails. (#1970)" (#1971)
  daisy_workflows/image_build/install_package/installpackage.py
Due: prow/presubmit/flake8

Debian 11 worker image build.
  daisy_workflows/build-publish/debian/debian_11_worker.publish.json
  daisy_workflows/build-publish/debian/debian_11_worker.wf.json
  daisy_workflows/image_build/debian/debian_11_worker.wf.json
Due: none

Debian 11 worker image build. (#1972)
  daisy_workflows/build-publish/debian/debian_11_worker.publish.json
  daisy_workflows/build-publish/debian/debian_11_worker.wf.json
  daisy_workflows/image_build/debian/debian_11_worker.wf.json
Due: none

Fix typo.
  daisy_workflows/build-publish/debian/debian_11_worker.publish.json
Due: none

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/common: any of: common/.*
  prow/presubmit/gotest/common: any of: common/.*
  prow/presubmit/gobuild/common: any of: common/.*
  prow/presubmit/gocheck/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gobuild/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$
