Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

prow/presubmit/flake8:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/flake8:latest
      imagePullPolicy: Always
      command:
      - /main.sh

prow/presubmit/pytest/boot-inspect:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/pytest:latest
      imagePullPolicy: Always
      command:
      - /main.py
      args:
      - daisy_workflows/image_import/inspection

prow/presubmit/gocheck/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gotest/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gobuild/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gocheck/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gotest/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gobuild/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gocheck/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gotest/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gobuild/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gocheck/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

prow/presubmit/gobuild/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

prow/presubmit/gocheck/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools

Update OWNERS
  OWNERS
Due: none

Adding Lawrence and myself to the owners file (#1829)
  OWNERS
Due: none

Moving install_disk_size and drivers_bucket to variables. (#1828)
  daisy_workflows/image_build/windows/windows-server-2012r2-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2012r2-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2012r2-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2012r2-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2022-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2022-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2022-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2022-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-sac-1909-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-sac-2004-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-sac-20h2-dc-core-uefi-payg.wf.json
Due: none

Optional pass image publish template content in CreatePublish (#1811)
  cli_tools/gce_image_publish/publish/publish.go
  cli_tools/gce_image_publish/publish/publish_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

use BYOS
  daisy_workflows/build-publish/rhui/cds.wf.json
  daisy_workflows/build-publish/rhui/install_cds.sh
Due: none

Update Windows Server 2022 Export time to 90 min
  daisy_workflows/build-publish/windows/windows-server-2022-dc-uefi.wf.json
Due: none

Add disk export time out var to export workflow
  daisy_workflows/build-publish/windows/windows-server-2022-dc-uefi.wf.json
  daisy_workflows/build-publish/windows/windows_export.wf.json
Due: none

Update timeout as suggested
  daisy_workflows/build-publish/windows/windows-server-2022-dc-uefi.wf.json
  daisy_workflows/build-publish/windows/windows_export.wf.json
Due: none

update disk export time out
  daisy_workflows/build-publish/windows/windows-server-2022-dc-uefi.wf.json
Due: none

Update variable description.
  daisy_workflows/build-publish/windows/windows_export.wf.json
Due: none

Remove the varialbe as it matches default value
  daisy_workflows/build-publish/windows/windows-server-2022-dc-uefi.wf.json
Due: none

Update windows export image time to 60 min (#1830)
  daisy_workflows/build-publish/windows/windows_export.wf.json
Due: none

pass TLS cert by Daisy workflow
  daisy_workflows/build-publish/rhui/cds.wf.json
  daisy_workflows/build-publish/rhui/install_cds.sh
Due: none

use BYOS
  daisy_workflows/build-publish/rhui/install_rhua.sh
  daisy_workflows/build-publish/rhui/rhua.wf.json
Due: none

RHUA build: use patched Ansible playbook (#1826)
  daisy_workflows/build-publish/rhui/answers.yaml
  daisy_workflows/build-publish/rhui/fstab
  daisy_workflows/build-publish/rhui/install_rhua.sh
  daisy_workflows/build-publish/rhui/rhua.wf.json
  daisy_workflows/build-publish/rhui/rhua_artifacts/answers.yaml
  daisy_workflows/build-publish/rhui/rhua_artifacts/depend-nfs.conf
  daisy_workflows/build-publish/rhui/rhua_artifacts/reponames.txt
  daisy_workflows/build-publish/rhui/rhua_artifacts/rhua.patch
Due: none

Change the group added to ASSYSADMINACCOUNTS
  daisy_workflows/image_build/sqlserver/configs/sql_server_2012.ini
  daisy_workflows/image_build/sqlserver/configs/sql_server_2012_core.ini
  daisy_workflows/image_build/sqlserver/configs/sql_server_2014.ini
  daisy_workflows/image_build/sqlserver/configs/sql_server_2014_core.ini
  daisy_workflows/image_build/sqlserver/configs/sql_server_2016.ini
  daisy_workflows/image_build/sqlserver/configs/sql_server_2016_core.ini
  daisy_workflows/image_build/sqlserver/configs/sql_server_2017.ini
  daisy_workflows/image_build/sqlserver/configs/sql_server_2017_core.ini
  daisy_workflows/image_build/sqlserver/configs/sql_server_2019.ini
Due: none

Change the group added to ASSYSADMINACCOUNTS (#1831)
  daisy_workflows/image_build/sqlserver/configs/sql_server_2012.ini
  daisy_workflows/image_build/sqlserver/configs/sql_server_2012_core.ini
  daisy_workflows/image_build/sqlserver/configs/sql_server_2014.ini
  daisy_workflows/image_build/sqlserver/configs/sql_server_2014_core.ini
  daisy_workflows/image_build/sqlserver/configs/sql_server_2016.ini
  daisy_workflows/image_build/sqlserver/configs/sql_server_2016_core.ini
  daisy_workflows/image_build/sqlserver/configs/sql_server_2017.ini
  daisy_workflows/image_build/sqlserver/configs/sql_server_2017_core.ini
  daisy_workflows/image_build/sqlserver/configs/sql_server_2019.ini
Due: none

Add GVNIC guestOS feature tag to supported images. (#1832)
  daisy_workflows/build-publish/debian/debian_11.publish.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_9_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_2_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_4_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8.publish.json
Due: none

Validating image URI on image export and setting temporary disk to match the image size. (#1825)
  cli_tools/common/utils/validation/validation_utils.go
  cli_tools/common/utils/validation/validation_utils_test.go
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_export/exporter/exporter_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image Import: Send InspectionResults in OutputInfo
  cli_tools/common/utils/logging/service/log_entry.go
  cli_tools/common/utils/logging/service/logger.go
  cli_tools/common/utils/logging/service/logger_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

remove han from owners
  OWNERS
Due: none

CDS build workflow (#1827)
  daisy_workflows/build-publish/rhui/cds.wf.json
  daisy_workflows/build-publish/rhui/cds_artifacts/answers.yaml
  daisy_workflows/build-publish/rhui/cds_artifacts/cds.patch
  daisy_workflows/build-publish/rhui/cds_artifacts/rhui-tools.conf
  daisy_workflows/build-publish/rhui/install_cds.sh
Due: none

remove han from owners (#1835)
  OWNERS
Due: none

Add GVNIC feature flag for CentOS 7.
  daisy_workflows/build-publish/enterprise_linux/centos_7.publish.json
Due: none

Add GVNIC feature flag for CentOS 7. (#1836)
  daisy_workflows/build-publish/enterprise_linux/centos_7.publish.json
Due: none

resolve TODO from tzz: remove out-of-date TODO or create trackers for them
  cli_tools/common/image/importer/inflater.go
  cli_tools/common/image/importer/inflater_test.go
  cli_tools/gce_windows_upgrade/upgrader/upgrader.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/cli_tests.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Import e2e: OS config is not supported for Windows 10.
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Import e2e: OS config is not supported for Windows 10. (#1838)
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Add sql servers on Windows server 2022 build workflows (#1820)
  daisy_workflows/build-publish/sqlserver/sql-2017-enterprise-windows-2022-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2017-enterprise-windows-2022-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-standard-windows-2022-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2017-standard-windows-2022-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-web-windows-2022-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2017-web-windows-2022-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2019-enterprise-windows-2022-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2019-enterprise-windows-2022-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2019-standard-windows-2022-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2019-standard-windows-2022-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2019-web-windows-2022-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2019-web-windows-2022-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-enterprise-windows-2022-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-standard-windows-2022-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-web-windows-2022-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2019-enterprise-windows-2022-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2019-standard-windows-2022-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2019-web-windows-2022-dc.wf.json
Due: none

attach one more bug
  cli_tools/common/image/importer/inflater_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

resolve TODO from tzz: remove out-of-date TODO or create trackers for them (#1837)
  cli_tools/common/image/importer/inflater.go
  cli_tools/common/image/importer/inflater_test.go
  cli_tools/gce_windows_upgrade/upgrader/upgrader.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/cli_tests.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

[build] 'replace' work with 'require latest'
  cli_tools/go.mod
  common/go.mod
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

one more
  cli_tools_tests/go.mod
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

OVF Import: Delete images when instance creation fails
  cli_tools/gce_ovf_import/domain/interfaces.go
  cli_tools/gce_ovf_import/domain/mocks/mock_interfaces.go
  cli_tools/gce_ovf_import/domain/types.go
  cli_tools/gce_ovf_import/gce_utils/image_deleter.go
  cli_tools/gce_ovf_import/gce_utils/image_deleter_test.go
  cli_tools/gce_ovf_import/multi_image_importer/multi_image_importer.go
  cli_tools/gce_ovf_import/multi_image_importer/request_executor.go
  cli_tools/gce_ovf_import/multi_image_importer/request_executor_test.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer_test.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_import_e2e_common.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

add actual versions
  cli_tools/go.mod
  cli_tools_tests/go.mod
  common/go.mod
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Fix go.mod: each 'replace' needs a corresponding 'require latest' (#1839)
  cli_tools/go.mod
  common/go.mod
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

add actual versions
  cli_tools_tests/go.mod
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

[build] fix the nested dependency version
  cli_tools/go.mod
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

[build] update the dependency verison for cli_tools->common to consume the new common build file (#1841)
  cli_tools/go.mod
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/common: any of: common/.*
  prow/presubmit/gotest/common: any of: common/.*
  prow/presubmit/gobuild/common: any of: common/.*
  prow/presubmit/gocheck/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gobuild/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$
