Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/common: any of: common/.*
  prow/presubmit/gotest/common: any of: common/.*
  prow/presubmit/gobuild/common: any of: common/.*
  prow/presubmit/gocheck/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gobuild/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$

CentOS Stream 9 build.
  daisy_workflows/build-publish/enterprise_linux/centos_stream_9.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_9.wf.json
  daisy_workflows/image_build/enterprise_linux/build_installer.py
  daisy_workflows/image_build/enterprise_linux/centos_stream_9.wf.json
  daisy_workflows/image_build/enterprise_linux/kickstart/centos-stream-9-options.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/el9-packages.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/el9-post.cfg
  daisy_workflows/image_build/enterprise_linux/ks_helpers.py
Due: prow/presubmit/flake8

fix
  daisy_workflows/build-publish/enterprise_linux/centos_stream_9.publish.json
  daisy_workflows/image_build/enterprise_linux/centos_stream_9.wf.json
Due: none

Zoran's feedback
  cli_tools/common/domain/interfaces.go
  cli_tools/common/image/deleter.go
  cli_tools/common/image/deleter_test.go
  cli_tools/common/image/image.go
  cli_tools/common/image/image_test.go
  cli_tools/gce_ovf_import/domain/interfaces.go
  cli_tools/gce_ovf_import/domain/mocks/mock_interfaces.go
  cli_tools/gce_ovf_import/gce_utils/image_deleter_test.go
  cli_tools/gce_ovf_import/multi_image_importer/multi_image_importer.go
  cli_tools/gce_ovf_import/multi_image_importer/request_executor.go
  cli_tools/gce_ovf_import/multi_image_importer/request_executor_test.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer_test.go
  cli_tools/mocks/mock_image_deleter.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

OVF Import: Delete images when instance creation fails (#1840)
  cli_tools/common/domain/interfaces.go
  cli_tools/common/image/deleter.go
  cli_tools/common/image/deleter_test.go
  cli_tools/common/image/image.go
  cli_tools/common/image/image_test.go
  cli_tools/gce_ovf_import/domain/interfaces.go
  cli_tools/gce_ovf_import/domain/mocks/mock_interfaces.go
  cli_tools/gce_ovf_import/multi_image_importer/multi_image_importer.go
  cli_tools/gce_ovf_import/multi_image_importer/request_executor.go
  cli_tools/gce_ovf_import/multi_image_importer/request_executor_test.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer_test.go
  cli_tools/mocks/mock_image_deleter.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_import_e2e_common.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

CentOS Stream 9 build (#1842)
  daisy_workflows/build-publish/enterprise_linux/centos_stream_9.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_9.wf.json
  daisy_workflows/image_build/enterprise_linux/build_installer.py
  daisy_workflows/image_build/enterprise_linux/centos_stream_9.wf.json
  daisy_workflows/image_build/enterprise_linux/kickstart/centos-stream-9-options.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/el9-packages.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/el9-post.cfg
  daisy_workflows/image_build/enterprise_linux/ks_helpers.py
Due: prow/presubmit/flake8

COS 93 and Fedora 35 exports for OS Login staging tests.
  daisy_workflows/build-publish/partner/cos_93_lts.publish.json
  daisy_workflows/build-publish/partner/cos_93_lts_export.wf.json
  daisy_workflows/build-publish/partner/fedora_35.publish.json
  daisy_workflows/build-publish/partner/fedora_35_export.wf.json
Due: none

Image Import: Send InspectionResults in OutputInfo (#1833)
  cli_tools/common/utils/logging/service/log_entry.go
  cli_tools/common/utils/logging/service/logger.go
  cli_tools/common/utils/logging/service/logger_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

refactor FAI builds
  daisy_workflows/image_build/debian/build_fai.py
  daisy_workflows/image_build/debian/debian_10_fai.wf.json
  daisy_workflows/image_build/debian/debian_11_fai.wf.json
  daisy_workflows/image_build/debian/debian_fai.wf.json
  daisy_workflows/image_build/debian/fai_config/files/etc/apt/sources.list.d/google-cloud.list/GCE_SPECIFIC
  daisy_workflows/image_build/debian/fai_config/package_config/GCE_SPECIFIC
  daisy_workflows/image_build/debian/fai_config/scripts/GCE_CLEAN/10-gce-clean
  daisy_workflows/image_build/debian/fai_config/scripts/GCE_SPECIFIC/12-sshd
  daisy_workflows/image_build/debian/fai_config/sources/GCE_STAGING
  daisy_workflows/image_build/debian/fai_config/sources/GCE_UNSTABLE
  daisy_workflows/image_build/debian/fai_config/sources/file_modes
  daisy_workflows/image_build/debian/fai_config/sources/repository.GCE_SPECIFIC
  daisy_workflows/image_build/debian/fai_config/sources/repository.GCE_STAGING
  daisy_workflows/image_build/debian/fai_config/sources/repository.GCE_UNSTABLE
Due: prow/presubmit/flake8

flake8
  daisy_workflows/image_build/debian/build_fai.py
Due: prow/presubmit/flake8

refactor FAI builds (#1844)
  daisy_workflows/image_build/debian/build_fai.py
  daisy_workflows/image_build/debian/debian_10_fai.wf.json
  daisy_workflows/image_build/debian/debian_11_fai.wf.json
  daisy_workflows/image_build/debian/debian_fai.wf.json
  daisy_workflows/image_build/debian/fai_config/files/etc/apt/sources.list.d/google-cloud.list/GCE_SPECIFIC
  daisy_workflows/image_build/debian/fai_config/package_config/GCE_SPECIFIC
  daisy_workflows/image_build/debian/fai_config/scripts/GCE_CLEAN/10-gce-clean
  daisy_workflows/image_build/debian/fai_config/scripts/GCE_SPECIFIC/12-sshd
  daisy_workflows/image_build/debian/fai_config/sources/GCE_STAGING
  daisy_workflows/image_build/debian/fai_config/sources/GCE_UNSTABLE
  daisy_workflows/image_build/debian/fai_config/sources/file_modes
  daisy_workflows/image_build/debian/fai_config/sources/repository.GCE_SPECIFIC
  daisy_workflows/image_build/debian/fai_config/sources/repository.GCE_STAGING
  daisy_workflows/image_build/debian/fai_config/sources/repository.GCE_UNSTABLE
Due: prow/presubmit/flake8

arm build artifacts
  daisy_workflows/image_build/debian/build_fai.py
  daisy_workflows/image_build/debian/debian_11_fai_arm.wf.json
  daisy_workflows/image_build/debian/debian_fai_arm.wf.json
  daisy_workflows/image_build/debian/fai_config/class/BULLSEYE.var
  daisy_workflows/image_build/debian/fai_config/files/etc/apt/sources.list.d/google-cloud.list/GCE_SPECIFIC_ARM64
  daisy_workflows/image_build/debian/fai_config/package_config/GCE_SPECIFIC_ARM64
  daisy_workflows/image_build/debian/fai_config/scripts/GCE_SPECIFIC_ARM64/12-sshd
Due: prow/presubmit/flake8

small fixes
  daisy_workflows/image_build/debian/build_fai.py
  daisy_workflows/image_build/debian/fai_config/package_config/GCE_SPECIFIC.asc
  daisy_workflows/image_build/debian/fai_config/package_config/GCE_SPECIFIC_ARM64
Due: prow/presubmit/flake8

Linux import: Improve reliability of e2e tests
  cli_tools_tests/e2e/gce_ovf_import/scripts/ovf_import_test_3_disks.sh
  daisy_integration_tests/scripts/post_translate_test.sh
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Users --> BUILTIN\ADMINISTRATORS
  daisy_workflows/image_build/sqlserver/configs/sql_server_2012.ini
  daisy_workflows/image_build/sqlserver/configs/sql_server_2012_core.ini
  daisy_workflows/image_build/sqlserver/configs/sql_server_2014.ini
  daisy_workflows/image_build/sqlserver/configs/sql_server_2014_core.ini
  daisy_workflows/image_build/sqlserver/configs/sql_server_2016.ini
  daisy_workflows/image_build/sqlserver/configs/sql_server_2016_core.ini
  daisy_workflows/image_build/sqlserver/configs/sql_server_2017.ini
  daisy_workflows/image_build/sqlserver/configs/sql_server_2017_core.ini
  daisy_workflows/image_build/sqlserver/configs/sql_server_2019.ini
Due: none

Users --> BUILTIN\ADMINISTRATORS (#1846)
  daisy_workflows/image_build/sqlserver/configs/sql_server_2012.ini
  daisy_workflows/image_build/sqlserver/configs/sql_server_2012_core.ini
  daisy_workflows/image_build/sqlserver/configs/sql_server_2014.ini
  daisy_workflows/image_build/sqlserver/configs/sql_server_2014_core.ini
  daisy_workflows/image_build/sqlserver/configs/sql_server_2016.ini
  daisy_workflows/image_build/sqlserver/configs/sql_server_2016_core.ini
  daisy_workflows/image_build/sqlserver/configs/sql_server_2017.ini
  daisy_workflows/image_build/sqlserver/configs/sql_server_2017_core.ini
  daisy_workflows/image_build/sqlserver/configs/sql_server_2019.ini
Due: none

Add CRB repo to CentOS Stream 9 build.
  daisy_workflows/image_build/enterprise_linux/kickstart/centos-stream-9-options.cfg
Due: none

Add CRB repo to CentOS Stream 9 build. (#1848)
  daisy_workflows/image_build/enterprise_linux/kickstart/centos-stream-9-options.cfg
Due: none

better package split
  daisy_workflows/image_build/debian/build_fai.py
  daisy_workflows/image_build/debian/fai_config/files/etc/apt/sources.list.d/google-cloud.list/GCE_SPECIFIC_ARM64
  daisy_workflows/image_build/debian/fai_config/package_config/GCE_SPECIFIC
  daisy_workflows/image_build/debian/fai_config/package_config/GCE_SPECIFIC_ARM64
  daisy_workflows/image_build/debian/fai_config/scripts/GCE_SPECIFIC_ARM64/12-sshd
Due: prow/presubmit/flake8

SLES Import: Include OS Config agent
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/suse/suse_import/translate.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

refactor debian builds; add d11-arm
  daisy_workflows/build-publish/debian/debian_10_worker.wf.json
  daisy_workflows/build-publish/debian/debian_11.wf.json
  daisy_workflows/build-publish/debian/debian_11_arm.publish.json
  daisy_workflows/build-publish/debian/debian_11_arm.wf.json
  daisy_workflows/build-publish/debian/debian_9.wf.json
  daisy_workflows/image_build/debian/debian_10_fai.wf.json
  daisy_workflows/image_build/debian/debian_10_worker.wf.json
  daisy_workflows/image_build/debian/debian_11_arm.wf.json
  daisy_workflows/image_build/debian/debian_11_fai.wf.json
  daisy_workflows/image_build/debian/debian_11_fai_arm.wf.json
  daisy_workflows/image_build/debian/debian_fai.wf.json
  daisy_workflows/image_build/debian/debian_fai_arm.wf.json
  daisy_workflows/image_build/debian/debian_sid_fai.wf.json
  daisy_workflows/image_build/debian/fai_config/package_config/GCE_SPECIFIC
  daisy_workflows/image_build/debian/repack.py
Due: prow/presubmit/flake8

Linux import: Improve reliability of e2e tests (#1847)
  cli_tools_tests/e2e/gce_ovf_import/scripts/ovf_import_test_3_disks.sh
  daisy_integration_tests/scripts/post_translate_test.sh
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

use prod images
  daisy_workflows/build-publish/debian/debian_11.publish.json
  daisy_workflows/build-publish/debian/debian_11_arm.wf.json
  daisy_workflows/image_build/debian/debian_11_arm.wf.json
Due: none

correct zone
  daisy_workflows/build-publish/debian/debian_11_arm.wf.json
Due: none

set fai commit in script
  daisy_workflows/image_build/debian/build_fai.py
  daisy_workflows/image_build/debian/debian_fai.wf.json
Due: prow/presubmit/flake8

consider paths in OUTS as valid
  daisy/go.mod
  daisy/image.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

remove endpoint
  daisy_workflows/build-publish/debian/debian_11_arm.wf.json
Due: none

[build] grant permission after build
  rollout/cli_tools_cloudbuild_build.yaml
Due: none

[build] grant permission after build (#1853)
  rollout/cli_tools_cloudbuild_build.yaml
Due: none

chmod +x fai scripts
  daisy_workflows/image_build/debian/build_fai.py
Due: prow/presubmit/flake8

consider paths in OUTS as valid (#1852)
  daisy/go.mod
  daisy/image.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

chmod +x fai scripts (#1854)
  daisy_workflows/image_build/debian/build_fai.py
Due: prow/presubmit/flake8

PR feedback
  daisy_workflows/build-publish/debian/debian_11_arm.publish.json
Due: none

Debian Bullseye ARM builds (#1850)
  daisy_workflows/build-publish/debian/debian_10_worker.wf.json
  daisy_workflows/build-publish/debian/debian_11.wf.json
  daisy_workflows/build-publish/debian/debian_11_arm.publish.json
  daisy_workflows/build-publish/debian/debian_11_arm.wf.json
  daisy_workflows/build-publish/debian/debian_9.wf.json
  daisy_workflows/image_build/debian/build_fai.py
  daisy_workflows/image_build/debian/debian_10_fai.wf.json
  daisy_workflows/image_build/debian/debian_10_worker.wf.json
  daisy_workflows/image_build/debian/debian_11_arm.wf.json
  daisy_workflows/image_build/debian/debian_11_fai.wf.json
  daisy_workflows/image_build/debian/debian_fai.wf.json
  daisy_workflows/image_build/debian/debian_sid_fai.wf.json
  daisy_workflows/image_build/debian/fai_config/class/BULLSEYE.var
  daisy_workflows/image_build/debian/fai_config/package_config/GCE_SPECIFIC
  daisy_workflows/image_build/debian/fai_config/package_config/GCE_SPECIFIC.asc
  daisy_workflows/image_build/debian/repack.py
Due: prow/presubmit/flake8

debian fai: dont pre-create disk
  daisy_workflows/image_build/debian/debian_fai.wf.json
Due: none

[os-upgrade] machine image dependency: move from Beta to GA
  cli_tools/gce_windows_upgrade/upgrader/workflows.go
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools/mocks/mock_compute_client.go
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
  common/gcp/instance.go
  daisy/compute/compute.go
  daisy/compute/compute_test.go
  daisy/compute/test_client.go
  daisy/compute/test_client_test.go
  daisy/go.mod
  daisy/go.sum
  daisy/instance.go
  daisy/machineimage.go
  daisy/machineimage_test.go
  daisy/step_create_machine_images_test.go
  daisy/test_common_test.go
  daisy/workflow_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

typo
  daisy/compute/compute.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

upgrade to go 1.17
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
  common/go.mod
  common/go.sum
  daisy/go.mod
  daisy/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

format
  daisy/workflow_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy
