Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

prow/presubmit/flake8:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/flake8:latest
      imagePullPolicy: Always
      command:
      - /main.sh

prow/presubmit/pytest/boot-inspect:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/pytest:latest
      imagePullPolicy: Always
      command:
      - /main.py
      args:
      - daisy_workflows/image_import/inspection

prow/presubmit/gocheck/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gotest/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gobuild/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gocheck/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gotest/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gobuild/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gocheck/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gotest/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gobuild/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gocheck/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

prow/presubmit/gobuild/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

prow/presubmit/gocheck/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools

add test env for rhui image publish (#1907)
  daisy_workflows/build-publish/rhui/cds.publish.json
  daisy_workflows/build-publish/rhui/rhua.publish.json
Due: none

add client RPMs (#1904)
  daisy_workflows/build-publish/rhui/rpms/README.md
  daisy_workflows/build-publish/rhui/rpms/build.sh
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel7-extensions.txt
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel7-sap-extensions.txt
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel7-sap.crt
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel7-sap.csr
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel7-sap.repo
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel7.crt
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel7.csr
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel7.repo
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel79-sap-extensions.txt
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel79-sap.crt
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel79-sap.csr
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel79-sap.repo
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel8-extensions.txt
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel8-sap-extensions.txt
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel8-sap.crt
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel8-sap.csr
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel8-sap.repo
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel8.crt
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel8.csr
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel8.repo
  daisy_workflows/build-publish/rhui/rpms/rh-client-config.spec
  daisy_workflows/build-publish/rhui/rpms/rhui-set-release
Due: none

add rocky linux optimized for gcp
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky-linux-optimized-gcp-8-options.cfg
  daisy_workflows/image_build/enterprise_linux/ks_helpers.py
  daisy_workflows/image_build/enterprise_linux/rocky_linux_optimized_gcp_8.wf.json
Due: prow/presubmit/flake8

add publish workflows
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_optimized_gcp_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_optimized_gcp_8.wf.json
Due: none

also fix rhui publish
  daisy_workflows/build-publish/rhui/cds.publish.json
  daisy_workflows/build-publish/rhui/rhua.publish.json
Due: none

add rocky linux optimized for gcp (#1908)
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_optimized_gcp_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_optimized_gcp_8.wf.json
  daisy_workflows/build-publish/rhui/cds.publish.json
  daisy_workflows/build-publish/rhui/rhua.publish.json
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky-linux-optimized-gcp-8-options.cfg
  daisy_workflows/image_build/enterprise_linux/ks_helpers.py
  daisy_workflows/image_build/enterprise_linux/rocky_linux_optimized_gcp_8.wf.json
Due: prow/presubmit/flake8

Update RHUI health checks (#1905)
  OWNERS
  daisy_workflows/build-publish/rhui/health_check.py
Due: prow/presubmit/flake8

rhui health check service change
  daisy_workflows/build-publish/rhui/cds_artifacts/rhui-health-check.service
  daisy_workflows/build-publish/rhui/rhua_artifacts/rhui-health-check.service
Due: none

remove deprecated service
  daisy_workflows/build-publish/rhui/health_check.py
Due: prow/presubmit/flake8

rhui health check service change (#1909)
  daisy_workflows/build-publish/rhui/cds_artifacts/rhui-health-check.service
  daisy_workflows/build-publish/rhui/health_check.py
  daisy_workflows/build-publish/rhui/rhua_artifacts/rhui-health-check.service
Due: prow/presubmit/flake8

OneStepImageImport_fix_network_Issue
  cli_tools/gce_onestep_image_import/onestep_importer/aws_args.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

fix rocky include ref
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_optimized_gcp_8.wf.json
Due: none

fix rocky include ref (#1911)
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_optimized_gcp_8.wf.json
Due: none

Adding Karn to the owners file.
  OWNERS
Due: none

Update OWNERS
  OWNERS
Due: none

Adding Karn to the owners file (#1912)
  OWNERS
Due: none

Configuring power to High performance for SQL Server Image
  daisy_workflows/image_build/sqlserver/sql_install.ps1
Due: none

Throwing error for power plan update failure
  daisy_workflows/image_build/sqlserver/sql_install.ps1
Due: none

Configuring power to High performance for SQL Server Image (#1913)
  daisy_workflows/image_build/sqlserver/sql_install.ps1
Due: none

Remove cloudbuild targets for import/export tools
  cli_tools_cloudbuild.yaml
  gce_image_import_export_tests.Dockerfile
  gce_onestep_image_import.Dockerfile
  gce_ovf_export.Dockerfile
  gce_ovf_export_tests.Dockerfile
  gce_ovf_import.Dockerfile
  gce_ovf_import_tests.Dockerfile
  gce_vm_image_export.Dockerfile
  gce_vm_image_import.Dockerfile
  gcsfuse-apt-key.gpg
  prowjobs_cloudbuild.yaml
  rollout/cli_tools_cloudbuild_build.yaml
  rollout/cli_tools_cloudbuild_release_workflow.yaml
Due: none

Remove cloudbuild targets for import/export tools (#1914)
  cli_tools_cloudbuild.yaml
  gce_image_import_export_tests.Dockerfile
  gce_onestep_image_import.Dockerfile
  gce_ovf_export.Dockerfile
  gce_ovf_export_tests.Dockerfile
  gce_ovf_import.Dockerfile
  gce_ovf_import_tests.Dockerfile
  gce_vm_image_export.Dockerfile
  gce_vm_image_import.Dockerfile
  gcsfuse-apt-key.gpg
  prowjobs_cloudbuild.yaml
  rollout/cli_tools_cloudbuild_build.yaml
  rollout/cli_tools_cloudbuild_release_workflow.yaml
Due: none

Refresh docs to reflect current tools
  README.md
  cli_tools_tests/e2e/README.md
  daisy_workflows/README.md
  daisy_workflows/import_userguide.md
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Refresh docs to reflect current tools (#1916)
  README.md
  cli_tools_tests/e2e/README.md
  daisy_workflows/README.md
  daisy_workflows/import_userguide.md
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Add COS 93/97 workflows
  daisy_workflows/build-publish/partner/cos_93_lts.publish.json
  daisy_workflows/build-publish/partner/cos_93_lts_export.wf.json
  daisy_workflows/build-publish/partner/cos_97_lts.publish.json
  daisy_workflows/build-publish/partner/cos_97_lts_export.wf.json
Due: none

Remove COS 81
  daisy_workflows/build-publish/partner/cos_81_lts.publish.json
  daisy_workflows/build-publish/partner/cos_81_lts_export.wf.json
Due: none

Add COS 93/97 workflows (#1918)
  daisy_workflows/build-publish/partner/cos_93_lts.publish.json
  daisy_workflows/build-publish/partner/cos_93_lts_export.wf.json
  daisy_workflows/build-publish/partner/cos_97_lts.publish.json
  daisy_workflows/build-publish/partner/cos_97_lts_export.wf.json
Due: none

Updating Driver Bucket to StorNVMe from NVMe Community driver
  daisy_workflows/image_build/windows/windows-10-20h2-ent-x64-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-10-20h2-ent-x86-bios-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2012-r2-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2012-r2-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2012-r2-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2012-r2-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2022-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2022-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2022-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-sac-20h2-dc-core-uefi-payg.wf.json
Due: none

Updating Driver Bucket to StorNVMe from NVMe Community driver (#1919)
  daisy_workflows/image_build/windows/windows-10-20h2-ent-x64-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-10-20h2-ent-x86-bios-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2012-r2-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2012-r2-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2012-r2-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2012-r2-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2022-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2022-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2022-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-sac-20h2-dc-core-uefi-payg.wf.json
Due: none

add repos to rhui
  daisy_workflows/build-publish/rhui/rhua_artifacts/reponames.txt
Due: none

add repos to rhui (#1921)
  daisy_workflows/build-publish/rhui/rhua_artifacts/reponames.txt
Due: none

add rhel9 rpm
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel7-sap.repo
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel7.repo
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel79-sap.repo
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel8-sap.repo
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel8.repo
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel9-extensions.txt
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel9.crt
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel9.csr
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel9.repo
Due: none

add rhel9 rpm (#1922)
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel7-sap.repo
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel7.repo
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel79-sap.repo
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel8-sap.repo
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel8.repo
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel9-extensions.txt
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel9.crt
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel9.csr
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel9.repo
Due: none

Test image workflow
  daisy_workflows/build-publish/test-workflow.json
Due: none

Remove conditionals and update description for workflow
  daisy_workflows/build-publish/test-workflow.json
Due: none

Update description since there are no defaults
  daisy_workflows/build-publish/test-workflow.json
Due: none

Test image daisy workflow (#1923)
  daisy_workflows/build-publish/test-workflow.json
Due: none

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/common: any of: common/.*
  prow/presubmit/gotest/common: any of: common/.*
  prow/presubmit/gobuild/common: any of: common/.*
  prow/presubmit/gocheck/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gobuild/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$
