Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

prow/presubmit/flake8:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/flake8:latest
      imagePullPolicy: Always
      command:
      - /main.sh

prow/presubmit/pytest/boot-inspect:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/pytest:latest
      imagePullPolicy: Always
      command:
      - /main.py
      args:
      - daisy_workflows/image_import/inspection

prow/presubmit/gocheck/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gotest/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gobuild/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gocheck/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gotest/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gobuild/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gocheck/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gotest/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gobuild/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gocheck/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

prow/presubmit/gobuild/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

prow/presubmit/gocheck/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools

Windows Server build fixes based on concourse failures
  daisy_workflows/build-publish/windows/windows-server-2012-r2-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2016-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2016-uefi.wf.json
  daisy_workflows/build-publish/windows_container/windows-2019-core-for-containers-uefi.wf.json
  daisy_workflows/build-publish/windows_container/windows-2019-for-containers-uefi.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-standard-windows-2016.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-standard-windows-2019.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-standard-windows-2022.wf.json
Due: none

Windows Server build fixes based on concourse failures (#2033)
  daisy_workflows/build-publish/windows/windows-server-2012-r2-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2016-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2016-uefi.wf.json
  daisy_workflows/build-publish/windows_container/windows-2019-core-for-containers-uefi.wf.json
  daisy_workflows/build-publish/windows_container/windows-2019-for-containers-uefi.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-standard-windows-2016.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-standard-windows-2019.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-standard-windows-2022.wf.json
Due: none

Make flake8 happy with common.py column limit
  daisy_workflows/linux_common/utils/common.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Kernel Commit Queries
  daisy_workflows/kernel_commit_query/debian.sh
  daisy_workflows/kernel_commit_query/kcq.py
  daisy_workflows/kernel_commit_query/kernel_commit_query.wf.json
  daisy_workflows/kernel_commit_query/rhel.sh
  daisy_workflows/kernel_commit_query/rocky.sh
  daisy_workflows/kernel_commit_query/suse.sh
  daisy_workflows/kernel_commit_query/ubuntu.sh
Due: prow/presubmit/flake8

Update sql2022 install parameters
  daisy_workflows/image_build/sqlserver/configs/sql_server_2022.ini
Due: none

Update sql2022 install parameters (#2034)
  daisy_workflows/image_build/sqlserver/configs/sql_server_2022.ini
Due: none

Kernel Commit Queries (#2004)
  daisy_workflows/kernel_commit_query/debian.sh
  daisy_workflows/kernel_commit_query/kcq.py
  daisy_workflows/kernel_commit_query/kernel_commit_query.wf.json
  daisy_workflows/kernel_commit_query/rhel.sh
  daisy_workflows/kernel_commit_query/rocky.sh
  daisy_workflows/kernel_commit_query/suse.sh
  daisy_workflows/kernel_commit_query/ubuntu.sh
  daisy_workflows/linux_common/utils/common.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Almalinux 9 sbom generation and test, first pass
  daisy_workflows/build-publish/enterprise_linux/almalinux_9.wf.json
  daisy_workflows/export/disk_export.wf.json
  daisy_workflows/export/export_disk.sh
  image_test/sbom/README.md
  image_test/sbom/enterprise_sbom_test.wf.json
  image_test/sbom/test_sbom_export.sh
Due: none

Removing extra echo statement
  daisy_workflows/export/export_disk.sh
Due: none

Default sbom variable false, add readme for almalinux test
  daisy_workflows/build-publish/enterprise_linux/almalinux_9.wf.json
  image_test/sbom/README.md
  image_test/sbom/enterprise_sbom_test.wf.json
Due: none

Changing syft source to be a user input for enterprise linux
  daisy_workflows/build-publish/enterprise_linux/almalinux_9.wf.json
  daisy_workflows/export/disk_export.wf.json
  daisy_workflows/export/export_disk.sh
  image_test/sbom/enterprise_sbom_test.wf.json
Due: none

Add daisy workflows for SQL 2022 release versions
  daisy_workflows/image_build/sqlserver/sql-2022-enterprise-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2022-enterprise-windows-2019.wf.json
  daisy_workflows/image_build/sqlserver/sql-2022-enterprise-windows-2022-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2022-enterprise-windows-2022.wf.json
  daisy_workflows/image_build/sqlserver/sql-2022-standard-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2022-standard-windows-2019.wf.json
  daisy_workflows/image_build/sqlserver/sql-2022-standard-windows-2022-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2022-standard-windows-2022.wf.json
  daisy_workflows/image_build/sqlserver/sql-2022-web-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2022-web-windows-2019.wf.json
  daisy_workflows/image_build/sqlserver/sql-2022-web-windows-2022-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2022-web-windows-2022.wf.json
Due: none

Update image families for non-enterprise SQL2022 editions
  daisy_workflows/image_build/sqlserver/sql-2022-standard-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2022-standard-windows-2019.wf.json
  daisy_workflows/image_build/sqlserver/sql-2022-standard-windows-2022-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2022-standard-windows-2022.wf.json
  daisy_workflows/image_build/sqlserver/sql-2022-web-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2022-web-windows-2019.wf.json
  daisy_workflows/image_build/sqlserver/sql-2022-web-windows-2022-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2022-web-windows-2022.wf.json
Due: none

Disk export file name test change
  image_test/sbom/enterprise_sbom_test.wf.json
  image_test/sbom/test_sbom_export.sh
Due: none

Remove unnecessary echo
  daisy_workflows/export/export_disk.sh
Due: none

Add daisy workflows for SQL Server 2022 release versions (#2037)
  daisy_workflows/image_build/sqlserver/sql-2022-enterprise-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2022-enterprise-windows-2019.wf.json
  daisy_workflows/image_build/sqlserver/sql-2022-enterprise-windows-2022-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2022-enterprise-windows-2022.wf.json
  daisy_workflows/image_build/sqlserver/sql-2022-standard-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2022-standard-windows-2019.wf.json
  daisy_workflows/image_build/sqlserver/sql-2022-standard-windows-2022-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2022-standard-windows-2022.wf.json
  daisy_workflows/image_build/sqlserver/sql-2022-web-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2022-web-windows-2019.wf.json
  daisy_workflows/image_build/sqlserver/sql-2022-web-windows-2022-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2022-web-windows-2022.wf.json
Due: none

Adding tarfile member sanitization to extractall()
  daisy_workflows/image_build/debian/build_fai.py
Due: prow/presubmit/flake8

syft steps put into generic script
  daisy_workflows/export/disk_export.wf.json
  daisy_workflows/export/export_disk.sh
  image_test/sbom/enterprise_sbom_test.wf.json
Due: none

minor syntax change to conform to shell interpreter
  daisy_workflows/export/export_sbom.sh
Due: none

remove unnecessary echo
  daisy_workflows/export/export_sbom.sh
Due: none

Style changes to Almalinux sbom
  daisy_workflows/build-publish/enterprise_linux/almalinux_9.wf.json
  daisy_workflows/export/export_disk.sh
  daisy_workflows/export/export_sbom.sh
  image_test/sbom/test_sbom_export.sh
Due: none

Readme change for testing enterprise sbom
  image_test/sbom/README.md
Due: none

Almalinux sbom changes and test (#2035)
  daisy_workflows/build-publish/enterprise_linux/almalinux_9.wf.json
  daisy_workflows/export/disk_export.wf.json
  daisy_workflows/export/export_disk.sh
  daisy_workflows/export/export_sbom.sh
  image_test/sbom/README.md
  image_test/sbom/enterprise_sbom_test.wf.json
  image_test/sbom/test_sbom_export.sh
Due: none

Debian sbom generation changes
  daisy_workflows/build-publish/debian/debian_10.wf.json
  daisy_workflows/image_build/debian/build_fai.py
  daisy_workflows/image_build/debian/debian_10_fai.wf.json
  daisy_workflows/image_build/debian/debian_fai.wf.json
  image_test/sbom/debian_sbom_test.wf.json
Due: prow/presubmit/flake8

fixing bugs in python startup script for debian
  daisy_workflows/image_build/debian/build_fai.py
Due: prow/presubmit/flake8

mount offset json parse changes
  daisy_workflows/image_build/debian/build_fai.py
Due: prow/presubmit/flake8

prow style fixes for python script
  daisy_workflows/image_build/debian/build_fai.py
Due: prow/presubmit/flake8

Debian 10 sbom generation changes
  daisy_workflows/build-publish/debian/debian_10.wf.json
  daisy_workflows/image_build/debian/build_fai.py
  daisy_workflows/image_build/debian/debian_10_fai.wf.json
  daisy_workflows/image_build/debian/debian_fai.wf.json
  image_test/sbom/debian_sbom_test.wf.json
Due: prow/presubmit/flake8

Integrate disk export and sbom generation into debian 10
  daisy_workflows/build-publish/debian/debian_10.wf.json
  daisy_workflows/export/export_disk.sh
  daisy_workflows/export/image_export.wf.json
Due: none

revert image export wf changes
  daisy_workflows/export/image_export.wf.json
Due: none

Revert the debian worker image for disk_export due to a potential race in disk enumeration in Debian 11.
  daisy_workflows/export/disk_export.wf.json
Due: none

Revert the debian worker image for disk_export due to a potential race (#2042)
  daisy_workflows/export/disk_export.wf.json
Due: none

remove run_sbom_bool, avoid sbom generation on EL9 until debian worker fix
  daisy_workflows/build-publish/enterprise_linux/almalinux_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_7.wf.json
  daisy_workflows/export/disk_export.wf.json
  daisy_workflows/export/export_disk.sh
  image_test/sbom/enterprise_sbom_test.wf.json
Due: none

remove run_sbom_bool, avoid sbom generation on EL9 until debian worker fix (#2043)
  daisy_workflows/build-publish/enterprise_linux/almalinux_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_7.wf.json
  daisy_workflows/export/disk_export.wf.json
  daisy_workflows/export/export_disk.sh
  image_test/sbom/enterprise_sbom_test.wf.json
Due: none

Add Anthony to owners
  OWNERS
Due: none

Add Anthony to owners (#2044)
  OWNERS
Due: none

Add publish files for Sql Server 2022
  daisy_workflows/build-publish/sqlserver/sql-2022-enterprise-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2022-enterprise-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2022-enterprise-windows-2019-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2022-enterprise-windows-2019.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2022-enterprise-windows-2022-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2022-enterprise-windows-2022-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2022-enterprise-windows-2022-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2022-enterprise-windows-2022.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2022-standard-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2022-standard-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2022-standard-windows-2019-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2022-standard-windows-2019.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2022-standard-windows-2022-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2022-standard-windows-2022-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2022-standard-windows-2022-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2022-standard-windows-2022.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2022-web-windows-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2022-web-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2022-web-windows-2019-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2022-web-windows-2019.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2022-web-windows-2022-dc-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2022-web-windows-2022-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2022-web-windows-2022-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2022-web-windows-2022.wf.json
Due: none

Update image families for Server Standard
  daisy_workflows/build-publish/sqlserver/sql-2022-enterprise-windows-2019-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2022-standard-windows-2019-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2022-standard-windows-2022-uefi.publish.json
  daisy_workflows/build-publish/sqlserver/sql-2022-web-windows-2022-uefi.publish.json
Due: none

Use disk export subworkflow in Debian 10
  daisy_workflows/build-publish/debian/debian_10.wf.json
Due: none

Update syft_source variable description
  daisy_workflows/build-publish/debian/debian_10.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_7.wf.json
Due: none

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/common: any of: common/.*
  prow/presubmit/gotest/common: any of: common/.*
  prow/presubmit/gobuild/common: any of: common/.*
  prow/presubmit/gocheck/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gobuild/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$
