Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/common: any of: common/.*
  prow/presubmit/gotest/common: any of: common/.*
  prow/presubmit/gobuild/common: any of: common/.*
  prow/presubmit/gocheck/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gobuild/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$

remove unnecessary dependency
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
  common/go.mod
  common/go.sum
  daisy/go.mod
  daisy/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

remove unused denpency upgrade
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
  common/go.mod
  common/go.sum
  daisy/go.mod
  daisy/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

cli_tools dependencies
  cli_tools/go.mod
  cli_tools/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

SLES Import: Include OS Config agent (#1849)
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/suse/suse_import/translate.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Image Import: consider Windows versions in startup scripts
  daisy_workflows/image_import/windows/run_startup_scripts.cmd
  daisy_workflows/image_import/windows/run_startup_scripts_x86.cmd
Due: none

[os-upgrade] machine image dependency: move from Beta to GA (#1856)
  cli_tools/gce_windows_upgrade/upgrader/workflows.go
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools/mocks/mock_compute_client.go
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
  common/gcp/instance.go
  common/go.mod
  common/go.sum
  daisy/compute/compute.go
  daisy/compute/compute_test.go
  daisy/compute/test_client.go
  daisy/compute/test_client_test.go
  daisy/go.mod
  daisy/go.sum
  daisy/instance.go
  daisy/machineimage.go
  daisy/machineimage_test.go
  daisy/step_create_machine_images_test.go
  daisy/test_common_test.go
  daisy/workflow_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

build GNU format
  daisy_workflows/image_build/debian/build_fai.py
Due: prow/presubmit/flake8

remove repack step
  daisy_workflows/image_build/debian/debian_11_arm.wf.json
  daisy_workflows/image_build/debian/repack.py
Due: prow/presubmit/flake8

Debian builds: force GNU format tarball (#1859)
  daisy_workflows/image_build/debian/build_fai.py
  daisy_workflows/image_build/debian/debian_11_arm.wf.json
  daisy_workflows/image_build/debian/repack.py
Due: prow/presubmit/flake8

rename arm64 pt 2
  daisy_workflows/build-publish/debian/debian_11_arm64.publish.json
  daisy_workflows/build-publish/debian/debian_11_arm64.wf.json
  daisy_workflows/image_build/debian/debian_11_arm64.wf.json
Due: none

rename arm64 pt 2 (#1860)
  daisy_workflows/build-publish/debian/debian_11_arm64.publish.json
  daisy_workflows/build-publish/debian/debian_11_arm64.wf.json
  daisy_workflows/image_build/debian/debian_11_arm64.wf.json
Due: none

[gce_image_import_export] fix e2e test build
  cli_tools_tests/go.sum
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

more ARM64 renames
  daisy_workflows/build-publish/debian/debian_11_arm64.publish.json
  daisy_workflows/build-publish/debian/debian_11_arm64.wf.json
  daisy_workflows/image_build/debian/debian_11_arm64.wf.json
Due: none

more ARM64 renames (#1862)
  daisy_workflows/build-publish/debian/debian_11_arm64.publish.json
  daisy_workflows/build-publish/debian/debian_11_arm64.wf.json
  daisy_workflows/image_build/debian/debian_11_arm64.wf.json
Due: none

no repack for arm
  daisy_workflows/build-publish/debian/debian_11_arm64.wf.json
Due: none

no repack for arm (#1865)
  daisy_workflows/build-publish/debian/debian_11_arm64.wf.json
Due: none

[gce_image_import_export] fix e2e test build (#1861)
  cli_tools_tests/go.sum
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

add new vals to rhua answers
  daisy_workflows/build-publish/rhui/rhua_artifacts/answers.yaml
Due: none

add new vals to rhua answers (#1867)
  daisy_workflows/build-publish/rhui/rhua_artifacts/answers.yaml
Due: none

Windows 10 import: Skip Config-Power
  daisy_workflows/image_import/windows/translate.ps1
Due: none

liam's feedback
  daisy_workflows/image_import/windows/translate.ps1
Due: none

Windows 10 import: Skip Config-Power (#1869)
  daisy_workflows/image_import/windows/translate.ps1
Due: none

Windows 10 import: Power settings fix
  daisy_integration_tests/scripts/post_translate_test.ps1
  daisy_workflows/image_import/windows/translate.ps1
Due: none

Windows 10 import: Power settings fix (#1870)
  daisy_integration_tests/scripts/post_translate_test.ps1
  daisy_workflows/image_import/windows/translate.ps1
Due: none

Only import the Google GPG keys. Existing keys will error out.
  daisy_workflows/image_build/enterprise_linux/kickstart/el9-post.cfg
Due: none

Windows import: Support power settings for 7 and 2008r2
  daisy_integration_tests/scripts/post_translate_test.ps1
  daisy_workflows/image_import/windows/translate.ps1
Due: none

Windows import: Support power settings for 7 and 2008r2 (#1872)
  daisy_integration_tests/scripts/post_translate_test.ps1
  daisy_workflows/image_import/windows/translate.ps1
Due: none

Only import the Google GPG keys. Existing keys will error out. (#1871)
  daisy_workflows/image_build/enterprise_linux/kickstart/el9-post.cfg
Due: none

Temporarily allow SHA1 sig checking in EL9.
  daisy_workflows/image_build/enterprise_linux/kickstart/el9-post.cfg
Due: none

Temporarily allow SHA1 sig checking in EL9. (#1873)
  daisy_workflows/image_build/enterprise_linux/kickstart/el9-post.cfg
Due: none

disable legacy periodics
  test-infra/prow/config.yaml
Due: none

disable legacy periodics (#1874)
  test-infra/prow/config.yaml
Due: none

Fix EL9 sshd settings.
  daisy_workflows/image_build/enterprise_linux/kickstart/el9-post.cfg
Due: none

Fix EL9 sshd settings. (#1875)
  daisy_workflows/image_build/enterprise_linux/kickstart/el9-post.cfg
Due: none

liam's feedback
  cli_tools/gce_ovf_export/exporter/exporter_test.go
  cli_tools/gce_ovf_export/exporter/ovf_descriptor_generator.go
  cli_tools/gce_ovf_export/exporter/ovf_descriptor_generator_test.go
  cli_tools/gce_ovf_export/exporter/param_populator.go
  cli_tools/gce_ovf_export/main.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

quote brackets
  daisy/README.md
  daisy/migrate.sh
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

use find instead of grep
  daisy/README.md
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy
