Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/common: any of: common/.*
  prow/presubmit/gotest/common: any of: common/.*
  prow/presubmit/gobuild/common: any of: common/.*
  prow/presubmit/gocheck/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gobuild/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$

Prune builds (#1890)
  prowjobs_cloudbuild.yaml
  test-infra/prowjobs/README.md
  test-infra/prowjobs/flake8/Dockerfile
  test-infra/prowjobs/flake8/main.sh
  test-infra/prowjobs/gobuild/Dockerfile
  test-infra/prowjobs/gobuild/main.sh
  test-infra/prowjobs/gocheck/Dockerfile
  test-infra/prowjobs/gocheck/main.sh
  test-infra/prowjobs/unittests/Dockerfile
  test-infra/prowjobs/unittests/main.sh
Due: none

Fix getDeviceForMount call (#1889)
  cli_tools/common/mount/inspector.go
  cli_tools/common/mount/inspector_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

OVFImport_e2e_tests_fix_typo_in_e2e_test_in_disk_deletion_validation
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Remove legacy prow
  e2e_test_base.Dockerfile
  gce_image_import_export_tests.Dockerfile
  gce_ovf_export_tests.Dockerfile
  gce_ovf_import_tests.Dockerfile
  gce_windows_upgrade_tests.Dockerfile
  prowjobs_cloudbuild.yaml
  test-infra/README.md
  test-infra/prow/Makefile
  test-infra/prow/cluster/deck_deployment.yaml
  test-infra/prow/cluster/deck_service.yaml
  test-infra/prow/cluster/hook_deployment.yaml
  test-infra/prow/cluster/hook_service.yaml
  test-infra/prow/cluster/horologium_deployment.yaml
  test-infra/prow/cluster/plank_deployment.yaml
  test-infra/prow/cluster/prow_job.yaml
  test-infra/prow/cluster/sinker_deployment.yaml
  test-infra/prow/cluster/splice_deployment.yaml
  test-infra/prow/cluster/starter.yaml
  test-infra/prow/cluster/tide_deployment.yaml
  test-infra/prow/cluster/tide_service.yaml
  test-infra/prow/cluster/tot_deployment.yaml
  test-infra/prow/cluster/tot_service.yaml
  test-infra/prow/config.yaml
  test-infra/prow/plugins.yaml
  test-infra/prowjobs/cleanerupper/Dockerfile
  test-infra/prowjobs/cleanerupper/go.mod
  test-infra/prowjobs/cleanerupper/go.sum
  test-infra/prowjobs/cleanerupper/main.go
  test-infra/prowjobs/wrapper/Dockerfile
  test-infra/prowjobs/wrapper/gcsfuse-apt-key.gpg
  test-infra/prowjobs/wrapper/go.mod
  test-infra/prowjobs/wrapper/go.sum
  test-infra/prowjobs/wrapper/main.go
Due: none

Remove legacy prow (#1891)
  e2e_test_base.Dockerfile
  gce_image_import_export_tests.Dockerfile
  gce_ovf_export_tests.Dockerfile
  gce_ovf_import_tests.Dockerfile
  gce_windows_upgrade_tests.Dockerfile
  prowjobs_cloudbuild.yaml
  test-infra/README.md
  test-infra/prow/Makefile
  test-infra/prow/cluster/deck_deployment.yaml
  test-infra/prow/cluster/deck_service.yaml
  test-infra/prow/cluster/hook_deployment.yaml
  test-infra/prow/cluster/hook_service.yaml
  test-infra/prow/cluster/horologium_deployment.yaml
  test-infra/prow/cluster/plank_deployment.yaml
  test-infra/prow/cluster/prow_job.yaml
  test-infra/prow/cluster/sinker_deployment.yaml
  test-infra/prow/cluster/splice_deployment.yaml
  test-infra/prow/cluster/starter.yaml
  test-infra/prow/cluster/tide_deployment.yaml
  test-infra/prow/cluster/tide_service.yaml
  test-infra/prow/cluster/tot_deployment.yaml
  test-infra/prow/cluster/tot_service.yaml
  test-infra/prow/config.yaml
  test-infra/prow/plugins.yaml
  test-infra/prowjobs/cleanerupper/Dockerfile
  test-infra/prowjobs/cleanerupper/go.mod
  test-infra/prowjobs/cleanerupper/go.sum
  test-infra/prowjobs/cleanerupper/main.go
  test-infra/prowjobs/wrapper/Dockerfile
  test-infra/prowjobs/wrapper/gcsfuse-apt-key.gpg
  test-infra/prowjobs/wrapper/go.mod
  test-infra/prowjobs/wrapper/go.sum
  test-infra/prowjobs/wrapper/main.go
Due: none

OVFImport: support_instance_import_when_boot_disk_spans_mltiple_physical_disks (#1864)
  cli_tools/common/deleter/resource_deleter.go
  cli_tools/common/deleter/resource_deleter_test.go
  cli_tools/common/disk/disk.go
  cli_tools/common/disk/disk_test.go
  cli_tools/common/domain/interfaces.go
  cli_tools/common/image/deleter_test.go
  cli_tools/common/image/importer/bootable_disk_processor.go
  cli_tools/common/image/importer/bootable_disk_processor_test.go
  cli_tools/common/image/importer/importer.go
  cli_tools/common/image/importer/inflater.go
  cli_tools/common/image/importer/inflater_test.go
  cli_tools/common/image/importer/request.go
  cli_tools/gce_ovf_import/daisy_utils/data_disk_workflow_updater.go
  cli_tools/gce_ovf_import/daisy_utils/data_disk_workflow_updater_test.go
  cli_tools/gce_ovf_import/domain/interfaces.go
  cli_tools/gce_ovf_import/domain/mocks/mock_interfaces.go
  cli_tools/gce_ovf_import/multi_disk_importer/multi_disk_importer.go
  cli_tools/gce_ovf_import/multi_disk_importer/request_builder.go
  cli_tools/gce_ovf_import/multi_disk_importer/request_builder_test.go
  cli_tools/gce_ovf_import/multi_disk_importer/request_executor.go
  cli_tools/gce_ovf_import/multi_disk_importer/request_executor_test.go
  cli_tools/gce_ovf_import/multi_image_importer/request_executor.go
  cli_tools/gce_ovf_import/multi_image_importer/request_executor_test.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer_test.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
  cli_tools_tests/go.sum
  daisy_workflows/image_import/debian/translate.py
  daisy_workflows/image_import/enterprise_linux/translate.py
  daisy_workflows/image_import/suse/suse_import/translate.py
  daisy_workflows/image_import/ubuntu/translate.py
  daisy_workflows/linux_common/utils/diskutils.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

RHUI: Runner for health checks
  daisy_workflows/build-publish/rhui/cds.wf.json
  daisy_workflows/build-publish/rhui/cds_artifacts/rhui-health-check.service
  daisy_workflows/build-publish/rhui/cds_artifacts/rhui-health-check.timer
  daisy_workflows/build-publish/rhui/health_check.py
  daisy_workflows/build-publish/rhui/install_cds.sh
  daisy_workflows/build-publish/rhui/install_rhua.sh
  daisy_workflows/build-publish/rhui/rhua.wf.json
  daisy_workflows/build-publish/rhui/rhua_artifacts/rhui-health-check.service
  daisy_workflows/build-publish/rhui/rhua_artifacts/rhui-health-check.timer
Due: prow/presubmit/flake8

RHUI: Runner for health checks (#1876)
  daisy_workflows/build-publish/rhui/cds.wf.json
  daisy_workflows/build-publish/rhui/cds_artifacts/rhui-health-check.service
  daisy_workflows/build-publish/rhui/cds_artifacts/rhui-health-check.timer
  daisy_workflows/build-publish/rhui/health_check.py
  daisy_workflows/build-publish/rhui/install_cds.sh
  daisy_workflows/build-publish/rhui/install_rhua.sh
  daisy_workflows/build-publish/rhui/rhua.wf.json
  daisy_workflows/build-publish/rhui/rhua_artifacts/rhui-health-check.service
  daisy_workflows/build-publish/rhui/rhua_artifacts/rhui-health-check.timer
Due: prow/presubmit/flake8

Remove Lawrence and Zoran from OWNERS
  OWNERS
Due: none

Remove Lawrence and Zoran from OWNERS (#1894)
  OWNERS
Due: none

nginx for rhua health checks
  daisy_workflows/build-publish/rhui/cds.wf.json
  daisy_workflows/build-publish/rhui/cds_artifacts/rhui-health-check.service
  daisy_workflows/build-publish/rhui/health_check.nginx.conf
  daisy_workflows/build-publish/rhui/install_cds.sh
  daisy_workflows/build-publish/rhui/install_rhua.sh
  daisy_workflows/build-publish/rhui/rhua.wf.json
  daisy_workflows/build-publish/rhui/rhua_artifacts/rhua.patch
  daisy_workflows/build-publish/rhui/rhua_artifacts/rhui-health-check.service
Due: none

nginx for rhua health checks (#1893)
  daisy_workflows/build-publish/rhui/cds.wf.json
  daisy_workflows/build-publish/rhui/cds_artifacts/rhui-health-check.service
  daisy_workflows/build-publish/rhui/health_check.nginx.conf
  daisy_workflows/build-publish/rhui/install_cds.sh
  daisy_workflows/build-publish/rhui/install_rhua.sh
  daisy_workflows/build-publish/rhui/rhua.wf.json
  daisy_workflows/build-publish/rhui/rhua_artifacts/rhua.patch
  daisy_workflows/build-publish/rhui/rhua_artifacts/rhui-health-check.service
Due: none

e2e test for debian-11-worker-arm64
  daisy_integration_tests/daisy_e2e.test.gotmpl
  daisy_integration_tests/debian_worker_arm64_test.wf.json
  daisy_integration_tests/scripts/verify_debian_worker_packages.sh
Due: none

remove tracex
  daisy_integration_tests/scripts/verify_debian_worker_packages.sh
Due: none

ImageImport_Add_support_for_windows_server_2022
  cli_tools/common/distro/distro.go
  cli_tools/common/distro/distro_test.go
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools/common/utils/daisyutils/daisy_utils_test.go
  cli_tools/gce_ovf_import/ovf_utils/ovf_utils.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
  daisy_workflows/image_import/inspection/src/boot_inspect/inspectors/os/windows.py
  daisy_workflows/image_import/windows/translate_windows_2022.wf.json
  daisy_workflows/image_import/windows/translate_windows_2022_byol.wf.json
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

add ops agent; create nfs dirs on demand
  daisy_workflows/build-publish/rhui/install_cds.sh
  daisy_workflows/build-publish/rhui/install_rhua.sh
  daisy_workflows/build-publish/rhui/rhua_artifacts/create-dirs.conf
Due: none

Remove_Windows_server_2022_incorrect_OsID_value_from_ovf_utils
  cli_tools/gce_ovf_import/ovf_utils/ovf_utils.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

add ops agent; create nfs dirs on demand (#1897)
  daisy_workflows/build-publish/rhui/install_cds.sh
  daisy_workflows/build-publish/rhui/install_rhua.sh
  daisy_workflows/build-publish/rhui/rhua_artifacts/create-dirs.conf
Due: none

add rhui publish workflows
  daisy_workflows/build-publish/rhui/cds.publish.json
  daisy_workflows/build-publish/rhui/rhua.publish.json
Due: none

ImageImport_Add_support_for_windows_server_2022 (#1896)
  cli_tools/common/distro/distro.go
  cli_tools/common/distro/distro_test.go
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools/common/utils/daisyutils/daisy_utils_test.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
  daisy_workflows/image_import/inspection/src/boot_inspect/inspectors/os/windows.py
  daisy_workflows/image_import/windows/translate_windows_2022.wf.json
  daisy_workflows/image_import/windows/translate_windows_2022_byol.wf.json
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

add rhui publish workflows (#1898)
  daisy_workflows/build-publish/rhui/cds.publish.json
  daisy_workflows/build-publish/rhui/rhua.publish.json
Due: none

remove build commands from the rollout workflow for those moved tools
  rollout/cli_tools_cloudbuild_build.yaml
  rollout/cli_tools_cloudbuild_release_workflow.yaml
Due: none

remove more:
  rollout/cli_tools_cloudbuild_build.yaml
Due: none

remove for 'latest' build as well
  cli_tools_cloudbuild.yaml
Due: none

rhua: update create-dirs.conf
  daisy_workflows/build-publish/rhui/rhua_artifacts/create-dirs.conf
Due: none

update install_rhua.sh
  daisy_workflows/build-publish/rhui/install_rhua.sh
Due: none

rhua: update create-dirs.conf (#1900)
  daisy_workflows/build-publish/rhui/install_rhua.sh
  daisy_workflows/build-publish/rhui/rhua_artifacts/create-dirs.conf
Due: none

Import_Precheck: Update_cloudbuild_pipeline_to_Add_binaries_for_32-bits_operating_systems
  cli_tools/import_precheck/README.md
  cli_tools_cloudbuild.yaml
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Import_Precheck: Update_cloudbuild_pipeline_to_Add_binaries_for_32-bits_operating_systems (#1901)
  cli_tools/import_precheck/README.md
  cli_tools_cloudbuild.yaml
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

rhua: add key to answers.yaml
  daisy_workflows/build-publish/rhui/install_rhua.sh
  daisy_workflows/build-publish/rhui/rhua_artifacts/answers.yaml
Due: none

rhua: add key to answers.yaml (#1902)
  daisy_workflows/build-publish/rhui/install_rhua.sh
  daisy_workflows/build-publish/rhui/rhua_artifacts/answers.yaml
Due: none

cds build surface errors
  daisy_workflows/build-publish/rhui/install_cds.sh
Due: none

update cds ansible patch
  daisy_workflows/build-publish/rhui/cds_artifacts/cds.patch
Due: none

add client RPMs
  daisy_workflows/build-publish/rhui/rpms/README.md
  daisy_workflows/build-publish/rhui/rpms/build.sh
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel7-extensions.txt
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel7-sap-extensions.txt
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel7-sap.crt
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel7-sap.csr
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel7-sap.repo
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel7.crt
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel7.csr
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel7.repo
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel79-sap-extensions.txt
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel79-sap.crt
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel79-sap.csr
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel79-sap.repo
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel8-extensions.txt
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel8-sap-extensions.txt
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel8-sap.crt
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel8-sap.csr
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel8-sap.repo
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel8.crt
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel8.csr
  daisy_workflows/build-publish/rhui/rpms/google-rhui-client-rhel8.repo
  daisy_workflows/build-publish/rhui/rpms/rh-client-config.spec
  daisy_workflows/build-publish/rhui/rpms/rhui-set-release
Due: none

add service healthchecks
  daisy_workflows/build-publish/rhui/health_check.py
Due: prow/presubmit/flake8

plugin refactor
  daisy_workflows/build-publish/rhui/health_check.py
Due: prow/presubmit/flake8

add test env for rhui image publish
  daisy_workflows/build-publish/rhui/cds.publish.json
  daisy_workflows/build-publish/rhui/rhua.publish.json
Due: none

Update cds ansible template (#1906)
  daisy_workflows/build-publish/rhui/cds_artifacts/cds.patch
  daisy_workflows/build-publish/rhui/install_cds.sh
Due: none

flake8
  daisy_workflows/build-publish/rhui/health_check.py
Due: prow/presubmit/flake8

add dave to OWNERS
  OWNERS
Due: none
