Repository GoogleCloudPlatform/oss-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, post-oss-test-infra-create-testgrid-config

Path conditions:
  post-oss-test-infra-deploy-prow: any of: ^prow/oss/cluster/|^prow/oss/serviceaccounts/|^prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  post-oss-test-infra-create-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$

Bumping oss-prow
  .prow/presubmits.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_blueprints_deployment.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/sub.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/blueprints/GoogleCloudPlatform_blueprints_checkconfig.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/GoogleCloudPlatform/testgrid/testgrid-jobs.yaml
Due: post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config

no el9 for ar-plugin
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: post-oss-test-infra-create-testgrid-config

Add sbom presubmit for disk export workflow modification
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/compute-image-tools.yaml
Due: post-oss-test-infra-create-testgrid-config

freeze prow deployments
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config

Update kubeflow-pipelines-presubmits.yaml
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: post-oss-test-infra-create-testgrid-config

presubmit on startup script modification
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/compute-image-tools.yaml
Due: post-oss-test-infra-create-testgrid-config

update to use a node14 image and not node12
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: post-oss-test-infra-create-testgrid-config

add Config Sync release periodics
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics-release.yaml
  testgrid/config.yaml
Due: post-oss-test-infra-create-testgrid-config

fix typo in project name
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics-release.yaml
Due: post-oss-test-infra-create-testgrid-config

minor naming changes to prow job
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/compute-image-tools.yaml
Due: post-oss-test-infra-create-testgrid-config

use e2e-prow image from build cluster project
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics-release.yaml
Due: post-oss-test-infra-create-testgrid-config

Moved location of sbom test within compute-image-tools
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/compute-image-tools.yaml
Due: post-oss-test-infra-create-testgrid-config

Extend 7-autopilot-rapid-latest timeout to th
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics-release.yaml
Due: post-oss-test-infra-create-testgrid-config

Add Anthony to Owners
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/OWNERS
Due: none

Add quotation
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/compute-image-tools.yaml
Due: post-oss-test-infra-create-testgrid-config

Update OWNERS
  prow/prowjobs/kubeflow/OWNERS
Due: none

Increase the timeout for release CI jobs on autopilot clusters
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics-release.yaml
Due: post-oss-test-infra-create-testgrid-config

Increase the timeout for config sync test-group 4 CI jobs on autopilot clusters
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics-release.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics.yaml
Due: post-oss-test-infra-create-testgrid-config

Update owners file.
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/OWNERS
Due: none
