Repository GoogleCloudPlatform/oss-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, post-oss-test-infra-create-testgrid-config

Path conditions:
  post-oss-test-infra-deploy-prow: any of: ^prow/oss/cluster/|^prow/oss/serviceaccounts/|^prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  post-oss-test-infra-create-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$

Bumping oss-prow
  .prow/presubmits.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_blueprints_deployment.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/sub.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/blueprints/GoogleCloudPlatform_blueprints_checkconfig.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/GoogleCloudPlatform/testgrid/testgrid-jobs.yaml
Due: post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config

Change resource to cleanup to remove resources older than 12 hours.
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/legacy-periodics.yaml
Due: post-oss-test-infra-create-testgrid-config

Update kubeflow-pipelines-presubmits.yaml
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: post-oss-test-infra-create-testgrid-config

Remove mentioning of secret sharing from create-build-cluster.sh
  prow/oss/create-build-cluster.sh
Due: none

Create build cluster script recommends user to override owner of the project
  prow/oss/create-build-cluster.sh
Due: none

experimental bump kind to 0.14.0
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-presubmits.yaml
Due: post-oss-test-infra-create-testgrid-config

Revert "experimental bump kind to 0.14.0"
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-presubmits.yaml
Due: post-oss-test-infra-create-testgrid-config

only run on master
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: post-oss-test-infra-create-testgrid-config

bump kind to 0.14.0 in config sync presubmits
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-presubmits.yaml
Due: post-oss-test-infra-create-testgrid-config

Add external secret from build cluster for cloud-kubernetes-node-management-team
  prow/oss/cluster/kubernetes_external_secrets.yaml
  prow/oss/gencred-config/gencred-config.yaml
Due: post-oss-test-infra-deploy-prow

Add build cluster kubeconfig for cloud-kubernetes-node-management-team
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_blueprints_deployment.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
Due: post-oss-test-infra-deploy-prow

increase CS e2e memory request to 80Gi
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-presubmits.yaml
Due: post-oss-test-infra-create-testgrid-config

Split Guest Policy and OS Policy Assignments from cleanerupper job
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/legacy-periodics.yaml
Due: post-oss-test-infra-create-testgrid-config

Change tab name for unique naming reasons.
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/legacy-periodics.yaml
Due: post-oss-test-infra-create-testgrid-config

Add in presubmit tests for kubeflow/pipelines for python v3.10
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: post-oss-test-infra-create-testgrid-config

Add in optional and skip_reports flags to incrementally add in new presubmit tests for kubeflow/pipelines for Python v3.10
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: post-oss-test-infra-create-testgrid-config

Remove optional and skip_reports from kubeflow/pipelines for Python v3.10 as tests are verified as passing
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: post-oss-test-infra-create-testgrid-config

skip e2e on non-functional changes
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-presubmits.yaml
Due: post-oss-test-infra-create-testgrid-config

add docs and dashboard dir to skip regex
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-presubmits.yaml
Due: post-oss-test-infra-create-testgrid-config

Update ESPv2 jobs to use python3
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: post-oss-test-infra-create-testgrid-config

Remove https
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: post-oss-test-infra-create-testgrid-config

add banner for Prow User Survey (2022 mid-year)
  prow/oss/config.yaml
Due: none
