Repository GoogleCloudPlatform/oss-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, post-oss-test-infra-create-testgrid-config

post-oss-test-infra-deploy-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - make
      args:
      - -C
      - prow/oss
      - deploy
      - deploy-build
      - deploy-monitoring

post-oss-test-infra-deploy-knative-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - make
      args:
      - -C
      - prow/knative
      - deploy
      - deploy-build
      - deploy-monitoring

post-oss-test-infra-create-testgrid-config:
  labels:
    preset-bazel-scratch-dir: 'true'
  decorate: true
  spec:
    serviceAccountName: testgrid-config-updater
    containers:
    - image: gcr.io/k8s-prow/configurator:v20220126-3444e15a74
      command:
      - /app/testgrid/cmd/configurator/app.binary
      args:
      - --yaml=testgrid/config.yaml
  ...

Bumping knative-prow
  prow/knative/cluster/400-crier.yaml
  prow/knative/cluster/400-deck.yaml
  prow/knative/cluster/400-ghproxy.yaml
  prow/knative/cluster/400-hook.yaml
  prow/knative/cluster/400-horologium.yaml
  prow/knative/cluster/400-prow-controller-manager.yaml
  prow/knative/cluster/400-sinker.yaml
  prow/knative/cluster/400-tide.yaml
  prow/knative/cluster/500-cherrypicker.yaml
  prow/knative/cluster/500-needs-rebase.yaml
  prow/knative/cluster/500-status-reconciler.yaml
  prow/knative/config.yaml
Due: post-oss-test-infra-deploy-knative-prow

gcp-guest: fix osconfig-tests entrypoint
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/legacy-periodics.yaml
Due: post-oss-test-infra-create-testgrid-config

gcp-guest: add env var trick
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/compute-daisy.yaml
Due: post-oss-test-infra-create-testgrid-config

Bumping oss-prow
  .prow/presubmits.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_blueprints_deployment.yaml
  prow/oss/cluster/deck_private_deployment.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/sub.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/blueprints/GoogleCloudPlatform_blueprints_checkconfig.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/GoogleCloudPlatform/testgrid/testgrid-jobs.yaml
  prow/prowjobs/private-inrepoconfig-configcheck/looker/helltool/hellotool.yaml
Due: post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config

gcp-guest: env trick for cleanerupper
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/legacy-periodics.yaml
Due: post-oss-test-infra-create-testgrid-config

updates rerun auth to use slugs instead of ids
  prow/knative/config.yaml
Due: none

Update guest periodics.
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: post-oss-test-infra-create-testgrid-config

separate knative prow reruns by org
  prow/knative/config.yaml
Due: none

Fix the rerun_auth_configs for Knative
  prow/knative/config.yaml
Due: none

Moving out of the POC stage and introducing max_concurrency parameter
  prow/prowjobs/google/bms-toolkit/bms-toolkit-presubmit.yaml
Due: post-oss-test-infra-create-testgrid-config

gcp-guest: no codecov
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: post-oss-test-infra-create-testgrid-config

Add 2 external secrets for knative build cluster
  prow/knative/cluster/build/600-kubernetes_external_secrets.yaml
Due: post-oss-test-infra-deploy-knative-prow

Update Prow job age and max pod age for Knative Prow
  prow/knative/config.yaml
Due: none

cleanerupper: Run every hour
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/legacy-periodics.yaml
Due: post-oss-test-infra-create-testgrid-config

Update Knative max_prowjob_age from 24h to 240h
  prow/knative/config.yaml
Due: none

Remove Looker Prow jobs
  prow/oss/cluster/deck_private_deployment.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/config.yaml
Due: post-oss-test-infra-deploy-prow

Remove Looker Prow jobs
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck_private_deployment.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/kubernetes_external_secrets.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/config.yaml
  prow/oss/plugins.yaml
Due: post-oss-test-infra-deploy-prow

Remove Looker Prow jobs
  prow/oss/cluster/deck_private_deployment.yaml
Due: post-oss-test-infra-deploy-prow

disable ci-images-import-export-cli-e2e-tests
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/legacy-periodics.yaml
Due: post-oss-test-infra-create-testgrid-config

feat(pipelines): yapf formatting workflow
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: post-oss-test-infra-create-testgrid-config

Correct sticky team name.
  prow/oss/plugins.yaml
Due: none

Path conditions:
  post-oss-test-infra-deploy-prow: any of: ^prow/oss/cluster/|^prow/oss/serviceaccounts/|^prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  post-oss-test-infra-create-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
