Repository GoogleCloudPlatform/oss-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, post-oss-test-infra-create-testgrid-config

post-oss-test-infra-deploy-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - make
      args:
      - -C
      - prow/oss
      - deploy
      - deploy-build
      - deploy-monitoring

post-oss-test-infra-deploy-knative-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - make
      args:
      - -C
      - prow/knative
      - deploy
      - deploy-build
      - deploy-monitoring

post-oss-test-infra-create-testgrid-config:
  labels:
    preset-bazel-scratch-dir: 'true'
  decorate: true
  spec:
    serviceAccountName: testgrid-config-updater
    containers:
    - image: gcr.io/k8s-prow/configurator:v20220126-3444e15a74
      command:
      - /app/testgrid/cmd/configurator/app.binary
      args:
      - --yaml=testgrid/config.yaml
  ...

Bumping oss-prow
  .prow/presubmits.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_blueprints_deployment.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/sub.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/blueprints/GoogleCloudPlatform_blueprints_checkconfig.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/GoogleCloudPlatform/testgrid/testgrid-jobs.yaml
Due: post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config

update build targets for guest agent
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: post-oss-test-infra-create-testgrid-config

correct typo
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: post-oss-test-infra-create-testgrid-config

Update prow plugins for compute-image-import.
  prow/oss/config.yaml
  prow/oss/plugins.yaml
Due: none

Add external secret from build cluster for kpt-config-sync
  prow/oss/cluster/kubernetes_external_secrets.yaml
  prow/oss/gencred-config/gencred-config.yaml
Due: post-oss-test-infra-deploy-prow

Add build cluster kubeconfig for kpt-config-sync
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_blueprints_deployment.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
Due: post-oss-test-infra-deploy-prow

External secret for build-kpt-config-sync is in oss-prow project
  prow/oss/cluster/kubernetes_external_secrets.yaml
Due: post-oss-test-infra-deploy-prow

add webhook config for kpt-config-sync
  prow/oss/config.yaml
  prow/oss/plugins.yaml
Due: none

Remove EricEdens from OWNERS
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/OWNERS
Due: none

add period mysql cleanup job
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-periodics.yaml
Due: post-oss-test-infra-create-testgrid-config

Update kubeflow-pipelines-presubmits.yaml
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: post-oss-test-infra-create-testgrid-config

Add prowjobs for kpt-config-sync
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/OWNERS
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-presubmits.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-utils.yaml
  testgrid/config.yaml
Due: post-oss-test-infra-create-testgrid-config

add code style checks (as optional)
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: post-oss-test-infra-create-testgrid-config

add workload identity config to kpt-config-sync
  prow/oss/config.yaml
Due: none

Add new distros to presubmits including arm64.
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/OWNERS
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: post-oss-test-infra-create-testgrid-config

bump to kubekins on version 1.23
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-presubmits.yaml
Due: post-oss-test-infra-create-testgrid-config

Add in-memory etcd label for docker in docker
  prow/oss/config.yaml
Due: none

add kind volume mounts
  prow/oss/config.yaml
Due: none

require code style checks
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: post-oss-test-infra-create-testgrid-config

Path conditions:
  post-oss-test-infra-deploy-prow: any of: ^prow/oss/cluster/|^prow/oss/serviceaccounts/|^prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  post-oss-test-infra-create-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
