Repository GoogleCloudPlatform/oss-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, post-oss-test-infra-create-testgrid-config

post-oss-test-infra-deploy-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - make
      args:
      - -C
      - prow/oss
      - deploy
      - deploy-build
      - deploy-monitoring

post-oss-test-infra-deploy-knative-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - make
      args:
      - -C
      - prow/knative
      - deploy
      - deploy-build
      - deploy-monitoring

post-oss-test-infra-create-testgrid-config:
  labels:
    preset-bazel-scratch-dir: 'true'
  decorate: true
  spec:
    serviceAccountName: testgrid-config-updater
    containers:
    - image: gcr.io/k8s-prow/configurator:v20220126-3444e15a74
      command:
      - /app/testgrid/cmd/configurator/app.binary
      args:
      - --yaml=testgrid/config.yaml
  ...

Compute image import: Use main branch
  prow/prowjobs/GoogleCloudPlatform/compute-image-import/compute-image-import.yaml
Due: post-oss-test-infra-create-testgrid-config

Bumping oss-prow
  .prow/presubmits.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_blueprints_deployment.yaml
  prow/oss/cluster/deck_private_deployment.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/sub.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/blueprints/GoogleCloudPlatform_blueprints_checkconfig.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/GoogleCloudPlatform/testgrid/testgrid-jobs.yaml
  prow/prowjobs/private-inrepoconfig-configcheck/looker/helltool/hellotool.yaml
Due: post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config

Update kubeflow-pipelines-presubmits.yaml
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: post-oss-test-infra-create-testgrid-config

Remove windows upgrade; this is staying with compute-image-tools
  prow/prowjobs/GoogleCloudPlatform/compute-image-import/compute-image-import.yaml
Due: post-oss-test-infra-create-testgrid-config

Remove import/export jobs
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/compute-image-tools.yaml
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/legacy-periodics.yaml
  testgrid/config.yaml
Due: post-oss-test-infra-create-testgrid-config

Configure ingress and managed certs for gprow.dev domain.
  prow/oss/cluster/cluster.yaml
Due: post-oss-test-infra-deploy-prow

Fix 'grow' 'gprow' typo in ingress definition.
  prow/oss/cluster/cluster.yaml
Due: post-oss-test-infra-deploy-prow

Adjust oauth config for new gprow.dev domains.
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_private_deployment.yaml
Due: post-oss-test-infra-deploy-prow

Configure deck to display pod link from trusted cluster
  prow/oss/config.yaml
Due: none

Add pod link template for default cluster
  prow/oss/config.yaml
Due: none

Fine-tune BERT for squad.
  ml/tf-prow-squad.ipynb
Due: none

Update links to OSS-Prow to use the new domain.
  README.md
  prow/oss/README.md
  prow/oss/cluster/monitoring/additional-scrape-configs_secret.yaml
  prow/oss/cluster/monitoring/mixins/lib/config.libsonnet
  prow/oss/config.yaml
  prow/oss/onboarding.md
  prow/oss/terraform/main.tf
  prow/tests/README.md
Due: post-oss-test-infra-deploy-prow

(kubeflow): Add pod link template for kf-ci-v1 cluster
  prow/oss/config.yaml
Due: none

(pipelines): Fix cluster name to `build-kubeflow` for pod link
  prow/oss/config.yaml
Due: none

Update image-import owners.
  prow/prowjobs/GoogleCloudPlatform/compute-image-import/OWNERS
Due: none

predicted-gh-rate-limit-exhaustion: set duration to 60s
  prow/oss/terraform/modules/alerts/main.tf
Due: none

alerts: add comment
  prow/oss/terraform/main.tf
Due: none

Onboarding build cluster also sets up gencred refreshing
  prow/oss/create-build-cluster.sh
  prow/oss/gencred-refresher/gencred-refresher.yaml
  prow/oss/serviceaccounts/GoogleCloudPlatform_oss-test-infra_serviceaccounts.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, post-oss-test-infra-create-testgrid-config

Adding GoogleCloudPlatform/netd (moving from Kubernetes's Prow)
  prow/oss/config.yaml
  prow/oss/plugins.yaml
Due: none

Prow metrics collected with managed promethues
  prow/oss/cluster/monitoring/prow_podmonitors_for_gmp.yaml
Due: post-oss-test-infra-deploy-prow

Rename gencred-config dir/file
  prow/oss/gencred-config/gencred-config.yaml
Due: none

Fix gencred periodic job by cloning this repo
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config

Path conditions:
  post-oss-test-infra-deploy-prow: any of: ^prow/oss/cluster/|^prow/oss/serviceaccounts/|^prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  post-oss-test-infra-create-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
